{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/pages/all/competency-call.css')}}">
    {% endblock %}
{% block navmenu %}{% endblock %}    
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="competency-call-container">
                <div class="dialer-pad">
                    <p class="call-status">Calling...</p>
                    <p class="call-to"><strong>Sandeep Patel</strong></p>
                    <div class="profile-img"><img src="{{ asset('public/images/UPLOAD_PROFILE_PHOTO.png') }}" /></div>
                    <div class="ctrl-section">
                        <button type="button" class="btn player-btn icon icon-play" id="btn-play"><i class="material-icons">pause</i><label>Pause</label></button>
                        <button type="button" class="btn player-btn icon icon-record" id="btn-record"><i class="material-icons">fiber_manual_record</i><label>Record</label></button>
                        <button type="button" class="btn player-btn icon icon-stop" id="btn-stop"><i class="material-icons">stop</i><label>Stop</label></button>
                    </div>
                </div>
                <footer>
                    <div class="dialer-pad">
                        <div class="ctrl-section">
                            <button type="button" class="btn player-btn icon icon-speaker" id="btn-speaker"><i class="material-icons">volume_up</i><label>Speaker</label></button>
                            <button type="button" class="btn player-btn icon icon-mute" id="btn-mute"><i class="material-icons">mic_off</i><label>Mute</label></button>
                            <button type="button" class="btn player-btn icon icon-endcall" id="btn-endcall"><i class="material-icons">call_end</i><label>End Call</label></button>
                            <button type="button" class="btn player-btn icon icon-addcaller" id="btn-addcaller"><i class="material-icons">add_circle</i><label>Add Caller</label></button>
                            <button type="button" class="btn player-btn icon icon-video" id="btn-video"><i class="material-icons">videocam</i><label>Video</label></button>
                        </div>
                    </div>                            
                </footer>
            </div>
        </div>                    
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var apiKey = '{{ apiKey }}';
    var sessionId = '{{ sessionId }}';
    var token = '{{ token }}';
    var session = OT.initSession(apiKey, sessionId),
    property = {width: "100%", height: "100%", insertMode: "append"},
    publisher = OT.initPublisher("publisherContainer", property),
    archiveID = null;

    session.connect(apiKey, token, function(err, info) {
        if (err) {
            alert(err.message || err);
        }
        session.publish(publisher);
    });

    session.on('streamCreated', function(event) {
        session.subscribe(event.stream, "subscriberContainer", property);
    });

    session.on('archiveStarted', function(event) {
        archiveID = event.id;
        console.log("ARCHIVE STARTED");   
        $(window).bind('beforeunload', function() {
            return "Are you Sure do you want to leave? Recording is in progress"; 
        });
        //window.onbeforeunload = closeIt;
        $(".icon-record").hide();
        $(".icon-stop").show();
    });

    session.on('archiveStopped', function(event) {
        archiveID = null;
        console.log("ARCHIVE STOPPED");
        //window.onbeforeunload = null;
        $(window).unbind('beforeunload');
        $(".icon-record").show();
        $(".icon-stop").hide();
    });
    
    $(document).ready(function() {
        var rid = "{{roomId}}";
        var aid = "{{applicantId}}";
        var cid = "{{courseCode}}";
        $(".icon-record").click(function(event) {
            $.get("startArchive/" + rid);
        }).show();
        $(".icon-stop").click(function(event) {
            $.get("stopArchive/" + archiveID + "/" + aid + "/" + uid + "/" + cid);
        }).hide();
        
        $("#close_btn_uni").click(function(event) {
            if(confirm("Are you sure want to close the conversation?")) {
                if (archiveID !== null) {
                    $.get("stopArchive/" + archiveID + "/" + aid + "/" + uid + "/" + cid);   
                }
                window.location.href = "{{ base_url }}applicantDetails/{{ courseCode}}/{{ applicantId}}";
            }
        })
    });
</script>
{%endblock%}


