{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Messages Compose{% endblock %}
{% block body %}

<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="gq-dashboard-title">Messages</h1>
                    <h6 class="gq-dashboard-title-desc"><!-- can keep sub title here --></h6>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            {% for flashMessage in app.session.flashbag.get('msgnotice') %}
            <div class="row" id="profile_suc_msg">
                <div class="gq-id-files-upload-success-text">
                  <h2><img src="{{ asset('public/images/tick.png') }}">
                    {{ flashMessage }}</h2>
                </div>
            </div>
            {% endfor %}
            <div class="col-xs-push-4 col-xs-4" id="change_pwd_error">
                {% for flashMessage in app.session.flashbag.get('errornotice') %}
                <div class="gq-well well gq-id-files-upload-success-text">
                    <span class="login-warning-icon" aria-hidden="true"></span>
                    <div class="login-warning-text" id="flash-msg">{{ flashMessage }}</div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'GqAusUserBundle:Message:leftmenu.html.twig' %}
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="gq-id-files">
                        <div class="gq-msg-header">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 class="gq-msg-header-title">Compose</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
{#                    {{ form_start(composemsgForm) }}#}
                    <form action="{{ path('saveMessage') }}" method="post" {{ form_enctype(composemsgForm) }}>
                    <div class="gq-msg-wrap gq-msg-compose">
                        <div class="gq-msg-row-bg gq-msg-visited">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
                                <div class="gq-msg-from-to-sub">To :</div>
                            </div>
                            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-8 gq-msg-from-to-input">
                                {% if user is defined and user != '' %}
                                {{ form_widget(composemsgForm.toUserName, {value  : userName}, {'attr': {'placeholder': '', 'readonly': 'true'} }) }}
                                {{ form_widget(composemsgForm.to, {value  : user}, {'attr': {'placeholder': '', 'readonly': 'true'} }) }}
                                {% else %}
                                {{ form_widget(composemsgForm.toUserName, {'attr': {'placeholder': ''} }) }}
                                {{ form_widget(composemsgForm.to, {'attr': {'placeholder': ''} }) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="gq-msg-row-bg gq-msg-visited">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
                                <div class="gq-msg-from-to-sub">Subject :</div>
                            </div>
                            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-8 gq-msg-from-to-input">
                                {% if user is defined and user != '' %}
                                {{ form_widget(composemsgForm.subject, {value  : sub}, {'attr': {'placeholder': ''} }) }}
                                {% else %}
                                {{ form_widget(composemsgForm.subject, {'attr': {'placeholder': ''} }) }}
                                {% endif %}
                                
                            </div>
                        </div>
						<div class="gq-msg-row-bg gq-msg-visited">
                            <div class="col-xs-12">
                            </div>
                            <div class="gq-msg-from">
                                <section class="textarea-example">
                                        <div class="content">
                                                <div class="textarea-wrapper">
                                                        {% if user is defined and user != '' %}
                                                        {{ form_widget(composemsgForm.message, {value  : repMessage}, {'attr': {'placeholder': 'Enter Message'} }) }}
                                                        {% else %}
                                                        {{ form_widget(composemsgForm.message, {'attr': {'placeholder': 'Enter Message'} }) }}
                                                        {% endif %}
                                                        <div class="textarea-clone"></div>
                                                </div>
                                        </div>
                                </section>
                            </div>
                        </div>
						
                        <div class="gq-msg-row-bg gq-msg-visited">
                            <div class="col-xs-12">
                            </div>
                            <div class="gq-messages-button-wrap">
                                {{ form_widget(composemsgForm.unitId, {value  : unitId}, { 'attr': {'id': 'message-unit-id'}}) }}
                                {{ form_widget(composemsgForm.save,{ 'label': 'Send' , 'attr': {'class': 'btn btn-red'}}) }}
                                <a class="checkform-changed" data-toggle="modal" data-target="" ><button class="btn btn-grey" name="compose[discard]" id="compose_discard" type="reset">Discard</button></a>
                                <span class="flip-icon"></span>
                            </div>
                        </div>
                    </div>
                    {{ form_end(composemsgForm) }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog gq-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="disclose" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="myModalLabel">Do yo want to discard the message ?</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-white" href="{{ base_url }}messages">Ok</a>
                <a class="btn btn-white" id="disclose-cancel">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	(function($){
		$(window).load(function(){
		
			$('[data-toggle="tooltip"]').tooltip();
			var newMsg = {{ newMsg }};
			if (newMsg !== true) {
				$("#compose_to").prop("readonly",true);
			}
			if(document.getElementById("flash-msg"))
			{
				document.getElementById("compose_to").value="";
				document.getElementById("compose_subject").value="";
				document.getElementById("compose_message").value="";
			}
			
			/**************/
			var textareaLineHeight=parseInt($(".textarea-wrapper textarea").css("line-height"));
			
			$(".textarea-wrapper").mCustomScrollbar({
				scrollInertia:0,
				theme:"dark-3",
				advanced:{autoScrollOnFocus:false},
				keyboard:{enable:false},
				snapAmount:textareaLineHeight
			});
			
			var textarea=$(".textarea-wrapper textarea"),textareaWrapper=$(".textarea-wrapper"),textareaClone=$(".textarea-wrapper .textarea-clone");
			
			textarea.bind("keyup keydown",function(e){
				var $this=$(this),textareaContent=$this.val(),clength=textareaContent.length,cursorPosition=textarea.getCursorPosition();
				textareaContent="<span>"+textareaContent.substr(0,cursorPosition)+"</span>"+textareaContent.substr(cursorPosition,textareaContent.length);
				textareaContent=textareaContent.replace(/\n/g,"<br />");
				textareaClone.html(textareaContent+"<br />");
				$this.css("height",textareaClone.height());
				var textareaCloneSpan=textareaClone.children("span"),textareaCloneSpanOffset=0,
					viewLimitBottom=(parseInt(textareaClone.css("min-height")))-textareaCloneSpanOffset,viewLimitTop=textareaCloneSpanOffset,
					viewRatio=Math.round(textareaCloneSpan.height()+textareaWrapper.find(".mCSB_container").position().top);
				if(viewRatio>viewLimitBottom || viewRatio<viewLimitTop){
					if((textareaCloneSpan.height()-textareaCloneSpanOffset)>0){
						textareaWrapper.mCustomScrollbar("scrollTo",textareaCloneSpan.height()-textareaCloneSpanOffset-textareaLineHeight);
					}else{
						textareaWrapper.mCustomScrollbar("scrollTo","top");
					}
				}
			});
			
			$.fn.getCursorPosition=function(){
				var el=$(this).get(0),pos=0;
				if("selectionStart" in el){
					pos=el.selectionStart;
				}else if("selection" in document){
					el.focus();
					var sel=document.selection.createRange(),selLength=document.selection.createRange().text.length;
					sel.moveStart("character",-el.value.length);
					pos=sel.text.length-selLength;
				}
				return pos;
			}
			
		});
	})(jQuery);
</script>
<!-- <script type="text/javascript" src="{{ asset('public/js/custom-jquery.js') }}"></script> -->
{% endblock %}
