{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Messages Inbox{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/pages/all/candidate.css') }}">
<link rel="stylesheet" href="{{ asset('public/css/jquery-ui.css') }}">
{% endblock %}
{% block body %}
<div class="body_section message_section">
    <div class="container">		
        <!-- FOR DESKTOP -->
    <div class="row">
        <!-- getting current path -->
        {% set currentPath = app.request.uri %}
        {% set parameters = currentPath|split('?') %}
        {% set userRole = app.security.getToken().getUser().getRoles() %}
        {% set userId = app.security.getToken().getUser().getId() %} 
        {% set curruserImage = app.security.getToken().getUser().getUserImage() %}        
        {% if messages%}
            {% if messages|length > 0 %}
                <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                    <div class="left">
                        <ul class="mail_secion">
                            {% for key, message in messages %}
                                <li class="{% if message.read == 1 or message.sent.id == userId %} disable {% endif %} clearfix" id="msg-{{message.id}}">
                                    {% if parameters[1] is defined %}
									 <a href="{{ base_url }}messages/{{message.id}}?{{parameters[1]}}" class="clearfix">
									{%else%}
									 <a href="{{ base_url }}messages/{{message.id}}" class="clearfix">
									{%endif%} 
                                        <span class="chat_pic">
                                            {% if  message.sent.userImage is defined and message.sent.userImage!=''%}
                                            {% set userimg = amazon_link~'user-'~message.sent.id~'/'~message.sent.userImage %}
                                            {% else %}
                                            {% set userimg = 'public/images/PROFILE.png' %}
                                            {% endif %}
                                                {% if message.sent.userImage is defined and message.sent.userImage != "" %}
                                                <img src="{{ userimg }}" alt="chat_pic"/>
                                                {% else %}
                                                <img class="profile-img" src="{{ asset(userimg) }}" alt="chat_pic"/>
                                                {% endif %}
                                           
                                        </span>
                                        <span class="chat_content">
                                            <span class="chat_name">
                                                {% if message.sent.id is defined and message.sent.id == curuser and  message.replymid=="0"%}                                                    
                                                    <strong>You</strong>
                                                    <span class="arrow"></span>
                                                    <strong>{{message.inbox.firstname}}</strong>
                                                    {% elseif message.sent.id is defined %}
                                                            {{message.sent.firstname}}
                                                    {% endif %}
                                            </span>
                                                <span class="chat_content">
                                                         <strong> 
                                                            {% if message.replymid is defined and message.replymid != 0 %}                                       
                                                            <span class="reply"></span>
                                                            {% endif %}
                                                            {% if message.subject|length > 15 %}                                                                  
                                                                 {% set msgSubVal = message.subject|split(' ', 4) %}                                                                 
                                                                 {% if msgSubVal[1] is defined and  msgSubVal[2] is not defined and  msgSubVal[3] is not defined %}
                                                                    {% set msgSubValarr = msgSubVal[0] %}
                                                                 {% elseif msgSubVal[2] is defined and  msgSubVal[3] is not defined %}
                                                                    {% set msgSubValarr = msgSubVal[0]~' '~msgSubVal[1] %}
                                                                 {% elseif msgSubVal[3] is defined%}
                                                                    {% set msgSubValarr = msgSubVal[0]~' '~msgSubVal[1]~' '~msgSubVal[2] %}  
                                                                 {% else %}
                                                                    {% set msgSubValarr = msgSubVal[0] %}
                                                                 {% endif %}
                                                                 {{ msgSubValarr |raw ~ ' -'}}
                                                            {% else %}
                                                              
                                                                {% set msgSubVal = message.subject|split(' ', 3) %}
                                                                 {% if msgSubVal[1] is defined and  msgSubVal[2] is not defined and  msgSubVal[3] is not defined %}
                                                                    {% set msgSubValarr = msgSubVal[0] %}
                                                                 {% elseif msgSubVal[1] is defined and msgSubVal[2] is defined and  msgSubVal[3] is not defined %}
                                                                    {% set msgSubValarr = msgSubVal[0]~' '~msgSubVal[1] %}
                                                                 {% else %}
                                                                     {% set msgSubValarr = msgSubVal[0] %}
                                                                 {% endif %}
                                                                 {{ msgSubValarr |raw ~ ' -'}} 
                                                            {% endif %}
                                                            
                                                        </strong>
                                                        {% if message.message|length > 15 %}
                                                            {% set msgVal = message.message|split(' ', 4) %}
                                                             {% if msgVal[1] is defined %}
                                                                {% set msgarr = msgVal[0]%}
                                                             {% elseif msgVal[1] is defined and msgVal[2] is defined%}
                                                                {% set msgarr = msgVal[0]~' '~msgVal[1] %}
                                                             {% else %}
                                                                 {% set msgarr = msgVal[0] %}
                                                             {% endif %}
                                                            {{ msgarr ~ '...' |raw}}
                                                        {% else %}
                                                            {% set msgVal = message.message|split(' ', 4) %}
                                                            {% if msgVal[1] is defined %}
                                                                {% set msgarr = msgVal[0]%}
                                                             {% elseif msgVal[1] is defined and msgVal[2] is defined%}
                                                                {% set msgarr = msgVal[0]~' '~msgVal[1] %}
                                                             {% else %}
                                                                 {% set msgarr = msgVal[0] %}
                                                             {% endif %}
                                                            {{ msgarr ~ '...' |raw}}
                                                       {% endif %}
                                                </span>
                                        </span>
                                        <span class="date_time">{{ message.created | date("d/m/y") }}</span>
									</a>
                                </li>

                            {% endfor %}
                        </ul>
                    <div class="floater_add_icon" title="Add New Message">
                            <a href="{{ base_url }}messages/compose{% if parameters[1] is defined %}?{{parameters[1]}}{% endif %}">
                                    <i class="material-icons add">add</i>
                            </a>
                    </div>
                    </div>
                    <div>
                    {# display navigation for pages - paginator_navigator #}
                    {% if messages|length > 0 and paginator.getTotalPages() > 1 %}                    
                        {{ include('GqAusUserBundle:Paginator:paginator_navigator.html.twig', {'paginator' : paginator}) }}
                    {% endif %}
                </div>
                </div>
                
                {% endif %}
        {% else %}
         <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
            <div class="left">
                <ul class="mail_secion message">
                    <li><strong>{{no_messages}}</strong></li>
                </ul>
                <div class="floater_add_icon" title="Add New Message">
                        <a href="{{ base_url }}messages/compose{% if parameters[1] is defined %}?{{parameters[1]}}{% endif %}">
                                <i class="material-icons add">add</i>
                        </a>
                </div>
            </div>
         </div>
        {% endif %}
        
        <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
        {% if msgID is defined %}
            {% set userSubject = '' %}
            {%set i = 0%}
            {% for message in replymsgarr %}  
            {% if i == 0 %} {% set userSubject = message.message.subject %}{% endif %}
            
            {%set i = i+1 %}
            {% endfor %}
        <div class="mail_compose_section hidden-xs">
            {% if userSubject|length > 15 %}
                {% set userSubArr = userSubject|split(' ', 4) %}
                {% if userSubArr[1] is defined and  userSubArr[2] is not defined and  userSubArr[3] is not defined %}
                    {% set newuserSubject = userSubArr[0]%}
                 {% elseif userSubArr[2] is defined and  userSubArr[3] is not defined%}
                    {% set newuserSubject = userSubArr[0]~' '~userSubArr[1] %}
                 {% elseif userSubArr[3] is defined%}
                           {% set newuserSubject = userSubArr[0]~' '~userSubArr[1]~' '~userSubArr[2] %}
                
                 {% endif %}
            {% else %}
                {% set userSubArr = userSubject|split(' ', 4) %}
                {% if userSubArr[1] is defined and  userSubArr[2] is not defined and  userSubArr[3] is not defined %}
                    {% set newuserSubject = userSubArr[0]%}
                 {% elseif userSubArr[2] is defined and  userSubArr[3] is not defined %}
                    {% set newuserSubject = userSubArr[0]~' '~userSubArr[1] %}
                 {% else %}
                     {% set newuserSubject = userSubArr[0] %}
                 {% endif %}
            {% endif %} 
                <div class="title_bar">  <span class="subject-copy">{{ userSubject }}</span>
                    
                        <span class="clear">{% if parameters[1] is defined %}
                    <a href="{{ base_url }}messages?{{parameters[1]}}">
                   {%else%}
                    <a href="{{ base_url }}messages">
                   {%endif%}<i class="material-icons close">close</i></a></span>
                </div>
                <div class="chat_room">
                    {% for message in replymsgarr %}   
                  
                        <div class="chat_box {% if message.from == " from me" %}from {% else %} to {% endif %} ">
                            <div class="person_profile clearfix">
                                    <span class="chat_pic">
                                                
                                            {% if  message.userImage is defined and message.userImage!=''%}
                                            {% set userimg = amazon_link~'user-'~message.fromUserId~'/'~message.userImage %}
                                            {% else %}
                                            {% set userimg = 'public/images/PROFILE.png' %}
                                            {% endif %}
                                                {% if message.userImage != "" %}
                                                <img src="{{ userimg }}" alt="chat_pic"/>
                                                {% else %}
                                                <img class="profile-img" src="{{ asset(userimg) }}" alt="chat_pic"/>
                                                {% endif %}
                                           
                                            
                                    </span>
                                    <span class="chat_name">
                                            <strong>
                                                    {% if message.from == "from me" %} You {% else %} {{message.fromUserName}} {% endif %}
                                            </strong>
                                    </span>
                                    {% set checkDate =  "now"|date("m/d/Y") %}
                                   {% if "now"|date("m/d/Y") > message.created|date("d/m/y") %}
                                         <span class="date_time">{{ message.created | date("d/m/y") }}</span>
                                   {% else %} 
                                        <span class="date_time">{{ message.created | date("h:i") }}</span>                                        
                                   {% endif %}
                            </div>
                            <p class="chat_content">
                                   {{message.content|raw}}
                            </p>
                        </div>
                     {% endfor %}
                        {% if msgType is defined and msgType=="reply" %}                            
                        <form action="{{ path('saveMessage') }}" method="post" {{ form_enctype(composemsgForm) }}>
                        <input type="hidden" id="replymid" name="replymid" value="{{ replymid }}"/>
                        <div class="chat_box to">
                                <div class="person_profile">
                                        <span class="chat_pic">                                           
                                           
                                            {% if  curruserImage is defined and curruserImage!=''%}
                                            {% set userimg = amazon_link~'user-'~userId~'/'~curruserImage %}
                                            {% else %}
                                            {% set userimg = 'public/images/PROFILE.png' %}
                                            {% endif %}
                                                {% if curruserImage != "" %}
                                                <img src="{{userimg }}" alt="chat_pic"/>
                                                {% else %}
                                                <img class="profile-img" src="{{ asset(userimg) }}" alt="chat_pic"/>
                                                {% endif %}
                                            
                                        </span>
                                        <span class="chat_name"><strong>
                                            {% if user is defined and user != '' %}
                                               You
                                        <span class="hidden">                                              
                                        {{ form_widget(composemsgForm.toUserName, {value  : userName}, {'attr': {'placeholder': '', 'readonly': 'true'} }) }}
                                        {{ form_widget(composemsgForm.to, {value  : user}, {'attr': {'placeholder': '', 'readonly': 'true'} }) }}
                                        </span>
                                        </strong></span>
                                        <span class="hidden">
                                        {{ form_widget(composemsgForm.subject, {value  : sub}, {'attr': {'placeholder': '',} }) }}
                                        </span>
                                        {% endif %}
                                       {# <span class="date_time">{{ 'now' | date('h:i A') }}</span>#}
                                </div>
                               {% if user is defined and user != '' %}
                                       {{ form_widget(composemsgForm.message, {'attr': {'placeholder': 'Enter Message','msgType':'reply'} },{value  : '' }) }}
                                {% endif %}
                        </div>
                      {% endif %}   
                </div>
                {% if messages%}
                    {% if message.replymid is defined and curuser == message.sent.id%}
                    <div class="btn_section">                                                            
                    </div>
                {% elseif msgType is defined and msgType=="reply" %}
                <div class="btn_section">
                        <a class="checkform-changed button cancel_link hidden-xs"  href="{{ base_url }}messages/{{msgID}}">
                                     CANCEL</a>
                                {{ form_widget(composemsgForm.save,{ 'label': 'SEND' , 'attr': {'class': 'button send_link'}}) }} 
                </div>
                 {{ form_end(composemsgForm) }}
                {% else %}
                    <div class="btn_section">
                        {% set pagequery = '' %} 
                        {% set queryParams = app.request.query.all %}
                        {% if queryParams is not empty %}
                            {% set pagequery = '?page='~queryParams['page'] %} 
                        {% endif %}
                        <form name="reply" action="{{ base_url }}messages/compose{{pagequery}}" method="post">
                       <input type="hidden" id="reply_id" name="reply_id" value="{{msgID}}"/>
                           <input type="Submit" class="button reply_link" value="REPLY"/>
                       </form>
                           <a href="{{ base_url }}messages/compose{% if parameters[1] is defined %}?{{parameters[1]}}{% endif %}" >NEW MESSAGE   <i class="material-icons add">add</i> </a>                                                          
                    </div>
                    {% endif %}
                {% endif %}
                </div>
        {% endif %}
        {% if messages %}
        {% if messages|length > 0 %}
        {% else %}
            <div class="gq-msg-row-bg">
                <div class="col-xs-12">
                    <span class="msg-checkmark-icon">
                        <center>No Messages found</center>
                    </span>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="">
    {% for flashMessage in app.session.flashbag.get('msgnotice') %}
    <div class="row" id="profile_suc_msg">
    <div class="gq-id-files-upload-success-text">
      <span style="width:100%;">{{ flashMessage }}</span>
    </div>
    </div>
    {% endfor %}
        <div class="" id="change_pwd_error">
        {% for flashMessage in app.session.flashbag.get('errornotice') %}
        <div class="gq-well gq-id-file-error-text">
            <span class="login-warning-icon"></span>
            <div class="login-warning-text" id="flash-msg">{{ flashMessage }}</div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% if msgType is defined and msgType=="new" %}
        <div class="new_message_section">
            <div class="title_bar"><span class="subject-copy">NEW MESSAGE</span>
                    <span class="clear"><a href="{{ base_url }}messages{% if parameters[1] is defined %}?{{parameters[1]}}{% endif %}"><i class="material-icons close">close</i></a></span>
            </div>
            <div class="new_msg_section">
                <form action="{{ path('saveMessage') }}" method="post" {{ form_enctype(composemsgForm) }}>
                    <div class="input_section">
                    <label>To:</label>
                    <input type="hidden" id="replymid" name="replymid" value="{{ replymid }}"/>
                    {% if user is defined and user != '' %}
                    {{ form_widget(composemsgForm.toUserName, {value  : userName}, {'attr': {'placeholder': '', 'readonly': 'true'} }) }}
                    {{ form_widget(composemsgForm.to, {value  : user}, {'attr': {'placeholder': '', 'readonly': 'true'} }) }}
                    {% else %}
                    {{ form_widget(composemsgForm.toUserName, {'attr': {'placeholder': '','onKeyUp':'searchUsernames("#compose_toUserName")'} }) }}
                    {{ form_widget(composemsgForm.to, {'attr': {'placeholder': ''} }) }}
                    {% endif %}
                    </div>
                    <div class="input_section">
                    <label>Subject:</label>
                    {% if user is defined and user != '' %}
                    {{ form_widget(composemsgForm.subject, {value  : sub}, {'attr': {'placeholder': ''} }) }}
                    {% else %}
                    {{ form_widget(composemsgForm.subject, {'attr': {'placeholder': ''} }) }}
                    {% endif %}
                    </div>
                    {% if user is defined and user != '' %}
                    {{ form_widget(composemsgForm.message, {value  : '' }, {'attr': {'placeholder': 'Enter Message'} }) }}
                    {% else %}
                    {{ form_widget(composemsgForm.message, {'attr': {'placeholder': 'Enter Message'} }) }}
                    {% endif %}
                    <div class="textarea-clone"></div>  
                    </div>
                    <div class="btn_section">
                      <a class="checkform-changed button cancel_link hidden-xs" data-toggle="modal" data-target="" >
                          <button class="btn btn-grey" name="compose[discard]" id="compose_discard" type="reset">CANCEL</button></a>
                     {{ form_widget(composemsgForm.save,{ 'label': 'SEND' , 'attr': {'class': 'button send_link','onclick':'return validateNewMessage($("#compose_toUserName").val(),$("#compose_subject").val(),$("#compose_message").val());'}}) }}	                        </div>
                     {{ form_end(composemsgForm) }}
                     </form>
            </div>
        {% endif %}
    </div>
     </div>
        </div>

   
    <!-- FOR DESKTOP -->
    
    

 {% endblock %}
 
{% block javascripts %}       
    <script src="{{ asset('public/js/jquery.form.js') }}"></script>
    <script src="{{ asset('public/js/custom-form-elements.js') }}"></script>    
    <script>
        function getMessageElement(){
         var msgTypeVal=$('#compose_message').attr('msgType');
         if(msgTypeVal!='undefined' && msgTypeVal==='reply'){
          $('.chat_room').animate({
           scrollTop: 4000
          });
         }
        }
        $(document).ready(function(){
         getMessageElement();
        
        });

</script> 
{% endblock %}