{% extends 'revamp_base.html.twig' %}
{% block ngApp %} ng-app="gqAus" {% endblock%}
{% block ngController %} ng-controller="messageCtlr"  id="messageCtlr" {% endblock%}
{% block title %}GQ - RPL Qualification{% endblock %}
{% block ngtitle %}pageTitle{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/pages/all/modal.css') }}">
<link rel="stylesheet" href="{{ asset('public/css/pages/all/profile.css')}}">
<link href="{{ asset('public/css/select.min.css') }}" rel="stylesheet" /> 
<link href="public/ui/css/modules/mail/mail-box.css" rel="stylesheet" />
{% endblock %}

{% block body %}
   <main class="main-content-gqa" ng-init="role ='{{role}}'; getMessages();">
        <div class="container container-right-sidebar-main">
        {% if is_mobile() and not is_tablet() %}
           {% include 'GqAusUserBundle:Message:_mobile_message_view.html.twig' %} 
        {% elseif is_tablet() %}
            {% include 'GqAusUserBundle:Message:_tablet_message_view.html.twig' %} 
        {% else %}
            {% include 'GqAusUserBundle:Message:_desktop_message_view.html.twig' %}
       {% endif%}
        </div>
    </main>
    
{% endblock %}

{% block javascripts %}
    <script src = "{{ asset('public/js/underscore-min.js') }}"></script>
    
    <script src="{{ asset('public/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-animate.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-underscore.js') }}"></script>
    <script src="{{ asset('public/js/angular/dirPagination.js') }}"></script>
    <script src="{{ asset('public/ui/js/ui-bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/s3Upload.js') }}"></script>
    <script src="{{ asset('public/js/angular/select.min.js') }}"></script>

    <script src="{{ asset('public/js/angular/app.js') }}"></script>
    <script src="{{ asset('public/js/angular/services/AjaxService.js') }}"></script>

    <script src="{{ asset('public/js/angular/controllers/messageCtlr.js') }}"></script>
{% endblock %}