<div class="modal modal-onboarding" tabindex="-1" role="dialog" id="onboardingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-title text-center">
                <h2 class="lead">Welcome to Online RPL! <br>
                    <p class="lead">You've started your journey to getting your skills recognised! This platform helps
                        you:</p>
                </h2>
            </div>
            <div class="modal-body clearfix text-center">
                <div class="col-md-4 col-sm-7">
                    <div class="inner">
                        <img src="{{ asset('public/ui/img/graphic-complete-form.png') }}">
                        <h4>Complete your Enrolment Form</h4>
                        <p>Lorem ipsum sit dolor armet adipsicin amet lorem lorem</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-7">
                    <div class="inner">
                        <img src="{{ asset('public/ui/img/graphic-elective-unit.png') }}">
                        <h4>Select your Elective Units</h4>
                        <p>Lorem ipsum sit dolor armet adipsicin amet lorem lorem</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-7">
                    <div class="inner">
                        <img src="{{ asset('public/ui/img/graphic-upload-evidences.png') }}">
                        <h4>Upload Evidence</h4>
                        <p>Lorem ipsum sit dolor armet adipsicin amet lorem lorem</p>
                    </div>
                </div>

                <div class="owl-carousel">
                    <div class="col-xs-12">
                        <div class="inner">
                            <img src="{{ asset('public/ui/img/graphic-complete-form.png') }}">
                            <h4>Complete your Enrolment Form</h4>
                            <p>Lorem ipsum sit dolor armet adipsicin amet lorem lorem</p>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="inner">
                            <img src="{{ asset('public/ui/img/graphic-elective-unit.png') }}">
                            <h4>Select your Elective Units</h4>
                            <p>Lorem ipsum sit dolor armet adipsicin amet lorem lorem</p>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="inner">
                            <img src="{{ asset('public/ui/img/graphic-upload-evidences.png') }}">
                            <h4>Upload Evidence</h4>
                            <p>Lorem ipsum sit dolor armet adipsicin amet lorem lorem</p>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <button class="btn btn-success btn-lg clear" data-dismiss="modal" aria-label="Close">LET'S GET
                    STARTED!
                </button>
            </div>
        </div>
    </div>
</div>