{% extends 'mainnew.html.twig' %}
{% block title %}Get Qualified Australia: Online RPL{% endblock %}
{% block content %}

    <header class="header-gqa navbar-fixed-top" id="headerGQA">
        <div class='container'>
            <button type="button" id="btnNavicon" class="btn-navicon-gqa tcon tcon-menu--xbutterfly"
                    aria-label="toggle menu">
                <span class="tcon-menu__lines" aria-hidden="true"></span>
                <span class="tcon-visuallyhidden">toggle menu</span>
            </button>
            <img class="header-gqa-logo" src="{{ asset('public/ui/img/gqa-online-rpl-inverse.svg') }}"
                 alt="Get Qualified Australia">

            <nav class="header-gqa-nav">
                <ul class="nav-links" id="navLinks">
                    <li class="dropdown dropdown-help">
                        <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                            <i class="zmdi zmdi-help zmdi-hc-lg zmdi-hc-fw t-item-4"></i> <span class="hidden-desktop">Help</span>
                            <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href='{{ app.request.baseUrl }}/faq' target="_blank">
                                    <i class="zmdi zmdi-book zmdi-hc-lg"></i>
                                    <span class="h4">Help and FAQs <br><small>Go to your how-to guide and FAQs for the Online RPL.</small></span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href='{{ app.request.baseUrl }}/feedback' target="_blank">
                                    <i class="zmdi zmdi-comments zmdi-hc-lg"></i>
                                    <span class="h4">Tell us your feedback <br><small>Do you have comments about the site? <br>Tell us, we're listening.</small></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="avatar-menu">
                    <div class="dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <div class="avatar avatar-xxs">
                                <img src="{{ asset('public/ui/img/avatar-default.png') }}" alt="You">
                            </div>
                            <span class="avatar-name" id="avatarFirstName">{{ firstName }}</span>&nbsp;
                            <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
                        </div>

                        <ul class="dropdown-menu pull-right">
                            <li><a href="{{ app.request.baseUrl }}/logout"><i class="zmdi zmdi-power-off zmdi-hc-lg zmdi-hc-fw"></i> Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
        <div class="navbar-bg-gradient" id="navGradient"></div>

    </header>

    <div class="navbar-bg-img" data-bg="skyscraper-blur" id="navImg"></div>

    <main class="main-content-gqa">
        <div class="container">
            <!-- Put content here -->
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>RPL Onboarding <br>
                        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                            feugiat vel lacus ut vehicula.
                        </small>
                    </h2>
                    <div id="accordion" class="panel-accordion accordion-general-info" role="tablist" aria-multiselectable="false">
                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                    What is RPL?
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Recognition of prior learning (RPL) is a widely-supported concept. Introduced into Australian education policy in the 1990s, Recognition of Prior Learning or skills recognition is a process by which you are provided an opportunity to have your skills, knowledge and experience recognised towards the achievement of a nationally recognised qualification or statement of attainment.</p>
                                    <p>By completing a self-assessment, and providing relevant supporting evidence, you may achieve a Nationally Recognised Qualification, issued through our network of Registered Training Organisation (RTO) partners, without ever setting foot inside a classroom.</p>
                                </div>
                                <div class="panel-body">
                                    <h4>Commonly used jargon</h4>

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td><strong>Registered Training Organisation (RTO)</strong></td>
                                                <td><p>An RTO is an organisation registered to issue nationally recognised qualifications or statements of attainment for units of competency from training packages or accredited courses.</p></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Nationally recognised qualification</strong></td>
                                                <td><p>A formal certification that is recognised nationally and awarded under the VET Qualification Framework for the achievement of competencies.</p></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Statement of Attainment</strong></td>
                                                <td><p>A nationally recognised statement awarded for attainment of units of competency which partially contribute to completion of a qualification. A Statement of Attainment may be issued for a single unit of competency such as HLTAID003 Provide First Aid.</p</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Competency</strong></td>
                                                <td><p>Competency is a mix of knowledge, technical skills, understanding, problem solving and attitudes that can be demonstrated in the workplace. To be deemed competent you are assessed against the relevant units of competency.</p></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Unit of Competency</strong></td>
                                                <td><p>This is a description of the job or work function that you need to perform such as Operate a Bar, Drive a Forklift, Communicate in the Workplace, and the standard of performance and knowledge required.</p></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Assessment</strong></td>
                                                <td><p>Assessment is a process in which the candidate and the assessor work together to gather evidence to enable the assessor to make a decision on the candidate’s competence.</p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    How Does RPL Work? <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="table-rpl-steps">
                                        <li>
                                            <i class="icon zmdi zmdi-hc-4x zmdi-hc-fw zmdi-account-box-o"></i>
                                            <strong>Free Skills Review</strong>
                                            <p>Determine your eligibility for RPL by participating in our Free Skills Review. This will only take a few minutes.</p>
                                            <p>When it’s completed, you’ll have a brief discussion with a Customer Service Agent who will walk you through the process.</p>
                                        </li>
                                        <li>
                                            <i class="icon zmdi zmdi-hc-4x zmdi-hc-fw zmdi-flag"></i>
                                            <strong>Eligible? Get Started</strong>
                                            <p>After you identify the qualifications you’re eligible for, it’s time to get started!</p>
                                            <p>You’ll receive a number of documents that will start the process. We also team you up with an Account manager to help you through your journey.</p>
                                        </li>
                                        <li>
                                            <i class="icon zmdi zmdi-hc-4x zmdi-hc-fw zmdi-cloud-upload"></i>
                                            <strong>Submit Your Evidence</strong>
                                            <p>Start with a simple Self-Assessment checklist. Next, we’ll work with you in gathering your supporting evidence.</p>
                                            <p>Going through all of your work experience and determining suitable evidence can be hard. We strive to make it easier.</p>
                                        </li>
                                        <li>
                                            <i class="icon zmdi zmdi-hc-4x zmdi-hc-fw zmdi-cloud-done"></i>
                                            <strong>Get Your Evidence Assessed</strong>
                                            <p>We’ll take care of all the hard work by aligning the evidence you provide with the units of your qualification.</p>
                                            <p>This helps you successfully meet the requirements, and subsequently, achieve your qualification!</p>
                                        </li>
                                        <li>
                                            <i class="icon zmdi zmdi-hc-4x zmdi-hc-fw zmdi-check-all"></i>
                                            <strong>Approved? Get Qualified!</strong>
                                            <p>Good news!</p>
                                            <p>The RPL Process is complete, provided you meet the requirements of each unit. You’re then issued your nationally recognised qualification by our RTO partners.</p>
                                            <p>Congratulations!</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Who’s Involved in the RPL Process?
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="list-custom-bullet">
                                        <li><u>YOU</u> the applicant</li>
                                        <li>Employers past or present</li>
                                        <li>Sporting groups, and/or volunteer organisations you have belonged to</li>
                                        <li>Others who can provide evidence for you</li>
                                        <li>Staff within GQA and/or our partner RTOs</li>
                                        <li>An assessor or assessors</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Application Duration
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The time taken will depend on how quickly you can provide us with all your evidence however, it’s safe to say that your Nationally Recognised Qualification <strong>may be achieved</strong> within weeks. We work with our partnered RTOs to ensure this happens.</p>

                                    <p>Keep in mind that <strong>you have a 6-month window (180 days)</strong> to supply all your evidence. Extensions are available; however, they’re determined on a case by case basis.</p>

                                    <p>Electrotechnology and other trade related qualifications may take considerably longer to complete and may NOT be suitable for full RPL. Please discuss with our Customer Service Agent at time of enrolment or your appointed Account Manager.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Types of Evidence
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Sometimes it’s difficult to realise what can be used as evidence. Knowing this, our Account managers will work with you to ensure your portfolio of evidence is incredibly strong.</p>

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td><strong>Career evidence could include</strong></td>
                                                <td>
                                                    <ul class="list-custom-bullet">
                                                        <li>Employment contracts</li>
                                                        <li>Job descriptions</li>
                                                        <li>Testimonials from employers, managers and industry colleagues</li>
                                                        <li>Reference letters</li>
                                                    </ul>  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Work-based evidence could include</strong></td>
                                                <td>
                                                    <ul class="list-custom-bullet">
                                                        <li>Portfolios</li>
                                                        <li>Completed products</li>
                                                        <li>Work sheets</li>
                                                        <li>Emails</li>
                                                        <li>Photos</li>
                                                        <li>Videos</li>
                                                        <li>Competency conversations</li>
                                                        <li>Previously attended training and workshops</li>
                                                        <li>Prior study and transcripts</li>
                                                        <li>Reposts</li>
                                                        <li>Business plans</li>
                                                    </ul>  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Trade related evidence could include</strong></td>
                                                <td>
                                                    <ul class="list-custom-bullet">
                                                        <li>Resume with industry experience and job roles</li>
                                                        <li>Reference letters from trade employers</li>
                                                        <li>Job statements or log sheets</li>
                                                        <li>Photos and videos of trade work</li>
                                                        <li>Any “on-the-job” training, workshops, or pre-apprenticeships</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <p>We ensure that all evidence you submit is treated with strict confidentiality. If current or past employers have any concerns regarding Intellectual Property Rights or Trademark issues, let us know and we’d be happy to engage in a discussion.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    Rules of Evidence
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <p>When verifying the evidence you supply, our Account Managers and issuing RTO look to ensure that the evidence you submit is relevant to the qualification you’re after. The evidence you provide needs to be:</p>

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td><strong>Current</strong></td>
                                                <td>
                                                    <p>When supplying evidence, it’s important that it’s from either the present or recent past. Any longer and it might not be considered relevant.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Authentic</strong></td>
                                                <td>
                                                    <p>You’ll want to ensure that all evidence is your own work and that it’s apparent that it’s yours. For those in the trades, photos and videos showing you performing the tasks work great!</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Sufficient</strong></td>
                                                <td>
                                                    <p>This relates to the quantity and quality of the evidence provided.</p>
                                                    <p> You want to ensure you have enough evidence so that all aspects of competency are satisfied.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Valid</strong></td>
                                                <td>
                                                   <p>The validity of the evidence you provide means that the evidence always needs to be directly related to the competency being assessed.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                    Theoretical and Practical Assessments
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Our assessors follow the Principles of Assessment which are Fair, Reliable, Flexible, and Valid to ensure quality outcomes when assessing your evidence.</p>

                                    <p>For some qualifications, theoretical and/or practical assessment may be required against some Units of Competency. This is done in order to verify that your skills and knowledge meet industry and regulatory standards.</p>

                                    <p>This may include assessment against the following criteria:</p>
                                    <ul class="list-custom-bullet">
                                        <li>Online and /or face-to-face theoretical assessment</li>
                                        <li>Read and respond to work instructions, specifications, technical drawings, and plans</li>
                                        <li>Correct use and application of tools, machines, and equipment for acceptable trade practice</li>
                                        <li>Correct use and application of tools and measuring instruments</li>
                                        <li>Plan, set out, lay out and undertake work tasks associated with a trade occupation for acceptable trade practice</li>
                                        <li>Diagnose and correct faults or undertake repairs for acceptable trade practice</li>
                                        <li>Create or produce trade products and services in accordance with acceptable trade practice</li>
                                        <li>Carry out trade work independently</li>
                                        <li>Supervise and impart trade skills and knowledge to other staff, including apprentices</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                    Gap Training
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Gap training may be required if you do not have sufficient evidence and/or skills, knowledge, and experience to be deemed competent in a unit of competency or qualification. If this happens you may still achieve your qualification but the following may occur:</p>

                                    <ul class="list-custom-bullet">
                                        <li>The RTO may issue a Statement of Attainment listing all of the Units of Competency you have successfully completed</li>
                                        <li>You may complete Gap Training to verify competency. This involves additional learning and assessment coordinated by the RTO. GapTraining is usually self-paced and completed online using our e-Learning portal.</li>
                                        <li>Face-to-Face Training is another method of conducting Gap Training</li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                     <div class="clearfix">
                        <div class="form-group pull-left" style="margin-top: 15px;">
                            <input type="checkbox" name="test" value="" id="termsAndConditions"
                                   class="custom-input"><label for="termsAndConditions">I have read the RPL Information Kit and have been onboarded</label>
                            <input type="hidden" id="loginToken" value="{{ loginToken }}">
                            <div class="alert alert-danger hidden" id="errorMessage">
                                <i class="zmdi zmdi-alert-circle-o zmdi-hc-lg zmdi-hc-fw"></i> <span></span>
                            </div>
                        </div>
                        <div class="btn-auto-group pull-right">
                            <button class="btn btn-primary pull-right" id="nextStep" disabled><span class="text-uppercase">Next Step:</span> Online Enrolment</button>
                        </div>
                </div>
            </div>
            <!-- Put content here -->
        </div>
    </main>

    {% include 'GqAusUserBundle:Auth:on_boarding/_footer.html.twig' %}
    {% include 'GqAusUserBundle:Auth:on_boarding/_splash_screen.html.twig' %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/ui/css/main-styles.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('public/ui/css/vendor/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('public/ui/css/vendor/custom-scrollbar.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    <!-- Plugins -->
    <script src="{{ asset('public/ui/js/plugins/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/gqa-utilities.js') }}"></script>

    <!-- App -->
    <script src="{{ asset('public/ui/js/rpl-onboarding.js') }}"></script>
{% endblock %}