{% extends 'mainnew.html.twig' %}
{% block title %}Get Qualified Australia: Online RPL{% endblock %}
{% block content %}

    <header class="header-gqa navbar-fixed-top" id="headerGQA">
        <div class='container'>
            <button type="button" id="btnNavicon" class="btn-navicon-gqa tcon tcon-menu--xbutterfly" aria-label="toggle menu">
                <span class="tcon-menu__lines" aria-hidden="true"></span>
                <span class="tcon-visuallyhidden">toggle menu</span>
            </button>
            <img class="header-gqa-logo" src="{{ asset('public/newdesign/img/gqa-online-rpl-inverse.svg') }}" alt="Get Qualified Australia">
        </div>
        <div class="navbar-bg-gradient" id="navGradient"></div>
    </header>

    <div class="navbar-bg-img" data-bg="skyscraper-blur" id="navImg"></div>

    <main class="main-content-gqa">
        <div class="container">
            <!-- Put content here -->
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>RPL Onboarding <br>
                        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat vel lacus ut vehicula.</small>
                    </h2>
                    <div id="accordion" class="panel-accordion" role="tablist" aria-multiselectable="false">
                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                    RPL privacy & confidentiality policy & procedure
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Recognition of current qualifications
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    RPL certification and issuing qualifications
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    RPL Gap training policy and procedure
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Plagiarism, copying, breach of intellectual property rights
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    RPL extension policy and procedure
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    Payment
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                    Refund Policy
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                    RPL appeals policy and procedure
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum .
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                    Other key issues in Vocational education & training
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.
                                </div>
                            </div>
                        </div>

                        <div class="panel-entry">
                            <div class="panel-heading">
                                <h4 data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                    Statement of Advice
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.
                                </div>
                            </div>
                        </div>
                    </div>
                    <form>

                        <div class="form-group pull-left">
                            <input type="checkbox" name="test" value="" id="termsAndConditions" class="custom-input"><label for="termsAndConditions">I have read the RPL Information Kit and have been onboarded</a></label>
                            <input type="hidden" id="tokenId" value="{{ tokenId }}">
                        </div>
                        <a href="#" class="btn btn-primary pull-right" id="nextStep"><span class="text-uppercase">Next Step:</span> Online Enrolment </a>
                    </form>
                </div>
            </div>
            <!-- Put content here -->
        </div>
    </main>

    {% include 'GqAusUserBundle:Auth:on_boarding/_footer.html.twig' %}
    {% include 'GqAusUserBundle:Auth:on_boarding/_splash_screen.html.twig' %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/newdesign/css/main-styles.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('public/newdesign/css/vendor/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('public/newdesign/css/vendor/custom-scrollbar.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    <!-- Plugins -->
    <script src="{{ asset('public/newdesign/js/plugins/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('public/newdesign/js/plugins/polyfills.min.js') }}"></script>
    <script src="{{ asset('public/newdesign/js/gqa-utilities.js') }}"></script>

    <!-- App -->
    <script src="{{ asset('public/newdesign/js/rpl-onboarding.js')}}"></script>
{% endblock %}