<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    {% block head %}   
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-flex.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-grid.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-reboot.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/pages/all/rto.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/pages/all/header.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/pages/all/qualififation.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/pages/all/portfolio.css') }}">
    {% endblock %}
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript">
            var base_url = "{{ base_url }}";
            var amazon_link = "{{ amazon_link }}";
        </script>
  </head>
  <body>
    {% set roles = app.security.getToken().getUser().getRoles() %}
   <main class="main_container">
       {% block navmenu %}
        <header>
            <section class="container">
                <div class="hidden-xs logo">
                    <img src="{{ asset('public/images/gqalogo.png') }}" alt="Get Qualified Australia Logo"/>
                </div>
                 <nav>
                    <ul class="menu">
                        <li class="dashboard {% if app.request.attributes.get('_route') == 'gq_aus_home_homepage' %} active {% endif %}"><a href="{{ app.request.baseUrl }}/dashboard">DASHBOARD</a></li> 
                        <li class="portfolio"><a href="{{ app.request.baseUrl }}/applicants">PORTFOLIOS</a></li>
                        {% if ('ROLE_MANAGER' not in roles) and ('ROLE_SUPERADMIN' not in roles) %}                            
                            <li class="messages"><a href="{{ app.request.baseUrl }}/messages">MESSAGES</a></li>
                        {% endif %}                            
                        <li class="messages"><a href="{{ app.request.baseUrl }}/messages">EVIDENCE</a></li>
                    </ul>
                 <nav>
                </div>
            </section>
        </header>       
        {% endblock %}
        <!-- Dashboard page starts here -->
        {% block body %}{% endblock %}
        <!-- Dashboard page ends here -->
    </main>
	<!-- jQuery first, then Bootstrap JS. -->
    <script src="{{ asset('public/js/jquery.min.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/script.js') }}"></script>
    <script src="{{ asset('public/js/custom-jquery.js') }}"></script>
     <script src="{{ asset('public/js/timepicker.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>