<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    {% block head %}   
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-flex.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-grid.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-reboot.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/pages/all/rto.css') }}">
    {% endblock %}
    {% block stylesheets %}{% endblock %}
    
  </head>
  <body>
    {% set roles = app.security.getToken().getUser().getRoles() %}
   <main class="main_container">
        <header>
            <div class="container">
                <div class="row">
                    <div class="hidden-xs col-sm-3 col-lg-5">
                        <div class="gqa_header_left_side">
                                Sandeep Patel
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-7 menu_sec">
                        <ul class="menu">
                            <li class="dashboard {% if app.request.attributes.get('_route') == 'gq_aus_home_homepage' %} active {% endif %}"><a href="{{ app.request.baseUrl }}/dashboard">DASHBOARD</a></li> 
                            <li class="portfolio"><a href="{{ app.request.baseUrl }}/dashboard">PORTFOLIOS<span>1</span></a></li>
                            {% if ('ROLE_MANAGER' not in roles) and ('ROLE_SUPERADMIN' not in roles) %}                            
                                <li class="messages"><a href="{{ app.request.baseUrl }}/messages">MESSAGES</a></li>
                            {% endif %}                            
                        </ul>
                    </div>
                </div>
            </div>
        </header>       
        <!-- Dashboard page starts here -->
        {% block body %}{% endblock %}
        <!-- Dashboard page ends here -->
    </main>
	<!-- jQuery first, then Bootstrap JS. -->
    <script src="{{ asset('public/js/jquery.min.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/script.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>