<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}Recognition of Prior Learning{% endblock %}</title>

    <!-- Bootstrap -->
    {% block head %} 
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-flex.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-grid.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-reboot.css') }}">              
        <link rel="stylesheet" href="{{ asset('public/css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/jquery-ui-timepicker-addon.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/pages/all/header.css') }}"> 
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    {% endblock %}
    {% block stylesheets %}{% endblock %}     
        <script type="text/javascript">
            var base_url = "{{ base_url }}";
            var amazon_link = "{{ amazon_link }}";
            var upload_path = "{{ asset('public/uploads/')}}";
        </script>    
  </head>
  <body>
    {% set roles = app.security.getToken().getUser().getRoles() %}
    {% set applicantStatus = app.security.getToken().getUser().getApplicantStatus() %}
      
   <main class="main_container">
       {% block navmenu %}
       <header>
            <section class="container">
                <div class="logo">
                    <img src="{{ asset('public//images/gqalogo.png') }}" alt="Get Qualified Australia Logo"/>
                </div>

                <div class="info-header hide">
                    <div class="portfolio">
                        <strong class="title">Profile Name</strong>
                        <a href="#"><i class="material-icons clear">clear</i></a>
                    </div>

                    <div class="unit-info">
                        <a href="#"><i class="material-icons btn-back">arrow_back</i></a>
                        <strong class="title">Unit info</strong>
                    </div>            
                </div>

                <nav>
                    <ul class="nav">
                            {% if ('ROLE_APPLICANT' not in roles)  %}
                            <li>

                            <a class="{% if app.request.attributes.get('_route') == 'gq_aus_home_homepage' %} active {% endif %}" href="{{ app.request.baseUrl }}/dashboard">
                            <i class="material-icons">school</i>
                            <span>Dashboard</span>
                            </a>
                            </li>
                            {% else %}
                            <li>

                            <a class="{% if app.request.attributes.get('_route') == 'qualifications' or app.request.attributes.get('_route') == 'qualificationDetails' %} active {% endif %}" href="{{ app.request.baseUrl }}/qualifications">
                            <i class="material-icons">school</i>
                            <span>Qualification</span>
                            </a>
                            </li>
                            {% endif %}
                            {% if ('ROLE_APPLICANT' not in roles)  %}
                                <li>
                                <svg height="35" width="35">
                                <circle cx="27" cy="12" r="8" fill="red"/>
                                <text text-anchor="middle" x="27" y="15" fill="#fff" class="portfolio-current"></text>
                                </svg>
                                <a class="{% if app.request.attributes.get('_route') == 'applicants' %} active {% endif %}" href="{{ app.request.baseUrl }}/applicants">
                                <i class="material-icons">message</i>
                                <span>portfolios</span>                        
                                </a>
                                </li>
                            {% endif %}
                            {% if ('ROLE_SUPERADMIN' not in roles) %}  
                                <li>
                                <svg height="35" width="35">
                                <circle cx="27" cy="12" r="8" fill="red"/>
                                <text id="unread-count" text-anchor="middle" x="27" y="15" fill="#fff"></text>
                                </svg>
                                <a class="{% if app.request.attributes.get('_route') == 'messages' %} active {% endif %}" href="{{ app.request.baseUrl }}/messages">
                                <i class="material-icons">message</i>
                                <span>Messages</span>                        
                                </a>
                                </li>
                            {% endif %}
                            {% if ('ROLE_FACILITATOR' in roles)  %}
                                    <li>
                                            <a href="{{ app.request.baseUrl }}/evidences"><i class="material-icons">cloud_upload</i><span>Evidences</span></a>
                                    </li>
                            {% endif %}
                            {% if ('ROLE_APPLICANT' in roles)  %}
                                    <li>
                                            <a href="{{ app.request.baseUrl }}/files"><i class="material-icons">cloud_upload</i><span>Files</span></a>
                                    </li>
                            {% endif %}
                            <li class="profile">
                                <a href="#">
                                        <img class="profile-img" src="{{ asset('public/images/PROFILE.png') }}" alt="profile" />
                                        <i class="material-icons">expand_more</i>
                                </a>
                                <ul class="hide">
                                        {% if ('ROLE_APPLICANT' not in roles)  %}
                                                <li><a data-toggle="modal" data-target="#profile2" href="javascript:void(0)">Profile</a></li>
                                        {% else %}
                                                <li><a href="{{ app.request.baseUrl }}/userprofile">Profile</a></li>
                                        {% endif %}
                                        <li><a href="/logout">Log out</a></li>
                                </ul>
                        </li>
                    </ul>
                </nav>
            </section>
        </header>    
        {% endblock %}
        <!-- Dashboard page starts here -->
        {% block body %}{% endblock %}
        <!-- Dashboard page ends here -->
    </main>
        <!-- Profile Modal Starts -->
          {% include 'GqAusUserBundle:User:profile_popup.html.twig' %}
         {% include 'GqAusUserBundle:User:newuserlogincheck.html.twig' %}
        <!-- Profile Modal Ends -->
	    <!-- jQuery first, then Bootstrap JS. -->          
        <script src="{{ asset('public/js/jquery.min.js') }}"></script>
        <script src="{{ asset('public/js/jquery-1.10.2.js') }}"></script>
        <script src="{{ asset('public/js/jquery-ui.js')}}"></script>   
        <script src="{{ asset('public/js/jquery-ui-timepicker-addon.js')}}"></script>
        <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
         <script src="{{ asset('public/js/jquery.form.js') }}"></script>
        <script src="{{ asset('public/js/script.js') }}"></script>
        <script src="{{ asset('public/js/jquery.dataTables.min.js') }}"></script>		
        <script src="{{ asset('public/js/custom-jquery.js') }}"></script>   
     {% block javascripts %}{% endblock %}
    <script> onloadCount();</script>
    <script> onloadPortfolioCount();</script>
	<script>
	 $(document).ready(function(){
                if({{applicantStatus}} == 1)
                {                 
                   $('#changePassword').modal('show');  
                   $("#onboard2").addClass("hidden");
                }
              
                if({{applicantStatus}} == 2)
                {    
                    $('#onboard2').modal('show');  
                    $("#changePassword").addClass("hidden");
                }
                
		$(".gq-id-files-upload-success-text").delay(5000).fadeOut(100);
		$(".gq-id-pwd-error-text").delay(5000).fadeOut(100);
	 });
	</script>
</body>
</html>