<!DOCTYPE html>
<html {% block ngApp %}{% endblock %}>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}Recognition of Prior Learning{% endblock %}</title>
    <meta name="description" content="Online RPL">
    <meta name="author" content="GQA App Dev">
    <meta name="copyright" content="Get Qualified Australia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
      <!-- Bootstrap -->
    {% block head %} 
        {% set roles = app.security.getToken().getUser().getRoles() %}
        
        <!-- Core -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="{{ asset('public/ui/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('public/ui/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('public/ui/css/main-styles.min.css') }}" rel="stylesheet" />
    
      <!-- App -->
    <link href="{{ asset('public/ui/css/vendor/owl.carousel.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('public/ui/css/vendor/custom-scrollbar.min.css') }}" rel="stylesheet" />
    <!-- Login only -->
    <link href="{{ asset('public/ui/css/modules/rpl-online-enrolment/rpl-online-enrolment.css') }}" rel="stylesheet" />   

    <script src="{{ asset('public/ui/js/plugins/isMobile.min.js') }}"></script> <!-- Sniff if browser is loaded on mobile -->
    <script src="{{ asset('public/ui/js/modernizr-3.3.1.gqa-build.121516.min.js') }}"></script> <!-- Modernizr -->
    
   

  
    

    <!-- enrolment only -->
    <link href="ui/css/modules/rpl-online-enrolment/rpl-online-enrolment.css" rel="stylesheet" />

    
    {% endblock %}
    {% block stylesheets %}{% endblock %}  
        <script type="text/javascript">
            var base_url = "{{ base_url }}";
            var amazon_link = "{{ amazon_link }}";
            var upload_path = "{{ asset('public/uploads/')}}";
            var or_user_id = "{{ app.security.getToken().getUser().getId()}}";
            var S3UploadUrl = "{{ s3_upload_url }}";
        </script>    

</head>

<body  {% block ngController %}{% endblock %}>
     {% set roles = app.security.getToken().getUser().getRoles() %}
    {% set applicantStatus = app.security.getToken().getUser().getApplicantStatus() %}
    {% set page = app.request.attributes.get('_route') %}
<header class="header-gqa navbar-fixed-top" id="headerGQA">
        <div class='container'>
            <button type="button" id="btnNavicon" class="btn-navicon-gqa tcon tcon-menu--xbutterfly" aria-label="toggle menu">
                <span class="tcon-menu__lines" aria-hidden="true"></span>
                <span class="tcon-visuallyhidden">toggle menu</span>
            </button>
             {% if ('ROLE_APPLICANT' not in roles)  %}<a href="{{ app.request.baseUrl }}/dashboard">
                {% else %}<a href="{{ app.request.baseUrl }}/qualifications">
                {% endif %}
                    <img class="header-gqa-logo" src="{{ asset('public/ui/img/gqa-online-rpl-inverse.svg')}}" alt="Get Qualified Australia">
                </a>
            <nav class="header-gqa-nav">
                <ul class="nav-links" id="navLinks">
                    <li class="dropdown">
                        <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                            <i class="zmdi zmdi-graduation-cap zmdi-hc-lg zmdi-hc-fw"></i> <span>Qualifications</span>
                            <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#"><span class="h4">Overview <br><small>Summary of enroled qualifications</small></span></a></li>
                            <li class="divider"></li>
                            <li>
                                <div><h4 class="h4">Your Enroled Qualifications</h4>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">Qualification in Cookery III</a>
                                        <a href="#" class="list-group-item">Qualification in Cookery VI</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {% if ('ROLE_FACILITATOR' in roles)  %}
                    <li class="{% if app.request.attributes.get('_route') == 'evidences' %} active {% endif %}"><a href='{{ app.request.baseUrl }}/evidences'><i class="zmdi zmdi-collection-folder-image zmdi-hc-lg zmdi-hc-fw"></i> <span>Evidences</span></a></li>
                    {% endif %}
                    {% if ('ROLE_SUPERADMIN' not in roles) %} 
                    <li class="{% if app.request.attributes.get('_route') == 'messages' %} active {% endif %}"><a href='{{ app.request.baseUrl }}/messages'><i class="zmdi zmdi-inbox zmdi-hc-lg zmdi-hc-fw"></i> <span>Inbox</span></a></li>
                {% endif %}
                    </ul>
                    {% set userFName = app.security.getToken().getUser().getFirstName()%}
                    {% set userLName = app.security.getToken().getUser().getLastName()%}
                    {% set userName = userFName~' '~userLName %}
                    {% set userImage = app.security.getToken().getUser().getUserImage()%}
                <div class="avatar-menu">
                    <div class="dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <div class="avatar avatar-xxs"><img src="{{ asset('public/ui/img/avatar-default.png')}}" alt="You"></div>
                            <span class="avatar-name" id="avatarFirstName">{{ userFName }}</span>&nbsp;
                            <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
                        </div>

                        <ul class="dropdown-menu pull-right">
                            <li><a href="{{ app.request.baseUrl }}/logout"><i class="zmdi zmdi-power-off zmdi-hc-lg zmdi-hc-fw"></i> Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="navbar-bg-gradient" id="navGradient"></div>

    </header>

    <div class="navbar-bg-img" data-bg="skyscraper-blur" id="navImg"></div>
{% block body %}{% endblock %}
    
<footer class="footer-gqa" data-toggle="auto-fixed-footer">
    <section class="container">
        <img class="footer-gqa-logo img-responsive" src="{{ asset('public/ui/img/gqa-logo-full-white-type.svg') }}" alt="Get Qualified Australia">
        <ul class="footer-gqa-nav list-inline small text-right" style="margin-top: 10px;">
            <li><a href="https://www.gqaustralia.edu.au/" target="_blank">GQA Website</a></li>
            <li><a href="tel:">Contact Us</a></li>
            <li style="display: block; margin-top: 5px;">Copyright &copy; <span id="currentYear">----</span> GQA. All Rights Reserved</li>
        </ul>
    </section>
</footer>

    <!-- Core -->
    <script src="{{ asset('public/ui/js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/gqa-utilities.js') }}"></script>
    <script src="{{ asset('public/ui/js/velocity.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/velocity.ui.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/polyfills.min.js') }}"></script>
{% block javascripts %}{% endblock %}
    
</body>
</html>