<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('public/css/styles.css') }}" rel="stylesheet">
    
  </head>
  <body>
    <div class="page-wrap">
        <div class="container-fluid">
            <!-- Login page starts here -->
            <div class="login-page">
                <div class="row text-center">
                    <div class="col-xs-12"><img src="{{ asset('public/images/gq-logo-login.png') }}" alt="GQ Australia logo" /></div>
                </div>
				{% block content %}{% endblock %}
            </div>
            <!-- Login page ends here -->
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('public/js/jquery.validate.js') }}"></script>
   {% block javascripts %}
   {% endblock %}
  </body>
</html>