<!DOCTYPE html>
<html {% block ngApp %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title ng-bind="{% block ngtitle %}{% endblock %}">{% block title %}Recognition of Prior Learning{% endblock %}</title>
    <meta name="description" content="Online RPL">
    <meta name="author" content="GQA App Dev">
    <meta name="copyright" content="Get Qualified Australia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">    
      <!-- Bootstrap -->
    {% block head %} 
        {% set roles = app.security.getToken().getUser().getRoles() %}

        <!-- Core -->

        <link rel="apple-touch-icon-precomposed" href="ui/img/favicon-32x32.png">
        <link rel="icon" href="{{ asset('public/ui/img/favicon-32x32.png') }}" type="image/png">
        <!--[if IE]><link rel="shortcut icon" href="{{ asset('public/ui/img/favicon-32x32.png') }}"><![endif]-->
        <meta name="msapplication-TileColor" content="#eee">
        <meta name="msapplication-TileImage" content="{{ asset('public/ui/img/favicon-32x32.png') }}">

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link href="{{ asset('public/ui/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('public/ui/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('public/ui/css/main-styles.min.css') }}" rel="stylesheet" />
        
        <!-- App -->
        <link href="{{ asset('public/ui/css/vendor/custom-scrollbar.min.css') }}" rel="stylesheet" />
        <!-- Login only -->
         
        <script src="{{ asset('public/ui/js/plugins/isMobile.min.js') }}"></script> <!-- Sniff if browser is loaded on mobile -->
        <script src="{{ asset('public/ui/js/modernizr-3.3.1.gqa-build.121516.min.js') }}"></script> <!-- Modernizr -->
    {% endblock %}
    {% block stylesheets %}{% endblock %}  
        <script type="text/javascript">
            var base_url = "{{ base_url }}";
            var amazon_link = "{{ amazon_link }}";
            var upload_path = "{{ asset('public/uploads/')}}";
            var or_user_id = "{{ app.security.getToken().getUser().getId()}}";
            var S3UploadUrl = "{{ s3_upload_url }}";
        </script>    

</head>
{% set roles = app.security.getToken().getUser().getRoles() %}
{% set route = app.request.attributes.get('_route') %}
{% set baseUrl = app.request.server.get('REQUEST_SCHEME')~'://'~app.request.server.get('HTTP_HOST') %}
<body  {% if roles[0] == 'ROLE_FACILITATOR' %} data-role="account-manager" {% elseif roles[0] == 'ROLE_ASSESSOR' %} data-role="assessor" {% elseif roles[0] == 'ROLE_RTO' %} data-role="rto" {%endif%} {% block ngController %}{% endblock %} class="{% if is_mobile() %}is-mobile{% elseif is_tablet() %}is-tablet{% else %}is-desktop{% endif%}">
    
    {% set applicantStatus = app.security.getToken().getUser().getApplicantStatus() %}
    {% set page = app.request.attributes.get('_route') %}
    {% set userId = app.security.getToken().getUser().getId() %} 
    {% set unreadMsgs = user_service.getFiveMessagesAndUnreadCnt(userId)%} 

    <header class="header-gqa navbar-fixed-top" id="headerGQA">
        <div class='container'>
            <button type="button" id="btnNavicon" class="btn-navicon-gqa tcon tcon-menu--xbutterfly" aria-label="toggle menu">
                <span class="tcon-menu__lines" aria-hidden="true"></span>
                <span class="tcon-visuallyhidden">toggle menu</span>
            </button>
            
             {% if ('ROLE_APPLICANT' not in roles)  %}
                {% if ('ROLE_FACILITATOR' in roles) %}
                    <a href="{{ baseUrl }}/account-manager-dashboard">
                {% else %}
                    <a href="{{ baseUrl }}/dashboard">
                {% endif %}
                <div class="header-gqa-logo">
                
             {% else %}
                    <a href="{{ baseUrl }}/overview">
                    <div class="header-gqa-logo">
             {% endif %}
                <img src="{{ asset(baseUrl~'/public/ui/img/gqa-online-rpl-inverse.svg')}}" alt="Get Qualified Australia">
                </div></a>
                
            <nav class="header-gqa-nav">
                {% if app.request.attributes.get('_route') != 'enrollment' %}  
                    <ul class="nav-links" id="navLinks">
                        {% if ('ROLE_APPLICANT' not in roles)  %}
                        <li>
                            {% if ('ROLE_FACILITATOR' in roles) %}
                                <a href="{{ baseUrl }}/account-manager-dashboard"><span class="t-item-2"><i class="zmdi zmdi-view-dashboard zmdi-hc-lg zmdi-hc-fw"></i> Dashboard</span></a>
                            {% else %}
                                <a href="{{ baseUrl }}/dashboard"><span class="t-item-2"><i class="zmdi zmdi-view-dashboard zmdi-hc-lg zmdi-hc-fw"></i> Dashboard</span></a>
                            {% endif %}
                            
                        </li>
                        
                        <li>
                            {% if ('ROLE_FACILITATOR' in roles or 'ROLE_ASSESSOR' in roles or 'ROLE_RTO' in roles) %}
                                <a href='{{ baseUrl }}/amapplicants'><span class="t-item-2"><i class="zmdi zmdi-accounts zmdi-hc-lg zmdi-hc-fw"></i> Applicants</span></a>
                            {% else %}
                                <a href='{{ baseUrl }}/applicants'><span class="t-item-2"><i class="zmdi zmdi-accounts zmdi-hc-lg zmdi-hc-fw"></i> Applicants</span></a>
                            {% endif %}
                            
                        </li>
                        {% endif %}
                        {% if ('ROLE_APPLICANT' in roles)  %}
                        <li class="dropdown">
                            <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                                <span class="t-item-1"><i class="zmdi zmdi-view-dashboard zmdi-hc-lg zmdi-hc-fw"></i> Dashboard</span>
                                <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{{ baseUrl }}/overview"><span class="h4">Overview <br><small>Summary of enrolled qualifications</small></span></a></li>
                                <li class="divider"></li>
                                <li class="sub-menu">
                                    <h4 class="h4 sub-menu-title">Your Qualifications</h4>
                                    {% set userCourses = user_service.getUserCourses(userId) %}  
                                    {% if userCourses|length > 0 %}
                                        {% for course in userCourses %} 
                                            {%set courseName = course.getCourseName() %}
                                            {% if courseName is defined and courseName != null %}       

                                                <a href="{{ app.request.baseUrl }}/qualificationDetails/{{course.getCourseCode()}}">{{course.getCourseName()}}</a>

                                                {# <a href="{{ baseUrl }}/qualificationDetails/{{course.getCourseCode()}}" class="list-group-item">{{course.getCourseName()}}</a> #}

                                            {%endif%}
                                        {%endfor%}
                                    {%endif%}
                                    
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if ('ROLE_FACILITATOR' in roles)  %}
                                <li class="{% if app.request.attributes.get('_route') == 'evidences' %}active{% endif %}"><a href='{{ baseUrl }}/evidences'><span class="t-item-2"><i class="zmdi zmdi-collection-folder-image zmdi-hc-lg zmdi-hc-fw"></i> Evidence</span></a></li>
                        {% elseif ('ROLE_APPLICANT' in roles) %}
                                <li class="{% if app.request.attributes.get('_route') == 'files' %}active{% endif %}"><a href='{{ baseUrl }}/files'><span class="t-item-2"><i class="zmdi zmdi-collection-folder-image zmdi-hc-lg zmdi-hc-fw"></i> Evidence</span></a></li>
                        {% endif %}
                            {% if ('ROLE_SUPERADMIN' not in roles) %} 
                                <li>
                                    <a href='{{ baseUrl }}/messages' class="visible-mobile">
                                        <span class="t-item-3"><i class="zmdi zmdi-inbox zmdi-hc-lg zmdi-hc-fw"></i> Inbox</span>
                                    </a>
                                    <a href class="dropdown-toggle hidden-mobile" data-toggle="dropdown" data-inbox-count="{{unreadMsgs.unreadMsgCnt}}">
                                        <span class="t-item-3"><i class="zmdi zmdi-inbox zmdi-hc-lg zmdi-hc-fw"></i> Inbox</span>
                                        <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-messages pull-right">  
                                        {% if unreadMsgs.unreadMsgCnt > 0 %}     
                                        {% for unreadwMsg in unreadMsgs.messages%}                 
                                            <li><a href="{{baseUrl}}/messages/{{unreadwMsg.getId()}}">
                                                
                                                <div class="dropdown-avatar">
                                                    <div class="avatar avtar-inline-block avatar-xxs">
                                                        {% if unreadwMsg.getSystemGenerated()  != 1 %}
                                                            <img src="{% if unreadwMsg.sent.getUserImage()  != '' %}{{amazon_link~'user-'~unreadwMsg.sent.getId()~'/'~unreadwMsg.sent.getUserImage()}}{%else%}public/images/userprofile.png{%endif%}" alt="{{unreadwMsg.sent.getUserName()}}" >
                                                        {% else %}
                                                            <img src="{{baseUrl}}/public/ui/img/computer.svg">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="dropdown-messaging">
                                                    <div class="clearfix">{% if unreadwMsg.getSystemGenerated()  == 1 %}<span class="label label-default pull-left">System</span>{% endif %}<small class="text-muted pull-right">{{user_service.formatMsgTime(unreadwMsg.getCreated())}}</small></div>
                                                    <label>{{unreadwMsg.sent.getUserName()}}</label>
                                                    <p class="break-word">{{unreadwMsg.getSubject()}}</p>
                                                </div>
                                            </a></li>
                                        {% endfor %}
                                        {% else %}
                                            <!-- If nothing to display -->
                                            <li class="text-center panel-body">
                                                <i class="divider"></i>
                                                <i class="zmdi zmdi-hc-3x zmdi-thumb-up"></i>
                                                <h4>All caught up!<br> <small>No new messages for now.</small></h4>
                                            </li>
                                          
                                            <!-- If nothing to display -->
                                    {% endif %}
                                        <li><a class="btn btn-link text-uppercase btn-block" href="{{ baseUrl }}/messages"><strong>Go to Inbox</strong></a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if ('ROLE_MANAGER' in roles or 'ROLE_SUPERADMIN' in roles) %}
                                {% if not is_mobile() %}   
                                    <li><a class="{% if app.request.attributes.get('_route') == 'manageusers' %} active {% endif %}" href="{{ baseUrl }}/manageusers"><!--i class="material-icons">group</i--><span>Manage Users</span></a></li>
                                {% endif %}
                            {% endif %}

                        <li class="dropdown dropdown-help">
                            <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                                <i class="zmdi zmdi-help zmdi-hc-lg zmdi-hc-fw t-item-4"></i> <span class="hidden-desktop">Help</span>
                                <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href='{{ baseUrl }}/faq' target="_blank">
                                        <i class="zmdi zmdi-book zmdi-hc-lg"></i>
                                        <span class="h4">Help and FAQs <br><small>Go to your how-to guide and FAQs for the Online RPL.</small></span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href='{{ baseUrl }}/feedback' target="_blank">
                                        <i class="zmdi zmdi-comments zmdi-hc-lg"></i>
                                        <span class="h4">Tell us your feedback <br><small>Do you have comments about the site? <br>Tell us, we're listening.</small></span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                {% endif %}
                    {% set userFName = app.security.getToken().getUser().getFirstName()%}
                    {% set userLName = app.security.getToken().getUser().getLastName()%}
                    {% set userName = userFName~' '~userLName %}
                    {% set userImage = app.security.getToken().getUser().getUserImage()%}
                    {% set userImg = amazon_link~'user-'~userId~'/'~userImage %}
                <div class="avatar-menu">
                    <div class="dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <div class="avatar avatar-xxs t-item-5"><img src="{% if userImage  != '' %}{{amazon_link~'user-'~userId~'/'~userImage}}{%else%}{{ baseUrl }}/public/ui/img/avatar-default.png{%endif%}" alt="You"></div>
                            {# onerror="this.src='{{ baseUrl }}/public/ui/img/avatar-default.png'" #}
                            <span class="avatar-name" id="avatarFirstName">{{ userFName }}</span>&nbsp;
                            <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
                        </div>

                        <ul class="dropdown-menu pull-right">
                            {% if app.request.attributes.get('_route') != 'enrollment' %}<li><a href="{{ baseUrl }}/userprofile"><i class="zmdi zmdi-account-circle zmdi-hc-lg zmdi-hc-fw"></i> My Profile</a></li>
                            <li class="divider"></li> {% endif %}
                            <li><a href="{{ baseUrl }}/logout"><i class="zmdi zmdi-power-off zmdi-hc-lg zmdi-hc-fw"></i> Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="navbar-bg-gradient" id="navGradient"></div>
    </header>

    <div class="navbar-bg-img" data-bg="skyscraper-blur" id="navImg"></div>
    
{% block body %}{% endblock %}

<footer class="footer-gqa" data-toggle="auto-fixed-footer">
    <section class="container">
        <img class="footer-gqa-logo img-responsive" src="{{ asset(baseUrl~'/public/ui/img/gqa-logo-full-white-type.svg') }}" alt="Get Qualified Australia">
        <ul class="footer-gqa-nav list-inline small text-right" style="margin-top: 10px;">
            <li><a href="https://www.gqaustralia.edu.au/" target="_blank">GQA Website</a></li>
            <li><a href="\faq" target="_blank">Contact Us</a></li>
            <li style="display: block; margin-top: 5px;">Copyright &copy; <span id="currentYear">----</span> GQA. All Rights Reserved</li>
        </ul>
    </section>
</footer>

{% if roles[0] == 'ROLE_FACILITATOR' and  'dashboard' not in route %}
    {% set reminders = account_manager_dashboard_service.getRemindersList(userId)%} 
        <!-- My Tasks -->
    <button type="button" class="btn btn-default btn-panel-float" id="showAllTasks">
        <i class="zmdi zmdi-calendar-note zmdi-hc-lg zmdi-hc-fw"></i> My Tasks
    </button>
    <div class="modal-content panel-float" id="floatingMyTasks">
        <div class="modal-header" id="floatingMyTasksHandle">
            <button type="button" class="close" id="hideMyTasks" aria-hidden="true">
                <i class="zmdi zmdi-close zmdi-hc-lg"></i>
            </button>
            <h4 class="modal-title">Your Overall Tasks</h4>
        </div>

        <div class="modal-body" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#DueToday" aria-controls="DueToday" role="tab" data-toggle="tab">Due Today</a>
                </li>
                <li role="presentation">
                    <a href="#DueSoon" aria-controls="DueSoon" role="tab" data-toggle="tab">Due Soon</a>
                </li>
                <li role="presentation">
                    <a href="#Completed" aria-controls="Completed" role="tab" data-toggle="tab">Completed</a>
                </li>
                <li role="presentation">
                    <a href="#AllTasks" aria-controls="AllTasks" role="tab" data-toggle="tab">All Tasks</a>
                </li>
            </ul>
        
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="DueToday">
                    <div class="task-list">
                        <ul class="nav" role="tablist">
                            <li role="presentation" class="active">
                                <ul class="list-group">

                                    {% for dueToday in reminders.dueToday %}
                                        <li class="list-group-item" data-status="{{ dueToday.status }}">
                                            <span>{{ dueToday.message }}</span>
                                            <span class="overdue text-danger">{{ dueToday.days_due }} days before due</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="DueSoon">
                    <div class="task-list">
                        <ul class="nav" role="tablist">
                            <li role="presentation" class="active">
                                <ul class="list-group">
                                    {% for dueSoon in reminders.dueSoon %}
                                        <li class="list-group-item" data-status="{{ dueSoon.status }}">
                                            <span>{{ dueSoon.message }}</span>
                                            <span class="overdue text-danger">{{ dueSoon.days_due }} days before due</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Completed">
                    <div class="task-list">
                        <ul class="nav" role="tablist">
                            <li role="presentation" class="active">
                                <ul class="list-group">
                                    {% for completed in reminders.completed %}
                                        <li class="list-group-item" data-status="{{ completed.status }}">
                                            <span>{{ completed.message }}</span>
                                            {#<span class="overdue text-danger">{{ doneDueToday.days_due }} days before due</span>#}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="AllTasks">
                    <div class="task-list">
                        <ul class="nav" role="tablist">
                            <li role="presentation" class="active">
                                <ul class="list-group">
                                    {% for task in reminders.allTasks %}
                                        <li class="list-group-item" data-status="{{ task.status }}">
                                            <span>{{ task.message }}</span>
                                            {% if task.status != 'done' %} <span class="overdue text-danger">{{ task.days_due }} {% if task.status == 'pending' %} days before due {% endif %} {% if task.status == 'overdue' %} days overdue {% endif %}</span> {% endif %}
                                        </li>
                                    {% endfor %}
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Tasks -->
    {%endif%} 
    <!-- Core -->
    <script src="{{ asset('public/ui/js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/velocity.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/velocity.ui.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/polyfills.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/gqa-utilities.js') }}"></script>
{% block javascripts %}{% endblock %}
{% if roles[0] == 'ROLE_FACILITATOR' and  'dashboard' not in route %}
    <script type="text/javascript">
        $(document).ready(function(e){
            MYTASKS.build();
        });
    </script>
{%endif%} 
</body>
</html>
