<!DOCTYPE html>
<html {% block ngApp %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title ng-bind="{% block ngtitle %}{% endblock %}">{% block title %}Recognition of Prior Learning{% endblock %}</title>
    <meta name="description" content="Online RPL">
    <meta name="author" content="GQA App Dev">
    <meta name="copyright" content="Get Qualified Australia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">    
      <!-- Bootstrap -->
    {% block head %} 
        {% set roles = app.security.getToken().getUser().getRoles() %}    
        <!-- Core -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link href="{{ asset('public/ui/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('public/ui/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('public/ui/css/main-styles.min.css') }}" rel="stylesheet" />
          <!-- App -->
        
        <link href="{{ asset('public/ui/css/vendor/custom-scrollbar.min.css') }}" rel="stylesheet" />
        <!-- Login only -->
         
        <script src="{{ asset('public/ui/js/plugins/isMobile.min.js') }}"></script> <!-- Sniff if browser is loaded on mobile -->
        <script src="{{ asset('public/ui/js/modernizr-3.3.1.gqa-build.121516.min.js') }}"></script> <!-- Modernizr -->
    {% endblock %}
    {% block stylesheets %}{% endblock %}  
        <script type="text/javascript">
            var base_url = "{{ base_url }}";
            var amazon_link = "{{ amazon_link }}";
            var upload_path = "{{ asset('public/uploads/')}}";
            var or_user_id = "{{ app.security.getToken().getUser().getId()}}";
            var S3UploadUrl = "{{ s3_upload_url }}";
        </script>    

</head>

<body  {% block ngController %}{% endblock %}>
    {% set roles = app.security.getToken().getUser().getRoles() %}
    {% set applicantStatus = app.security.getToken().getUser().getApplicantStatus() %}
    {% set page = app.request.attributes.get('_route') %}
    {% set userId = app.security.getToken().getUser().getId() %} 
    <header class="header-gqa navbar-fixed-top" id="headerGQA">
        <div class='container'>
            <button type="button" id="btnNavicon" class="btn-navicon-gqa tcon tcon-menu--xbutterfly" aria-label="toggle menu">
                <span class="tcon-menu__lines" aria-hidden="true"></span>
                <span class="tcon-visuallyhidden">toggle menu</span>
            </button>
             {% if ('ROLE_APPLICANT' not in roles)  %}
                <a href="{{ app.request.baseUrl }}/dashboard">
             {% else %}
                    <a href="{{ app.request.baseUrl }}/overview">
             {% endif %}
                <img class="header-gqa-logo" src="{{ asset('public/ui/img/gqa-online-rpl-inverse.svg')}}" alt="Get Qualified Australia">
                </a>
            <nav class="header-gqa-nav">
                {% if app.request.attributes.get('_route') != 'enrollment' %}  
                    <ul class="nav-links" id="navLinks">
                        <li class="dropdown">
                            <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                                <span class="t-item-1"><i class="zmdi zmdi-graduation-cap zmdi-hc-lg zmdi-hc-fw"></i> Qualifications</span>
                                <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{{ app.request.baseUrl }}/overview"><span class="h4">Overview <br><small>Summary of enrolled qualifications</small></span></a></li>
                                <li class="divider"></li>
                                <li>
                                    <div><h4 class="h4">Your Enrolled Qualifications</h4>
                                        {% set userCourses = user_service.getUserCourses(userId) %}  
                                        {% if userCourses|length > 0 %}
                                            <div class="list-group">
                                                {% for course in userCourses %} 
                                                    {%set courseName = course.getCourseName() %}
                                                    {% if courseName is defined and courseName != null %}       
                                                        <a href="{{ app.request.baseUrl }}/qualificationDetails/{{course.getCourseCode()}}" class="list-group-item">{{course.getCourseName()}}</a>
                                                    {%endif%}
                                                {%endfor%}
                                            </div>
                                        {%endif%}
                                    </div>
                                </li>
                            </ul>
                        </li>
                        {% if ('ROLE_FACILITATOR' in roles)  %}
                                <li class="{% if app.request.attributes.get('_route') == 'evidences' %}active{% endif %}"><a href='{{ app.request.baseUrl }}/evidences'><span class="t-item-2"><i class="zmdi zmdi-collection-folder-image zmdi-hc-lg zmdi-hc-fw"></i> Evidence</span></a></li>
                            {% elseif ('ROLE_APPLICANT' in roles) %}
                                <li class="{% if app.request.attributes.get('_route') == 'files' %}active{% endif %}"><a href='{{ app.request.baseUrl }}/files'><span class="t-item-2"><i class="zmdi zmdi-collection-folder-image zmdi-hc-lg zmdi-hc-fw"></i> Evidence</span></a></li>
                            {% endif %}
                            {% if ('ROLE_SUPERADMIN' not in roles) %} 
                            <li class="{% if app.request.attributes.get('_route') == 'messages' %}active{% endif %}"><a href='{{ app.request.baseUrl }}/messages'><span class="t-item-3"><i class="zmdi zmdi-inbox zmdi-hc-lg zmdi-hc-fw"></i> Inbox</span></a></li>
                            {% endif %}
                    </ul>
                {% endif %}
                    {% set userFName = app.security.getToken().getUser().getFirstName()%}
                    {% set userLName = app.security.getToken().getUser().getLastName()%}
                    {% set userName = userFName~' '~userLName %}
                    {% set userImage = app.security.getToken().getUser().getUserImage()%}
                <div class="avatar-menu">
                    <div class="dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <div class="avatar avatar-xxs t-item-4"><img src="{{amazon_link~'user-'~userId~'/'~userImg}}{{userImg}}" alt="You"></div>
                            <span class="avatar-name" id="avatarFirstName">{{ userFName }}</span>&nbsp;
                            <i class="zmdi zmdi-caret-down zmdi-hc-lg"></i>
                        </div>

                        <ul class="dropdown-menu pull-right">
                            {% if app.request.attributes.get('_route') != 'enrollment' %}<li><a href="{{ app.request.baseUrl }}/userprofile"><i class="zmdi zmdi-account-circle zmdi-hc-lg zmdi-hc-fw"></i> My Profile</a></li>
                            <li class="divider"></li> {% endif %}
                            <li><a href="{{ app.request.baseUrl }}/logout"><i class="zmdi zmdi-power-off zmdi-hc-lg zmdi-hc-fw"></i> Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="navbar-bg-gradient" id="navGradient"></div>
    </header>

    <div class="navbar-bg-img" data-bg="skyscraper-blur" id="navImg"></div>
    
{% block body %}{% endblock %}
<div class="popover-help">
     <div class="dropdown dropup">
         <a class="dropdown-toggle" data-toggle="dropdown">?</a>
         <ul class="dropdown-menu pull-right">
             <li data-role="title">How can we help you?</li>
             <li><a href='{{ app.request.baseUrl }}/faq' target="_blank"><i class='zmdi zmdi-help'></i>Help & FAQ</a></li>
             <li><a href='#'><i class='zmdi zmdi-comment-text'></i>Website Feedback</a>  </li>
         </ul>
     </div>
 </div>    
<footer class="footer-gqa" data-toggle="auto-fixed-footer">
    <section class="container">
        <img class="footer-gqa-logo img-responsive" src="{{ asset('public/ui/img/gqa-logo-full-white-type.svg') }}" alt="Get Qualified Australia">
        <ul class="footer-gqa-nav list-inline small text-right" style="margin-top: 10px;">
            <li><a href="https://www.gqaustralia.edu.au/" target="_blank">GQA Website</a></li>
            <li><a href="tel:">Contact Us</a></li>
            <li style="display: block; margin-top: 5px;">Copyright &copy; <span id="currentYear">----</span> GQA. All Rights Reserved</li>
        </ul>
    </section>
</footer>

    <!-- Core -->
    <script src="{{ asset('public/ui/js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/velocity.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/velocity.ui.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/polyfills.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/gqa-utilities.js') }}"></script>
{% block javascripts %}{% endblock %}
    
</body>
</html>