{% set userRole = app.security.getToken().getUser().getRoles() %}
<!-- accordion starts here -->
{% if applicantList %}
    {% for key, list in applicantList %}
        <tr>
            <td><a target="_blank" href="{{base_url}}applicantDetails/{{list.courseCode}}/{{list.user.id}}">{{list.user.userName}}</a></td>
            <td>{{list.courseCode}} {{list.courseName}}</td>
            {% if ('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole) %}             
            {% set userId = list.user.id %}
            {% set id = list.id %}
            {% set courseCode = list.courseCode %}
            {% endif %}
            {% if ('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole) %}   
            {%set courseStatus = user_service.getQualificationStatus()%}
               <!-- Assessor Status -->
               <td>{{courseStatus[list.courseStatus]['status']}}</td>
            {% endif %}
        </tr>
    {% endfor %}
	{% if applicantList|length > 0 and paginator.getTotalPages() > 1 %}
    <tr>
        <td class="gq-pagination-area" {% if ('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole) %} colspan="3" {% else %} colspan="5" {% endif %}>
            {{ include('GqAusUserBundle:Paginator:ajax_rep_paginator_navigator.html.twig', {'paginator' : paginator}) }}  
        </td>
    </tr>
    {% endif %}
{% else %}
    <tr>
        <td {% if ('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole) %} colspan="6" {% else %} colspan="5" {% endif %} class="gq-tabs-no-content-text margin-top15">
            No Applicants Found</td>
    </tr>
{% endif %}
<!-- accordion ends here -->




{% if pageRequest == 'ajax' %}
    {% block javascripts %}
<script type="text/javascript">
    //$(".datepic").datepicker();
    $(".setNotes").click(function() {
        id = $(this).attr("id");
        var c = $('#div_' + id).hasClass("open");
        if (c == false) {
            $('#div_' + id).addClass('open');
        } else {
            $('#div_' + id).removeClass('open');
        }
    });
</script>
    {% endblock %}
{% endif %}