{% set userRole = app.security.getToken().getUser().getRoles() %}
<!-- accordion starts here -->
{% if applicantList %}
    {% if applicantList|length > 0 and paginator.getTotalPages() > 1 %}
    <tr>
        <td class="gq-pagination-area" {% if ('ROLE_FACILITATOR' in userRole) %} colspan="5" {% else %} colspan="6" {% endif %}>
            {# display navigation for pages - paginator_navigator #}        
            {{ include('GqAusUserBundle:Paginator:ajax_paginator_navigator.html.twig', {'paginator' : paginator}) }}  
        </td>
    </tr>
    {% endif %}
    {% for key, list in applicantList %}
        <tr>
            <td>{{list.user.userName}}</td>
            <td>{{list.courseCode}} {{list.courseName}}</td>
            {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}             
            {% set userId = list.user.id %}
            {% set id = list.id %}
            {% set courseCode = list.courseCode %}
            {% endif %}
            
            {% if ('ROLE_ASSESSOR' in userRole) %}
                <td>{% if (list.facilitatorstatus == 1) %} {{list.facilitatorDate|date("d/m/Y")}} {% else %} Pending {% endif %}</td>
            {% endif%}
            
            {% if ('ROLE_RTO' in userRole) %}
                <td>{% if (list.assessorstatus == 1) %} {{list.assessorDate|date("d/m/Y")}} {% else %} Pending {% endif %}</td>
            {% endif%}
        
            {% if ('ROLE_FACILITATOR' in userRole) %}
                <td>{% if (list.facilitatorstatus == 1) %} {{list.facilitatorDate|date("d/m/Y")}} {% endif %}</td>
                <td>{% if (list.facilitatorstatus == 1) %} Approved {% else %} Pending {% endif %}</td>
            {% endif %}
                
            {% if ('ROLE_ASSESSOR' in userRole) %}
            <td>{% if (list.assessorstatus == 1) %} {{list.assessorDate|date("d/m/Y")}} {% endif %}</td>
            <td>{% if (list.assessorstatus == 1) %} Approved {% else %} Pending {% endif %}</td>
            {% endif %}
            
            {% if ('ROLE_RTO' in userRole) %}
                <td>{% if (list.rtostatus == 1) %} {{list.rtoDate|date("d/m/Y")}} {% endif %}</td>
                <td>{% if (list.rtostatus == 1) %} Approved {% if (list.courseStatus == 0) %} &amp; Certified {% endif %} {% else %} Pending {% endif %}</td>
            {% endif %}
                
            <td>
                <a href="applicantDetails/{{list.courseCode}}/{{list.user.id}}" class="gq-ev-view-icon">
                    <button class="btn eye-btn fromBottom pull-right" data-toggle="modal" data-target="#edivenceModal" data-direction="bottom"><span class="hidden-xs"></span>View</button>
                </a>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td {% if ('ROLE_FACILITATOR' in userRole) %} colspan="4" {% else %} colspan="5" {% endif %} class="gq-tabs-no-content-text margin-top15">
            No Applicants Found</td>
    </tr>
{% endif %}
<!-- accordion ends here -->




{% if pageRequest == 'ajax' %}
    {% block javascripts %}
<script type="text/javascript">
    //$(".datepic").datepicker();
    $(".setNotes").click(function() {
        id = $(this).attr("id");
        var c = $('#div_' + id).hasClass("open");
        if (c == false) {
            $('#div_' + id).addClass('open');
        } else {
            $('#div_' + id).removeClass('open');
        }
    });
</script>
    {% endblock %}
{% endif %}