{% set userRole = app.security.getToken().getUser().getRoles() %}
<!-- accordion starts here -->
{% if applicantList %}
{% for key, list in applicantList %}
    <tr>
        <td class="col-md-2 col-lg-2"><a href="applicantDetails/{{list.courseCode}}/{{list.user.id}}" target="MyNewWindow">{{list.user.firstName}} {{list.user.lastName}}</a></td>        
        <td class="col-md-3 col-lg-3">{{list.courseCode}} {{list.courseName}}</td>
        {% if (status == 0) %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        {% set userId = list.user.id %}
        {% set id = list.id %}
        {% set courseCode = list.courseCode %}  
        {% set courseStatus = qualificationStatus[list.courseStatus]['status'] %}       
        <td class="col-md-2 col-lg-2">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ completeness(userId,courseCode) }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ completeness(userId,courseCode) }}"></div>
            </div>                        
            <div class="progress-copy">{{ completeness(userId,courseCode) }}</div>
        </td>
        {% endif %}
        {% endif %}
        
        {% set currUser = user_service.getCurrentUser.getId() %}      
        {% set toDoApplicantCount = user_service.getCheckTodoApplicant( currUser , list.id ) %} 
        {% set userId = list.user.id %}
        {% set id = list.id %}
        {% set courseCode = list.courseCode %}
        {% if (status == 0) %}
        {% if ('ROLE_ASSESSOR' in userRole) or ('ROLE_RTO' in userRole)%}           
            {% set remaingDays = user_service.getDaysRemaining(userId, list.courseCode,list.courseStatus ,list.assessorstatus,list.rtostatus ) %}
            {% set startDate = remaingDays|date('Y-m-d') %}
            {% set difference = date( 'now' | date() ).diff(date(startDate)) %}
            {% set leftDays = difference.days %}
        {% if ('ROLE_ASSESSOR' in userRole)  %}
             {% set workSpan = ass_workspan %}
        {% elseif ('ROLE_RTO' in userRole)  %}
            {% set workSpan = rto_workspan %}
        {% endif %}
            {% set remaining = workSpan - leftDays  %}
            {% set remaingraph = ((remaining*100)/workSpan)|round %}
        {% endif %}
        {% if ('ROLE_FACILITATOR' in userRole) %} 
            {% set remaining = timeRemaining(id) %}       
            {% if remaining > 0 %}
                {% set remaingraph = 100 - remaining %}  
            {% else %}
                {% set remaingraph = 0 %}
            {% endif %}        
         {% endif %}
        <td class="col-md-2 col-lg-2">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{remaingraph}}%"></div>
            </div>                        
            <div class="progress-copy {% if remaining > 0 %}{% else %} un-reviewed {%endif%}">{% if remaining > 0 %}{{remaining}} d {% elseif remaining == 0 %} 0d!{% else %}{{remaining}}d!{%endif%} </div>
        </td>
        
        {% endif %}
        {% if (status == 0) %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        <td class="col-md-2 col-lg-2">{{ courseStatus }}</td>
        <td><div class="dropdown keep-open" id="div_{{list.id}}">
                    <span class="dropdown-toggle " data-toggle="dropdown" id="{{list.id}}"><i class="material-icons">{% if toDoApplicantCount == 0 %}playlist_add{% else %} playlist_add_check{%endif%}</i></span>
                    <div class="dropdown-menu">
                            <textarea rows="3" placeholder="Notes" class="notes-area" id="notes_{{list.id}}"></textarea>
                            <div class="date_section clearfix">
                                    <input type="text" class="date_field form-control" id="remindDate_{{list.id}}" placeholder="Due Date" />
                            </div>
                            <button type="button" class="btn_red setData" userCourseId="{{list.id}}" listId="{{list.id}}">SET</button>
                    </div>
            </div></td>
        {% endif %}
        {% endif %}
                         
    </tr>
{% endfor %}
{% else %}
    <tr>
        <td {% if ('ROLE_RTO' in userRole) %} colspan="2" {% elseif (('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole)) %} colspan="4" {% else %} colspan="6" {% endif %}>
            {{no_applicants}}</td>
    </tr>
        {% endif %}

