{% set userRole = app.security.getToken().getUser().getRoles() %}
<!-- accordion starts here -->
{% if applicantList %}
    {% if applicantList|length > 0 and paginator.getTotalPages() > 1 %}
    <tr>
        <td class="gq-pagination-area" {% if ('ROLE_RTO' in userRole) %} colspan="4" {% else %} colspan="7" {% endif %}>
            {# display navigation for pages - paginator_navigator #}        
            {{ include('GqAusUserBundle:Paginator:ajax_paginator_navigator.html.twig', {'paginator' : paginator}) }}  
        </td>
    </tr>
    {% endif %}
{% for key, list in applicantList %}
    <tr>
        <td>{{list.user.userName}}</td>
        <td>{{list.courseCode}} {{list.courseName}}</td>
        {% if (status == 0) %}
    {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        <td style="text-align:center;">                         
        {% set userId = list.user.id %}
        {% set id = list.id %}
        {% set courseCode = list.courseCode %}
        {{ completeness(userId,courseCode) }}
        </td>
        <td>
            <div class="gq-acc-row-title gq-assessor-list-dropdown-wrap" id="div_{{list.id}}">
                <div class="gq-add-notes-icon-wrap setNotes" id="{{list.id}}">
                    <img src = "{{asset('public/images/applicant-list-add-notes-icon.png') }}" />
                </div>
                <div class="gq-assessor-list-dropdown">
                    <div class="caret-top"></div>
                    <div class="gq-applicant-list-notes-box">
                        <textarea class="notes-area" placeholder="Notes" id="notes_{{list.id}}"></textarea>
                    </div>
                    <div class="gq-applicant-list-due-date">
                        <div class="col-xs-8 no-padding">
                            <input type="text" class="datepic date-area" id="remindDate_{{list.id}}" placeholder="Due Date" /></div>
                        <div class="col-xs-4 no-padding"><a class="pull-right"><img src="{{ asset('public/images/applicant-lists-grey-date-icon.png') }}" id="{{list.id}}" class="date-icon" /></a></div>
                    </div>
                    <div class="gq-applicant-list-notes-box">
                        <button class="btn btn-red setData" userCourseId="{{list.id}}">SET</button>
                    </div>
                </div>
            </div>
        </td>
        <td>{{ timeRemaining(id) }}</td>
    {% endif %}
        {% endif %}
        <td>
            <a href="applicantDetails/{{list.courseCode}}/{{list.user.id}}" class="gq-ev-view-icon">
                <button class="btn eye-btn fromBottom pull-right" data-toggle="modal" data-target="#edivenceModal" data-direction="bottom"><span class="hidden-xs"></span>VIEW</button>
            </a>
        </td>
    </tr>
            {% endfor %}
            {% else %}
    <tr>
        <td {% if ('ROLE_RTO' in userRole) %} colspan="3" {% else %} colspan="6" {% endif %} class="gq-tabs-no-content-text margin-top15">
            No Applicants Found</td>
    </tr>
        {% endif %}
<!-- accordion ends here -->




{% if pageRequest == 'ajax' %}
    {% block javascripts %}
<script type="text/javascript">
    //$(".datepic").datepicker();
    $(".setNotes").click(function() {
        id = $(this).attr("id");
        var c = $('#div_' + id).hasClass("open");
        if (c == false) {
            $('#div_' + id).addClass('open');
        } else {
            $('#div_' + id).removeClass('open');
        }
    });
</script>
    {% endblock %}
{% endif %}