{% set userRole = app.security.getToken().getUser().getRoles() %}
<!-- accordion starts here -->
{% if applicantList %}
{% for key, list in applicantList %}
    <tr>
        <td class="col-md-2 col-lg-2"><a href="applicantDetails/{{list.courseCode}}/{{list.user.id}}" >{{list.user.firstName}} {{list.user.lastName}}</a></td>        
        <td class="col-md-3 col-lg-3">{{list.courseCode}} {{list.courseName}}</td>
        {% if (status == 0) %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        {% set userId = list.user.id %}
        {% set id = list.id %}
        {% set courseCode = list.courseCode %}  
        {% set courseStatus = qualificationStatus[list.courseStatus]['status'] %}
        <td class="col-md-2 col-lg-2">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ completeness(userId,courseCode) }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ completeness(userId,courseCode) }}"></div>
            </div>                        
            <div class="progress-copy">{{ completeness(userId,courseCode) }}</div>
        </td>
        {% endif %}
        {% endif %}
        {% if (status == 0) %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) or ('ROLE_RTO' in userRole)%}
        {% set userId = list.user.id %}
        {% set id = list.id %}
        {% set courseCode = list.courseCode %}        
        {% set leftDays = timeRemaining(id) %} 
        {% if leftDays > 0 %}
            {% set remaingraph = 90 - leftDays %}  
        {% else %}
            {% set remaingraph = 0 %}
        {% endif %}
        <td class="col-md-2 col-lg-2">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{remaingraph}}%"></div>
            </div>                        
            <div class="progress-copy un-reviewed">{% if leftDays > 0 %}{{leftDays}} d {% else %} 0d!{%endif%} </div>
        </td>
        {% endif %}
        {% endif %}
        {% if (status == 0) %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        <td>{{ courseStatus }}</td>
        <td><a href="#"><i class="material-icons">playlist_add</i></a></td>
        {% endif %}
        {% endif %}
                         
    </tr>
{% endfor %}
{% else %}
    <tr>
        <td {% if ('ROLE_RTO' in userRole) %} colspan="2" {% elseif (('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole)) %} colspan="4" {% else %} colspan="6" {% endif %}>
            No Applicants Found</td>
    </tr>
        {% endif %}
<!-- accordion ends here -->

{% if pageRequest == 'ajax' %}
    {% block javascripts %}
<script type="text/javascript">
    //$(".datepic").datepicker();
    $(".setNotes").click(function() {
        id = $(this).attr("id");
        var c = $('#div_' + id).hasClass("open");
        if (c == false) {
            $('#div_' + id).addClass('open');
        } else {
            $('#div_' + id).removeClass('open');
        }
    });
</script>
    {% endblock %}
{% endif %}