{% set userRole = app.security.getToken().getUser().getRoles() %}
<!-- accordion starts here -->

{% if applicantList %}
{% for key, list in applicantList %}
{% set id = list.id %}
{% set ccode = list.courseCode%}
{% set cname = list.courseName %}
    {% set applicantLogged = user_service.getCourseUnitsByCourseCode(list.user.id,ccode)%}
    <tr class="{% if('ROLE_FACILITATOR' in userRole and list.facilitatorread == 0)%} text-bold {% elseif('ROLE_ASSESSOR' in userRole and list.assessorread == 0) %}text-bold {% elseif('ROLE_RTO' in userRole and list.rtoread == 0) %} text-bold {% else %} {% endif %}">
        <td class="col-md-2 col-lg-2"><a class="firstName" {%if applicantLogged > 0%}href="applicantDetails/{{ccode}}/{{list.user.id}}" target="_blank"{%endif%}>{{list.user.firstName}} {{list.user.lastName}}</a></td>        
        <td class="col-md-3 col-lg-3 qualification">{{ccode}} {{list.courseName}}</td>
        <td class="email hide">{{list.user.email}}</td>
        <td class="address hide">{{list.user.address.address}}</td>
        <td class="suburb hide">{{list.user.address.suburb}}</td>
        <td class="pincode hide">{{list.user.address.pincode}}</td>
        <td class="state hide">{{list.user.address.state}}</td>
         <td class="phone hide">{{list.user.phone}}</td>
        {% if (status == 0) %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        {% set userId = list.user.id %}
        {% set id = list.id %} 
        {% set evidenceCompleteness = courses_service.getEvidenceByCourse(userId, list.courseCode) %}
        <td class="col-md-2 col-lg-2 evidence">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{evidenceCompleteness}}" aria-valuemin="0" aria-valuemax="100" style="width:{{evidenceCompleteness}}"></div>
            </div>                        
            <div class="progress-copy">{{evidenceCompleteness}}</div>
        </td>
        {% endif %}
        {% endif %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) or ('ROLE_RTO' in userRole)%}
        {% set currUser = app.security.getToken().getUser().getId() %}      
        {% set toDoApplicantCount = user_service.getCheckTodoApplicant( currUser , list.id ) %} 
        {% set userId = list.user.id %}
        {% set id = list.id %}
        
     {% if (status == 0) %} 
        
        {% set remaingDays = user_service.getDaysRemainingFromRole(userId, list.courseCode, userRole[0]) %}
        {% set output = remaingDays|split('&&') %}
        {% set workSpan = user_service.getRoleWiseWorkSpan(userRole[0])%}
        {% set remaingVal = (100/workSpan)*(workSpan-output[0])%}
        <td class="col-md-2 col-lg-2 daysleft">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{% if remaingVal > 0 %}{{ remaingVal }}{%else%} 0 {% endif %}%"></div>
            </div>   
            <input type="hidden" value="{{status}}" id="filterByStatus">
            <div class="progress-copy">{% if output[0] > 0 %}{{output[0]}} d {% else %} 0d!{%endif%} </div>
        </td>
      {% endif %}
        {% endif %}
        {% if (status == 0) %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) or ('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole)%}
        {% set courseStatus = qualificationStatus[list.courseStatus]['status'] %}  
        <td class="col-md-2 col-lg-2 status">{{ courseStatus }}
         </td>
         {% endif %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
         {% set remStatus = user_service.checkReminderExists(currUser, list.id, 'portfolio') %}   
        
        <td class="{{ remStatus.portfolioIconClass }} portfolioIcon">            
            <span class="clearfix">
            <div class="dropdown keep-open" id="div_{{list.id}}">
                    <span class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">{{ remStatus.playlistIcon }}</i></span>
                    <div class="dropdown-menu {{ remStatus.calendarClass }}">
                            <textarea rows="3" placeholder="Notes" class="notes-area" id="notes_{{list.id}}"></textarea>
                            <div class="date_section clearfix">
                                    <input type="text" class="date_field form-control" id="remindDate_{{list.id}}" readonly />
									
                            </div>
                            <button type="button" class="btn_red setData" userCourseId="{{list.id}}" listId="{{list.id}}" remindertypeid="{{list.id}}" remindertype="portfolio">SAVE</button>
                    </div>
            </div>
          <span>  
        </td>
        {% endif %}
        {% if ('ROLE_MANAGER' in userRole) %}
         <td>
             <a href="javascript:void(0)" data-toggle="modal" data-target="#update_popup_{{id}}"><i class="material-icons">control_point</i></a>
             {% if list.facilitator is defined and list.facilitator != null and list.facilitator.id!=0 %} <span class="check"><i class="material-icons">check</i></span> {% endif %}
             <!-- Modal -->
        {% set courseFacilitator = user_service.getFacilitaorInfo('ROLE_FACILITATOR') %}
        
       <div class="modal fade update_popup" id="update_popup_{{id}}" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                            <div class="modal-header">
                                    <button type="button" class="close" onclick="return assignfacvalidate();">&times;</button>
                                    <h5 class="modal-title">Select Facilitator</h5>
                            </div>
                            <div class="modal-body">
								<div id='pwd_error_{{id}}'></div>
                                <div id='profile_suc_msg2_{{id}}'></div>
                                    <form class="form">
                                        {% if courseFacilitator %}
                                        <select class="form-control" id="fac_{{id}}">
                                                    <option value="0">Select</option>
                                            {% for key,faclist in courseFacilitator%}
                                                    <option value="{{faclist.id}}" {% if list.facilitator is defined and list.facilitator != null and list.facilitator.id!=0 and list.facilitator.id == faclist.id %} selected {% endif %}>{{faclist.firstname}} {{faclist.lastname}}</option>
                                                   {% endfor %}
                                            </select>
                                        {% endif %}
                                        {% set valId = list.id %}
                                           <button class="btn btn_red update_fac_btn"  onclick="return updateFacilitator('{{ccode}}',{{list.user.id}},{{valId}},'{{list.user.email}}','{{cname}}');">UPDATE</button>
                                    </form>
                            </div>
                    </div>
            </div>
        </div>
         </td>
         <td>
             <a href="javascript:void(0)" data-toggle="modal" data-target="#update_assessor_{{id}}"><i class="material-icons">control_point</i></a>
             {% if list.assessor is defined and list.assessor != null and list.assessor.id!=0  %} <span class="check"><i class="material-icons">check</i></span> {% endif %}
             <!-- Modal -->
        {% set courseAssessor = user_service.getAssessorInfo('ROLE_ASSESSOR') %}
        
       <div class="modal fade update_popup" id="update_assessor_{{id}}" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                            <div class="modal-header">
                                    <button type="button" class="close" onclick="return assignfacvalidate();">&times;</button>
                                    <h5 class="modal-title">Select Assessor</h5>
                            </div>
                            <div class="modal-body">
								<div id='pwd_error2_{{id}}'></div>
                                <div id='profile_suc_msg3_{{id}}'></div>
                                    <form class="form">
                                        {% if courseAssessor %}
                                        <select class="form-control" id="ass_{{id}}">
                                                    <option value="0">Select</option>
                                            {% for key,faclist in courseAssessor%}
                                                    <option value="{{faclist.id}}" {% if list.assessor is defined and list.assessor != null and list.assessor.id!=0 and list.assessor.id == faclist.id %} selected {% endif %}>{{faclist.firstname}} {{faclist.lastname}}</option>
                                                   {% endfor %}
                                            </select>
                                        {% endif %}
                                            <button class="btn btn_red update_ass_btn" onclick="return updateAssessor('{{ccode}}',{{list.user.id}},{{id}});">UPDATE</button>
                                    </form>
                            </div>
                    </div>
            </div>
        </div>
         </td>
         <td>
             <a href="javascript:void(0)" data-toggle="modal" data-target="#update_rto_{{id}}"><i class="material-icons">control_point</i></a>
             {% if list.rto is defined and list.rto != null and list.rto.id!=0 %}<span class="check"><i class="material-icons">check</i></span>{% endif %}
             <!-- Modal -->
        {% set courseRto = user_service.getRtoInfo('ROLE_RTO') %}
        
       <div class="modal fade update_popup" id="update_rto_{{id}}" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                            <div class="modal-header">
                                    <button type="button" class="close" onclick="return assignfacvalidate();">&times;</button>
                                    <h5 class="modal-title">Select Rto</h5>
                            </div>
                            <div class="modal-body">
								<div id='pwd_error3_{{id}}'></div>
                                <div id='profile_suc_msg4_{{id}}'></div>
                                    <form class="form">
                                        {% if courseRto %}
                                        <select class="form-control" id="rto_{{id}}" >
                                                    <option value="0">Select</option>
                                            {% for key,faclist in courseRto%}
                                                    <option value="{{faclist.id}}" {% if list.rto is defined and list.rto != null and list.rto.id!=0 and list.rto.id == faclist.id %} selected {% endif %}>{{faclist.firstname}} {{faclist.lastname}}</option>
                                                   {% endfor %}
                                            </select>
                                        {% endif %}
                                            <button class="btn btn_red update_rto_btn" onclick="return updateRto('{{ccode}}',{{list.user.id}},{{id}});">UPDATE</button>
                                    </form>
                            </div>
                    </div>
            </div>
        </div>
         </td>
         {% endif %}
        {% endif %}
                         
    </tr>   
    
{% endfor %}
    
{% else %}
    <tr>
        <td colspan="6">
            {{no_applicants}}</td>
    </tr>
    
        {% endif %}
    {% if (status == 1) and (paginator.count > 1)%}
    <tr>
        <td colspan="6" class="gq-pagination-area">
            {# display navigation for pages - paginator_navigator #}        
          {{ include('GqAusUserBundle:Paginator:paginator_navigator.html.twig', {'paginator' : paginator}) }}
        </td>
    </tr>
    {% endif %}
    
   
    

