{% set userRole = app.security.getToken().getUser().getRoles() %}
<!-- accordion starts here -->

{% if applicantList %}
{% for key, list in applicantList %}
{% set id = list.id %}
{% set ccode = list.courseCode%}
    <tr>
        <td class="col-md-2 col-lg-2 firstName"><a href="applicantDetails/{{ccode}}/{{list.user.id}}" target="_blank">{{list.user.firstName}} {{list.user.lastName}}</a></td>        
        <td class="col-md-3 col-lg-3 qualification">{{ccode}} {{list.courseName}}</td>
        {% if (status == 0) %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        {% set userId = list.user.id %}
        {% set id = list.id %} 
             
        <td class="col-md-2 col-lg-2 evidence">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ completeness(userId,ccode) }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ completeness(userId,ccode) }}"></div>
            </div>                        
            <div class="progress-copy">{{ completeness(userId,ccode) }}</div>
        </td>
        {% endif %}
        {% endif %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) or ('ROLE_RTO' in userRole)%}
        {% set currUser = app.security.getToken().getUser().getId() %}      
        {% set toDoApplicantCount = user_service.getCheckTodoApplicant( currUser , list.id ) %} 
        {% set userId = list.user.id %}
        {% set id = list.id %}
        
     {% if (status == 0) %} 
        
        {% set remaingDays = list.leftdays %}
        {% set output = remaingDays|split('&&') %}
        <td class="col-md-2 col-lg-2 daysleft">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{% if output[1] >0 %}{{ output[1] }}{%else%} 0 {% endif %}%"></div>
            </div>   
            
            <div class="progress-copy">{% if output[0] > 0 %}{{output[0]}} d {% else %} 0d!{%endif%} </div>
        </td>
      {% endif %}
        {% endif %}
        {% if (status == 0) %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) or ('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole)%}
        {% set courseStatus = qualificationStatus[list.courseStatus]['status'] %}  
        <td class="col-md-2 col-lg-2 status">{{ courseStatus }}
         </td>
         {% endif %}
        {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        <td><div class="dropdown keep-open" id="div_{{list.id}}">
                    <span {% if toDoApplicantCount == 0 %}class="dropdown-toggle " data-toggle="dropdown"{% endif %} id="{{list.id}}">{% if toDoApplicantCount == 0 %}<i class="material-icons">playlist_add </i>{% else %} <i class="material-icons" style="color:#ccc;">playlist_add_check{%endif%}</i></span>
                    <div class="dropdown-menu">
                            <textarea rows="3" placeholder="Notes" class="notes-area" id="notes_{{list.id}}"></textarea>
                            <div class="date_section clearfix">
                                    <input type="text" class="date_field form-control" id="remindDate_{{list.id}}" placeholder="Due Date" />
                            </div>
                            <button type="button" class="btn_red setData" userCourseId="{{list.id}}" listId="{{list.id}}" remindertypeid="{{list.id}}" remindertype="portfolio">SAVE</button>
                    </div>
            </div></td>
        {% endif %}
        {% if ('ROLE_MANAGER' in userRole) %}
         <td>
             <a href="javascript:void(0)" data-toggle="modal" data-target="#update_popup_{{id}}"><i class="material-icons">control_point</i></a>
             <!-- Modal -->
        {% set courseFacilitator = user_service.getFacilitaorInfo(ccode, list.user.id) %}
       
        <div class="modal fade update_popup" id="update_popup_{{id}}" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                            <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h5 class="modal-title">Select Facilitator</h5>
                            </div>
                            <div class="modal-body">
                                <div id='profile_suc_msg2_{{id}}'></div>
                                    <form class="form">
                                        {% if facilitators %}
                                        <select class="form-control" id="{{id}}">
                                                    <option>Select</option>
                                            {% for key,faclist in facilitators%}
                                                    <option value="{{faclist.id}}" {% if courseFacilitator[0][1] == faclist.id%} selected {% else %} {% endif %}>{{faclist.firstname}} {{faclist.lastname}}</option>
                                                   {% endfor %}
                                            </select>
                                        {% endif %}
                                            <button class="btn btn_red" onclick="return updateFacilitator('{{ccode}}',{{list.user.id}},{{id}});">UPDATE</button>
                                    </form>
                            </div>
                    </div>
            </div>
        </div>
         </td>
         {% endif %}
        {% endif %}
                         
    </tr>   
    
{% endfor %}
    
{% else %}
    <tr>
        <td {% if ('ROLE_RTO' in userRole) %} colspan="2" {% elseif (('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole)) %} colspan="4" {% else %} colspan="6" {% endif %}>
            {{no_applicants}}</td>
    </tr>
    
        {% endif %}
    
                
                              

