{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Applicant Details{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/pages/all/qualififation.css') }}">
{% endblock %}
{% block navmenu %}
    <header>
        <section class="container">
            <div class="portfolio-name"><strong>{{userName}}</strong></div>
            <nav>
                 <ul class="nav">
                    <li><a class="active" href="#"><i class="material-icons">school</i><span>Qualification</span></a></li>
                    <li><a href="#"><i class="material-icons">cloud_upload</i><span>Files</span></a></li>
                    <li><a href="#"><i class="material-icons">account_circle</i><span>Profile</span></a></li>
                </ul>            
            </nav>
        </section>
    </header>
    <div class="presentation-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-11">
                    <p>
                        <span>{% if courseInfo.name %} {{courseInfo.name}} {% endif %}</span>
                        <span>{% if courseInfo.id %} {{courseInfo.id}} {% endif %}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    
{% block body %}
    {% set userRole = app.security.getToken().getUser().getRoles() %}
    {% set firstName = app.security.getToken().getUser().getFirstName() | capitalize %}
    {% set lastName = app.security.getToken().getUser().getLastName() | capitalize %}
    <!-- Small Screens HTML -->
    <div class="hidden-lg body_section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 nopadding col-md-6 col-lg-4">
                    <div class="progres_bar_section">
                        <div class="progres-content">
                            <p class="title">Evidence Submitted - {{evidenceCompleteness}} Complete </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{evidenceCompleteness}}" aria-valuemin="0" aria-valuemax="100" style="width:{{evidenceCompleteness}}">
                                  <span class="sr-only">{{evidenceCompleteness}} Complete</span>
                                </div>
                            </div>    
                        </div>
                        <div class="progres-content">
                            <p class="title">To Do Today - 30% Complete</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  <span class="sr-only">70% Complete</span>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
                    <div class="panel-group" id="accordion1">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading white clearfix">
                                <h4 class="panel-title">
                                    <span>Submitted to RTO</span>
                                    <a href="#nested-collapseSTR" data-parent="#nested" data-toggle="collapse" class="btn-accordion">
                                        <i class="material-icons down">keyboard_arrow_down</i>
                                    </a>                                
                                </h4>
                            </div>
                            
                            <div class="panel-collapse collapse" id="nested-collapseSTR">
                                <div class="panel-body">
                                    <p class="panel-copy">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </p>
                                </div>
                            </div>
                        </div>            
            {% set i = 1 %}
                    {% if courseInfo %}
                        {% if courseInfo.Units %}
                            {% if courseInfo.Units.Unit %}
                        <div class="panel panel-default">    
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title">
                                    <span>{{coreUnitsCount}} CORE UNITS <strong>Competent</strong></span>
                                    <a class="btn-accordion collapsed" data-toggle="collapse" data-parent="#accordion" href="#xs-collapseTwo">
                                        <i class="material-icons down">keyboard_arrow_down</i>
                                    </a>                                
                                </h4>
                            </div>
                            <div id="xs-collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="panel-group" id="nested">
                                            {% set flagCore = '0' %}
                                        {% set unitsData = courseInfo.Units.Unit %}
                                        {% if courseInfo.Units.Unit.id is defined %}
                                            {% set unitsData = {0: courseInfo.Units.Unit} %}
                                        {% endif %}
                                        {% for key, units in unitsData %}
                                            {% if units.type == 'core' %}
                                        {% set flagCore = '1' %}
                                                <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                                <div class="panel-title">
                                                                        <div class="panle_body_content">
                                                                                <p> <span class="tag-id">{{units.id}}</span> </p>
                                                                                <p>{{units.name}}</p>
                                                                        </div>
                                                                        <a data-toggle="collapse" data-parent="#nested" href="#xs-nested-collapse{{units.id}}">
                                                                                <i class="material-icons keyboard_arrow_right">keyboard_arrow_right</i>
                                                                        </a>
                                                                </div>
                                                        </div>
                                                        <div id="xs-nested-collapse{{units.id}}" class="panel-collapse collapse">
                                                            <div class="panel-body">{% if units.details %} {{units.details|raw}}{% endif %} </div>
                                                        </div>
                                                </div>
                                            {% set i = i+1 %}
                                        {% endif %}
                                        {% endfor %}
                                        {% if flagCore == '0' %}
                                                <div class="gq-acc-row-title load-icon-tr">No Core Units found</div>
                                        {% endif %}
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title">
                                    <span>{{electiveUnitsCount}} ELECTIVE UNITS - <strong>Competent</strong></span>
                                    <a class="btn-accordion collapsed" data-toggle="collapse" data-parent="#accordion" href="#xs-collapseThree">
                                        <i class="material-icons down">keyboard_arrow_down</i>
                                    </a>                                
                                </h4>
                            </div>
                            <div id="xs-collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panel-group" id="nested">
                                {% if courseInfo.Units %}
                                        {% if courseInfo.Units.Unit %}
                                            {% set flagElective = '0' %}
                                            {% set unitsData = courseInfo.Units.Unit %}
                                            {% if courseInfo.Units.Unit.id is defined %}
                                            {% set unitsData = {0: courseInfo.Units.Unit} %}
                                            {% endif %}
                                            {% for key, units in unitsData %}
                                                {% if units.type == 'elective' %}
                                                    {% set unitId = units.id %}
                                                    {% if unitId|trim in electiveUnits|keys %} 
                                                    {% set flagElective = '1' %}
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="panle_body_content">
                                                        <p> <span class="tag">Competent</span> </p>
                                                        <p> <span class="tag-id">{{units.id}}</span> </p>
                                                        <p>{{units.name}} </p>
                                                    </div>
                                                    <a data-toggle="collapse" data-parent="#nested" href="#xs-nested-collapse{{units.id}}">
                                                        <i class="material-icons keyboard_arrow_right">keyboard_arrow_right</i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="xs-nested-collapse{{units.id}}" class="panel-collapse collapse">
                                                <div class="panel-body">{% if units.details %} {{units.details|raw}}{% endif %}</div>
                                            </div>
                                        </div>
                                                {% set i = i+1 %}
                                                {% else %}
                                                {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if flagElective == '0' %}
                                                    <div class="gq-acc-row-title load-icon-tr">No Elective Units found</div>
                                            {% endif %}
                                         {% endif %}
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif%}
                    {% endif%}
                {% endif%}
                        <div class="gqa-btn-group">
                            <div class="btn">
                                <div class="btn-msg">
                                    <a href="#">Message</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 nopadding col-md-6 col-lg-4">
                    <div class="review">
                        <div class="review_content">
                            <p><strong class="text-uppercase">Rto</strong> - {{lastName}} {{firstName}} {{rtoName}}</p>
                        </div>
                        <div class="review_profile-pic"><span></span></div>
                    </div>
                    <div class="review">
                        <div class="review_content">
                            <p><strong class="text-uppercase">{{facilitatorName}} is </strong> {{userName}}'s CSR for this course</p>
                        </div>
                        <div class="review_profile-pic">
                            <span><img class="profile-img" src="{% if facilitatorImage %} {{ facilitatorImage }} {% endif %}" /></span>
                        </div>
                    </div>
                    <div class="review">
                        <div class="review_content"><p><strong class="text-uppercase">{{assessorName}} is </strong> {{userName}}'s assessor for this cource</p></div>
                        <div class="review_profile-pic"><span><img class="profile-img" src="{% if assessorImage %} {{ assessorImage }} {% endif %}" /></span></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 nopadding col-md-6 col-lg-4">
                    {% if ('ROLE_RTO' in userRole) %}
                        {% if (rtoUnitStatus == '1') %}
                            <div class="form-group form-group-lg">
                            {% if ( courseStatus == '15') %}
                                <button type="submit" courseCode = "{{courseInfo.id}}" applicantId="{{userId}}" id="approve-for-certification" class="btn btn-green approve-for-certification-btn">Approved</button>
                             {% elseif ( courseStatus == '0' or courseStatus == '16') %}
                                <button type="button" class="btn btn-danger">Not yet approved</button>                                 
                            {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>    
    </div>
    <!-- Small Screens HTML End -->
    
    <!-- Large Screens HTML -->
    <div class="hidden-xs body_section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 nopadding col-md-6 col-lg-4">
                    <div class="progres_bar_section">
                        <div class="progres-content">
                            <p class="title">Evidence Submitted - {{evidenceCompleteness}} Complete </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{evidenceCompleteness}}" aria-valuemin="0" aria-valuemax="100" style="width:{{evidenceCompleteness}}">
                                  <span class="sr-only">{{evidenceCompleteness}} Complete</span>
                                </div>
                            </div>                        
                        </div>
                        {% set startDate = daysRemaining|date('Y-m-d') %}
                        {% set difference = date( 'now' | date() ).diff(date(startDate)) %}
                        {% set leftDays = difference.days %}
                        {% set remaining = rto_workspan - leftDays  %}
                        {% set remaingraph = ((remaining*100)/rto_workspan)|round %}
                        <div class="progres-content">
                            <p class="title">Days remaining : {{ remaining }} days</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{remaingraph}}%">
                                  <span class="sr-only">{{remaingraph}}% Complete</span>
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="review">
                        <div class="review_content">
                            <p><strong class="text-uppercase">Rto</strong> - {{lastName}} {{firstName}}</p>
                        </div>
                        <div class="review_profile-pic"><span></span></div>
                    </div>
                    <div class="review">
                        <div class="review_content">
                            <p><strong class="text-uppercase"> {% if ('ROLE_FACILITATOR' in userRole) %} You {% else %} {{facilitatorName}}{% endif %} is </strong> {{userName}}'s CSR for this course</p>
                        </div>
                        <div class="review_profile-pic"><span><img class="profile-img" src="{% if facilitatorImage %} {{ facilitatorImage }} {% endif %}" /></span></div>
                    </div>
                    <div class="review">
                        <div class="review_content">
                                <p><strong class="text-uppercase">{{assessorName}} is </strong> {{userName}}'s assessor for this cource</p>
                        </div>
                        <div class="review_profile-pic"><span><img class="profile-img" src="{% if assessorImage %} {{ assessorImage }} {% endif %}" /></span></div>
                    </div>
                    {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
                    <div class="comments">
                        <div class="panel-group">
                            <div class="panel-heading">
                                <h4 class="panel-title">Notes <span class="count">({{notes|length}})</span></h4>
                            </div>
                            {% for note in notes %} 
                            <div class="panel-content">
                                <img src="{% if userImage %} {{ userImage }} {% endif %}" class="profile-img">
                                <span><strong>{{note.userName}}</strong></span>
                                <span class="date-time">
                                    <span class="date">{{ note.created|date('m/d/Y')}}</span>
                                    <span class="time">{{ note.created|date('H:i')}}</span>
                                </span>
                                <p>{{note.note}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% if ('ROLE_RTO' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
                        <div class="btn">
                            <i class="material-icons">file_download</i>
                            <a href ="javascript:void(0)" id="download_profile" userid="{{userId}}" course_code="{{courseInfo.id}}">Download complete Portfolio</a>
                        </div>
                    {% endif %}
                    {% if ('ROLE_FACILITATOR' in userRole) %}
                        <div class="form-group form-group-lg">
                            <form action="#" class="form">
                                <button type="button" class="btn btn-danger">Submit to Assessor</button>
                            </form>
                        </div>
                    {% endif %}
                    {% if ('ROLE_RTO' in userRole) %}
                        {% if (rtoUnitStatus == '1') %}
                            <div class="form-group form-group-lg">
                            {% if ( courseStatus == '15') %}
                                <button type="submit" courseCode = "{{courseInfo.id}}" applicantId="{{userId}}" id="approve-for-certification" class="btn btn-green approve-for-certification-btn">Approved</button>
                             {% elseif ( courseStatus == '0' or courseStatus == '16') %}
                                <button type="button" class="btn btn-danger">Not yet approved</button>                                 
                            {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading white clearfix">
                                <h4 class="panel-title"><span>{{ statusList[courseStatus]['status'] }}</span>
                                    <a class="btn-accordion" data-toggle="collapse" data-parent="#nested" href="#nested-collapseSTR">
                                        <i class="material-icons down">keyboard_arrow_down</i>
                                    </a>                                
                                </h4>
                            </div>
                        </div>
                {% set i = 1 %}
                    {% if courseInfo %}
                        {% if courseInfo.Units %}
                            {% if courseInfo.Units.Unit %}
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title"><span>{{coreUnitsCount}} CORE UNITS</span>
                                            <a class="btn-accordion collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    <i class="material-icons down">keyboard_arrow_down</i>
                                            </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="panel-group" id="nested">
                                            {% set flagCore = '0' %}
                                            {% set unitsData = courseInfo.Units.Unit %}
                                            {% if courseInfo.Units.Unit.id is defined %}
                                                {% set unitsData = {0: courseInfo.Units.Unit} %}
                                            {% endif %}
                                            {% for key, units in unitsData %}
                                                {% if units.type == 'core' %}
                                            {% set flagCore = '1' %}
                                            {% set approvalStatus = user_service.getUnitStatusByRoleWise( userId, userRole[0], units.id, courseInfo.id ) %}
                                            {% set evidenceFiles  = user_service.getEvidenceForUnit(courseInfo.id, units.id, userId) %}
                                            {% set evidenceCount = evidenceFiles['0']['noFiles'] %}
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                        <div class="panle_body_content">
                                                            <p> <span class="tag status {% if approvalStatus == 1 %} in-progress {% elseif(evidenceCount > 0) %} done {% endif%}">
                                                                {% if approvalStatus == 1 %} Satisfactory {% elseif(evidenceCount > 0) %} Submitted {% endif%}</span> </p>
                                                            <p> <span class="tag-id">{{units.id}}</span> </p>
                                                            <p><a href="/courseunitDetails/{{ courseInfo.id  }}/{{ units.id }}/{{userId}}">{{units.name}}</a></p>
                                                        </div>
                                                        <a data-toggle="collapse" data-parent="#nested" href="#nested-collapse{{units.id}}">
                                                                <i class="material-icons keyboard_arrow_right">keyboard_arrow_right</i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="nested-collapse{{units.id}}" class="panel-collapse collapse">
                                                    <div class="panel-body">{% if units.details %} {{units.details|raw}}{% endif %} </div>
                                                </div>
                                            </div>
                                            {% set i = i+1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if flagCore == '0' %}
                                                <div class="gq-acc-row-title load-icon-tr">No Core Units found</div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title"><span>{{electiveUnitsCount}} ELECTIVE UNITS</span>
                                        <a class="btn-accordion collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                <i class="material-icons down">keyboard_arrow_down</i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="panel-group" id="nested">
                                    {% if courseInfo.Units %}
                                        {% if courseInfo.Units.Unit %}
                                            {% set flagElective = '0' %}
                                            {% set unitsData = courseInfo.Units.Unit %}
                                            {% if courseInfo.Units.Unit.id is defined %}
                                            {% set unitsData = {0: courseInfo.Units.Unit} %}
                                            {% endif %}
                                            {% for key, units in unitsData %}
                                                {% if units.type == 'elective' %}
                                                    {% set unitId = units.id %}
                                                    {% if unitId|trim in electiveUnits|keys %} 
                                                    {% set flagElective = '1' %}
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <div class="panel-title">
                                                                <div class="panle_body_content">
                                                                    <p> <span class="tag-id">{{units.id}}</span> </p>
                                                                    <p><a href="#">{{units.name}}</a></p>
                                                                </div>
                                                                <a data-toggle="collapse" data-parent="#nested" href="#nested-collapse{{units.id}}">
                                                                        <i class="material-icons keyboard_arrow_right">keyboard_arrow_right</i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div id="nested-collapse{{units.id}}" class="panel-collapse collapse">
                                                            <div class="panel-body">{% if units.details %} {{units.details|raw}}{% endif %}</div>
                                                        </div>
                                                    </div>
                                                    {% set i = i+1 %}
                                                    {% else %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if flagElective == '0' %}
                                                    <div class="gq-acc-row-title load-icon-tr">No Elective Units found</div>
                                            {% endif %}
                                         {% endif %}
                                    {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                {% endif %}
                    <div class="gqa-btn-group">
                        <div class="row no-gutter">
                            <div class="col-md-{% if ('ROLE_RTO' in userRole) %}12{% else %}4{% endif%} col-lg-{% if ('ROLE_RTO' in userRole) %}12{% else %}4{% endif%}">
                                <div class="btn">
                                    <i class="material-icons">message</i>
                                    <a href="#">Message</a>
                                </div>
                            </div>
                            {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
                                <div class="col-md-4 col-lg-4">
                                    <div class="btn">
                                        <i class="material-icons">create</i>
                                        <a href="#">Note</a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">                                
                                    <div class="btn">
                                        <i class="material-icons">playlist_add</i>
                                        <a href="#">To do list</a>
                                    </div>
                                </div>  
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Larg Screens HTML End -->

{% endblock %}
