{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Applicant Details{% endblock %}
{% block stylesheets %}
<style>
    .modal.fade:not(.in).bottom .modal-dialog {
        -webkit-transform: translate3d(0, 125%, 0);
        transform: translate3d(0, 125%, 0);
    }
</style>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
{% endblock %}
{% block body %}

{% set userRole = app.security.getToken().getUser().getRoles() %}
<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h1 class="gq-dashboard-title">Applicant Details</h1>
            <h6 class="gq-dashboard-title-desc"></h6>
        </div>
        {% if ('ROLE_RTO' in userRole) or ('ROLE_ASSESSOR' in userRole) %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h6 class="gq-assessor-title-download text-right"><a href ="javascript:void(0)" id="download_profile" userid="{{userId}}" course_code="{{courseInfo.id}}"> Download Portfolio<span class="gq-assessor-title-download-icon"></span></a></h6>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 colxs-12">
            <div class="gq-dashboard-box-1x"> <!-- class "gq-dashboard-bg-img3" added for background image -->
                <div class="gq-course-details-title-wrap">
                    <div class="gq-dashboard-box-title">{% if courseInfo.name %} {{courseInfo.id}} {{courseInfo.name}} {% endif %}</div>
                </div>
                <div class="gq-dashboard-box-content gq-assessor-appl-details">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 no-padding">
                            <div class="gq-assessor-appl-profile-pic">
                                <div class="gq-assessor-profile-img" style="background-image: url(&quot;{{ userImage }}&quot;);"></div>
                                <div class="gq-assessor-profile-img-txt">{{userName}}</div>
                                <div class="gq-assessor-profile-send-msg">
                                    
                                    <form action="{{ base_url }}compose" method="post" name="composeevform">
                                        <input type="hidden" name="course-name" value="{{ courseInfo.name }}">
                                        <input type="hidden" name="course-code" value="{{ courseCode }}">
                                        <input type="hidden" name="userid" value="{{userId}}">
                                        <button type="submit" class="btn btn-red"><span class="gq-assessor-profile-send-msg-icon"></span>Send Message</button>
                                    </form>
                                    <div id="approve_sectionajax">
                                            <button type="submit" courseCode = "{{courseInfo.id}}" applicantId="{{userId}}" id="approve-for-certification-ajax" class="btn btn-green approve-for-certification-btnajax" style="display:none;">Issue Certificate</button>
                                    </div>
                                    <div id="approve_section-status" style="display:none;">
                                            <span>Issued and Certified!</span>
                                    </div>
                                    {% if ('ROLE_RTO' in userRole) %}
                                        {% if (rtostatus == '1') %}
                                            <div id="approve_section">
                                                {% if (courseStatus == '2') %}
                                                <button type="submit" courseCode = "{{courseInfo.id}}" applicantId="{{userId}}" id="approve-for-certification" class="btn btn-green approve-for-certification-btn">Issue Certificate</button>
                                                {% elseif (courseStatus == '0') %}
                                                <span>Issued and Certified!</span>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <a href="javascript:void(0)" data-target="#myModalrto" data-toggle="modal" class="approve-for-certification-btn"><button class="btn btn-green">Issue Certificate</button></a>
                                        {% endif %}
                                    {% endif %}

                                    {% if ('ROLE_FACILITATOR' in userRole) %}
                                        {% if (assessorstatus == '1') %}
                                            <div id="approve_section">
                                                {% if (courseStatus == '1') %}
                                                <button type="submit" courseCode = "{{courseInfo.id}}" applicantId="{{userId}}" id="approve-for-rto" class="btn btn-green">Submit Portfolio</button>
                                                {% elseif (courseStatus == '2') %}
                                                <span>Portfolio Submitted!</span>
                                                {% elseif (courseStatus == '0') %}
                                                <span>Issued and Certified!</span>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <a href="javascript:void(0)" data-target="#myModal" data-toggle="modal"><button class="btn btn-green">Submit Portfolio</button></a>
                                        {% endif %}
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 no-padding">
                            <div class="gq-assessor-appl-profile-details-col wid100p">
                                <div class="gq-assessor-appl-details-points">
                                    <h4 class="gq-assessor-points-title">ID Points</h4>
                                    <h4 class="gq-assessor-points-points">{{currentIdPoints}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 no-padding">
                            <div class="gq-assessor-appl-profile-details-col wid100p">
                                <div class="gq-assessor-appl-details-points">
                                    <h4 class="gq-assessor-points-title">Profile Completeness</h4>
                                    <h4 class="gq-assessor-points-points">{{profileCompleteness}}</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
                            <div class="gq-assessor-appl-profile-details-col wid100p">
                                <div class="gq-assessor-appl-profile-details">                                    
                                {% if ('ROLE_RTO' in userRole) %}
                                    <div class="gq-assessor-appl-details-points pull-right">
                                        <div class="gq-assessor-rto-title">
                                            <label>Facilitator</label>
                                            <span>: {{facilitatorName}}</span>
                                        </div>
                                    </div>
                                    <div class="gq-assessor-appl-details-points pull-right">
                                        <div class="gq-assessor-rto-title">
                                            <label>Assessor</label>
                                            <span>: {{assessorName}}</span>
                                        </div>
                                        <div class="gq-assessor-rto-edit-icon">
                                            <a href="{{ base_url }}assessorProfile/{{assessorId}}"><img src="{{ asset('public/images/eye-icon.png') }}" /></a>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if ('ROLE_FACILITATOR' in userRole) %}
                                    <div class="gq-assessor-appl-details-points pull-right">
                                        <div class="gq-assessor-rto-title">
                                            <label>Assessor</label>
                                            <span>: {{assessorName}}</span>
                                        </div>
                                        {#<div class="gq-assessor-rto-edit-icon">
                                            <a href="#"><img src="{{ asset('public/images/assessor-edit-icon.png') }}" /></a>
                                        </div>#}
                                    </div>
                                    <div class="gq-assessor-appl-details-points pull-right border-top">
                                        <div class="gq-assessor-rto-title">
                                            <label>RTO</label>
                                            <span>: {{rtoName}}</span>
                                        </div>
                                        {#<div class="gq-assessor-rto-edit-icon">
                                            <a href="#"><img src="{{ asset('public/images/assessor-edit-icon.png') }}" /></a>
                                        </div>#}
                                    </div>
                                {% endif %}

                                {% if ('ROLE_ASSESSOR' in userRole) %}
                                    <div class="gq-assessor-appl-details-points pull-right">
                                        <div class="gq-assessor-rto-title">
                                            <label>Facilitator</label>
                                            <span>: {{facilitatorName}}</span>
                                        </div>
                                        {#<div class="gq-assessor-rto-edit-icon">
                                            <a href="#"><img src="{{ asset('public/images/assessor-edit-icon.png') }}" /></a>
                                        </div>#}
                                    </div>
                                    <div class="gq-assessor-appl-details-points pull-right border-top">
                                        <div class="gq-assessor-rto-title">
                                            <label>RTO</label>
                                            <span>: {{rtoName}}</span>
                                        </div>
                                        {#<div class="gq-assessor-rto-edit-icon">
                                            <a href="#"><img src="{{ asset('public/images/assessor-edit-icon.png') }}" /></a>
                                        </div>#}
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="flip-icon"></span>
            </div>
        </div>
    </div>
    {% set i = 1 %}
    {% if courseInfo %}
    {% if courseInfo.Units %}
        {% if courseInfo.Units.Unit %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="gq-dashboard-title">Core Units</h1>
            <h6 class="gq-dashboard-title-desc"><!-- can keep sub title here --></h6>
        </div>
        <div class="col-xs-12">
            <div class="gq-id-files">
                <div class="gq-id-files-header gq-id-files-header-applicant">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <span class="gq-course-details-header-title">Unit Code</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <span class="gq-course-details-header-title">Unit Title</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                            <span class="gq-course-details-header-title gq-appl-details-two-lines">Elements & Performance Criteria</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                            <span class="gq-course-details-header-title">Evidence</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 colxs-12">
            <!-- accordion starts here -->
            <div class="gq-acc-wrap">

                {% for key, units in courseInfo.Units.Unit %}
                    {% if units.type == 'core' %}
                <div>
                    <input id="acc-{{i}}" name="accordion-1" type="checkbox" />
                    <div class="row no-margin">
                        <div class="gq-acc-row-bg">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="gq-acc-row-title">{{units.id}}</div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="gq-acc-row-title">{{units.name}}</div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label for="acc-{{i}}" class="col-xs-4 openIcon btn add-btn upDownArrow">VIEW</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                {% set evidence =  evidence_service.getUserUnitEvidences(userId, units.id) %}
                                {% if evidence %}
                                <span class="pull-left"><button class="btn eye-btn unit-evidence-id" userid="{{userId}}" del-status="1"  unitid="{{units.id}}"  course_code="{{courseInfo.id}}" course_name="{{courseInfo.name}}" unittitle="{{units.name}}" data-toggle="modal" data-target="#edivenceUnitModal" data-direction="bottom"><span class="hidden-xs"></span>SHOW</button></span>
                                {% else %}
                                    <div class="gq-acc-row-title gq-core-units-evidence-text">No Evidences found</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <article class="acc-small">
                        <p>{{units.name}}</p>
                    </article>
                </div>
                    {% set i = i+1 %}
                    {% endif %}
                {% endfor %}
            </div>
            <!-- accordion ends here -->
        </div>
    </div>
    <div class="row">    
        <div class="col-lg-4 col-md-2 col-sm-2 col-xs-12">
            <h1 class="gq-dashboard-title">Elected Units</h1>
            <h6 class="gq-dashboard-title-desc"><!-- can keep sub title here --></h6>
        </div>
        <div class="col-xs-12">
            <div class="gq-id-files">
                <div class="gq-id-files-header gq-id-files-header-applicant">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-4 col-xs-3">
                            <span class="gq-course-details-header-title">Unit Code</span>
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-3">
                            <span class="gq-course-details-header-title">Unit Title</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                            <span class="gq-course-details-header-title gq-appl-details-two-lines">Elements & Performance Criteria</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                            <span class="gq-course-details-header-title">Evidence</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 colxs-12">
            <!-- accordion starts here -->
            <div class="gq-acc-wrap">
                {% if courseInfo.Units %}
                {% if courseInfo.Units.Unit %}
                    {% set flagElective = '0' %}
                    {% for key, units in courseInfo.Units.Unit %}
                        {% if units.type == 'elective' %}
                                {% set unitId = units.id %}
                                {% if unitId|trim in electiveUnits|keys %} 
                                {% set flagElective = '1' %}
                                <div>
                                    <input id="acc-{{i}}" name="accordion-1" type="checkbox" />
                                    <div class="row no-margin">
                                        <div id="div_{{units.id}}" class="gq-acc-row-bg">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <div class="gq-acc-row-title">{{units.id}}</div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <div class="gq-acc-row-title">{{units.name}}</div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <label for="acc-{{i}}" temp="acc-{{i}}" id="label_{{units.id}}" class="col-xs-4 openIcon btn add-btn upDownArrow" >VIEW</label>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                                            {% set evidence =  evidence_service.getUserUnitEvidences(userId, units.id) %}
                                                                                            {% if evidence %}
                                                <span class="pull-left" id="sp_{{units.id}}"><button id="btneye_{{units.id}}" class="btn eye-btn unit-evidence-id" unitid="{{units.id}}" course_code="{{courseInfo.id}}" course_name="{{courseInfo.name}}" unittitle="{{units.name}}" del-status="0" userid="{{userId}}" data-toggle="modal" data-target="#edivenceUnitModal" data-direction="bottom"><span class="hidden-xs"></span>SHOW</button></span>
                                                                                            {% else %}
                                                <div class="gq-acc-row-title">No Evidences found</div>
                                                                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <article class="acc-small">
                                        <p>{{units.name}}</p>
                                    </article>
                                </div>
                                {% set i = i+1 %}
                                {% else %}
                           {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if flagElective == '0' %}
                            <div class="gq-acc-row-title load-icon-tr">No Elected Units found</div>
                    {% endif %}
                {% endif %}
                {% endif %}
            </div>
            <!-- accordion ends here -->
        </div>
    </div>
    {% endif %}
        {% endif %}
     {% endif %}
    
    <div class="col-xs-12 text-center">
        <span class="gq-approved-status" id="status_ar" style="display:none;">Portfolio Submitted!</span>
        <span class="gq-approved-status" id="status_arc" style="display:none;">Issued and Certified!</span>
        <span class="gq-approved-status" id="status_ac" style="display:none;">Certificate Issued!</span>
    </div>
     <span class="gq-approve-error" id="gq-approve-error" style="display:none;">Please approve all the units.</span>
     <center id="approve_loader" style="display:none"><span><img src="{{ asset('public/images')}}/loading.gif" /></span></center>
</div>

<!----- Unit evidences start --->
<div class="modal fade bottom" id="edivenceUnitModal" tabindex="-1" role="dialog" aria-labelledby="edivenceModalLabel" aria-hidden="true">
    <div class="modal-dialog gq-modal-upload">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="gq-dashboard-courses-detail-wrap">
                    <div class="gq-dashboard-tabs">
                        <div id="unit-evidence-tab">   
                            
                            <div class="wid90p">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="gq-evidence-new">
                                            <ul id="myTab" role="tablist" class="nav nav-pills margin-top15 gq-evidence-new-tabs">
                                                <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="unit-images" href="#unit-images" aria-expanded="true">Images</a></li>
                                                <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="unit-audios" href="#unit-audios" aria-expanded="false">Audios</a></li>
                                                <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="unit-videos" href="#unit-videos" aria-expanded="false">Videos</a></li>
                                                <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="unit-notes" href="#unit-notes" aria-expanded="false">Notes</a></li>
                                                <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="unit-files" href="#unit-files" aria-expanded="false">Documents</a></li>
                                                {% if ('ROLE_APPLICANT' not in userRole) %}
                                                <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="unit-recordings" href="#unit-recordings" aria-expanded="false">Competency Recordings</a></li>
                                                {% endif %}
                                            </ul>
                                            <div class="tab-content">
                                                <div aria-labelledby="existing-evidence-tab" id="unit-images" class="tab-pane fade active in" role="tabpanel">
                                                    <div class="gq-dashboard-courses-detail-wrap gq-dashboard-qualification-scroll">
                                                        <div class="row">
                                                            <div id="ajaxEvidences" style="display: block;" class="load-icon-tr">
                                                                <img src="{{ asset('public/images')}}/loading.gif">
                                                            </div>                                                                                                                                                                                                                                                                                           </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog gq-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="disclose" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="myModalLabel">Assessor not yet approved all the Units</h4>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalrto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog gq-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="disclose" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="myModalLabel">Please approve all the Units</h4>
            </div>
        </div>
    </div>
</div>
<!----- Unit evidences end --->
{% endblock %}
  {% block javascripts %}
<script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
</script>
  {% endblock %}
