{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Applicant Lists{% endblock %}
{% set userRole = app.security.getToken().getUser().getRoles() %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('public/css/timepicker.css') }}" />
    {% if ('ROLE_MANAGER' not in userRole[0]) and ('ROLE_SUPERADMIN' not in userRole[0]) %}
    <link rel="stylesheet" href="{{ asset('public/css/pages/all/portfolio.css') }}"> 
    {% else %}
     <link rel="stylesheet" href="{{ asset('public/css/pages/all/manager_portfolio.css') }}"> 
     {% endif %}
{% endblock %}
{% block body %}
 <!-- Larg Screens HTML Start -->        
<section class="portfolio-container hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group">
                    <div class="panel">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">
                                <span>Portfolios </span><span class="count" > {% if pendingApplicantsCount > 0 %}({{pendingApplicantsCount}}){% endif %} </span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        {% if ('ROLE_MANAGER' not in userRole[0]) and ('ROLE_SUPERADMIN' not in userRole[0]) %}
        <div class="row no-gutter">
            <div class="col-lg-12">
                <div class="container">
                    <div class="portfolio-filter">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 filter gq-app-aearch-grid">                                       
                                    <input type="text" value="" name="searchName" id="searchName" class="search-box" placeholder="Search"/>                                      
                            </div>
                            <div class="col-md-4 col-lg-4">
                               <div class="row no-gutter">
                                        <div class="col-md-12 col-lg-12">
                                        <div class="gq-dashboard-tabs-header wid20p">
                                            <ul role="tablist" id="myTab" >
                                                    <li role="presentation" id="applicantPending" class="status active">
                                                            <a href="#current" aria-controls="current" role="tab" data-toggle="tab">CURRENT</a>
                                                    </li>
                                                    <li role="presentation" id="applicantCompleted" class="status in-active">
                                                            <a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">COMPLETED</a>
                                                    </li>
                                            </ul>
                                        </div>  
                                        </div>            
                                </div>
                            </div>    
                         </div>
                      </div>  
                    </div>    
                </div>
        </div>
        {% else %}
        <div class="row no-gutter">
            <div class="col-lg-12">
                <div class="container">
        <div class="form-inline portfolio-filter">
                    <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                    <input type="text" name="searchName" id="searchName" placeholder="Search" class="form-control search_box search-box">                                    
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                    <label for="">Filter By</label>
                                   <select name="filterByUser" id="filterByUser" class="form-control">
                                        <option value="">Assessor/Facilitator</option>
                                    {% for key, user in users %}
                                        <option value="{{user.id}}">{% if user.roletype == 2 %} Facilitator {% else %} Assessor {% endif %} : {{user.username}}</option>
                                    {% endfor %}
                                    </select>
                            </div>
                            <div class="col-xs-12 col-sm-10 col-lg-5">
                                    <label for="">Qualification Status</label>
                                    <select name="filterByStatus" id="filterByStatus" class="form-control">
                                        <option value="">Qualification Status</option>
                                        {% for key, status in qualificationStatus %}
                                            <option value="{{key}}">{{status["status"]}}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12 no-padding">
                                <button id="searchFilter" class="btn btn_red gq-reports-filter-btn">Filter</button>
                            </div>
                    </div>
            </div>
               </div>    
                </div>
        </div>
        {% endif %}
        <div id="err_msg"></div>
        <div class="row no-gutter">
            <div class="col-lg-12 tab-content">
                <div id="ajaxHtml" style="display:none;" {% if (('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole)) %} tdcolspan="4" tdrtocolspan="4" {% else %} tdcolspan="6" tdrtocolspan="3" {% endif %}>
                            <img src="{{ asset('public/images')}}/loading.gif" class="img"/>
                </div>
                <div class="container tab-pane active" role="tabpanel" id="current">
                    <div class="portfolio-data-table">                                
                        <table class="table applicantTable" id="DataTables_Table_0">
                          {% include 'GqAusUserBundle:Applicant:applicantsFilters.html.twig' %}
                            <tbody id="currentList">
                                {% include 'GqAusUserBundle:Applicant:applicants.html.twig' %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div role="tabpanel" class="container tab-pane" id="completed">
                    <div class="portfolio-data-table">
                        <table class="table applicantTable" id="DataTables_Table_1">
                            <thead>
                                <tr>
                                    <th style="width:20%"><span class="">NAME</span></th>
                                    <th ><span class="">QUALIFICATION</span></th> 
                                    
                                </tr>
                            </thead>
                            <tbody id="completedList">                                
                                {% include 'GqAusUserBundle:Applicant:applicants.html.twig' %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>            
    </div>
  
</section>
        
<!-- Larg Screens HTML End -->

        
{% endblock %}

{% block javascripts %}    
    <script type="text/javascript">
        $(document).ready(function() {
        oTable = $('#DataTables_Table_0').DataTable( { 
                "pageLength": 10,
                "pagingType": "simple",
                "searching": false,
                "bFilter" : false,               
                "bLengthChange": false,                
                "columnDefs": [
                    { "orderable": false, "targets":  [ 0,1,2,4,5 ] }
                  ]
                } );
           oTable1 = $('#DataTables_Table_1').DataTable( { 
             "pageLength": 10,
             "pagingType": "simple",
             "searching": false,
             "bFilter" : false,               
             "bLengthChange": false,
             "columnDefs": [
                 { "orderable": false, "targets":  [ 0,1] }
               ]
             } );
            var dateTime = new Date();
            var utc = dateTime.getTime() + (dateTime.getTimezoneOffset() * 60000);
            var timeZoneDT = new Date(utc + (3600000 * +10));
            $(".date_field").datetimepicker({                
               dateFormat: "dd/mm/yy",
                timeFormat: "hh:mm tt",
                minDate: timeZoneDT,
                minDateTime: timeZoneDT
            });
           //$('.table')hasClass('dataTable').remove();
        });
   </script>  
  
{% endblock %}