<page backtop="40mm" style="padding:0;color:#5e5e5e;font-size:12px;">
    <page_header>
          <table class="page_header">
                <tr>
                    <td style="width: 100%; text-align: right;">
                        <img style="float: right;" src="{{ projectPath }}web/public/images/logo.png" alt="GQ Australia" />
                    </td>
                </tr>
            </table>
    </page_header>   
      <div>
        <table cellpadding="4" cellspacing="0" border="0" width="100%">
            <tr><td>
                    {% if user %}
                    <table border="0" style="width:100%; table-layout:fixed; display:table;">
						<tr>
							<td style="width:20%;padding:10px 0;">Student Name</td>
							<td style="padding:10px 0;width:80%;font-weight:bold;">{{userName}}</td>
						</tr>
						<tr>
							<td style="padding:10px 0;">Qualification Code</td>
							<td style="padding:10px 0;font-weight:bold;">{{courseInfo.id}}</td>
						</tr>
						<tr>
							<td style="padding:10px 0;">Qualification Name</td>
							<td style="padding:10px 0;font-weight:bold;">{{courseInfo.name}}</td>
						</tr>
						<tr>
							<td style="padding:10px 0;">Specialisation</td>
							<td style="padding:10px 0;font-weight:bold;"></td>
						</tr>
						<tr>
							<td style="padding:10px 0;">Assessor Name</td>
							<td style="padding:10px 0;font-weight:bold;">{{assessorName}}</td>
						</tr>
					</table>
                    {% endif %}
                </td>
            </tr>
        </table>
        <p style="margin-top:3px;">I have assessed and deem the above named student to be competent in the units listed below.</p>
        <p style="margin-bottom:3px;"><strong>Required units {{coreUnits|length + electiveUnits|length}} = {{coreUnits|length}} Core + {{electiveUnits|length}} Elective</strong></p>
        <table cellpadding="4" cellspacing="0" border="0" width="100%">
            <tr style="background-color:#F8E555;border:2px solid #000;">
                    <th style="width: 16%;padding:10px 5px;">Unit Code</th>
                    <th style="width: 70%;padding:10px 5px;">Unit Title</th>
                    <th style="width: 10%;padding:10px 5px;">Result</th>
            </tr>  
                {% if courseInfo %}
                    {% if courseInfo.Units %}
                        {% if courseInfo.Units.Unit %}
                            {% set flagCore = '0' %}
                            {% for key, eUnits in courseInfo.Units.Unit %}
                                {% if eUnits.type == 'core' %}
                                    {% set unitId = eUnits.id %}
                                    {% if unitId|trim in coreUnits|keys %} 
                                        {% set flagCore = '1' %}
                                        <tr>
                                            <td style="padding:10px 5px;">{{eUnits.id}}</td>
                                            <td style="padding:10px 5px;">{% spaceless %}{{eUnits.name|trim}}{% endspaceless %}</td>
                                            <td style="padding:10px 5px;">RPL</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if flagCore == '0' %}
                                    <tr><td style="padding:10px;border:1px solid #e7ecee;width:96%;" colspan='3'>No Core Units found</td></tr>
                            {% endif %}       
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if courseInfo %}
                    {% if courseInfo.Units %}
                        {% if courseInfo.Units.Unit %}
                            <tr><td colspan="3" style="padding:10px 5px;font-weight:bold;">Elective Units</td></tr>    
                            {% set flagElective = '0' %}
                            {% for key, eUnits in courseInfo.Units.Unit %}
                                {% if eUnits.type == 'elective' %}
                                    {% set unitId = eUnits.id %}
                                    {% if unitId|trim in electiveUnits|keys %} 
                                        {% set flagElective = '1' %}
                                        <tr>
                                            <td style="padding:10px 5px;">{{eUnits.id}}</td>
                                            <td style="padding:10px 5px;">{% spaceless %}{{eUnits.name|trim}}{% endspaceless %}</td>
                                            <td style="padding:10px 5px;">RPL</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if flagElective == '0' %}
                                    <tr><td style="padding:10px;border:1px solid #e7ecee;width:100%;text-align:center;" colspan='3'>No Elective Units found</td></tr>
                            {% endif %}       
                        {% endif %}
                    {% endif %}
                {% endif %}
        </table>
        <p style="text-align: center;"><em><strong>Legend: </strong>C- Competent, CT- Credit Transfer, RPL- Recognition of Prior Learning</em></p>
        <br/><br/>
        <table cellpadding="4" cellspacing="0" border="0" width="100%">
            <tr><td style="border-bottom: 1px solid #000;">Assessor Feedback:</td></tr>
        </table>    
        <br/>
        <table cellpadding="4" cellspacing="0" border="0" width="100%">
            <tr><td style="border-bottom: 1px solid #000;">Assessor Signature:</td></tr>
        </table>
        <br/>
        {% if courseDetails.assessorDate is defined and courseDetails.assessorDate is not null%}
        <table cellpadding="4" cellspacing="0" border="0" width="100%">
            <tr><td style="border-bottom: 1px solid #000;">Date Assessed:{{ courseDetails.assessorDate|date("m/d/Y") }}</td></tr>
        </table>
        {%endif%}
    </div>
</page>