{% extends 'main.html.twig' %}
{% block title %}GQ - RPL Login{% endblock %} 
{% block content %}
			<h2>Welcome</h2>
                        <div id="change_pwd_error"></div>
			<form class="form" action="{{ path('login_check') }}" name="frmLogin" id="frmLogin" method="post">
				<input type="email" name = '_username' autocomplete="off"  class="form-control email" id="InputEmail1" placeholder="Email"/>
				<input type="password" name='_password' autocomplete="off"  class="form-control password" id="InputPassword1" placeholder="Password"/>
				 <a href="forgotpassword" class="forgot_pwd_link">Forgot password?</a>
				<input type="submit" class="login_btn" value="LOGIN" onclick="return loginValidate();"/>
			</form>
                       
		
{% endblock %}
{% block javascripts %}
<!-- jQuery first, then Bootstrap JS. -->
<script src="{{ asset('public/js/jquery.min.js') }}"></script>
<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('public/js/script.js') }}"></script>
     <script>
        $(document).ready(function() {
            //$(".gq-id-files-upload-success-text").delay(3000).fadeOut(100);
        });
        var base_url = "{{ base_url }}";
        /*Login Validation*/
        function loginValidate()
        {
            var useremail = $("#InputEmail1").val();
            var userpwd = $("#InputPassword1").val();
            var startdiv = '<div class="gq-id-files-upload-error-text"><h2>';
            var enddiv = '</h2></div>';
            regexp=/^[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$/;
            if(useremail=="") {
                $("#change_pwd_error").show();
                $("#change_pwd_error").html(startdiv + "Please enter Email" + enddiv);
                $("#InputEmail1").focus();    
                return false;
            }
            else {
                if(useremail.search(regexp)==-1) {
                    $("#change_pwd_error").show();
                    $("#change_pwd_error").html(startdiv + "Please enter valid Email" + enddiv);
                    $("#InputEmail1").val('');
                    $("#InputEmail1").focus();
                    return false;
                }
            }
            if(userpwd=="") {
                $("#change_pwd_error").show();
                $("#change_pwd_error").html(startdiv + "Please enter Password" + enddiv);
                $("#InputEmail1").focus();
                return false;
            }
         }
        /*End Login Validation*/
    </script>
    {% if error %}
        <script>
            $("#change_pwd_error").show();
            $("#change_pwd_error").html('<div class="gq-id-files-upload-error-text"><h2>Invalid credentials</h2></div>');
        </script>
    {% endif %}
{% endblock %}
