{% extends 'mainnew.html.twig' %}
{% block title %}Get Qualified Australia: Online RPL{% endblock %}
{% block content %}
    <main class="login-container" id="loginContainer">
        <section class="panel-login panel-login-md">
            <form class="form" action="{{ path('login_check') }}" name="frmLogin" id="frmLogin" method="post">
                <div class="panel-login-fields">
                    <img src="{{ asset('public/ui/img/gqa-online-rpl.svg') }}" alt="GQA Online RPL"
                         class="img-responsive clearfix">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" class="form-control" data-element="password" id="username" name='_username'
                               placeholder="Email registered to Online RPL">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <span class="form-password-mask">
							<input type="password" class="form-control" data-element="password" id="currentpassword"
                                   name="_password"
                                   placeholder="Type password...">
							<button type="button" class="btn btn-mask-password" data-target="password"><i
                                        class="zmdi zmdi-eye"></i></button>
						</span>
                    </div>

                    <div class="alert alert-danger hidden" id="errorMessage">
                        <i class="zmdi zmdi-alert-circle-o zmdi-hc-lg zmdi-hc-fw"></i> <span></span>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="rememberCredential" class="custom-input"><label
                                for="rememberCredential">Remember
                            me</label>
                    </div>
                    <button type="button" class="btn btn-success text-uppercase btn-block" id="submitAuth">Log In
                    </button>
                    <div class="text-center" style="margin-top: 15px; text-decoration: underline"><a href="https://www.gqaustralia.edu.au/get-in-touch/" target="_blank" style="color: #4d4d4d;">Need help?</a></div>
                </div>
                <i class="bg-blur"></i>
            </form>
        </section>

        <footer class="footer-login" id="footerLogin">
            <section class="footer-content">
                <img src="{{ asset('public/ui/img/gqa-logo-full-white-type.svg') }}" alt="Get Qualified Australia"
                     class="footer-logo img-responsive">
                <ul class="list-inline small text-right" style="margin-top: 10px;">
                    <li><a href="https://www.gqaustralia.edu.au/" target="_blank">GQA Home</a></li>
                    <li><a href="tel:">Contact Us</a></li>
                    <li style="display: block; margin-top: 5px;">Copyright &copy; <span id="currentYear">----</span>
                        GQA. All Rights Reserved
                    </li>
                </ul>
            </section>
        </footer>

    </main>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/ui/css/modules/login/login.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/ui/js/login.js') }}"></script>

    {% if error %}
        <script type="application/javascript">
            SET_PASSWORD.error_action('Invalid Credentials');
        </script>
    {% endif %}
{% endblock %}
