{% extends 'mainnew.html.twig' %}
{% block title %}GQ - RPL Reset password{% endblock %}
{% block content %}
<main class="login-container" id="loginContainer">
    <section class="panel-login panel-login-md">
        <div class="panel-login-fields">
            <img src="{{ asset('public/ui/img/gqa-online-rpl.svg') }}" alt="GQA Online RPL" class="img-responsive clearfix">
            {% if validRequest == 1 %}
             <div class="form-group-container">
                {% if message != '1' %}
               
                    <form name="frmChangePassword" id="frmChangePassword" method="post" class="form">    
                        <div class="form-group">
                            <label class="control-label">Reset Password</label>
                            <span class="form-password-mask">
                                <input type="password" class="form-control" name = 'password' autocomplete="off" data-element="password" id="InputPassword1" placeholder="New Password">
                                <button type="button" class="btn btn-mask-password" data-target="password"><i class="zmdi zmdi-eye"></i></button>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirm Password</label>
                            <span class="form-password-mask">
                                <input type="password" name = 'cpassword' autocomplete="off" class="form-control" data-element="password" id="InputcPassword2" placeholder="Confirm Password">
                                <button type="button" class="btn btn-mask-password" data-target="password"><i class="zmdi zmdi-eye"></i></button>
                            </span>
                        </div>
                        <button type="submit" class="btn btn-success text-uppercase"  onclick="return ResetpasswordValidate();">Reset</button>
                        <button type="button" class="btn btn-success text-uppercase" onclick="window.location='../login'">Log In</button>
                    </form>
                    {% endif %}
                    <div class="alert alert-danger" id="errorMessage"> <i class="zmdi zmdi-alert-circle-o zmdi-hc-lg zmdi-hc-fw"></i> <span></span> </div>
                </div>
            {% else %}
                <div class="form-group notice">
                    <label class="control-label">Reset Password</label>
                    <p>Sorry you are accessing invalid token!</p>
                </div>
            {% endif %}
        </div>
        <i class="bg-blur"></i>
    </section>
</main>
		{% endblock %}
		{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/ui/css/modules/login/login.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/ui/js/login.js') }}"></script>


<!-- jQuery first, then Bootstrap JS. -->
<!-- jQuery first, then Bootstrap JS. -->
<script src="{{ asset('public/js/jquery.min.js') }}"></script>
<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('public/js/script.js') }}"></script>
     <script>                      
        var base_url = "{{ base_url }}";
            function ResetpasswordValidate()
        {
            var newpassword = $("#InputPassword1").val();
            var cnewpasswd = $("#InputcPassword2").val();
            var startdiv = '';
            var enddiv = '';
            regexp=/^[A-Za-z0-9]*$/;
            console.log(newpassword);
            if(newpassword == "") {
                $("#errorMessage").show();
                $("#errorMessage").html(startdiv + "Please enter new password" + enddiv);
                $("#InputPassword1").focus();    
                return false;
            }
            if(newpassword != ""){
                if (newpassword.length < 8) {
                     $("#errorMessage").show();
                $("#errorMessage").html(startdiv + "New Password must be minimum of 8 characters" + enddiv);
                $("#InputPassword1").focus();    
                return false;
                }
            }
            
            if (newpassword != "") {
                if (newpassword.length > 16 ) {
                     $("#errorMessage").show();
                    $("#errorMessage").html(startdiv + "New Password must be maximum of 16 characters" + enddiv);
                    return false;
                }
            }
            if (newpassword != "") {
                 $("#errorMessage").show();
                 if (!(/[0-9]/.test(newpassword) && /[a-zA-Z]/.test(newpassword))) {    // Password should contain atleast one letter and one number
                    $("#errorMessage").html(startdiv + "Password should contain atleast one letter and one digit" + enddiv);
                    return false;
                }
            }
            
            if(cnewpasswd == "") {
                
                    $("#errorMessage").show();
                    $("#errorMessage").html(startdiv + "Please enter confirm new password" + enddiv);
                    $("#InputcPassword1").val('');
                    $("#InputcPassword1").focus();
                    return false;
                
            }
            if(cnewpasswd != ""){
                if (cnewpasswd.length < 8) {
                $("#errorMessage").show();
                $("#errorMessage").html(startdiv + "Confirm New Password must be minimum of 8 characters" + enddiv);
                $("#InputcPassword1").val('');
                $("#InputcPassword1").focus();    
                return false;
                }
            }
           
            if (newpassword != "" && cnewpasswd != "") {
                
                if (newpassword != cnewpasswd)
                {                   
                    $("#errorMessage").show();
                    $("#errorMessage").html(startdiv + "New Password and Confirm Password does not match" + enddiv);
                    $("#InputcPassword1").val('');
                    $("#InputcPassword1").focus();    
                    return false;
                }
            }
           
         }
            
      
    </script>
    {% if message == '0' %}        
        <script>
            $("#errorMessage").show();
            $("#errorMessage").html('<div class="gq-id-files-upload-error-text alert alert-danger">Error occurred while updating password. Please try again</div>');
        </script>
    {% elseif message == '1'%}
        <script>
            $("#errorMessage").show();
            $("#errorMessage").html('<div class="gq-id-files-upload-success-text alert alert-success">Password changed successfully , please <a href="../login">login</a>.</div>');
        </script>
    {% else %}
        <script>
            $("#errorMessage").hide();
        </script>
    {% endif %}
{% endblock %}


