    {% set userId = app.security.getToken().getUser().getId() %} 
<div class="modal fade profile_popup" id="facProfile" role="dialog">
    <div class="modal-dialog"><!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <span class="close" data-dismiss="modal"><i class="material-icons clear_icon">clear</i></span>
                <div class="title_bar hidden-sm hidden-md hidden-lg">
                    <span><i class="material-icons arrow_back">arrow_back</i></span>Your Profile<span><i class="material-icons clear_icon">clear</i></span>
                </div>
                <div class="header_block clearfix">
                    <div class="profile_section">
                        <img class="profile_image no_upload" alt="profile_pic" src="{{ base_url}}{{'public/uploads/'}}{{courses.Facilitator.userImage}}">
                        <input type="file" class="hidden browse_btn">
                        <div class="content">
                            
                                <h5 class="name"><strong>{{courses.facilitator.firstName}} {{courses.facilitator.lastName}}</strong></h5>
                                <span class="field"> Facilitator</span>
                        </div>
                    </div>
                    {#<div class="count">
                       {% set facApplicantsCount = user_service.getPendingApplicantsCount(courses.facilitator.id, 'ROLE_FACILITATOR', '0') %}                       
                            <span class="number"><strong>{{facApplicantsCount}}</strong></span>
                            <span class="title">Active Portfolios</span>
                    </div>#}
                </div>
                <div class="form">
                        <div class="section name_group clearfix">
                                <div class="form-group"><label>First Name</label><input type="text" readonly="" value="{{courses.facilitator.firstName}}"></div>
                                <div class="form-group"><label>Last Name</label><input type="text" readonly="" value="{{courses.facilitator.lastName}}"></div>
                        </div>
                        <div class="section">
                                <div class="form-group"><label>Email</label><input type="email" readonly="" value="{{courses.facilitator.Email}}"></div>
                        </div>
                        <div class="section number_group clearfix">
                                <div class="form-group"><label>Mobile</label><input type="text" readonly="" value="{{courses.facilitator.Phone}}"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>