<ul class="nav" role="tablist" id="task-list">
    <li role="presentation" class="active">
        <span data-target="#dueToday" aria-controls="dueToday" role="tab" data-toggle="tab">
            Due today <i class="zmdi zmdi-chevron-down zmdi-hc-lg zmdi-hc-fw"></i>
        </span>
        <ul class="list-group">
            {% for over in reminders.overdue %}
                <li class="list-group-item dueListCircleCheck" data-status="overdue" id="{{ over.id }}">
                    <span>{{ over.message }}</span>
                    <span class="overdue text-danger">{{ over.days_due }} days overdue</span>
                </li>
            {% endfor %}

            {% for dueToday in reminders.dueToday %}
                <li class="list-group-item dueListCircleCheck" data-status="overdue" id="{{ dueToday.id }}">
                    <span>{{ dueToday.message }}</span>
                    <span class="overdue text-success">{{ dueToday.days_due }} days overdue</span>
                </li>
            {% endfor %}

            {% for doneDueToday in reminders.doneDueToday %}
                <li class="list-group-item dueListCircleCheck" data-status="done" id="{{ doneDueToday.id }}">
                    <small>{{ doneDueToday.message }}</small>
                    <span class="overdue text-danger">{{ doneDueToday.days_due }} days overdue</span>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li role="presentation">
        <span data-target="#dueSoon" aria-controls="dueSoon" role="tab" data-toggle="tab">Due soon <i
                                class="zmdi zmdi-chevron-down zmdi-hc-lg zmdi-hc-fw"></i></span>
        <ul class="list-group">
            {% for dueSoon in reminders.dueSoon %}
                <li class="list-group-item dueListCircleCheck" data-status="pending" id="{{ dueSoon.id }}">
                    <span>{{ dueSoon.message }}</span>
                    <span class="overdue text-info">{{ dueSoon.days_due }} days before due</span>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li role="presentation">
        <span aria-controls="allTasks" data-toggle="modal" data-target="#allTasks">View All</span>
    </li>
</ul>