{% extends 'mainnew.html.twig' %}
{% block title %}Get Qualified Australia: Online RPL{% endblock %}
{% block content %}

    <main class="login-container" id="loginContainer">
        <section class="panel-login panel-login-lg">
            <div class="panel-login-logo">
                <img src="{{ asset('public/ui/img/gqa-online-rpl.svg') }}" alt="GQA Online RPL"
                     class="img-responsive clearfix">
                <div class="login-info">
                    <div class="avatar avatar-xs"><img src="{{ asset('public/ui/img/avatar-default.png') }}"
                                                       alt="You"></div>
                    <div class="welcome">
                        <h2 class="clearfix" style="margin-top: 0;"><span>Welcome,&nbsp;</span><span
                                    id="customerFullName">{{ user.getFirstName }}</span>!</h2>
                        <h4 class="clearfix">Let's <strong>set your password</strong>.</h4>
                    </div>
                </div>
            </div>
            <div class="panel-login-fields">
                <div class="form-group" style="margin-bottom: 25px;">
                    <label class="control-label">Your Username</label>
                    <span class="form-control-static clearfix h4" id="customerUsername">{{ user.getEmail }}</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Set your password</label>
                    <span class="form-password-mask">
                        <input id="new-password" type="password" class="form-control" data-element="password"
                               placeholder="Type password...">
                        <button type="button" class="btn btn-mask-password" data-target="password"><i
                                    class="zmdi zmdi-eye"></i></button>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label">Re-type your password</label>
                    <span class="form-password-mask">
                        <input type="password" class="form-control" data-element="password"
                               placeholder="Type password...">
                        <button type="button" class="btn btn-mask-password" data-target="password"><i
                                    class="zmdi zmdi-eye"></i></button>
                    </span>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="test" value="" id="termsAndConditions" class="custom-input"><label
                            for="termsAndConditions">I have read the <a
                                href="https://www.gqaustralia.edu.au/terms-conditions/" target="_blank"><strong>Terms
                                &amp; Conditions</strong></a></label>
                    <input id="loginToken" type="hidden" value="{{ user.getLoginToken }}">
                </div>
                <button type="button" class="btn btn-success text-uppercase btn-block" id="setPassword">Set my
                    Password
                </button>
            </div>
            <i class="bg-blur"></i>
        </section>

    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/ui/js/login.js') }}"></script>
{% endblock %}