{% if ('ROLE_APPLICANT' in userRole) %}
<div class="hidden-xs col-sm-12 col-md-12 col-lg-6">
                <div class="info_block">
                        <div class="title_bar clearfix">
                                <span class="left">YOUR ID</span>
                                <span class="right"><strong>{{currentIdPoints}}{% if currentIdPoints < "100" %} POINTS REQUIRED <i class="material-icons">info</i>{% else %} POINTS COMPLETED <i class="material-icons">done</i>{% endif %}</strong></span>
                        </div>
                    <form name = "Id_files" id="Id_files"  method = "POST" action="idfileupload" enctype="multipart/form-data">                            
                                {{ form_widget(filesForm.type, {'attr': {'class': 'selectpicker'}}) }}                          
                        <div class="add_section " role="tabpanel">
                                {{ form_widget(filesForm.browse, {'attr': {'class': 'hidden uploadFile'}}) }}
                                <span class="button uploadTrigger"><i class="material-icons">add</i></span><strong>Add ID</strong>
                        </div>
                         <div id="idfiletype_image"></div>
                    <div class="loading-icon" style="display: none;" id="ID_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>   
                    </form>
                        <div class="col-xs-6" id="idfiles_msg"></div>
                        <div class="file_block">
                                <ul>
                        {% if userIdFiles is not null and userIdFiles is not empty %}
                        {% for item in userIdFiles %}
                        {% if item.type.id == 1 %}
                        {% set doc_type = 'insert_photo' %}
                        {#{% elseif item.type.id == 2 %}
                            {% set doc_type = 'gq-id-files-content-pdf-icon' %}#}
                        {% else %}
                             {% set doc_type = 'sim_card_alert' %}
                        {% endif %}
                                        <li>
                                                <div class="title_bar clearfix">
                                                        <span class="content">{{ item.type.type }}</span>
                                                        <span class="number">{{ item.type.points }}</span>
                                                </div>
                                                <div class="file_info">
                                                        <span class="icon">
                                                                <i class="material-icons">{{doc_type}}</i>
                                                        </span>
                                                        <span class="file-discription">
                                                                {{item.name}} <br>10kb | Added {{item.created|date("d/m/Y") }}
                                                        </span>
                                                        <a class="clear" data-toggle="modal" data-target="#myModal" fileid="{{item.id}}" filetype="{{item.type.type}}">
                                                                <i class="material-icons">clear</i><div class="gq-del-evidence"></div></a>
                                                </div>
                                        </li>
                                   {% endfor %}
                            {% else %}
                                <center id="idfiles_no_files">No Id files found</center>                        
                            {% endif %}
                                </ul>
                        </div>

                        <p>You can use your mobile to take a pic of your ID <strong>SMS a link to my mobile</strong></p>
                </div>
        </div>
{% endif %}

<div class="modal fade confirm_popup" id="myModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-title" id="myModalLabel">Do you want to delete selected file?<span class="close"><i class="material-icons" id="fclose"  data-dismiss="modal" aria-label="Close">clear</i></span></div>
                    <div class="btn_section">
                        <button class="btn btn_red deleteIdFiles">OK</button>
                        <button class="btn" id="fclose-cancel">CANCEL</button>
                         <span class="loading-icon" id="ajax-loading-delete-assessor-file" style="display:none;"><img src="{{ asset('public/images/loading.gif') }}" /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>