{% if ('ROLE_APPLICANT' in userRole) %}
<div class="hidden-xs col-sm-12 col-md-12 col-lg-6 idfiles_info">   
    <div class="" id="idfiles_msg"></div>
     <div class="gq-change-file-warning" id="change_file_error">
        {% for flashMessage in app.session.flashbag.get('errornotice') %}
        <div class="gq-id-file-error-text" style="dispaly:none">
            <h2>{{ flashMessage }}</h2>
        </div>
       {% endfor %}
    </div>
    <div class="info_block">
            <div class="title_bar clearfix">
                    <span class="left">YOUR ID</span>
                    {% set requiredpoints = 100 - currentIdPoints %}
                    <span class="right"><strong>{% if currentIdPoints < "100" %} {{requiredpoints}} POINTS REQUIRED <a href="{{ app.request.baseUrl }}/faq" target="_blank"><i class="material-icons">info</i></a>{% else %} {{currentIdPoints}} POINTS COMPLETED <i class="material-icons">done</i>{% endif %}</strong></span>
            </div>
        {% if currentIdPoints < "100" %}
            <form name = "Id_files" id="Id_files"  method = "POST" action="idfileupload" enctype="multipart/form-data">                 
                               
            <select class="selectpicker" id="userfiles_type" name="userfiles[type]">
                    <option value="">Select document type</option>
                    {% if documentTypes %}
                    {% for key, docs in documentTypes %}
                    <option  value="{{docs.id}}" data-content='<span class="content"  doc-type="{{docs.type}}" id="doc-type">{{docs.type}}</span><span class="number" id="doc-type-{{docs.id}}">{{docs.points}}</span>'></option>
                     {% endfor %}
                    {% endif %}
            </select>
                <div class="add_section " role="tabpanel">
                        {{ form_widget(filesForm.browse, {'attr': {'class': 'hidden uploadFile'}}) }}
                        <span class="button uploadTrigger" id="idfileUpload"><i class="material-icons">add</i></span><strong>Add ID</strong>
                </div>
                    <div class="panel-group hide" id="fileListContainer">
                        <div class="panel clearfix">
                                <div class="panel-body">
                  <div class="panel-copy fileListContainer" id="progress-bars"></div>
                  </div></div></div>
                 <div id="idfiletype_image"></div>
            <div class="loading-icon" style="display: none;" id="ID_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>   
            </form>
        {% endif %}
            
            <div class="file_block">
       <ul class="Id_files">
	    {% set fileSts = 0%}
            {% if userIdFiles is defined %}
           
            {% for item in userIdFiles %}
            {% if item.type.id == 1 %}
            {% set doc_type = 'photo' %}
            {#{% elseif item.type.id == 2 %}
                {% set doc_type = 'gq-id-files-content-pdf-icon' %}#}
            {% else %}
                 {% set doc_type = 'photo' %}
            {% endif %}
            {% set filesize = evidence_service.fileSize(item.size) %}
            {% set fileStatus = item.status %}
            {% if fileStatus != 1 %}
            {% set fileSts = 1%}
            <li>
                    <div class="title_bar clearfix">
                            <span class="content selected-doctype" id="{{item.type.id}}">{{ item.type.type }}</span>
                            <span class="number">{{ item.type.points }}</span>
                    </div>
                    <div class="file_info">
                        <span class="icon"><a href = "{{ amazon_link~item.path }}" class="fancybox"> 
                                 <i class="material-icons">{{doc_type}}</i>
                         </a></span>
                         <span class="file-discription">
                                 {{item.name}} <br>{{filesize}} | ADDED {{item.created|date("d/m/y") }}
                         </span>
                         <a class="modalClass viewModalClass clear" data-toggle="modal" data-target="#myModal" fileid="{{item.id}}" filetype="{{item.type.type}}">
                                 <i class="material-icons">clear</i><div class="gq-del-evidence"></div></a>
                    </div>
            </li>
            {% else %}
             {% set fileSts = 0%}
			{% endif %}
            {% endfor %}
			
            {% if fileSts == 0 or userIdFiles is not defined %}
                <center id="idfiles_no_files">{{no_id_files}}</center>                        
            {% endif %}                        
            {% endif %}
         </ul>
            </div>
            {#<p>You can use your mobile to take a pic of your ID <strong>SMS a link to my mobile</strong></p>#}
    </div>
        </div>
{% endif %}

<div class="modal fade confirm_popup" id="myModal" role="dialog">
   
        {#<div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" id="userProfile">
                    <div class="modal-title" id="myModalLabel">Do you want to delete selected file?<span class="close"><i class="material-icons" id="fclose"  data-dismiss="modal" aria-label="Close">clear</i></span></div>
                    <div class="btn_section">
                        <button class="btn btn_red deleteIdFiles">OK</button>
                        <button class="btn" id="fclose-cancel" data-dismiss="modal">CANCEL</button>
                         <span class="loading-icon" id="ajax-loading-delete-assessor-file" style="display:none;"><img src="{{ asset('public/images/loading.gif') }}" /></span>
                    </div>
                </div>
            </div>
        </div>#}
    
    <div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"  id="fclose">&times;</button>
    <div class="modal-title" id="myModalLabel">Do you want to delete selected file?</div>
   </div>
   <div class="modal-footer">
    <div class="btn_section gqa-btn-group btn-file-save">
     <div class="row no-gutter">
      <div class="col-md-6 col-lg-6">
       <button type="button" class="btn btn-danger border-right deleteIdFiles">OK</button>
      </div>
      <div class="col-md-6 col-lg-6">
       <button type="button" class="btn btn-danger" data-dismiss="modal" id="fclose-cancel">CANCEL</button>       
      </div>
     </div>
        <span class="loading-icon" id="ajax-loading-delete-assessor-file" style="display:none;"><img src="{{ asset('public/images/loading.gif') }}" /></span>
    </div>
   </div>
  </div>
 </div>
  
</div>

{% block javascripts %}
<script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
<script src="{{ asset('public/js/s3-upload/s3upload-profileid.js') }}"></script>
 {% endblock %}