{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Manage Users{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/timepicker.css') }}" />
{% endblock %}
{% block body %}

{% set userRole = app.security.getToken().getUser().getRoles() %}
<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h1 class="gq-dashboard-title">Manage Users</h1>
            <h6 class="gq-dashboard-title-desc"></h6>
        </div>
    </div>

    <div id="err_msg"></div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 colxs-12">
            <div class="col-xs-12"> <!-- class "gq-dashboard-bg-img3" added for background image -->
                <div class="gq-dashboard-courses-detail-wrap">
                    <div class="gq-dashboard-tabs margin-top15">
                        <form name="frmusers" id="frmusers" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 gq-app-aearch-grid">
                                    <div class="gq-applicant-filter-wrap text-right">
                                        <label>Filter by: </label>
                                        <input name="searchName" id="searchName" type="text" value="{{searchName}}" placeholder="Name"/>
                                        <!--<span id="searchFilter" class="gq-search-icon"></span>-->
                                        <div class="gq-filter-clear wid100p visible-xs"></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                    <div class="gq-applicant-filter-wrap-select-remaining text-right">User Type</div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="gq-applicant-filter-wrap-select">
                                        <select name="userType" id="userType" class="styled">
                                            <option value="">Both</option>
                                            <option {% if searchType == '2' %} selected {% endif %} value="2">Facilitator</option>
                                            <option {% if searchType == '3' %} selected {% endif %} value="3">Assessor</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12 no-padding">
                                    <button id="searchFilter" class="btn eye-btn gq-reports-filter-btn">Filter</button>
                                </div>
                            </div>
                        </form>

                        <div class="tab-content">
                            <div id="ajaxHtml" style="display:none">
                                <img src="{{ asset('public/images')}}/loading.gif" />
                            </div>
                            <div role="tabpanel" >
                                <div class="table-responsive gq-applicant-list-table margin-top15">
                                    <table class="table">
                                        <thead>
                                            <tr>        
                                                <th width="25%"><span class="">Name</span></th>
                                                <th width="25%" colspan="5"><span>Type</span></th>
                                                <th width="25%" colspan="5"><span>Notes/Reminders</span></th>
                                                <th width="25%" colspan="5"><span></span></th>
                                            </tr>
                                        </thead>
                                        <tbody class="row">
                                            {% for key, list in applicantList %}
                                            <tr>        
                                                <td width="20%"><span class="">{{list.firstname}} {{list.lastname}}</span></td>
                                                <td width="20%" colspan="5">{% if list.roletype == '3' %} Assessor {% else %}  Facilitator {% endif %}</td>
                                                <td width="20%" colspan="5">
                                                    <div class="gq-acc-row-title gq-assessor-list-dropdown-wrap" id="div_{{list.id}}">
                                                        <div class="gq-add-notes-icon-wrap setNotes" id="{{list.id}}">
                                                            <img src = "{{asset('public/images/applicant-list-add-notes-icon.png') }}" />
                                                        </div>
                                                        <div class="gq-assessor-list-dropdown">
                                                            <div class="caret-top"></div>
                                                            <div class="gq-applicant-list-notes-box">
                                                                <textarea class="notes-area" placeholder="Notes" id="notes_{{list.id}}"></textarea>
                                                            </div>
                                                            <div class="gq-applicant-list-due-date">
                                                                <div class="col-xs-8 no-padding">
                                                                    <input type="text" class="datepic date-area" id="remindDate_{{list.id}}" placeholder="Due Date" /></div>
                                                                <div class="col-xs-4 no-padding"><a class="pull-right"><img src="{{ asset('public/images/applicant-lists-grey-date-icon.png') }}" id="{{list.id}}" class="date-icon" /></a></div>
                                                            </div>
                                                            <div class="gq-applicant-list-notes-box">
                                                                <button class="btn btn-red setData" userCourseId="{{list.id}}">SET</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width="40%" colspan="5"><span class="">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                                        <div class="gq-add-notes-icon-wrap setNotes icons"><img src = "{{asset('public/images/user-edit.png') }}" /></div>
                                                        <div class="gq-add-notes-icon-wrap setNotes icons"><img src = "{{asset('public/images/cross.png') }}" /></div>
                                                        <button id="{{list.id}}" class="btn eye-btn gq-reports-filter-btn loginUser"><img src = "{{asset('public/images/arrow_login.png') }}" /> LOGIN</button>
                                                    </div>
                                                </span></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="flip-icon"></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
 <script src="{{ asset('public/js/timepicker.js') }}"></script>    
<script type="text/javascript">
    $(document).ready(function() {
        var dateTime = new Date();
        var utc = dateTime.getTime() + (dateTime.getTimezoneOffset() * 60000);
        var timeZoneDT = new Date(utc + (3600000*+10));
        $(".datepic").datetimepicker({
         dateFormat: "dd/mm/yy",
         timeFormat: "hh:mm tt",
         minDate : timeZoneDT,
         minDateTime : timeZoneDT
        });
    });
</script>
{% endblock %}