{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Manage Profiles{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/timepicker.css') }}" /> 
<link rel="stylesheet" href="{{ asset('public/css/pages/all/manager_facilitator.css') }}">
{% endblock %}
{% block body %}

{% set userRole = app.security.getToken().getUser().getRoles() %}

<!-- FOR DESKTOP -->
<section class="body_section portfolio-container manage_user">
	<div id="err_msg"></div>
	{% for flashMessage in app.session.flashbag.get('notice') %}
	<div class="" id="profile_suc_msg">
		<div class="gq-id-files-upload-success-text alert alert-success">
			<span>
			{{ flashMessage }}</span>
		</div>
	</div>
	{% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">
                                <span><strong>Manage Users</strong></span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-inline portfolio-filter" role="form">
            <div class="row">
			<div class="col-lg-12">
				<div class="col-sm-12 hidden-md hidden-lg">
                    <div class="add_new_user clearfix">
                        <div class="dropdown keep-open">
                            <span class="dropdown-toggle" data-toggle="dropdown">
                                <span class="add_icon"><i class="material-icons">add_circle</i></span>
                                <a href="javascript:void(0);">Add New User</a>
                            </span>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" onclick="addNewUserbyRole('2');">Account Manager</a></li>
                                {% if ('ROLE_SUPERADMIN' in userRole) %}
                                    <li><a href="javascript:void(0)" onclick="addNewUserbyRole('3');">Assessor</a></li>
                                    <li><a href="javascript:void(0)" onclick="addNewUserbyRole('4');">RTO</a></li>
                                    <li><a href="javascript:void(0)" onclick="addNewUserbyRole('5');">Manager</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-3">
                    <input name="searchNameUser" id="searchNameUser" type="text" value="" placeholder="Search" class="form-control search_box searchUserNameFilter"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-4">
                    <label for="">Filter By</label>
                    <select name="userType" id="userType" class="form-control">
                        <option value="">All</option>
                        <option value="2">Account Manager</option>
                        <option value="3">Assessor</option>
                        <option value="4">RTO</option>
                        {% if ('ROLE_SUPERADMIN' in userRole) %}
                        <option value="5">Manager</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-2">
                    <button id="searchUserFilter" class="btn btn_red gq-reports-filter-btn">Filter</button>
                </div>
				<div class="hidden-sm col-lg-3 add_user_ssection">
                    <div class="add_new_user clearfix">
                        <div class="dropdown keep-open">
                            <span class="dropdown-toggle" data-toggle="dropdown">
                                <span class="add_icon"><i class="material-icons">add_circle</i></span>
                                <a href="javascript:void(0);">Add New User</a>
                            </span>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" onclick="addNewUserbyRole('2');">Account Manager</a></li>
                                {% if ('ROLE_SUPERADMIN' in userRole) %}
                                    <li><a href="javascript:void(0)" onclick="addNewUserbyRole('3');">Assessor</a></li>
                                    <li><a href="javascript:void(0)" onclick="addNewUserbyRole('4');">RTO</a></li>
                                    <li><a href="javascript:void(0)" onclick="addNewUserbyRole('5');">Manager</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
			</div>
      </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="portfolio-data-table">
                    <div id="ajaxHtml" style="display:none" tdcolspan="4" tdrtocolspan="3" >
                        <img src="{{ asset('public/images')}}/loading.gif" />
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th style="text-align: center;">Notes/Reminders</th>
                                <th></th>
                            </tr>
                        </thead>
                        
                        <tbody id="currentList">
                            {% include 'GqAusUserBundle:User:usersList.html.twig' %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FOR DESKTOP -->

<!-- Modal -->
<div class="modal fade confirm_popup" id="confirm_popup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button id="uclose" type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title">Do you want to delete selected profile?</div>
            </div>
            <div class="modal-body">
                <form class="btn_section">
                    <a class="btn btn_red deleteUser margin-left15">OK</a>
                    <button class="btn" data-dismiss="modal">CANCEL</button>
                    <span class="loading-icon deleteuser_loader" style="display:none;"><img src="{{ asset('public/images/loading.gif') }}" /></span>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade profile_popup" id="profile1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="title_bar hidden-sm hidden-md hidden-lg">
                    Your Profile<span><a href="javascript:void(0);"><i class="material-icons clear_icon">clear</i></a></span>
                </div>
                <img src="{{ asset('public/images/UPLOAD_PROFILE_PHOTO.png') }}" alt="profile_pic"/>
                <span class="title">Upload your profile photo</span>
                <form class="form">
                    <div class="section name_group clearfix">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" value="William" readonly>
                            <span><i class="material-icons">mode_edit</i></span>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" value="John" readonly>
                            <span><i class="material-icons">mode_edit</i></span>
                        </div>
                    </div>
                    <div class="section">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" value="william.john@gqaustralia.com.au" readonly>
                            <span><i class="material-icons">mode_edit</i></span>
                        </div>
                    </div>
                    <div class="section number_group clearfix">
                        <div class="form-group">
                            <label>Mobile</label>
                            <input type="text" value="0444 123 456" readonly>
                            <span><i class="material-icons">mode_edit</i></span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="text" value="........" readonly>
                            <span><i class="material-icons">lock</i></span>
                        </div>
                    </div>
                </form>
                <button type="submit" class="submit_btn">SUBMIT</button>
            </div>
        </div>
    </div>
</div>
<div class="add-user-byrole"></div>


{% endblock %}
