{% if ('ROLE_ASSESSOR' in userRole) %}
<div role="tabpanel" class="tab-pane" id="others">
    <div class="gq-id-files-upload-text">
        <h2></h2>
    </div>
    <div class="gq-id-files-upload-success-text col-lg-3 col-md-4 col-sm-6 col-xs-12"  style="display: none;" id="resume_msg">
        <h2><span></span>Files uploaded successfully</h2>
    </div>
    <div class="col-xs-6" id="idfiles_msg"></div>
    <div class="gq-id-files">
        <div class="gq-id-files-header gq-id-files-header-applicant">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="gq-course-details-header-title">Resume</div>
                </div>
                <form name="resume" id="resumeUpload" method="post" action="resumeupload" enctype="multipart/form-data">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="gq-id-files-upload-btn">
                            <span class="cloud-icon-browse">{{ form_widget(resumeForm.browse) }}</span>
                        </div>
                        <div class="loading-icon" style="display: none;" id="resume_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <div class="gq-id-files-submit-btn">
                            {{ form_widget(resumeForm.type) }}
                            {{ form_widget(resumeForm.save, { 'label': 'Upload' }) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="gq-id-files-content-wrap">
            <div class="gq-dashboard-box-1x">
                <div class="gq-dashboard-courses-detail-wrap margin-top15">
                    <div class="row resume_files">                                
                        {% if resumeFiles %}
                        {% for item in resumeFiles %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="idfiles_{{item.id}}">
                            <div class="gq-dashboard-courses-detail">
                                <span class="gq-dashboard-points-icon">
                                    <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModal" otherfiles="others" fileid="{{item.id}}" filetype="{{item.type}}">
                                        <div class="gq-del-evidence"></div></a>
                                    <div class="tooltip-home top">
                                        <div class="tooltip-arrow"></div>
                                        <span class="">Delete ID File</span>
                                    </div>
                                </span>
                                <a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"><div class="gq-id-files-content-icon-wrap gq-id-files-content-doc-icon"></div></a>                                                    
                                <div class="gq-id-files-content-row-wrap">
                                    <div class="gq-id-files-content-row">
                                        <label>Title</label><span>{% set name = item.name|split('.') %}{{name.0}}</span>
                                    </div>
                                    {#<div class="gq-id-files-content-row">
                                        <label>Size</label><span>918KB</span>
                                    </div>#}
                                    <div class="gq-id-files-content-row">
                                        <label>Added on</label><span>{{item.created|date("d/m/Y") }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>                                            
                        {% endfor %}
                        {% else %}
                        No resumes found
                        {% endif %}
                    </div>
                </div>
                <span class="flip-icon"></span>
            </div>
        </div>
    </div>

    <div class="gq-id-files">
        <div class="gq-id-files-header gq-id-files-header-applicant">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="gq-course-details-header-title">Qualifications</div>
                </div>
                <form name="qualification" id="qualificationUpload" method="post" action="qualificationupload" enctype="multipart/form-data">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="gq-id-files-upload-btn">
                            <span class="cloud-icon-browse">{{ form_widget(qualificationForm.browse) }}</span>
                        </div>
                        <div class="loading-icon" style="display: none;" id="qualification_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <div class="gq-id-files-submit-btn">
                            {{ form_widget(qualificationForm.type) }}
                            {{ form_widget(qualificationForm.save, { 'label': 'Upload' }) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="gq-id-files-content-wrap">
            <div class="gq-dashboard-box-1x">
                <div class="gq-dashboard-courses-detail-wrap margin-top15">
                    <div class="row qualification_files">
                        {% if qualFiles %}
                        {% for item in qualFiles %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="idfiles_{{item.id}}">
                            <div class="gq-dashboard-courses-detail">
                                <span class="gq-dashboard-points-icon">
                                    <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModal" otherfiles="others" fileid="{{item.id}}" filetype="{{item.type}}">
                                        <div class="gq-del-evidence"></div></a>
                                    <div class="tooltip-home top">
                                        <div class="tooltip-arrow"></div>
                                        <span class="">Delete ID File</span>
                                    </div>
                                </span>
                                <a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"><div class="gq-id-files-content-icon-wrap gq-id-files-content-doc-icon"></div></a>                                                    
                                <div class="gq-id-files-content-row-wrap">
                                    <div class="gq-id-files-content-row">
                                        <label>Title</label><span>{% set name = item.name|split('.') %}{{name.0}}</span>
                                    </div>
                                    {#<div class="gq-id-files-content-row">
                                        <label>Size</label><span>918KB</span>
                                    </div>#}
                                    <div class="gq-id-files-content-row">
                                        <label>Added on</label><span>{{item.created|date("d/m/Y") }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>                                            
                        {% endfor %}
                        {% else %}
                        No qualifications found
                        {% endif %}

                    </div>
                </div>
                <span class="flip-icon"></span>
            </div>
        </div>
    </div>

    <div class="gq-id-files">
        <div class="gq-id-files-header gq-id-files-header-applicant">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="gq-course-details-header-title">Reference Letters</div>
                </div>
                <form name="reference" id="referenceUpload" method="post" action="referenceupload" enctype="multipart/form-data">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="gq-id-files-upload-btn">
                            <span class="cloud-icon-browse">{{ form_widget(referenceForm.browse) }}</span>
                        </div>
                        <div class="loading-icon" style="display: none;" id="reference_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <div class="gq-id-files-submit-btn">
                            {{ form_widget(referenceForm.type) }}
                            {{ form_widget(referenceForm.save, { 'label': 'Upload' }) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="gq-id-files-content-wrap">
            <div class="gq-dashboard-box-1x">
                <div class="gq-dashboard-courses-detail-wrap margin-top15">
                    <div class="row reference_files">
                        {% if referenceFiles %}
                        {% for item in referenceFiles %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="idfiles_{{item.id}}">
                            <div class="gq-dashboard-courses-detail">
                                <span class="gq-dashboard-points-icon">
                                    <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModal" otherfiles="others" fileid="{{item.id}}" filetype="{{item.type}}">
                                        <div class="gq-del-evidence"></div></a>
                                    <div class="tooltip-home top">
                                        <div class="tooltip-arrow"></div>
                                        <span class="">Delete ID File</span>
                                    </div>
                                </span>
                                <a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"><div class="gq-id-files-content-icon-wrap gq-id-files-content-doc-icon"></div></a>                                                    
                                <div class="gq-id-files-content-row-wrap">
                                    <div class="gq-id-files-content-row">
                                        <label>Title</label><span>{% set name = item.name|split('.') %}{{name.0}}</span>
                                    </div>
                                    {#<div class="gq-id-files-content-row">
                                        <label>Size</label><span>918KB</span>
                                    </div>#}
                                    <div class="gq-id-files-content-row">
                                        <label>Added on</label><span>{{item.created|date("d/m/Y") }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>                                            
                        {% endfor %}
                        {% else %}
                        No reference letters found
                        {% endif %}

                    </div>
                </div>
                <span class="flip-icon"></span>
            </div>
        </div>
    </div>

    <div class="gq-id-files">
        <div class="gq-id-files-header gq-id-files-header-applicant">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="gq-course-details-header-title">Trainer Matrix</div>
                </div>
                <form name="matrix" id="matrixUpload" method="post" action="matrixupload" enctype="multipart/form-data">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="gq-id-files-upload-btn">
                            <span class="cloud-icon-browse">{{ form_widget(matrixForm.browse) }}</span>
                        </div>
                        <div class="loading-icon" style="display: none;" id="matrix_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <div class="gq-id-files-submit-btn">
                            {{ form_widget(matrixForm.type) }}
                            {{ form_widget(matrixForm.save, { 'label': 'Upload' }) }}
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="gq-id-files-submit-btn pull-right">
                                <button class="btn btn-grey" id="download_matrix">Download<span class="gq-profile-download-icon"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="gq-id-files-content-wrap">
            <div class="gq-dashboard-box-1x">
                <div class="gq-dashboard-courses-detail-wrap margin-top15">
                    <div class="row matrix_files">
                        {% if matrixFiles %}
                        {% for item in matrixFiles %}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="idfiles_{{item.id}}">
                            <div class="gq-dashboard-courses-detail">
                                <span class="gq-dashboard-points-icon">
                                    <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModal" otherfiles="others" fileid="{{item.id}}" filetype="{{item.type}}">
                                        <div class="gq-del-evidence"></div></a>
                                    <div class="tooltip-home top">
                                        <div class="tooltip-arrow"></div>
                                        <span class="">Delete ID File</span>
                                    </div>
                                </span>
                                <a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"><div class="gq-id-files-content-icon-wrap gq-id-files-content-doc-icon"></div></a>                                                    
                                <div class="gq-id-files-content-row-wrap">
                                    <div class="gq-id-files-content-row">
                                        <label>Title</label><span>{% set name = item.name|split('.') %}{{name.0}}</span>
                                    </div>
                                    {#<div class="gq-id-files-content-row">
                                        <label>Size</label><span>918KB</span>
                                    </div>#}
                                    <div class="gq-id-files-content-row">
                                        <label>Added on</label><span>{{item.created|date("d/m/Y") }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>                                            
                        {% endfor %}
                        {% else %}
                        No trainer matrix found
                        {% endif %}

                    </div>
                </div>
                <span class="flip-icon"></span>
            </div>
        </div>
    </div>

</div>
{% endif %}