<div role="tabpanel" class="tab-pane" id="change-pwd-form">

    {{ form_start(changepwdForm) }}
    <input type="hidden" name="hdn_pwd_check" id="hdn_pwd_check" value="0">
    <div class="gq-form-personal wid60p">
        <div class="gq-form-row">
            <label for="gq-last-name">Current Password</label>
                {{ form_widget(changepwdForm.oldpassword,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-last-name">New Password</label>
                {{ form_widget(changepwdForm.newpassword,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-last-name">Confirm Password</label>
                {{ form_widget(changepwdForm.confirmnewpassword,{ 'attr': {'maxlength': '30'} }) }}
        </div>

        <div class="gq-form-botton">
                {{ form_widget(changepwdForm.save,{ 'label': 'Change Password' , 'attr': {'class': 'btn btn-default'}}) }}
        </div>
        <div class="gq-form-botton">
            <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab" id="emptypwdform" class="btn-grey">Cancel</a>
        </div>
    </div>
    {{ form_end(changepwdForm) }}

</div>