{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Edit Profile{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap-select.min.css') }}" />
<link href="{{ asset('public/css/form.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/pages/all/candidate_profile.css') }}" />
<script src="{{ asset('public/js/custom-form-elements.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
{% endblock %}
{% block body %}
<div class="body_section candidate_profile">
    <div class="container">
        <div class="row">
           <div class="col-xs-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="row" id="profile_suc_msg">
                <div class="gq-id-files-upload-success-text">
                    <span>
                    {{ flashMessage }}</span>
                </div>
            </div>
            {% endfor %}
            <div class="gq-change-address-warning" id="change_address_error">
                {% for flashMessage in app.session.flashbag.get('errornotice') %}
                <div class="gq-id-address-error-text" style="dispaly:none">
                    <h2>{{ flashMessage }}</h2>
                </div>
               {% endfor %}
            </div>
            <div id="profile_suc_msg2"></div>
        </div>
        {% set userRole = app.security.getToken().getUser().getRoles() %}
        {% set userId = app.security.getToken().getUser().getId() %}
        <!-- DESKTOP VERSION -->
       
            {% include 'GqAusUserBundle:User:user.html.twig' %}
            {% include 'GqAusUserBundle:User:idfiles.html.twig' %}
       
        <!-- DESKTOP VERSION -->
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">

    $(document).ready(function(){
  $(".form_block input[type='text']").on('focusin', function(){
   $(this).data('val', $(this).val());
   $(this).prev().css("color","red");
   $(".update_btn").css("background","red");
  });
  
  $(".form_block input[type='text']").blur(function(){
   
   var prev = $(this).data('val');
   var current = $(this).val();
   var color = $(".form_block label").attr('style');
   
   if( (prev != current)){
    
    $(this).prev().css("color","red");
    
    $(this).attr('isChanged',"1");
    
    $(".update_btn").css("background","red");
   }else{
    $(this).attr('isChanged',"0");
    $(this).prev().removeAttr('style');
    checkChangeStatus();
    //$(".update_btn").css("background","#eee");
    
   }
  });
 
  function checkChangeStatus(){
   var change=false;
   $('#userprofile').find('input').each(function(index){
     if($(this).attr('isChanged')=="1"){
      change=true;
      $(".update_btn").css("background","red");
      return false;
     }
    });
    if(!change){
     $(".update_btn").css("background","#eee");
    }
  }
 
  var gender_val = $(".form_block input[type='radio']:checked").val();
 
  $(".form_block input[type='radio']").on('focusin', function(){
   $(this).next().css("color","red");
   $(".update_btn").css("background","red");
   current_val = $(this).val();
   if(gender_val != current_val){
    $(this).attr('isChanged',"1");
   }else{
 $(this).attr('isChanged',"0");
 $('#userprofile_gender_1').next().removeAttr('style');
   }
  
  });
 
  $(".form_block input[type='radio']").on('blur', function(){
   current_val = $(this).val();
   
   if(gender_val != current_val){
    $(this).attr('isChanged',"1");
    $(this).next().css("color","red");
    $(".update_btn").css("background","red");
   }else{
    $(this).attr('isChanged',"0");
    $('#userprofile_gender_0').attr('isChanged',"0");
    $('#userprofile_gender_1').attr('isChanged',"0");
    $("input[type='radio']").next().removeAttr('style');
    checkChangeStatus();
   }
   
  });
 
 
  $(".form_block .pwd input[type='text']").focus(function(){       
   $(this).prev().css("color","#999");
   $(".update_btn").css("background","#eee");
  });
  $(".form_block .pwd input[type='text']").blur(function(){
   $(this).prev().css("color","#999");
   $(".update_btn").css("background","#eee");
  });
    });
 
</script>
<script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
<script src="{{ asset('public/js/jquery.form.js') }}"></script>
<script src="{{ asset('public/js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
</script>
{% endblock %}
