{% extends 'revamp_base.html.twig' %}
{% block ngApp %} ng-app="gqAus" {% endblock%}
{% block ngController %} ng-controller="profileCtlr"  id="profileCtlr" {% endblock%}
{% block title %}  My Profile {% endblock %}
{% block ngtitle %}myProfile{% endblock%}
{% block stylesheets %}{% endblock %}
{% block body %}
    {% set userRole = app.security.getToken().getUser().getRoles() %}
    {% set userId = user.id%}
    {% set userFirstName = user.firstName %}
    {% set userLastName = user.lastName %}
    {% set userFullName = userFirstName~' '~userLastName%}
    {% set userUSI = user.universalStudentIdentifier %}
    {% set userDOB = user.dateOfBirth %}
    {% set userGender = user.gender %}
    {% set userImage = (user.userImage != '') ? amazon_link~'user-'~userId~'/'~user.userImage : 'public/ui/img/avatar-default.svg' %}
    {% set userEmail = user.email %}
    {% set userHomePhone = user.phone %}
    {% set userWorkPhone = user.contactPhone %}
    {% set userMobPhone = user.ceophone %}
    {% set userBilAdd =  user.address.buildingname~' '~user.address.address~' '~user.address.area~' '~user.address.city~' '~user.address.suburb~' '~user.address.state~' '~user.address.country~' '~user.address.pincode %}
    {% set userPosAdd = (user.address.postal == '1') ? userBilAdd : user.address.pbuildingname~' '~user.address.paddress~' '~user.address.parea~' '~user.address.pcity~' '~user.address.psuburb~' '~user.address.pstate~' '~user.address.pcountry~' '~user.address.ppincode %}
    {% set userIdFiles = user.idfiles %}
    <main class="main-content-gqa profile">
        <div class="container"></div>
        <div class="container">            
            <div class="panel panel-default">
                <div class="profile-header">
                    <div class="avatar avatar-sm">
                        <form>
                            <input type="file" id="userprofile_userImage" name="userprofile"/><i class="zmdi zmdi-camera"></i>
                        </form>
                        <input type="hidden" name="userVal" id="userVal" value="{{userId}}">
                        <input type="hidden" value="{{userId}}" id='hdn-userId' name='hdn-userId'/>
                        <input type="hidden" value="0" id='hdn-type' name='hdn-type'/>
                        <img src="{{userImage}}" alt="{{userFullName}}" id="user_profile_image" class="profile_image">
                    </div>
                    <div class="profile-user">
                        <div id="profile_suc_msg2"><span class="loading-icon" id="ajax-loading-icon" style="display:none;"><img id="ajax-loading-icon-img" src="{{ asset('public/images/loading.gif') }}" /></span></div>
                        <div class="ajax-profile-error" id="ajax-profile-error"></div>
                        <h2>{{userFullName}}</h2>
                        {% if('ROLE_APPLICANT' in userRole) %}
                            <h4>USI Number - <span>{{userUSI}}</span></h4>
                        {%endif%}
                    </div>
                </div>
            </div>
            {% if('ROLE_APPLICANT' not in userRole) %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-6 text-center">
                            <h2><i class="zmdi zmdi-pin-account"></i> {%if(applicantCount.applicants>0)%}{{applicantCount.applicants}}{%else%}0{%endif%}</h2>
                            <strong class="text-uppercase text-muted">Applicants handled</strong>
                        </div>
                        <div class="col-xs-12 col-sm-6 text-center">
                            <h2><i class="zmdi zmdi-graduation-cap"></i> {%if(applicantCount.qualifications>0)%}{{applicantCount.qualifications}}{%else%}0{%endif%}</h2>
                            <strong class="text-uppercase text-muted">Qualifications handled</strong>

                            <p class="small text-uppercase"><strong>{%if(applicantCount.completedQuals>0)%}{{applicantCount.completedQuals}}{%else%}0{%endif%} </strong>Completed / <strong>{%if(applicantCount.unCompletedQuals>0)%}{{applicantCount.unCompletedQuals}}{%else%}0{%endif%}</strong> Incomplete</p>
                        </div>
                    </div>
                </div>
            {%endif%}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Your Personal Details
                            <a class="pull-right" href="#" data-toggle="tooltip" title="Please contact your Account Manager....."><i class="zmdi zmdi-edit"></i><small>Edit</small></a>
                        </h3>
                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="profile-info">
                                    <i class="zmdi zmdi-calendar-note base-icon"></i>
                                    <p>Date of birth<span>{{userDOB}}</span></p>
                                </div>
                                <div class="profile-info">
                                    <i class="zmdi zmdi-phone base-icon"></i>
                                    <p>Home telepehone number<span>{{userHomePhone}}</span></p>
                                </div>
                                <div class="profile-info">
                                    <i class="zmdi zmdi-smartphone-iphone base-icon"></i>
                                    <p>Mobile number<span>{{userMobPhone}}</span></p>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="profile-info">
                                    <i class="zmdi zmdi-female base-icon"></i>
                                    <p>Gender<span>{{userGender}}</span></p>
                                </div>
                                <div class="profile-info">
                                    <i class="zmdi zmdi-phone base-icon"></i>
                                    <p>Work telephone number<span>{{userWorkPhone}}</span></p>
                                </div>
                                <div class="profile-info">
                                    <i class="zmdi zmdi-email base-icon"></i>
                                    <p>Email Address<a href="mailto:{{userEmail}}"><span>{{userEmail}}</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Your Address
                        <a class="pull-right" href="#" data-toggle="tooltip" title="Please contact your Account Manager....."><i class="zmdi zmdi-edit"></i><small>Edit</small></a>
                    </h3>
                    <div class="profile-info">
                        <i class="zmdi zmdi-pin base-icon"></i>
                        <p>Postal Address<span>{{userPosAdd}}</span></p>
                    </div>
                    <div class="profile-info">
                        <i class="zmdi zmdi-nature base-icon"></i>
                        <p>Billing Address<span>{{userBilAdd}}</span></p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Your Account Settings</h3>
                    <div class="profile-info profile-info-password"><i class="zmdi zmdi-lock base-icon"></i>
                        <p>Password <br />
                            <span>
                                <i class="zmdi zmdi-circle"></i>
                                <i class="zmdi zmdi-circle"></i>
                                <i class="zmdi zmdi-circle"></i>
                                <i class="zmdi zmdi-circle"></i>
                                <i class="zmdi zmdi-circle"></i>
                                <i class="zmdi zmdi-circle"></i>
                                <i class="zmdi zmdi-circle"></i>
                                <i class="zmdi zmdi-circle"></i>
                                <i class="zmdi zmdi-circle"></i>
                            </span>
                            <button class="btn btn-link btn-sm" data-toggle="modal" data-target="#editPassword"><i class="zmdi zmdi-edit"></i>Edit</button>
                        </p>
                    </div>
                {% if('ROLE_APPLICANT' in userRole) %}
                    <div class="profile-info">
                        <i class="zmdi zmdi-account-box base-icon"></i>
                        <p>ID Files Submitted
                            {% set fileSts = 0 %}
                            {% if userIdFiles is defined %}
                                {% for item in userIdFiles %}
                                    {% if item.status != 1 %}
                                        {% set fileSts = 1 %}
                                        <a data-toggle="modal" data-target="#fileViewer{{item.id}}" href = "{{ amazon_link~item.path }}"><span>{{item.type.type}}</span></a>
                                    {% endif %}
                                {% endfor %}
                                {% if fileSts == 0 or userIdFiles is not defined %}<span>{{no_id_files}}</span>{% endif %}                        
                            {% endif %}
                        </p>
                    </div>
                {%endif%}
                </div>
            </div>
        </div>
    </main>
    <!-- Change password -->
    <div class="modal fade" id="editPassword" >
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-hc-lg zmdi-close"></i></button>
                    <h4 class="modal-title">Change Your Password</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label">Old Password</label>
                            <span class="form-password-mask">
                                <input type="password" class="form-control" id="oldPassword" data-element="password">
                                <button type="button" class="btn btn-mask-password" data-target="password"><i class="zmdi zmdi-eye"></i></button>
                            </span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">New Password</label>
                            <span class="form-password-mask">
                                <input type="password" class="form-control" id="password" data-element="password">
                                <button type="button" class="btn btn-mask-password" data-target="password"><i class="zmdi zmdi-eye"></i></button>
                            </span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Confirm New Password</label>
                            <span class="form-password-mask">
                                <input type="password" class="form-control" id="confirmPassword" data-element="password">
                                <button type="button" class="btn btn-mask-password" data-target="password"><i class="zmdi zmdi-eye"></i></button>
                            </span>
                        </div>
                        <div class="alert alert-danger hidden" id="errorMessage">
                            <i class="zmdi zmdi-alert-circle-o zmdi-hc-lg zmdi-hc-fw"></i> <span></span>
                        </div>
                        <button type="button" disabled class="btn btn-success text-uppercase btn-block" id="submitPassword">Change my Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Change Password -->
    {% if('ROLE_APPLICANT' in userRole) %}
        {% if userIdFiles is defined %}
            {% for item in userIdFiles %}
            <!-- File Preview -->
                <div class="modal fade" id="fileViewer{{item.id}}">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-hc-lg zmdi-close"></i></button>
                                <h4 class="modal-title">{{item.name}}</h4>
                            </div>
                            <div class="modal-body modal-body-lg"> 
                                <img src="{{ amazon_link~item.path }}" style="width: 100%;" alt="{{item.name}}" title="{{item.name}}">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of File Preview -->
            {%endfor%}
        {%endif%}
    {%endif%}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
    <script src="{{ asset('public/js/s3-upload/s3upload-profileimg.js') }}"></script>
    <script src="{{ asset('public/js/s3-upload/s3upload-trainermatrix.js') }}"></script>
    <script src="{{ asset('public/ui/js/change-password.js') }}"></script>
    <script src="{{ asset('public/ui/js/profile.js') }}"></script>
{% endblock %}
