{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Dashboard{% endblock %}
{% block stylesheets %}
<link href="{{ asset('public/css/form.css') }}" rel="stylesheet">
<script src="{{ asset('public/js/custom-form-elements.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />

{% endblock %}
{% block body %}
<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="gq-dashboard-title">Profile</h1>
            <!-- <h6 class="gq-dashboard-title-desc">Some description can be given here</h6>  -->
        </div>        

    </div>
    <div class="row">
        {{ form_start(form) }}
        <div class="col-xs-push-3 col-xs-6">
            <div class="row">
                <div class="gq-profile-page-img" id="ajax-gq-profile-page-img" style="background-image: url(&quot;{{ userImage }}&quot;);"></div>
            </div>    
        </div>
        <div class="col-xs-12">
			<div class="row">
					<div class="gq-edit-photo-btn">
							<span class="btn-grey">{{ form_widget(form.userImage) }}</span>
							<span class="loading-icon" id="ajax-loading-icon" style="display:none;"><img id="ajax-loading-icon-img" src="{{ asset('public/images/loading.gif') }}" /></span>
					</div>
				<div class="ajax-profile-error" id="ajax-profile-error"></div>
			</div>
        </div>
		<div class="col-xs-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="row" id="profile_suc_msg">
                <div class="gq-id-files-upload-success-text">
                  <h2><img src="{{ asset('public/images/tick.png') }}">
                    {{ flashMessage }}</h2>
                </div>
            </div>
            {% endfor %}
                    
            <div class="col-xs-push-4 col-xs-4" id="change_pwd_error">
                {% for flashMessage in app.session.flashbag.get('errornotice') %}
                <div class="gq-well well">
                    <span class="login-warning-icon" aria-hidden="true"></span>
                    <div class="login-warning-text">{{ flashMessage }}</div>
                </div>
               {% endfor %}
            </div>        
            <div class="row" id="profile_suc_msg2"></div>
        </div>        
        {% set userRole = app.security.getToken().getUser().getRoles() %}
        <div class="col-xs-12">
            <div class="gq-dashboard-tabs">
                <!-- Tabs start here -->
                <div class="gq-dashboard-tabs-header gq-profile-tabs-header wid60p" id="gq-profile-tabs-headerid">
                    <ul class="nav nav-pills nav-justified" role="tablist" id="myTab">
                        <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a></li>
                        <li role="presentation"><a href="#address" aria-controls="address" role="tab" data-toggle="tab">Address</a></li>
                        {% if ('ROLE_APPLICANT' in userRole) %}
                        <li role="presentation"><a href="#id-fields" aria-controls="id-fields" role="tab" data-toggle="tab">ID Files</a></li>                        
                        {% endif %}
                        {% if ('ROLE_ASSESSOR' in userRole) %}
                        <li role="presentation"><a href="#others" aria-controls="others" role="tab" data-toggle="tab">Others</a></li>                        
                        {% endif %}
                    </ul>
                </div>
                <!-- Tabs end start here -->
                <!-- Content for respective tabs above will be in this section -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="personal">
                        <div class="gq-form-personal wid60p">
                            {{ form_start(form) }}
                                <div class="gq-form-row">
                                    <label for="gq-first-name">First Name</label>
                                    {{ form_widget(form.firstname) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-last-name">Last Name</label>
                                    {{ form_widget(form.lastname) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-email-name">Email</label>
                                    {{ form_widget(form.email) }}
                                </div>
                                <div class="gq-form-row">
                                    <label class="pull-left" for="gq-personal-pwd">Gender</label>
                                    {{ form_widget(form.gender) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-personal-pwd">Phone</label>
                                    {{ form_widget(form.phone) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-personal-pwd">Date Of Birth</label>
                                    {{ form_widget(form.dateOfBirth) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-personal-pwd">USI</label>
                                    {{ form_widget(form.universalStudentIdentifier) }}
                                </div>
								<div class="wid100p text-center margin-top15">
									<a href="#change-pwd-form" aria-controls="change-pwd-form" role="tab" data-toggle="tab" id="emptypwdform1">change password</a>
								</div>
                                <div class="gq-form-botton">
                                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
                                </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="address">
                        <div class="gq-form-personal wid60p">
                                <div class="gq-form-row">
                                    <label for="gq-last-name">Address</label>
                                    {{ form_widget(form.address.address) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-last-name">Area</label>
                                    {{ form_widget(form.address.area) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-last-name">City</label>
                                    {{ form_widget(form.address.city) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-email-name">State</label>
                                    {{ form_widget(form.address.state) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-personal-pwd">Pincode</label>
                                    {{ form_widget(form.address.pincode) }}
                                </div>
                                <div class="gq-form-botton">
                                    <button type="submit" id="userprofile_save" name="userprofile[save]" class="btn btn-default">Save</button>
                                </div>
                       
                        </div>
                    </div>
                     {{ form_end(form) }}
                    {% if ('ROLE_APPLICANT' in userRole) %}
                    <div role="tabpanel" class="tab-pane" id="id-fields">
                        <div class="gq-id-files-upload-text">
                            <h2>Upload ID Files</h2>
                        </div>
                        
                        <div class="gq-id-files">
                            <form name = "Id_files" method = "POST" action="idfileupload" enctype="multipart/form-data">
                                <div class="gq-id-files-header gq-id-files-header-applicant">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-select">
                                                 {{ form_widget(filesForm.type, {'attr': {'class': 'styled'}}) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-upload-btn">
                                                <span class="cloud-icon-browse">{{ form_widget(filesForm.browse) }} </span>
                                            </div>
                                        </div>
										<div id="idfiletype_image"></div>
                                        <div class="col-lg2 col-md-2 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-submit-btn">
                                                {{ form_widget(filesForm.save, { 'label': 'Upload' }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="gq-id-files-content-wrap">
                                <div class="gq-dashboard-box-1x">
								<div class="gq-dashboard-box-title-wrap">
										<div class="col-lg-6 col-sm-6 col-md-6 col-xs-10">
												<h2 class="gq-dashboard-box-title">Your ID Files</h2>
										</div>
										<div class="col-xs-6" id="idfiles_msg"></div>
										<div class="col-xs-3"></div>
                                    </div>
                                    <div class="gq-dashboard-courses-detail-wrap margin-top15">
                                        <div class="row">
                                            {% for item in userIdFiles %}
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="idfiles_{{item.id}}">
                                                <div class="gq-dashboard-courses-detail">
												
												<span class="gq-dashboard-points-icon">
													<a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModal" fileid="{{item.id}}" filetype="{{item.type.type}}">
													<div class="gq-del-evidence"></div></a>
													<div class="tooltip-home top">
														<div class="tooltip-arrow"></div>
														<span class="">Delete ID File</span>
													</div>
												</span>
                                                    {% if item.type.id == 1 %}
                                                        {% set doc_type = 'gq-id-files-content-img-icon' %}
                                                    {#{% elseif item.type.id == 2 %}
                                                        {% set doc_type = 'gq-id-files-content-pdf-icon' %}#}
                                                    {% else %}
                                                         {% set doc_type = 'gq-id-files-content-esc-icon' %}
                                                    {% endif %}
                                                    <a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"><div class="gq-id-files-content-icon-wrap {{doc_type}}"></div></a>
                                                    <div class="gq-id-files-content-row-wrap">
                                                        <div class="gq-id-files-content-row">
                                                            <a href="{{ amazon_link~item.path }}" target="_blank"><label>Title</label><span>{{item.type.type}}</span></a>
                                                        </div>
                                                        <div class="gq-id-files-content-row">
                                                            <label>Added on</label><span>{{item.created|date("d/m/Y") }}</span>
                                                        </div>
														
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <span class="flip-icon"></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endif %}
                    {% if ('ROLE_ASSESSOR' in userRole) %}
                    <div role="tabpanel" class="tab-pane" id="others">
                        <div class="gq-id-files-upload-text">
                            <h2></h2>
                        </div>
                        <div class="gq-id-files-upload-success-text col-lg-3 col-md-4 col-sm-6 col-xs-12"  style="display: none;" id="resume_msg">
                            <h2><span></span>Files uploaded successfully</h2>
                        </div>
                        <div class="col-xs-6" id="idfiles_msg"></div>
                        <div class="gq-id-files">
                            <div class="gq-id-files-header gq-id-files-header-applicant">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <div class="gq-course-details-header-title">Resume</div>
                                    </div>
                                    <form name="resume" id="resumeUpload" method="post" action="resumeupload" enctype="multipart/form-data">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-upload-btn">
                                                <span class="cloud-icon-browse">{{ form_widget(resumeForm.browse) }}</span>
                                            </div>
                                            <div class="loading-icon" style="display: none;" id="resume_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-submit-btn">
                                                {{ form_widget(resumeForm.type) }}
                                                {{ form_widget(resumeForm.save, { 'label': 'Upload' }) }}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="gq-id-files-content-wrap">
                                <div class="gq-dashboard-box-1x">
                                    <div class="gq-dashboard-courses-detail-wrap margin-top15">
                                        <div class="row resume_files">                                
                                            {% if resumeFiles %}
                                            {% for item in resumeFiles %}
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="idfiles_{{item.id}}">
                                                <div class="gq-dashboard-courses-detail">
                                                    <span class="gq-dashboard-points-icon">
                                                        <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModal" otherfiles="others" fileid="{{item.id}}" filetype="{{item.type}}">
                                                            <div class="gq-del-evidence"></div></a>
                                                        <div class="tooltip-home top">
                                                            <div class="tooltip-arrow"></div>
                                                            <span class="">Delete ID File</span>
                                                        </div>
                                                    </span>
                                                    <a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"><div class="gq-id-files-content-icon-wrap gq-id-files-content-doc-icon"></div></a>                                                    
                                                    <div class="gq-id-files-content-row-wrap">
                                                        <div class="gq-id-files-content-row">
                                                            <label>Title</label><span>{% set name = item.name|split('.') %}{{name.0}}</span>
                                                        </div>
                                                        {#<div class="gq-id-files-content-row">
                                                            <label>Size</label><span>918KB</span>
                                                        </div>#}
                                                        <div class="gq-id-files-content-row">
                                                            <label>Added on</label><span>{{item.created|date("d/m/Y") }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                            {% endfor %}
                                            {% else %}
                                                No resumes found
                                            {% endif %}
                                        </div>
                                    </div>
                                    <span class="flip-icon"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="gq-id-files">
                            <div class="gq-id-files-header gq-id-files-header-applicant">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <div class="gq-course-details-header-title">Qualifications</div>
                                    </div>
                                    <form name="qualification" id="qualificationUpload" method="post" action="qualificationupload" enctype="multipart/form-data">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-upload-btn">
                                                <span class="cloud-icon-browse">{{ form_widget(qualificationForm.browse) }}</span>
                                            </div>
                                            <div class="loading-icon" style="display: none;" id="qualification_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-submit-btn">
                                                {{ form_widget(qualificationForm.type) }}
                                                {{ form_widget(qualificationForm.save, { 'label': 'Upload' }) }}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="gq-id-files-content-wrap">
                                <div class="gq-dashboard-box-1x">
                                    <div class="gq-dashboard-courses-detail-wrap margin-top15">
                                        <div class="row qualification_files">
                                            {% if qualFiles %}
                                            {% for item in qualFiles %}
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="idfiles_{{item.id}}">
                                                <div class="gq-dashboard-courses-detail">
                                                    <span class="gq-dashboard-points-icon">
                                                        <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModal" otherfiles="others" fileid="{{item.id}}" filetype="{{item.type}}">
                                                            <div class="gq-del-evidence"></div></a>
                                                        <div class="tooltip-home top">
                                                            <div class="tooltip-arrow"></div>
                                                            <span class="">Delete ID File</span>
                                                        </div>
                                                    </span>
                                                    <a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"><div class="gq-id-files-content-icon-wrap gq-id-files-content-doc-icon"></div></a>                                                    
                                                    <div class="gq-id-files-content-row-wrap">
                                                        <div class="gq-id-files-content-row">
                                                            <label>Title</label><span>{% set name = item.name|split('.') %}{{name.0}}</span>
                                                        </div>
                                                        {#<div class="gq-id-files-content-row">
                                                            <label>Size</label><span>918KB</span>
                                                        </div>#}
                                                        <div class="gq-id-files-content-row">
                                                            <label>Added on</label><span>{{item.created|date("d/m/Y") }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                            {% endfor %}
                                            {% else %}
                                                No qualifications found
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                    <span class="flip-icon"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="gq-id-files">
                            <div class="gq-id-files-header gq-id-files-header-applicant">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <div class="gq-course-details-header-title">Reference Letters</div>
                                    </div>
                                    <form name="reference" id="referenceUpload" method="post" action="referenceupload" enctype="multipart/form-data">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-upload-btn">
                                                <span class="cloud-icon-browse">{{ form_widget(referenceForm.browse) }}</span>
                                            </div>
                                            <div class="loading-icon" style="display: none;" id="reference_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-submit-btn">
                                                {{ form_widget(referenceForm.type) }}
                                                {{ form_widget(referenceForm.save, { 'label': 'Upload' }) }}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="gq-id-files-content-wrap">
                                <div class="gq-dashboard-box-1x">
                                    <div class="gq-dashboard-courses-detail-wrap margin-top15">
                                        <div class="row reference_files">
                                            {% if referenceFiles %}
                                            {% for item in referenceFiles %}
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="idfiles_{{item.id}}">
                                                <div class="gq-dashboard-courses-detail">
                                                    <span class="gq-dashboard-points-icon">
                                                        <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModal" otherfiles="others" fileid="{{item.id}}" filetype="{{item.type}}">
                                                            <div class="gq-del-evidence"></div></a>
                                                        <div class="tooltip-home top">
                                                            <div class="tooltip-arrow"></div>
                                                            <span class="">Delete ID File</span>
                                                        </div>
                                                    </span>
                                                    <a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"><div class="gq-id-files-content-icon-wrap gq-id-files-content-doc-icon"></div></a>                                                    
                                                    <div class="gq-id-files-content-row-wrap">
                                                        <div class="gq-id-files-content-row">
                                                            <label>Title</label><span>{% set name = item.name|split('.') %}{{name.0}}</span>
                                                        </div>
                                                        {#<div class="gq-id-files-content-row">
                                                            <label>Size</label><span>918KB</span>
                                                        </div>#}
                                                        <div class="gq-id-files-content-row">
                                                            <label>Added on</label><span>{{item.created|date("d/m/Y") }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                            {% endfor %}
                                            {% else %}
                                                No reference letters found
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                    <span class="flip-icon"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="gq-id-files">
                            <div class="gq-id-files-header gq-id-files-header-applicant">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <div class="gq-course-details-header-title">Trainer Matrix</div>
                                    </div>
                                    <form name="matrix" id="matrixUpload" method="post" action="matrixupload" enctype="multipart/form-data">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-upload-btn">
                                                <span class="cloud-icon-browse">{{ form_widget(matrixForm.browse) }}</span>
                                            </div>
                                            <div class="loading-icon" style="display: none;" id="matrix_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                            <div class="gq-id-files-submit-btn">
                                                {{ form_widget(matrixForm.type) }}
                                                {{ form_widget(matrixForm.save, { 'label': 'Upload' }) }}
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                    <div class="gq-id-files-submit-btn pull-right">
                                                            <button class="btn btn-grey" id="download_matrix">Download<span class="gq-profile-download-icon"></span></button>
                                                    </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="gq-id-files-content-wrap">
                                <div class="gq-dashboard-box-1x">
                                    <div class="gq-dashboard-courses-detail-wrap margin-top15">
                                        <div class="row matrix_files">
                                            {% if matrixFiles %}
                                            {% for item in matrixFiles %}
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="idfiles_{{item.id}}">
                                                <div class="gq-dashboard-courses-detail">
                                                    <span class="gq-dashboard-points-icon">
                                                        <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModal" otherfiles="others" fileid="{{item.id}}" filetype="{{item.type}}">
                                                            <div class="gq-del-evidence"></div></a>
                                                        <div class="tooltip-home top">
                                                            <div class="tooltip-arrow"></div>
                                                            <span class="">Delete ID File</span>
                                                        </div>
                                                    </span>
                                                    <a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"><div class="gq-id-files-content-icon-wrap gq-id-files-content-doc-icon"></div></a>                                                    
                                                    <div class="gq-id-files-content-row-wrap">
                                                        <div class="gq-id-files-content-row">
                                                            <label>Title</label><span>{% set name = item.name|split('.') %}{{name.0}}</span>
                                                        </div>
                                                        {#<div class="gq-id-files-content-row">
                                                            <label>Size</label><span>918KB</span>
                                                        </div>#}
                                                        <div class="gq-id-files-content-row">
                                                            <label>Added on</label><span>{{item.created|date("d/m/Y") }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                            {% endfor %}
                                            {% else %}
                                                No trainer matrix found
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                    <span class="flip-icon"></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endif %}
                    <!-- Change Password --> 
                    <div role="tabpanel" class="tab-pane" id="change-pwd-form">
                        
                        {{ form_start(changepwdForm) }}
                        <input type="hidden" name="hdn_pwd_check" id="hdn_pwd_check" value="0">
                        <div class="gq-form-personal wid60p">
                                <div class="gq-form-row">
                                    <label for="gq-last-name">Current Password</label>
                                    {{ form_widget(changepwdForm.oldpassword) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-last-name">New Password</label>
                                    {{ form_widget(changepwdForm.newpassword) }}
                                </div>
                                <div class="gq-form-row">
                                    <label for="gq-last-name">Confirm Password</label>
                                    {{ form_widget(changepwdForm.confirmnewpassword) }}
                                </div>
                            
                                <div class="gq-form-botton">
                                    {{ form_widget(changepwdForm.save,{ 'label': 'Change Password' , 'attr': {'class': 'btn btn-default'}}) }}
                                </div>
                                <div class="gq-form-botton">
                                    <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab" id="emptypwdform">Cancel</a>
                                </div>
                        </div>
                        {{ form_end(changepwdForm) }}
                        
                    </div>
                    <!-- Change Password -->
                </div>
                <!-- script for enabling tabs functionality 
                <script>
                    $(function() {
                        $('#myTab a:last').tab('show')
                    })
                </script>-->
                <!--End of content for respective tabs above will be in this section -->
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog gq-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="fclose" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">Do yo want to delete selected file ?</h4>
      </div>
      <div class="modal-footer">
        <a class="btn btn-white deleteIdFiles">Ok</a>
        <a class="btn btn-white" id="fclose-cancel">Cancel</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{#{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}#}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox').fancybox();
        $( "#userprofile_dateOfBirth" ).datepicker();
        $("#password_save").click(function () {
            var curpwd = $("#password_oldpassword").val();
            var newpwd = $("#password_newpassword").val();
            var newconfirmpwd = $("#password_confirmnewpassword").val();
            var startdiv = '<div class="gq-well well"><span class="login-warning-icon" aria-hidden="true"></span><div class="login-warning-text">';
            var enddiv = '</div></div>';
            var hdnpwdchk = $("#hdn_pwd_check").val();
            if(curpwd!="" && newpwd!="" && newconfirmpwd!="")
            { 
                if(newpwd.length<6)
                {
                    $("#change_pwd_error").html(startdiv+'New Password must be minimum of 6 characters'+enddiv);
                    $("#password_newpassword").val('');
                    return false;
                }
                else if(newconfirmpwd.length<6)
                {
                    $("#change_pwd_error").html(startdiv+'New Confirm Password must be minimum of 6 characters'+enddiv);
                    $("#password_confirmnewpassword").val('');
                    return false;
                }
                else if(curpwd==newpwd)
                {
                    $("#change_pwd_error").html(startdiv+'Current Password and New Password must be different'+enddiv);
                    $("#password_newpassword").val('');
                    $("#password_confirmnewpassword").val('');
                    return false;
                }
                else if(newpwd!=newconfirmpwd)
                {
                    $("#change_pwd_error").html(startdiv+'New Password and Confirm Password does not match'+enddiv);
                    $("#password_confirmnewpassword").val('');
                    return false;
                }
                else if(hdnpwdchk==0)
                {
                    checkCurrentPassword($("#password_oldpassword").val());
                    $("#change_pwd_error").html(startdiv+'Please wait till password gets validated'+enddiv);
                    return false;
                }
                    
            }
        });
        $("#password_oldpassword").blur(function () {
            checkCurrentPassword($("#password_oldpassword").val());
        });
        $("#password_newpassword,#password_confirmnewpassword").keyup(function () {
            checkspace(this);
        });
        $("#emptypwdform").click(function () {
            $("#gq-profile-tabs-headerid").show();
            $("#password_oldpassword").val('');
            $("#password_newpassword").val('');
            $("#password_confirmnewpassword").val('');
        });
        $("#emptypwdform1 ").click(function () {
            $("#gq-profile-tabs-headerid").hide();
            $("#password_oldpassword").val('');
            $("#password_newpassword").val('');
            $("#password_confirmnewpassword").val('');
        });
    });
</script>
{% endblock %}