{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Edit Profile{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap-select.min.css') }}" />
<link href="{{ asset('public/css/form.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/pages/all/candidate_profile.css') }}" />
<script src="{{ asset('public/js/custom-form-elements.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
{% endblock %}
{% block body %}
<div class="body_section candidate_profile">
    <div class="container">
        <div class="row">
           <div class="col-xs-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="row gfdgfd" id="profile_suc_msg" >
                <div class="gq-id-files-upload-success-text" style="dispaly:none">
                    <span>
                    {{ flashMessage }}</span>
                </div>
            </div>
            {% endfor %}
            <div class="gq-change-address-warning" id="change_address_error">
                {% for flashMessage in app.session.flashbag.get('errornotice') %}
                <div class="gq-id-address-error-text" style="dispaly:none">
                    <h2>{{ flashMessage }}</h2>
                </div>
               {% endfor %}
            </div>
            <div id="profile_suc_msg2"></div>
        </div>
        {% set userRole = app.security.getToken().getUser().getRoles() %}
        {% set userId = app.security.getToken().getUser().getId() %}
        {% set applicantStatus = app.security.getToken().getUser().getApplicantStatus() %}
        <!-- DESKTOP VERSION -->
       
            {% include 'GqAusUserBundle:User:user.html.twig' %}
            {% include 'GqAusUserBundle:User:idfiles.html.twig' %}
       
        <!-- DESKTOP VERSION -->
        </div>
    </div>
</div>
<div class="modal fade center_popup transparent_popup" id="onboard2" role="dialog">
    <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                    <div class="modal-body">
                            <div class="step_list">
                                <form class="form" name="save_userdata"  id="save_userdata">
                                    <h2>Let's get you started!</h2>

                                    <ul>
                                            <li>
                                                    <span class="title"><strong>Step 1:</strong></span>
                                                    <p class="content">Check and complete your details and 100 points of ID</p>
                                            </li>
                                            <li>
                                                    <span class="title"><strong>Step 2:</strong></span>
                                                    <p class="content">Choose elective units for your course</p>
                                            </li>
                                            <li>
                                                    <span class="title"><strong>Step 3:</strong></span>
                                                    <p class="content">Start uploading your files as evidence of your skills & knowledge</p>
                                            </li>
                                            <li>
                                                    <p class="content">For more info at any time, check the Frequently Asked Questions</p>
                                            </li>
                                    </ul>
                                    <div class="btn_section clearfix">
                                            <a href="{{ app.request.baseUrl }}/faq" target="MyNewWindow" class="faq_btn">
                                                    <span><i class="material-icons">info</i></span>
                                            FAQs</a>
                                            <a href="javascript:void(0)" class="active" onclick="saveUserPassword()">Ok, got it</a>
                                    </div>
                                    </form>
                            </div>
                    </div>
            </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

    $(document).ready(function(){ 
    if({{applicantStatus}} == '2')
    {
        $("#onboard2").removeClass("hidden");
        $('#onboard2').modal({backdrop: 'static', keyboard: false,show:true}); 
    }
  $(".form_block input[type='text']").on('focusin', function(){
   $(this).data('val', $(this).val());
   $(this).prev().css("color","red");
   $(".update_btn").css("background","red");
  });
  
  $(".form_block input[type='text']").blur(function(){
   
   var prev = $(this).data('val');
   var current = $(this).val();
   var color = $(".form_block label").attr('style');
   
   if( (prev != current)){
    
    $(this).prev().css("color","red");
    
    $(this).attr('isChanged',"1");
    
    $(".update_btn").css("background","red");
   }else{
    $(this).attr('isChanged',"0");
    $(this).prev().removeAttr('style');
    checkChangeStatus();
    //$(".update_btn").css("background","#eee");
    
   }
  });
 
  function checkChangeStatus(){
   var change=false;
   $('#userprofile').find('input').each(function(index){
     if($(this).attr('isChanged')=="1"){
      change=true;
      $(".update_btn").css("background","red");
      return false;
     }
    });
    if(!change){
     $(".update_btn").css("background","#eee");
    }
  }
 
  var gender_val = $(".form_block input[type='radio']:checked").val();
 var genderId=null;
 var changeFired=false;
  $(".form_block input[type='radio']").on('change', function(){
  changeFired=true;
  //alert($(this).attr('id')); 
  genderId= '#'+$(this).attr('id');
   $(this).next().css("color","red");
   $(".update_btn").css("background","red");
   current_val = $(this).val();
   if(gender_val != current_val){
    $(this).attr('isChanged',"1");
   }else{
 $(this).attr('isChanged',"0");
 $('#userprofile_gender_1').next().removeAttr('style');
   }
  
  });
  
$("body").on("click",function(evt){
 
//	alert(evt.target);
	
	current_val = $(genderId).val();
	//alert($(evt.target).attr('type'));
	if(changeFired && $(evt.target).attr('type')!="radio" && gender_val == current_val){
	  $(genderId).attr('isChanged',"0");
    $('#userprofile_gender_0').attr('isChanged',"0");
    $('#userprofile_gender_1').attr('isChanged',"0");
    $("input[type='radio']").next().removeAttr('style');
	changeFired=false;
	if($(evt.target).attr('type')==undefined){
    checkChangeStatus();
	}
 }
 	
 });
 
 
  $(".form_block input[type='radio']").on('blur', function(){
   current_val = $(this).val();
   
   if(gender_val != current_val){
    $(this).attr('isChanged',"1");
    $(this).next().css("color","red");
    $(".update_btn").css("background","red");
   }else{
    $(this).attr('isChanged',"0");
    $('#userprofile_gender_0').attr('isChanged',"0");
    $('#userprofile_gender_1').attr('isChanged',"0");
    $("input[type='radio']").next().removeAttr('style');
    checkChangeStatus();
   }
   
  });

 
 
  $(".form_block .pwd input[type='text']").focus(function(){       
   $(this).prev().css("color","#999");
   $(".update_btn").css("background","#eee");
  });
  $(".form_block .pwd input[type='text']").blur(function(){
   $(this).prev().css("color","#999");
   $(".update_btn").css("background","#eee");
  });
    });
 
</script>
<script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
<script src="{{ asset('public/js/jquery.form.js') }}"></script>
<script src="{{ asset('public/js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
</script>
{% endblock %}
