{% block stylesheets %}
<!--<link rel="stylesheet" href="{{ asset('public/css/pages/all/profile.css') }}">-->
<link href="{{ asset('public/css/form.css') }}" rel="stylesheet">
{#<script src="{{ asset('public/js/custom-form-elements.js') }}"></script>#}
{% endblock %}  
<!-- Modal -->
<div class="modal fade profile_popup" id="roleprofile2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="title_bar hidden-sm hidden-md hidden-lg">
                    <span><i class="material-icons arrow_back">arrow_back</i></span>Your Profile<span><i class="material-icons clear_icon">clear</i></span>
                </div>   
                {% if (userRole=='ROLE_FACILITATOR') %}
                    {% set role = 'Facilitator' %}
                {% elseif(userRole=='ROLE_RTO') %}
                    {% set role = 'RTO' %}
                {% elseif(userRole=='ROLE_ASSESSOR') %}
                    {% set role = 'Assessor' %}                    
                {% elseif(userRole=='ROLE_APPLICANT') %}
                    {% set role = '' %}
                {% elseif(userRole=='ROLE_MANAGER') %}
                    {% set role = 'Manager' %}
                {% elseif(userRole=='ROLE_SUPERADMIN') %}
                    {% set role = 'SuperAdmin' %}
                {% endif %}
                <!-- Profile Form -->
                <div class="header_block clearfix" id='user_profile_form_div'>
                    <div class="profile_section">
                        <div class="col-xs-12">
                            <div class="row">
                                
                                <div class="ajax-profile-error" id="ajax-profile-error"></div>
                            </div>
                        </div>
                        
                        <div id='ajax-gq-profile-page-img'><img src="{% if userImage !="" %}{{amazon_link~'user-'~userId~'/'~userImage}} {% else %} {{ asset('public/images/userprofile.png')}} {% endif %}" alt="profile_pic" id='user_profile_image' class="profile_image"/><input type="file" id="userprofile_userImage" name="userprofile" class="hidden browse_btn"></div>
                       
                        <input type="hidden" name="userVal" id="userVal" value="{{userId}}">
                        <div class="content">
                            <h5 class="name"><strong>Edit User</strong></h5>
                            <span class="field">{{role}}</span>
                            {#<span class="title uploadTrigger"><input type="file" ></span>#}
                        </div>
                    </div>
                         <span class="loading-icon" id="ajax-loading-icon" style="display:none;"><img id="ajax-loading-icon-img" src="{{ asset('public/images/loading.gif') }}" /></span>
                    <span class="close" data-dismiss="modal"><i class="material-icons clear_icon">clear</i></span>
                </div>

                <div class="row" id="profile_suc_msg2"></div>
                <div class="gq-change-address-warning" id="change_address_error">
                    {% for flashMessage in app.session.flashbag.get('errornotice') %}
                    <div class="gq-id-address-error-text" style="dispaly:none">
                        <h2>{{ flashMessage }}</h2>
                    </div>
                    {% endfor %}
                </div>
                <div class="ajax-profile-error" id="ajax-profile-error"></div>
                
                <form class="form adduser_profile_form" id='user_profile_form_manager' action="{{ app.request.baseUrl }}/editUser/{{userId}}" method="post">
                    <div class="form_fields">
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label>{% if ('ROLE_RTO' in userRole) %} College Name {% else %} First Name {% endif %} </label>                                                        
                                {{ form_widget(form.firstname,{ 'attr': {'maxlength': '30'} }) }}
                                <input type="hidden" value="{{userId}}" id='hdn-userId' name='hdn-userId'/>
                                <input type='hidden' id='hdn-type' name='hdn-type' value="1"><!-- 0: edit profile, 1: edit user, 2: add user -->
                                <input type='hidden' id='hdn-userrole' name='hdn-role' value="{% if ('ROLE_RTO' in userRole) %}rtouser{% elseif ('ROLE_FACILITATOR' in userRole) %}facilitatoruser{% elseif ('ROLE_ASSESSOR' in userRole) %}assessortoruser{% else %}applicant{% endif %}">
                            </div>
                            <div class="form-group">
                                <label>{% if ('ROLE_RTO' in userRole) %} Provider Code {% else %} Last Name {% endif %}</label>
                                {{ form_widget(form.lastname,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>
                        <div class="section name_group clearfix">
                            <input type="hidden" value="{{userEmail}}" id='hdn-email' name='hdn-email'/>
                            <div class="form-group">
                                <label>Email</label>
                                {{ form_widget(form.email) }}
                            </div>
                             <div class="form-group">
                                <label>Password</label>
                                <input type="text" value="........" readonly >
                                <span><i class="material-icons lock" onclick="changePassowordDiv('1')">lock</i></span>
                            </div>
                        </div>
                        
                        {% if ('ROLE_APPLICANT' in userRole) %}
                        <div class="section">
                            <div class="form-group">
                                <label class="pull-left" for="gq-personal-pwd">Gender</label>
                                {{ form_widget(form.gender) }}
                            </div>
                        </div>
                        {% endif %}

                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Phone</label>
                                {{ form_widget(form.phone,{ 'attr': {'maxlength': '20'} }) }}
                            </div>
                            {#<div class="form-group">
                                <label for="gq-personal-pwd">Password</label>
                                {{ form_widget(form.newpassword,{ 'attr': {'maxlength': '30'} }) }}
                            </div>#}
                        </div>

                       {% if ('ROLE_APPLICANT' in userRole) %}                       
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Date Of Birth</label>
                                {{ form_widget(form.dateOfBirth, { 'attr':{'readonly':'readonly'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">USI</label>
                                <a href="http://www.usi.gov.au/create-your-USI/Pages/default.aspx" target="_blank">Don’t have one?<br/>Click here to create one</a>
                                {{ form_widget(form.universalStudentIdentifier,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>
                        {% endif %} 

                       {% if ('ROLE_RTO' in userRole) %}
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Contact Person Name</label>
                                {{ form_widget(form.contactname,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">Contact Person Phone</label>
                                {{ form_widget(form.contactphone,{ 'attr': {'maxlength': '20'} }) }}
                            </div>
                        </div>
                        
                        
                        <div class="section">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Contact Person Email</label>
                                {{ form_widget(form.contactemail,{ 'attr': {'maxlength': '50'} }) }}
                            </div>
                        </div>
                        
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">CEO Name</label>
                                {{ form_widget(form.ceoname,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">CEO Phone</label>
                                {{ form_widget(form.ceophone,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>
                        
                        <div class="section">
                            <div class="form-group">
                                <label for="gq-personal-pwd">CEO Email</label>
                                {{ form_widget(form.ceoemail) }}
                            </div>
                         </div>
                        
                        {% endif %}

                        <!-- Address info-->
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Street Number</label>
                                {{ form_widget(form.address.address,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">Street Name</label>
                                {{ form_widget(form.address.area,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Suburb</label>
                                {{ form_widget(form.address.suburb,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">City</label>
                                {{ form_widget(form.address.city,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>

                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">State</label>
                                {{ form_widget(form.address.state,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">Country</label>
                                {{ form_widget(form.address.country,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>

                        <div class="section">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Postcode</label>
                                {{ form_widget(form.address.pincode,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>
                        {#<div class="section">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Profile Image</label>
                                {{ form_widget(form.userImage) }}
                            </div>
                        </div>#}
                        <!-- Address info-->
                    </div>
                  {#  <button type="submit" id="userprofile_save" name="userprofile[save]" class="submit_btn" onclick="return validateAddress();">UPDATE</button>
                    </form>#}
                    {{ form_end(form) }}
                    <!-- Change Password Start --> 
                    
                    <div class="gq-change-pwd-warning" id="pwd_error">
                                        {% for flashMessage in app.session.flashbag.get('errornotice') %}
                        <div class="gq-id-pwd-error-text" style="display:none">
                            <h2>{{ flashMessage }}</h2>
                        </div>
                                       {% endfor %}
                    </div>
                    <!-- Chaneg password form --->
                    <form class="form-inline change_pwd_form" id='change_password_form' style="display:none">
                        <button type="button" class="close"  onclick="changePassowordDiv('0')">&times;</button>
                        <div class="form-group">
                            <label for="email">Current Password</label>
                            <div class="input_section">
                                <input type="password" id="password_oldpassword" name='password_oldpassword' onkeyup="checkspace(this);" class="form-control" value="" />
                                <span class="error_message" id="password_oldpassword_error_span"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Change New Password</label>
                            <div class="input_section">
                                <input type="password" id='password_newpassword' name='password_newpassword' onkeyup="checkspace(this);" class="form-control" value="" />
                                <span class="error_message" id="password_newpassword_error_span"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Confirm New Password</label>
                            <div class="input_section">
                                <input type="password" id="password_confirmnewpassword" name='password_confirmnewpassword' onkeyup="checkspace(this);" class="form-control" value="" />
                                <span class="error_message" id="password_confirmnewpassword_error_span"></span>
                            </div>
                        </div>
                        <div class="btn_section clearfix">
                            <input type="submit" class="btn change_pwd_btn" value="SUBMIT" id='password_save' />
                            <input type="button" class="btn" value="CANCEL" onclick="changePassowordDiv('0')"/>
                        </div>
                    </form>

                    <!-- Change Password End -->
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
<script type="text/javascript"> var amazon_link = "{{ amazon_link }}";
var base_url = "{{ base_url }}";
</script>
<script type="text/javascript">
          $(document).ready(function() {
            $("#userprofile_save").removeAttr('disabled');
          });
      </script>
<script src="{{ asset('public/js/custom-jquery.js') }}"></script>
<script src="{{ asset('public/js/script.js') }}"></script>
<script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
<script src="{{ asset('public/js/s3-upload/s3upload-profileimg.js') }}"></script>
 {% endblock %}