{#{{ form_start(form) }}#}
<div role="tabpanel" class="tab-pane {% if tab == 'id-fields' %} {% else %} active {% endif %}" id="personal">
    <div class="gq-form-personal wid60p">
        <div class="gq-form-row">
            <label for="gq-first-name">{% if ('ROLE_RTO' in userRole) %} College Name {% else %} First Name {% endif %}</label>
                {{ form_widget(form.firstname,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-last-name">{% if ('ROLE_RTO' in userRole) %} Provider Code {% else %} Last Name {% endif %}</label>
                {{ form_widget(form.lastname,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-email-name">Email</label>
                {{ form_widget(form.email, { 'attr':{'readonly':'readonly'} }) }}
        </div>
       {% if ('ROLE_APPLICANT' in userRole) %}
        <div class="gq-form-row">
            <label class="pull-left" for="gq-personal-pwd">Gender</label>
                {{ form_widget(form.gender) }}
        </div>
        {% endif %}
        <div class="gq-form-row">
            <label for="gq-personal-pwd">Phone</label>
                {{ form_widget(form.phone,{ 'attr': {'maxlength': '20'} }) }}
        </div>
        
       {% if ('ROLE_APPLICANT' in userRole) %}
        <div class="gq-form-row">
            <label for="gq-personal-pwd">Date Of Birth</label>
                {{ form_widget(form.dateOfBirth, { 'attr':{'readonly':'readonly'} }) }}
        </div>
        <div class="gq-form-row USIrow">
            <label for="gq-personal-pwd">USI</label>
            <a href="http://www.usi.gov.au/create-your-USI/Pages/default.aspx" target="_blank">Don’t have one?<br/>Click here to create one</a>
                {{ form_widget(form.universalStudentIdentifier,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        {% endif %}        
       {% if ('ROLE_RTO' in userRole) %}
        <div class="gq-form-row">
            <label for="gq-personal-pwd">Contact Person Name</label>
                {{ form_widget(form.contactname,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-personal-pwd">Contact Person Phone</label>
                {{ form_widget(form.contactphone,{ 'attr': {'maxlength': '20'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-personal-pwd">Contact Person Email</label>
                {{ form_widget(form.contactemail,{ 'attr': {'maxlength': '50'} }) }}
        </div>
        
        <div class="gq-form-row">
            <label for="gq-personal-pwd">CEO Name</label>
                {{ form_widget(form.ceoname,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-personal-pwd">CEO Email</label>
                {{ form_widget(form.ceoemail) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-personal-pwd">CEO Phone</label>
                {{ form_widget(form.ceophone,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        {% endif %}
        
        {% if ('ROLE_FACILITATOR' in userRole) %}
        <div class="gq-form-row">
            <label for="gq-last-name">CRM ID</label>
                {{ form_widget(form.crmId,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        {% endif %}
        
        <div class="wid100p text-center margin-top15">
            <a href="#change-pwd-form" aria-controls="change-pwd-form" role="tab" data-toggle="tab" id="emptypwdform1">Change Password</a>
        </div>
        <div class="gq-form-botton">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane" id="address">
    <div class="gq-form-personal wid60p">
        <div class="gq-form-row">
            <label for="gq-last-name">Street Number</label>
                {{ form_widget(form.address.address,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-last-name">Street Name</label>
                {{ form_widget(form.address.area,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-last-name">Suburb</label>
                {{ form_widget(form.address.suburb,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-last-name">City</label>
                {{ form_widget(form.address.city,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-email-name">State</label>
                {{ form_widget(form.address.state,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-email-name">Country</label>
                {{ form_widget(form.address.country,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-row">
            <label for="gq-personal-pwd">Postcode</label>
                {{ form_widget(form.address.pincode,{ 'attr': {'maxlength': '30'} }) }}
        </div>
        <div class="gq-form-botton">
            <button type="submit" id="userprofile_save" name="userprofile[save]" class="btn btn-default" onclick="return validateAddress();">Save</button>
        </div>

    </div>
</div>
 {{ form_end(form) }}