<div class="hidden-xs col-sm-12 col-md-12 col-lg-6 user_info">                 
        {% set userRole = app.security.getToken().getUser().getRoles() %}
        {% set userId = app.security.getToken().getUser().getId() %}
    {% if ('ROLE_APPLICANT' in userRole) %}
        <div class="form_block">
                <div class="title_bar clearfix">
                        <span class="left">YOUR DETAILS</span>
                        <span class="right"><strong>{{userProfilePercentage}} COMPLETED</strong>{% if userProfilePercentage == "100%" %}<i class="material-icons">done</i>{% endif %}</span>
                </div>
                 <form name='userprofile' id='userprofile' method='POST' enctype="multipart/form-data"/>
                 <input type='hidden' id='hdn-userrole' name='hdn-role' value="{% if ('ROLE_RTO' in userRole) %}rtouser{% elseif ('ROLE_FACILITATOR' in userRole) %}facilitatoruser{% else %}other{% endif %}">
                 <input type='hidden' id='hdn-userId' name='hdn-userId' value="{{userId}}">
                 <input type='hidden' id='hdn-type' name='hdn-type' value="0">
                        <div class="section half clearfix">
                                <div class="form-group">
                                        <label for="gq-first-name">First Name</label>
                                        {{ form_widget(form.firstname,{ 'attr': {'maxlength': '30'} }) }}
                                </div>
                                <div class="form-group">
                                        <label for="gq-last-name">Last Name</label>
                                        {{ form_widget(form.lastname,{ 'attr': {'maxlength': '30'} }) }}
                                </div>
                        </div>
                        <div class="section">
                                <div class="form-group clearfix gender_section">
                                        <label >Gender</label>                                        
                                            {{ form_widget(form.gender) }}                                        
                                </div>
                        </div>
                        <div class="section">
                                <div class="form-group">
                                        <label for="gq-email-name">Email</label>
                                        {{ form_widget(form.email, { 'attr':{'readonly':'readonly'} }) }}
                                </div>
                        </div>
                        <div class="section half clearfix">
                                <div class="form-group">
                                        <label for="gq-personal-pwd">Mobile</label>
                                        {{ form_widget(form.phone,{ 'attr': {'maxlength': '20'} }) }}
                                </div>
                                <div class="form-group">
                                        <label>Password</label>
                                        <input type="text" value="........" readonly/>
                                        <span><i class="material-icons lock">lock</i></span>
                                </div>
                                <a href="" class="change_link" data-toggle="modal" data-target="#change_pwd_popup">Change?</a>
                        </div>
                        <div class="section half clearfix">
                                <div class="form-group">
                                        <label for="gq-personal-pwd">USI</label>
                                        {{ form_widget(form.universalStudentIdentifier,{ 'attr': {'maxlength': '30'} }) }}
                                </div>
                                <a href="http://www.usi.gov.au/create-your-USI/Pages/default.aspx" target="_blank" class="usilink">{{usi_link}}</a>
                        </div>
                        <div class="title_bar clearfix">
                                <span class="left">ADDRESS</span>
                        </div>
                        <div class="section">
                                <div class="form-group street_info">
                                        <label for="gq-last-name">Street Number</label>
                                        {{ form_widget(form.address.address,{ 'attr': {'maxlength': '30'} }) }}
                                </div>
                        </div>
                        <div class="section">
                                <div class="form-group street_info">
                                        <label for="gq-last-name">Street Name</label>
                                        {{ form_widget(form.address.area,{ 'attr': {'maxlength': '30'} }) }}
                                </div>
                        </div>
                        <div class="section">
                                <div class="form-group">
                                        <label for="gq-last-name">Suburb</label>
                                        {{ form_widget(form.address.suburb,{ 'attr': {'maxlength': '30'} }) }}
                                </div>
                        </div>
                        <div class="section half clearfix">
                                <div class="form-group">
                                        <label for="gq-last-name">City</label>
                                        {{ form_widget(form.address.city,{ 'attr': {'maxlength': '30'} }) }}
                                </div>
                                <div class="form-group">
                                        <label for="gq-last-name">Postcode</label>
                                        {{ form_widget(form.address.pincode,{ 'attr': {'maxlength': '8'} }) }}
                                </div>
                        </div>
                        <div class="section half clearfix">
                                <div class="form-group">
                                        <label for="gq-last-name">State</label>
                                        {{ form_widget(form.address.state,{ 'attr': {'maxlength': '30'} }) }}
                                </div>
                                <div class="form-group">
                                        <label for="gq-last-name">Country</label>
                                        {{ form_widget(form.address.country,{ 'attr': {'maxlength': '30'} }) }}
                                </div>
                        </div>
              
        </div>
                <div class="link_section clearfix">
                    <span class="faq_link">
                        <i class="material-icons">help</i>
                        <a href="{{ app.request.baseUrl }}/faq" target="MyNewWindow">FAQs</a>
                    </span>
                     {{ form_widget(form.save, {'attr': {'class': 'btn update_btn disable'}}) }}
                        {#<button type="submit" id="userprofile_save" name="userprofile[save]" class="btn update_btn disable" onclick="return validateAddress();">UPDATE</button>#}
                </div>
        </div>
{% endif %}
        {{ form_end(form) }}

{#Change Password Model#}
<div id="change_pwd_popup" class="modal fade change_pwd_popup" role="dialog">

                <div class="modal-dialog">                
                        <!-- Modal content-->
                        <div class="modal-content">
                                <div class="modal-header">
                                     <button type="button" class="close" onclick="return passwordCancel();">&times;</button>
                                     <!--<div class="modal-title">Change Password</div>-->
                                </div>
                                <div class="modal-body" id="change-pwd-form">
                                     <div class="gq-change-pwd-warning" id="pwd_error">
                                        {% for flashMessage in app.session.flashbag.get('errornotice') %}
                                        <div class="gq-id-pwd-error-text" style="display:none">
                                            <h2><img src="{{ asset('public/images/login-error-icon.png') }}">{{ flashMessage }}</h2>
                                        </div>
                                       {% endfor %}
                                    </div>
                                    {{ form_start(changepwdForm, {'attr': {'class': 'form-inline'}}) }} 
                                     <input type="hidden" name="hdn_pwd_check" id="hdn_pwd_check" value="0">
                                                <div class="form-group">
                                                        <label for="gq-last-name">Current Password</label>
                                                       {{ form_widget(changepwdForm.oldpassword,{ 'attr': {'maxlength': '30','class': 'form-control'} }) }}
                                                </div>
                                                <div class="form-group">
                                                        <label for="gq-last-name">Change New Password</label>
                                                         {{ form_widget(changepwdForm.newpassword,{ 'attr': {'maxlength': '30','class': 'form-control'} }) }}
                                                </div>
                                                <div class="form-group">
                                                        <label for="gq-last-name">Confirm New Password</label>
                                                        {{ form_widget(changepwdForm.confirmnewpassword,{ 'attr': {'maxlength': '30','class': 'form-control'} }) }}
                                                </div>
                                                <div class="btn_section clearfix">                                                        
                                                        {{ form_widget(changepwdForm.save,{ 'label': 'Submit' , 'attr': {'class': 'btn change_pwd_btn'}}) }}
                                                        <input type="button" class="btn" id="fclose-cancel" value="Cancel" onclick="return passwordCancel();"/>
                                                </div>
                                       {{ form_end(changepwdForm) }}
                                </div>
                        </div>
                </div>

</div>
