{# GqAus/UserBundle/Resources/views/Paginator/paginator_navigator.html.twig #}

{% set currentPath = path(app.request.get('_route'), app.request.get('_route_params')) %}
{% set currentPage = paginator.getCurrentPage() %}
{% set totalPages = paginator.getTotalPages() %}
{% set count = paginator.getCount() %}
<div class="gq-msg-top-pagination pull-right">
    <div class="gq-msg-pagination-txt">
    {% if currentPage == totalPages %}
        {{(currentPage * 10) - 9}}-{{count}} of {{count}}
    {% else %}
        {{(currentPage * 10) - 9}}-{{currentPage * 10}} of {{count}}
    {% endif %}
    </div>
    {% if currentPage == 1 %}
        <a href=""><div class="gq-pagination-prev-icon"></div></a>
    {% else %}
        <a href="{{ currentPath }}?page={{ currentPage - 1 }}"><div class="gq-pagination-prev-icon"></div></a>
    {% endif %}
    {% if currentPage == totalPages %}
        <a href=""><div class="gq-pagination-next-icon"></div></a>
    {% else %}
        <a href="{{ currentPath }}?page={{ currentPage + 1 }}"><div class="gq-pagination-next-icon"></div></a>
    {% endif %}
</div>