<tr background="{{ asset('public/ui/img/email-footer-bg.jpg') }}" bgcolor="#f5f5f5">
    <td>
        <table width="600">
            <tr>
                <td width="50"></td>
                <td width="50"></td>
                <td>
                    <center>
                        <br/>
                        <img src="{{ asset('public/ui/img/about-gqa.png') }}" width="380">
                        <br/><br/>
                        <font color="#333333" size="2">
                            <center>Got questions? We have answers!</center>
                        </font>
                        <br/>
                        <center><img src="{{ asset('public/ui/img/email-template/communication.png') }}"></center>
                        <br/>
                        <br/>
                        <table width="380">
                            <tr>
                                <td width="70"></td>
                                <td>
                                    <center><a href="#"><img
                                                    src="{{ imgUrl }}"></a>
                                    </center>
                                </td>
                                <td>
                                    <center><a href="#"><img
                                                    src="{{ asset('public/ui/img/email-template/social_media/facebook.png') }}"></a>
                                    </center>
                                </td>
                                <td>
                                    <center><a href="#"><img
                                                    src="{{ asset('public/ui/img/email-template/social_media/twitter.png') }}"></a>
                                    </center>
                                </td>
                                <td>
                                    <center><a href="#"><img
                                                    src="{{ asset('public/ui/img/email-template/social_media/linkedin.png') }}"></a>
                                    </center>
                                </td>
                                <td>
                                    <center><a href="#"><img
                                                    src={{ asset('public/ui/img/email-template/social_media/google.png') }}></a>
                                    </center>
                                </td>
                                <td>
                                    <center><a href="#"><img
                                                    src="{{ asset('public/ui/img/email-template/social_media/instagram.png') }}"></a>
                                    </center>
                                </td>
                                <td width="70"></td>
                            </tr>
                        </table>
                        <br/>
                        <br/>
                        <img src="{{ asset('public/ui/img/awards/all-awards.png') }}">
                        <br/>
                        <br/>
                        <br/>
                    </center>
                </td>
                <td width="50"></td>
                <td width="50"></td>
            </tr>
        </table>
        <table width="600" cellpadding="12" bgcolor="#818181">
            <tr>
                <td>
                    <font color="#ffffff" size="1">Copyright &copy; 2017 GQA Get Qualified Australia.</font>
                </td>


                <td>
                    <a style="text-decoration: none;" href="#"><font size="1" color="#ffffff">GQA Main Site</font></a>
                </td>

                <td>
                    <a style="text-decoration: none;" href="#"><font size="1" color="#ffffff">Contact Us</font></a>
                </td>

                <td>
                    <a style="text-decoration: none;" href="#"><font size="1" color="#ffffff">Terms and
                            Conditions</font></a>
                </td>
            </tr>
        </table>
    </td>

</tr>