<tr background="{{  imageUrl.emailFooterBg }}" bgcolor="#f5f5f5">
    <td>
        <table width="600">
            <tr>
                <td width="50"></td>
                <td width="50"></td>
                <td>
                    <center>
                        <br/>
                        <img src="{{ imageUrl.aboutGqa }}" width="380">
                        <br/><br/>
                        <font color="#333333" size="2">
                            <center>Got questions? We have answers!</center>
                        </font>
                        <br/>
                        <center><img src="{{ imageUrl.communication }}"></center>
                        <br/>
                        <br/>
                        <table width="380">
                            <tr>
                                <td width="70"></td>
                                <td>
                                    <center><a href="#"><img
                                                    src="{{ imageUrl.youtube }}"></a>
                                    </center>
                                </td>
                                <td>
                                    <center><a href="#"><img
                                                    src="{{ imageUrl.facebook }}"></a>
                                    </center>
                                </td>
                                <td>
                                    <center><a href="#"><img
                                                    src="{{ imageUrl.twitter }}"></a>
                                    </center>
                                </td>
                                <td>
                                    <center><a href="#"><img
                                                    src="{{ imageUrl.linkedin }}"></a>
                                    </center>
                                </td>
                                <td>
                                    <center><a href="#"><img
                                                    src={{ imageUrl.google }}></a>
                                    </center>
                                </td>
                                <td>
                                    <center><a href="#"><img
                                                    src="{{ imageUrl.instagram }}"></a>
                                    </center>
                                </td>
                                <td width="70"></td>
                            </tr>
                        </table>
                        <br/>
                        <br/>
                        <img src="{{ imageUrl.allAwards }}">
                        <br/>
                        <br/>
                        <br/>
                    </center>
                </td>
                <td width="50"></td>
                <td width="50"></td>
            </tr>
        </table>
        <table width="600" cellpadding="12" bgcolor="#818181">
            <tr>
                <td>
                    <font color="#ffffff" size="1">Copyright &copy; 2017 GQA Get Qualified Australia.</font>
                </td>


                <td>
                    <a style="text-decoration: none;" href="#"><font size="1" color="#ffffff">GQA Main Site</font></a>
                </td>

                <td>
                    <a style="text-decoration: none;" href="#"><font size="1" color="#ffffff">Contact Us</font></a>
                </td>

                <td>
                    <a style="text-decoration: none;" href="#"><font size="1" color="#ffffff">Terms and
                            Conditions</font></a>
                </td>
            </tr>
        </table>
    </td>

</tr>