<html>
<head>
    <title>Notifications</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Arial';" bgcolor="#e2e2e2">
<center>
    <font color="#808080">
        <table cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td align="center">
                    <img src="{{ appUrl }}public/ui/img/gqa-online-rpl.svg"
                         style="width: 205px; height: auto; padding: 15px 0;">
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td height="50"></td>
            </tr>
            <tr bgcolor="#ffffff">
                <td align="center">
                    <img src="{{ appUrl }}public/ui/img/icon-envelope.png">
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td height="80"></td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    <table cellpadding="0" ; cellspacing="0" style="color: #808080">
                        <tr bgcolor="#ffffff">
                            <td>
                                <table cellpadding="12" style="text-align: center" width="600">
                                    <tr>
                                        <td><br/>
                                            <center><font color="#e7302a"><h1 style="font-weight: normal;margin: 0;">
                                                        Hello {{ user.getFirstname() }}</h1></font></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <center><h2 style="color: #808080; font-weight: 100; margin: 0">You have a
                                                    new message</h2></center>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <table width="600" cellpadding="8">
                        <tr>
                            <td width="20%"></td>
                            <td width="20%"></td>
                            <td width="5%">
                                <center>
                                    <hr width="32" style="background: #e7302a; height: 8px; border: none;"/>
                                </center>
                            </td>
                            <td width="20%"></td>
                            <td width="20%"></td>
                        </tr>
                    </table>

                    <table cellpadding="50" width="600">
                        <tr>
                            <td>
                                <font color="#808080">
                                    From <strong>Jon Snow</strong>
                                    <br/>
                                    <font size="2"><i>{{ "now"|date("d M Y") }} at {{ "now"|date("H:i A") }}</i></font>
                                    <br/>
                                    <br/>
                                    <strong>Lorem ipsum sit dolor amet</strong> wisi enim ad minim veniam, quis nostrud
                                    exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.
                                    <br/>
                                    <br/>
                                    Molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                                    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
                                    duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend
                                    option congue nihil imperdiet doming id
                                    <br/>
                                    <br/>
                                    <table>
                                        <tr>
                                            <td><font color="#808080"><strong>Qualification:</strong></font></td>
                                        </tr>
                                        {% for qualification in user.getCourses() %}
                                            <tr>
                                                <td>
                                                    <font color="#808080">
                                                        {{ qualification.getCourseCode() }} {{ qualification.getCourseName() }}
                                                    </font>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    <br/>
                                    <br/>
                                    <center>
                                        <font size="4">Log into Online RPL</font>
                                        <br/>
                                        <a href="{{ appUrl }}login">
                                            <img src="{{ appUrl }}public/ui/img/btn_take-me-there.png" width="232">
                                        </a>
                                    </center>
                                </font>
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="7" width="600">
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <font color="#808080">
                                    Best regards, <br/>
                                    Your Online RPL Team
                                    <br/> <br/> <br/>
                                </font>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% include 'GqAusUserBundle:Email:_footer.html.twig' %}
        </table>
    </font>
</center>
</body>
</html>