{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Evidences{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/jquery.dataTables.min.css') }}">
<link rel="stylesheet" href="{{ asset('public/css/dropzone.css') }}" media="screen" />
<link rel="stylesheet" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
<link rel="stylesheet" href="{{ asset('public/css/pages/all/evidence.css') }}">
{% endblock %}
{% block body %}
{% set userId = app.security.getToken().getUser().getId() %}
{% set roles = app.security.getToken().getUser().getRoles() %}
        <div class="body_section facilitator">
                {#<div class="container">#}
                                        <div class="evidence_block">
                                                <div class="title_bar clearfix">
                                                    <span class="title">EVIDENCE <strong>(<span id="evidence-total" class="evidence-total"  style="padding: 0px;"></span> TO REVIEW)</strong></span>
                                                    <span class="info_btn">
                                                        <a href="{{ app.request.baseUrl }}/faq" target="_blank"><i style="color: #ffffff;" class="material-icons info_icon">info</i></a>
                                                    </span>
                                                </div>
                                                <div class="tab_section clearfix">
                                                    <div class="tab clearfix">
                                                        <span class="search_icon"><i class="material-icons">search</i></span>
                                                        <input type="text" class="search namesearch" placeholder="Search"  userid="{{ userId }}" role="{{ roles['0']}}" />
                                                    </div>
                                                    <div class="tab filter_tab">
                                                        <span class="filter">
                                                            <i class="material-icons">filter_list</i>Filter
                                                        </span>
                                                    </div>
                                                    <div class="tab hidden-sm hidden-md hidden-lg sort_tab">
                                                        <span class="sort orderby-date">
                                                            <i class="material-icons">code</i>Sort
                                                        </span>
                                                    </div>
                                                </div>

						<div class="check_box_section hide" id="evidence-filter" style="display: block;">
							<div class="section">
                                                            <div class="title_bar clearfix">
                                                                <span class="title">File Type</span>
                                                            </div>
                                                            <ul class="clearfix file_type">
                                                                <li>
                                                                    <span>Video (<span class="video-count"></span>)</span>
                                                                    <span class="checkbox_outer">
                                                                        <input type="checkbox" value="video" class="children-filter" checked><span></span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>Audio (<span class="audio-count"></span>)</span>
                                                                    <span class="checkbox_outer">
                                                                        <input type="checkbox" value="audio" class="children-filter" checked><span></span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>Image (<span class="image-count"></span>)</span>
                                                                    <span class="checkbox_outer">
                                                                        <input type="checkbox" value="image" class="children-filter" checked><span></span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>Document (<span class="file-count"></span>)</span>
                                                                    <span class="checkbox_outer">
                                                                        <input type="checkbox" value="file" class="children-filter" checked><span></span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>Text (<span class="text-count"></span>)</span>
                                                                    <span class="checkbox_outer">
                                                                        <input type="checkbox" value="text" class="children-filter" checked><span></span>
                                                                    </span>
                                                                </li>
                                                            </ul>
							</div>
							<div class="section">
                                                            <div class="title_bar clearfix">
                                                                <span class="title">Mapped to units</span>
                                                            </div>
                                                            <ul class="clearfix mapped_units">
                                                                <li>
                                                                    <span>Un-mapped (<span class="unmapped-unit"></span>)</span>
                                                                    <span class="checkbox_outer">
                                                                        <input type="checkbox"  value="mapped0" checked><span></span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>Mapped to 1 unit (<span class="mapped-one"></span>)</span>
                                                                    <span class="checkbox_outer">
                                                                        <input type="checkbox" value="mapped1" checked><span></span>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>Mapped to multiple (<span class="mapped-two"></span>)</span>
                                                                    <span class="checkbox_outer">
                                                                        <input type="checkbox" value="mapped2" checked><span></span>
                                                                    </span>
                                                                </li>
                                                            </ul>
							</div>
						</div>

                                                <div class="titles_block titles_block_mobile">
                                                    <ul class="clearfix sorting">
                                                        <li style="width:23%;">
                                                            <span class="sort_section ftype" data-orderby="type">
                                                                <i class="material-icons">arrow_upward</i>File Type
                                                            </span>
                                                        </li>
                                                        <li style="width:28%;">
                                                            <span class="sort_section fname" data-orderby="name">
                                                                <i class="material-icons">arrow_upward</i>File Name
                                                            </span>
                                                        </li>
                                                        <li style="width:21%;">
                                                            <span class="sort_section fsize" data-orderby="size">
                                                                <i class="material-icons">arrow_upward</i>File Size
                                                            </span>
                                                        </li>
                                                        <li style="width:28%;">
                                                            <span class="sort_section fdate bold" data-orderby="date">
                                                                <i class="material-icons">arrow_downward</i>Date Added
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="file_info_block">
                                                {% if evidences|length > 0%}
                                                <table id="evidence" class="display" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="hide">Course</th>    
                                                            <th class="hide sortbytype">Type</th>
                                                            <th class="hide">Mapped to Units</th>
                                                            <th class="hide sortbyname">File Name</th>
                                                            <th class="hide sortbysize">File Size</th>
                                                            <th class="hide sortbydate">Date Added</th>
                                                            <th class="hide">Details</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for eKey, evd in evidences %}
                                                    {% set checkPath = (evd[0].type !='text') ? evd[0].path : evd[0].content %} 
                                                    {% set mappedContent =  (checkPath in evdMapping.mappedToMultipleUnit) ? 'mapped2': ((checkPath in evdMapping.mappedToOneUnit) ? 'mapped1' : 'mapped0') %}
                                                    {% set mappedCourse = (evd[0].course) ?  evd[0].course : 'nonmapped' %}
                                                    {% if evd[0].type !='text' %}
                                                        {% set eviType = evidence_service.getEvidenceShowType(evd[0].type) %}
                                                        {% set evdByteSize = evidence_service.convertSizetoBytes(evd[0].size) %}
                                                        {% set output = eviType|split('&&') %}

                                                        {% if evd[0].name %}
                                                        <tr id="{{ evd[0].id }}" class="{{ evd[0].type }} {{ mappedContent }}">
                                                            <td class="hide">{{ mappedCourse }}</td>
                                                            <td class="hide">{{ evd[0].type }}</td>
                                                            <td class="hide">{{mappedContent}}</td>
                                                            <td class="hide">{{ evd[0].name }}</td>
                                                            <td class="hide">{{ evdByteSize }}</td>
                                                            <td class="hide">{{ evd[0].created|date("Ymd") }}</td>
                                                            <td>
                                                                {% if evd[0].name %} 
                                                                    <div class="block">
                                                                        <div class="files_mobile_version hidden-sm hidden-md hidden-lg">
                                                                            <div class="file_info">
                                                                                <span class="icon">
                                                                                    <a href="{{ amazon_link }}user-{{evd[0].user.id}}/{{  evd[0].path }}"
                                                                                    {% if output[1] is defined %}
                                                                                    {% if output[1] == 'fancybox' or output[1] == 'fancybox fancybox.iframe' %} class="{{output[1]}}" {% else %}target="_blank"{% endif %}
                                                                                    {%endif%}><i class="material-icons">{% if output[0] is defined %}{{output[0]}}{%endif%}</i></a>
                                                                                </span>
                                                                                <span class="file-discription">
                                                                                    {{ evd[0].name }} <br> {{ evd[0].size }} | Added {{ evd[0].created|date("d/m/y") }}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="link_section">
                                                                            {% for lKey, linkedVal in evd %}
                                                                                {% if(linkedVal.unit) %}
                                                                                {% set unitType = '' %}
                                                                                {% set unitType = user_service.getUserCourseUnitType(evd[0].user.id,linkedVal.course,linkedVal.unit) %}
                                                                                    <span class="content">
                                                                                        <a target="_blank" href="{{ app.request.baseUrl }}/courseunitDetails/{{ linkedVal.course }}/{{ linkedVal.unit}}/{{ evd[0].user.id }}">
                                                                                            <i class="material-icons">insert_link</i>Linked to {{ linkedVal.unit }} ({{ unitType }} unit)
                                                                                        </a>
                                                                                    </span>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                    {% else %}
                                                        <tr id="{{ evd[0].id }}" class="{{ evd[0].type }} {{ mappedContent }}">
                                                            <td class="hide">{{ mappedCourse }}</td>
                                                            <td class="hide">{{ evd[0].type }}</td>
                                                            <td class="hide">{{mappedContent}}</td>
                                                            <td class="hide">{{ evd[0].content }}</td>
                                                            <td class="hide">0</td>
                                                            <td class="hide sortdateby">{{ evd[0].created|date("Ymd") }}</td>
                                                            <td>
                                                                {% if evd[0].content %} 
                                                                    <div class="block">
                                                                        <p class="name"><strong>{{ evd[0].user.firstName }} {{ evd[0].user.lastName }}</strong></p>
                                                                        <div class="files_mobile_version hidden-sm hidden-md hidden-lg">
                                                                            <div class="file_info">
                                                                                <span class="icon">
                                                                                    <i class="material-icons">description</i>
                                                                                </span>
                                                                                <span class="file-discription">
                                                                                    {{ evd[0].content|slice(0,35) }}{% if evd[0].content|length > 35 %}...{% endif %}
                                                                                    <br> ADDED {{ evd[0].created|date("d/m/y") }}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="link_section">
                                                                            {% for lKey, linkedVal in evd %}
                                                                                {% if(linkedVal.unit) %}
                                                                                {% set unitType = '' %}
                                                                                {% set unitType = user_service.getUserCourseUnitType(evd[0].user.id,linkedVal.course,linkedVal.unit) %}
                                                                                <span class="content">
                                                                                    <a target="_blank" href="{{ app.request.baseUrl }}/courseunitDetails/{{ evd[0].course }}/{{ evd[0].unit}}/{{ evd[0].user.id }}">
                                                                                        <i class="material-icons">insert_link</i>Linked to {{ evd[0].unit }} (core unit)
                                                                                    </a>
                                                                                </span>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div id="text{{evd[0].id}}" style="display:none;width:400px;height:auto;overflow:auto;">{% if evd[0].content is defined %}{{evd[0].content}}{%endif%}</div>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                {% endif %}
                                            </div>
                                        </div>
                {#</div>#}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fancybox').fancybox();
        });
    </script>
{% endblock %}