{% extends 'revamp_base.html.twig' %}
{% block ngApp %} ng-app="gqAus" {% endblock%}
{% block ngController %} ng-controller="profileCtlr"  id="profileCtlr" {% endblock%}
{% block title %}  My Profile {% endblock %}
{% block ngtitle %}myProfile{% endblock%}
{% block stylesheets %}{% endblock %}
{% block body %}
{% set userId = app.security.getToken().getUser().getId() %}
{% set roles = app.security.getToken().getUser().getRoles() %}
    <main class="main-content-gqa">
        <div class="container">
        <!-- Put content here -->
            <div class="panel panel-default panel-evidence-library">
                <div class="panel-evidence-library-heading">
                    <div class="panel-evidence-library-htext">
                        <h3 class="qual-title" style="margin: 0; line-height: 1;">Evidence Library <br>
                            <small class="text-muted text-uppercase hidden-xs">Upload and manage for core &amp; elective units</small>
                        </h3>
                    </div>
                    <button type="button" class="btn btn-primary btn-upload-evidence" data-toggle="modal" data-target="#uploadEvidence" data-keyboard="false" data-backdrop="static"> <i class="zmdi zmdi-upload zmdi-hc-lg zmdi-hc-fw"></i> Upload <span class="hidden-mobile">Evidence</span></button>
                </div>
                <div class="panel-evidence-library-body">
                    <aside class="panel-evidence-library-menu">
                        <!-- Filter evidences according to category -->
                        <div class="btn-group" data-toggle="buttons">
                                <label class="btn" for="category0" ng-click="filterCategory('all')"><input type="radio" id="category0" name="evidenceCategories">All Categories</label>
                            {% for evdCatId, evdCatObj in evidenceCats %}
                                <label class="btn" for="category{{evdCatObj.id}}" ng-click="filterCategory('cat{{evdCatObj.id}}')"><input type="radio" id="category{{evdCatObj.id}}" name="evidenceCategories">{{evdCatObj.name}}</label>
                            {%endfor%}
                        </div>
                        <!-- Filter evidences according to category -->
                    </aside>

                    <section class="panel-evidence-library-content" data-has-thumbnail="true">
                        <div class="panel-evidence-search">
                            <div class="input-group-search">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="zmdi zmdi-search zmdi-hc-2x icon"></i>
                            </div>                    
                        </div>
                        <div class="evidence-controls btn-group-toolbar">
                            <div class="btn-group btn-group-xs" data-toggle="buttons">
                                <label class="btn btn-transparent" for="batchSelect">
                                    <input type="checkbox" name="batchSelect" id="batchSelect" value=""><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-select-all"></i>
                                </label>
                            </div>
                            <i class="divider"></i>
                            <div class="evidence-toggle-view">
                                <div class="btn-group btn-group-xs" data-toggle="buttons">
                                    <label class="btn btn-transparent active" for="gridView">
                                        <input type="radio" name="galleryView" id="gridView" value="grid-view" checked><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-view-module"></i>
                                    </label>
                                    <label class="btn btn-transparent" for="listView">
                                        <input type="radio" name="galleryView" id="listView" value="list-view"><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-view-list"></i>
                                    </label>
                                </div>
                            </div>
                            <i class="divider"></i>
                            <div class="btn-group btn-group-xs" data-toggle="buttons">
                                <button 
                                    type="button" 
                                    class="btn btn-transparent active" 
                                    ng-class="'active': listFilter === true " 
                                    data-toggle="modal" 
                                    data-target="#evidenceFilter" 
                                    data-backdrop="static" 
                                    data-keyboard="false"
                                >
                                    <i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-filter-list"></i>
                                </button>
                            </div>
                            <i class="divider"></i>
                            <div class="panel-evidence-filters">
                                <div class="dropdown dropdown-evidence-filter">
                                    <button type="button" class="btn btn-transparent text-left" data-toggle="dropdown">
                                        <span class="evidence-controls-label"">Sort by</span>
                                        <i class="zmdi zmdi-chevron-down zmdi-hc-lg zmdi-hc-lg zmdi-hc-fw"></i>
                                    </button>
                                    <div class="dropdown-menu pull-right">
                                        <div class="btn-group btn-group-vertical progress-summary" data-toggle="buttons">
                                            <label class="progress-summary-item btn btn-default" for="sortByDate">
                                                <input type="radio" name="sortType" id="sortByDate">By Date Uploaded
                                            </label>
                                            <label class="progress-summary-item btn btn-default" for="sortByFileFormat">
                                                <input type="radio" name="sortType" id="sortByFileFormat">File format
                                            </label>
                                            <label class="progress-summary-item btn btn-default" for="sortByName">
                                                <input type="radio" name="sortType" id="sortByName">Filename
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">
                            <ul class="thumbnail-group card-view">
                                {% for eKey, evd in evidences %}
                                    {% if evd[0].type !='text' %}
                                        {% set eviType = evidence_service.getFileExtensionType(evd[0].name) %}
                                        {% set getType = evidence_service.getFileFormatFromFileExt(eviType) %}
                                        <li class="thumbnail-group-item" data-file-type="{{getType}}" data-has-icon="{%if(getType == 'img')%}false{%else%}true{%endif%}">
                                            <div class="thumbnail-group-selection"><input type="checkbox" name="" class="custom-input"><label for="selectControl"></label></div>
                                                <div class="thumbnail-holder">
                                                    <div class="thumbnail-header"  title="{{ evd[0].name }}" {%if(getType != 'office' and getType != 'audio' and getType != 'video' and getType != 'pdf')%} style="background-image: url('{{ amazon_link }}user-{{evd[0].user.id}}/{{ evd[0].path }}')" title="{{ evd[0].name }}" {%endif%}>
                                                        {%if(getType == 'audio' or getType == 'video')%}
                                                            <i class="zmdi zmdi-headset thumbnail-icon"></i>
                                                        {%elseif(getType == 'office' or getType == 'pdf' or getType == 'txt')%}
                                                            <i class="zmdi zmdi-collection-{{getType}} thumbnail-icon"></i>
                                                        {%elseif(getType == 'office' and (eviType =='xlsx' or eviType =='docx' or eviType =='doc' or eviType =='txt'))%}
                                                            <i class="zmdi zmdi-file-text thumbnail-icon"></i>
                                                        {%endif%}
                                                    </div>
                                                    <div class="thumbnail-body">                                
                                                        <span data-column-name="filename" data-filename="test.jpg">{{ evd[0].name }}</span>
                                                        <a class="btn" data-trigger="preview-file">Preview</a>
                                                    </div>
                                                </div>
                                            <button type="button" class="btn btn-transparent btn-xs btn-delete"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                                        </li>
                                    {%else%}
                                        <li class="thumbnail-group-item" data-file-type="office" data-has-icon="true" style="width: 14.2857%;">
                                            <div class="thumbnail-group-selection"><input name="" class="custom-input" type="checkbox"><label for="selectControl"></label></div>
                                                <div class="thumbnail-holder">
                                                    <div class="thumbnail-header" title="{{ evd[0].content|slice(0,20) }} {% if evd[0].content|length > 20 %}...{% endif %}">
                                                        <i class="zmdi zmdi-collection-office thumbnail-icon"></i>                                                        
                                                        <i class="zmdi zmdi-file-text thumbnail-icon"></i>                                                    
                                                    </div>
                                                    <div class="thumbnail-body">                                
                                                        <span data-column-name="filename" data-filename="test.jpg">{{ evd[0].content|slice(0,20) }} {% if evd[0].content|length > 20 %}...{% endif %}</span>
                                                        <a class="btn" data-trigger="preview-file">Preview</a>
                                                    </div>
                                                </div>
                                            <button type="button" class="btn btn-transparent btn-xs btn-delete"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                                        </li>
                                    {%endif%}
                                {%endfor%}
                                <!-- Upload in progress -->
                                <li class="thumbnail-group-item thumbnail-group-item-loading">
                                    <div class="thumbnail-holder">
                                        <div class="thumbnail-header"></div>
                                        <div class="thumbnail-progress-fill" data-progress-value="0%">
                                            <i class="percentage-fill" data-progress-value="0%" style="height: 0;"></i>
                                        </div>
                                    </div>
                                </li>
                                <!-- Upload in progress -->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        <!-- Put content here -->
        </div>
    </main>	
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() { FILE_THUMBNAIL.build(); });
    </script>
{% endblock %}