{% extends 'revamp_base.html.twig' %}
{% block ngApp %} ng-app="gqAus" {% endblock%}
{% block ngController %} ng-controller="userprofileCtlr"  id="userprofileCtlr" {% endblock%}
{% block title %}  My Profile {% endblock %}
{% block ngtitle %}myProfile{% endblock%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/pages/all/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/pages/all/profile.css')}}">
    <link href="{{ asset('public/css/select.min.css') }}" rel="stylesheet" /> 
{% endblock %}
{% block body %}
{% set userId = app.security.getToken().getUser().getId() %}
{% set roles = app.security.getToken().getUser().getRoles() %}
    <main class="main-content-gqa">
        <div class="container">
        <!-- Put content here -->
            <div class="panel panel-default panel-evidence-library">
                <div class="panel-evidence-library-heading">
                    <div class="panel-evidence-library-htext">
                        <h3 class="qual-title" style="margin: 0; line-height: 1;">Evidence Library <br>
                            <small class="text-muted text-uppercase hidden-xs">Upload and manage for core &amp; elective units</small>
                        </h3>
                    </div>
                    <button ng-if="(allEvidences| filter:{type: '!text'}).length > 0" type="button" class="btn btn-primary btn-upload-evidence" data-toggle="modal" data-target="#uploadEvidence" data-keyboard="false" data-backdrop="static"> <i class="zmdi zmdi-upload zmdi-hc-lg zmdi-hc-fw"></i> Upload <span class="hidden-mobile">Evidence</span></button>
                </div>
                <!-- Zero State -->
                <div class="panel-body" ng-if="(allEvidences| filter:{type: '!text'}).length === 0">
                    <div class="container" ng-hide="IsLoadedEvidences"> Loading.... </div>
                    <section class="upload-control" data-toggle="modal" data-target="#uploadEvidence" data-keyboard="false" data-backdrop="static">
                        <i class="zmdi zmdi-cloud-upload zmdi-hc-5x"></i>
                        <h4>No evidence for this unit yet <br><button type="button" class="btn-link">Upload evidence now</button></h4>
                    </section>
                </div>
                <!-- Zero State -->
                <!-- Has value state -->
                <div class="panel-evidence-library-body" ng-if="(allEvidences| filter:{type: '!text'}).length > 0">
                    <aside class="panel-evidence-library-menu">
                        <!-- Filter evidences according to category -->
                        <div class="btn-group" data-toggle="buttons"> 
                            <label class="btn {[{class}]}" ng-click="filterCat('6')" for="category6"><input type="radio" id="category0" name="evidenceCategories">All Categories</label>
                            <div class="container" ng-hide="IsLoaded"> Loading.... </div>
                            <label class="btn" ng-repeat="evidence in allEvidenceCats" ng-click="filterCat(evidence.id)" for="category{[{evidence.id}]}"><input type="radio" id="category{[{evidence.id}]}" name="{[{evidence.name}]}" >{[{evidence.name}]}</label>
                        </div>
                        <!-- Filter evidences according to category -->
                        <div class="indicator-storage">
                            <h5><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-storage"></i>50 <span class="text-uppercase">GB available</span></h5>
                        </div>
                    </aside>
                    <section class="panel-evidence-library-content" ng-if="(allEvidences| filter:{type: '!text'}).length > 0" data-has-thumbnail="true">
                        <div class="panel-evidence-search">
                            <div class="input-group-search"><input type="text" class="form-control" ng-model="search" placeholder="Search..."><i class="zmdi zmdi-search zmdi-hc-2x icon"></i></div>                    
                        </div>
                        <div class="evidence-controls btn-group-toolbar">
                            <div class="evidence-toggle-view">
                                <div class="btn-group btn-group-xs" data-toggle="buttons">
                                    <label class="btn btn-transparent active" for="gridView" ng-click="pageStats.evidenceView = 'card'">
                                        <input type="radio" name="galleryView" id="gridView" ng-model="pageStats.evidenceView" value="card" checked><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-view-module"></i>
                                    </label>
                                    <label class="btn btn-transparent" for="listView" ng-click="pageStats.evidenceView = 'list'">
                                        <input type="radio" name="galleryView" id="listView" ng-model="pageStats.evidenceView" value="list"><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-view-list"></i>
                                    </label>
                                </div>
                            </div>
                            <i class="divider"></i>
                            <div class="btn-group btn-group-xs" data-toggle="buttons">
                                <button type="button" class="btn btn-transparent"  data-toggle="modal" data-target="#evidenceFilter" data-backdrop="static" data-keyboard="false">
                                    <i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-filter-list"></i>
                                </button>
                            </div>
                            <i class="divider"></i>
                            <div class="panel-evidence-filters">
                                <div class="dropdown dropdown-evidence-filter">
                                    <button type="button" class="btn btn-transparent text-left" data-toggle="dropdown">
                                        <span class="evidence-controls-label" id="evidence-controls-label">Sort by</span>
                                        <i class="zmdi zmdi-chevron-down zmdi-hc-lg zmdi-hc-lg zmdi-hc-fw"></i>
                                    </button>
                                    <div class="dropdown-menu pull-right">
                                        <div class="btn-group btn-group-vertical progress-summary" data-toggle="buttons">
                                            <label class="progress-summary-item btn btn-default" for="sortByForm"><span ng-click="sortBy('type','File format')" id="sortByFile">File format</span></label>
                                            <label class="progress-summary-item btn btn-default" for="sortByDate"><span ng-click="sortBy('created','Date Uploaded')" id="sortByDate">Date Uploaded</span></label>
                                            <label class="progress-summary-item btn btn-default" for="sortByName"><span ng-click="sortBy('name','Filename')" id="sortByFileName">Filename</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <ul class="thumbnail-group" ng-class="{'card-view': pageStats.evidenceView === 'card', 'list-view': pageStats.evidenceView === 'list', 'edit-mode' : pageStats.evidenceEdit}">
                                <li class="thumbnail-group-item" dir-paginate="evidence in allEvidences|orderBy:propertyName:reverse|filter:search|itemsPerPage:28"  data-file-type="{[{evidence.type}]}" data-has-icon="{[{evidence.type == 'image'?'false':'true'}]}">

                                    <div class="thumbnail-holder">
                                        <!-- IF IMAGE -->
                                            <div class="thumbnail-header" ng-if="evidence.type == 'image'" style="background-image: url('{[{evidence.s3Path}]}')" title="{[{evidence.name}]}" data-toggle="modal"  data-keyboard="false"></div>

                                            <div class="thumbnail-body" ng-if="evidence.type == 'image'">      
                                                <a data-column-name="filename" data-trigger="preview-file" ng-click="showEvidenceModal(evidence)">
                                                    <span data-filename="{[{evidence.s3Path}]}">{[{evidence.name}]}
                                                    </span>
                                                    <span class="data-uploaded">{[{evidence.created}]}</span>

                                                </a>    
                                                <!-- <span data-column-name="uploaded"></span> -->
                                                <span data-column-name="filesize">{[{evidence.size}]}</span>  
                                                <div data-column-name="linkedto">
                                                    <strong class="text-primary">{[{evidence.unitCode}]}</strong>&nbsp;<span ng-if="evidence.linkedTo > 0">and <strong class="text-primary">{[{evidence.linkedTo}]} other</strong> units</span> 
                                                </div>  
                                                <!-- <a class="btn" data-trigger="preview-file" ng-click="showEvidenceModal(evidence)">Preview</a> -->
                                            </div>
                                        <!-- END IF IMAGE -->
 
                                        <!-- IF NOT IMAGE -->
                                            <div class="thumbnail-header" title="{[{evidence.name}]}" ng-if="evidence.type != 'image'">
                                                <i class="zmdi thumbnail-icon" ng-class="{'zmdi-file-text': evidence.type == 'file' && evidence.fileType != 'pdf', 'zmdi-collection-pdf': evidence.type == 'file' && evidence.fileType == 'pdf' , 'zmdi-headset': evidence.type == 'audio', 'zmdi-headset': evidence.type == 'recording', 'zmdi-collection-video': evidence.type == 'video'}"></i>
                                                
                                            </div>
                                            <div class="thumbnail-body" ng-if="evidence.type != 'image'">                                
                                                <!-- <span data-column-name="filename" data-filename="{[{evidence.s3Path}]}">{[{evidence.name}]}</span>
                                                <a ng-if="evidence.type != 'file'" class="btn" data-trigger="preview-file" ng-click="showEvidenceModal(evidence)">Preview</a>
                                                <a ng-if="evidence.type == 'file'" target= "_blank" class="btn" href="{[{evidence.s3Path}]}">Preview</a> -->
                                                <a  data-column-name="filename" target="_blank" href="{[{evidence.s3Path}]}"><span data-filename="{[{evidence.s3Path}]}">{[{evidence.name}]}</span><span>{[{evidence.created}]}</span></a>
                                                <span data-column-name="filesize">{[{evidence.size}]}</span>
                                                <!-- <span data-column-name="uploaded">{[{evidence.created}]}</span> -->
                                                <div data-column-name="linkedto"><strong class="text-primary">{[{evidence.unitCode}]}</strong><span ng-if="evidence.linkedTo > 0"> and <strong class="text-primary">{[{evidence.linkedTo}]} other</strong> units </span></div>
                                            </div>
                                        <!-- END IF NOT IMAGE -->
                                    </div>
                                    <div class="dropdown dropdown-thumbnail" ng-if="evidence.jobId == ''">
                                        <button type="button" class="btn btn-transparent btn-xs btn-context-menu dropdown-toggle" data-toggle="dropdown"><i class="zmdi zmdi-more zmdi-hc-lg"></i></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li ng-if="evidence.type == 'image'">
                                                <a  data-trigger="preview-file" ng-click="showEvidenceModal(evidence)" href data-keyboard="false" data-backdrop="static">
                                                    <i class="zmdi zmdi-hc-lg zmdi-eye zmdi-hc-fw"></i> View file
                                                </a>
                                            </li>

                                            <li ng-if="evidence.type != 'image'">
                                                 <a ng-if="evidence.type != 'image'" target="_blank" href="{[{evidence.s3Path}]}">
                                                    <i class="zmdi zmdi-hc-lg zmdi-eye zmdi-hc-fw"></i> View file
                                                </a>                                                   
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href ng-if="!isSubmitted() && evidence.jobId == ''" ng-click="deleteEvidence(evidence)">
                                                    <i class="zmdi zmdi-hc-lg zmdi-delete zmdi-hc-fw"></i> Delete file
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- <button type="button" ng-if="evidence.submitted == '0'" class="btn btn-transparent btn-xs btn-delete" ng-click="deleteEvidence(evidence)"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button> -->
                                </li>
                                <!-- Upload in progress -->
                                <li class="thumbnail-group-item thumbnail-group-item-loading" ng-repeat="uploadEvidence in uploadInProgress.uploads">
                                    <div class="thumbnail-holder">
                                        <div class="thumbnail-header"></div>
                                        <div class="thumbnail-progress-fill" data-progress-value="{[{uploadEvidence.percentageCompleted}]}%">
                                            <i class="percentage-fill" data-progress-value="{[{uploadEvidence.percentageCompleted}]}%" style="height: {[{uploadEvidence.percentageCompleted}]}%;"></i>
                                        </div>
                                    </div>
                                </li>
                                <!-- Upload in progress -->
                            </ul>
                        </div>
                        <div class="clearfix text-center">
                            <dir-pagination-controls max-size="20" direction-links="true" boundary-links="true" ></dir-pagination-controls>
                        </div>
                    </section>
                </div>
                 <!-- Has value state -->
            </div>
        <!-- Put content here -->
        </div>
    </main>
    <!-- File Preview -->
    <div class="modal fade modal-file-preview" tabindex="-1" role="dialog" id="filePreview">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-hc-lg zmdi-close"></i></button>
                    <h4 class="modal-title">Preview</h4>
                </div>
                <div class="modal-body clearfix" >
                     <gq-audio ng-if="evidenceView.type ==='audio'" datapath="{[{evidenceView.s3Path}]}"></gq-audio>
                    <gq-video ng-if="evidenceView.type ==='video'" datapath="{[{evidenceView.s3Path}]}" datatype="{[{evidenceview.mimeType}]}" ></gq-video>
                    <img ng-if="evidenceView.type === 'image'" src="{[{evidenceView.s3Path}]}" alt="{[{evidenceView.name}]}" class="img img-responsive">
                </div>
                <div class="modal-footer">
                    <strong class="center-block text-left">{[{evidenceView.name}]}</strong>
                </div>
            </div>
        </div>
    </div>
    <!-- File Preview -->
    
    <!-- Upload Evidences Files Modal Popup Start -->
    <div class="modal fade modal-upload-evidence" id="uploadEvidence" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close zmdi-hc-lg zmdi-hc-fw"></i></button>
                    <h3 class="modal-title">Upload Evidence</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="progress-tag progress-tag-default">
                                <progress role="progress" value="{[{(uploadDetails.totalUploadedSize/uploadDetails.maxUploadedSize)*100}]}" max="100"><img class="fallback" width="{[{(uploadDetails.totalUploadedSize/uploadDetails.maxUploadedSize)*100}]}"></progress>
                                <figcaption data-value="{[{(uploadDetails.maxUploadedSize-uploadDetails.totalUploadedSize) | bytesToSize:'size'}]}" data-unit=" {[{(uploadDetails.maxUploadedSize-uploadDetails.totalUploadedSize) | bytesToSize:'measure'}]}" class="progress-details">file space left</figcaption>
                            </div> 
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-link btn-transparent btn-help" data-toggle="collapse" data-target="#collapseEvidenceHelp" aria-expanded="false" aria-controls="collapseEvidenceHelp">
                                <i class="zmdi zmdi-help zmdi-hc-2x center-block"></i> HELP
                            </button>
                            <div id="collapseEvidenceHelp" class="panel-collapse evidence-help collapse">
                                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseEvidenceHelp" aria-expanded="false" aria-controls="collapseEvidenceHelp"><i class="zmdi zmdi-hc-lg zmdi-arrow-left"></i> Back</button>

                                <h4 class="page-header">What types of evidences can I upload?</h4>
                                <ul>
                                    <li>Resume, references &amp; job descriptions</li>
                                    <li>Word samples, memos, letters, reports</li>
                                    <li>Photographic and video evidence</li>
                                    <li>Education, training and qualifications</li>
                                </ul>
                                <hr>
                                <h4 class="page-header">List of files types accepted</h4>
                                <p>
                                    You are allowed to upload specific file types with an allotted 30GB per Applicant.
                                </p>
                                <ul>
                                    <li>pdf, html</li>
                                    <li>doc, docx, xls, xlsx, csv</li>
                                    <li>txt, rtf, zip</li>
                                    <li>mp3, wma, mpg, flv, avi</li>
                                    <li>jpg, jpeg, png, gif</li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <section class="upload-control">
                        <button type="button" class="btn btn-link btn-lg"><i class="zmdi zmdi-upload zmdi-hc-2x center-block"></i><span class="center-block">Click to browse your files</span></button>
                         <input class="upload-control-input" type="file" id="uploadID" s3-upload 
                            multiple="multiple" 
                            control="uploadControl" 
                            progressbar = "progressbar(uploadingSize, uploadedSize, totalSize, fileNum)" 
                            uploadcomplete="uploadcomplete(data,obj)" 
                            uploadstarted="uploadstarted(file,fileNum,dataObj)"
                            uploadfailed="uploadfailed(msg)" 
                            validRegex ="/(\.jpg|\.jpeg|\.gif|\.png|\.rtf|\.pdf|\.csv|\.txt|\.zip|\.docx|\.xlsx|\.doc|\.xls|\.html|\.mp3|\.wma|\.mpg|\.flv|\.avi)$/i">
                    </section>

                     <div class="dropup form-group dropdown-dynamic btn-block">
                        <ui-select ng-model="uploadInProgress.category" theme="" title="Evidence Category" style="width: 100%;">
                            <ui-select-match placeholder="What types of evidence are you uploading?">{[{$select.selected.name}]}</ui-select-match>
                            <ui-select-choices repeat="evidenceCategory in uploadDetails.evidenceCategories | propsFilter: {id: $select.search, name: $select.search}">
                                <div ng-bind-html="evidenceCategory.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeUploadModal();">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="uploadIds()">Submit File</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Upload ID Evdences Modal Popup End -->
    <!-- Evidence Gallery Filter -->
    <div class="modal fade" id="evidenceFilter">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-hc-lg zmdi-close"></i></button>
                    <h3 class="modal-title">Filter Library</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <legend class="small text-muted text-uppercase">Files associated to</legend>
                        <span ng-repeat="courseDetails in userCourses"><input type="checkbox"  name="course{[{courseDetails.id}]}" ng-model="userCCodes[courseDetails.courseCode]" id="file{[{courseDetails.id}]}" class="custom-input"><label for="file{[{courseDetails.id}]}"><span >{[{courseDetails.name}]}</span></label></span>
                    </div>
                    <div class="form-group">
                        <legend class="small text-muted text-uppercase">Files linked to</legend>
                        <input type="checkbox" id="single" data-ng-model="courseUnit.single" class="custom-input"><label for="single"><span>Evidence linked to a single unit</span></label>
                        <input type="checkbox" id="multi"  data-ng-model="courseUnit.multi" class="custom-input"><label for="multi"><span>Evidence linked to multiple units</span></label>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <legend class="small text-muted text-uppercase">Filter by file format</legend>
                        <ul class="list-unstyled">
                            <li>
                                <input type="checkbox" data-ng-model='filterLib.video' id="video" class="custom-input">
                                <label for="video"><span>Video <br><small class="text-muted">mp4, avi, mov, mpeg &amp; other known video formats</small></span></label>
                            </li>
                            <li>
                                <input type="checkbox" data-ng-model='filterLib.audio' id="audio"  class="custom-input">
                                <label for="audio"><span>Audio <br><small class="text-muted">mp3, wav &amp; other known audio formats</small></span></label>
                            </li>
                            <li>
                                <input type="checkbox" data-ng-model='filterLib.file' id="file" class="custom-input">
                                <label for="file"><span>Document <br><small class="text-muted">PDF, Word, Excel, Powerpoint files</small></span></label>
                            </li>
                            <li>
                                <input type="checkbox" data-ng-model='filterLib.image' id="image" class="custom-input">
                                <label for="image"><span>Image <br><small class="text-muted">JPEG, PNG, &amp; other image formats</small></span></label>
                            </li>
                            <li>
                                <input type="checkbox" data-ng-model='filterLib.text' id="text" class="custom-input">
                                <label for="text"><span>Self-assessment Note <br><small class="text-muted">What you've written for your Core &amp; Elective units</small></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="clearFilters()">Clear</button>
                    <button type="button" class="btn btn-primary" ng-click="applyFilters()">Apply filter</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Evidence Gallery Filter -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/qualification.js') }}"></script> 
    <script src = "{{ asset('public/js/underscore-min.js') }}"></script>
    
    <script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/moment.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/units.js') }}"></script>
    <script src="{{ asset('public/js/xepOnline.jqPlugin.js') }}"></script>
    
    <script src="{{ asset('public/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-animate.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-underscore.js') }}"></script>
    <script src="{{ asset('public/js/angular/dirPagination.js') }}"></script>
    <script src="{{ asset('public/ui/js/ui-bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/s3Upload.js') }}"></script>
    <script src="{{ asset('public/js/angular/select.min.js') }}"></script>

    <script src="{{ asset('public/js/angular/app.js') }}"></script>
    <script src="{{ asset('public/js/angular/services/AjaxService.js') }}"></script>

    <script src="{{ asset('public/js/angular/controllers/userprofileCtrl.js') }}"></script>
    <script src="{{ asset('public/js/angular/filters/uploadElectiveFilter.js') }}"></script>
    <script src="{{ asset('public/js/angular/directives/qualificationDirective.js') }}"></script>
    <script src="{{ asset('public/js/angular/filters/enrollFilters.js') }}"></script>
{% endblock %}