{% extends 'revamp_base.html.twig' %}
{% block ngApp %} ng-app="gqAus" {% endblock%}
{% block ngController %} ng-controller="userprofileCtlr"  id="userprofileCtlr" {% endblock%}
{% block title %}  My Profile {% endblock %}
{% block ngtitle %}myProfile{% endblock%}
{% block stylesheets %}{% endblock %}
{% block body %}
{% set userId = app.security.getToken().getUser().getId() %}
{% set roles = app.security.getToken().getUser().getRoles() %}
    <main class="main-content-gqa">
        <div class="container">
        <!-- Put content here -->
            <div class="panel panel-default panel-evidence-library">
                <div class="panel-evidence-library-heading">
                    <div class="panel-evidence-library-htext">
                        <h3 class="qual-title" style="margin: 0; line-height: 1;">Evidence Library <br>
                            <small class="text-muted text-uppercase hidden-xs">Upload and manage for core &amp; elective units</small>
                        </h3>
                    </div>
                    <button type="button" class="btn btn-primary btn-upload-evidence" data-toggle="modal" data-target="#uploadEvidence" data-keyboard="false" data-backdrop="static"> <i class="zmdi zmdi-upload zmdi-hc-lg zmdi-hc-fw"></i> Upload <span class="hidden-mobile">Evidence</span></button>
                </div>
                <div class="panel-evidence-library-body">
                    <aside class="panel-evidence-library-menu">
                        <!-- Filter evidences according to category -->
                        <div class="btn-group" data-toggle="buttons"> 
                            <label class="btn" ng-click="filerCat('6')" for="category6"><input type="radio" id="category0" name="evidenceCategories">All Categories</label>
                            <div class="container" ng-hide="IsLoaded"> Loading.... </div>
                            <label class="btn" ng-repeat="evidence in allEvidenceCats" ng-click="filerCat(evidence.id)" for="category{[{evidence.id}]}"><input type="radio" id="category{[{evidence.id}]}" name="{[{evidence.name}]}" >{[{evidence.name}]}</label>
                        </div>
                        <!-- Filter evidences according to category -->
                    </aside>
                    <section class="panel-evidence-library-content" ng-if="(allEvidences| filter:{type: '!text'}).length > 0" data-has-thumbnail="true">
                        <div class="panel-evidence-search">
                            <div class="input-group-search"><input type="text" class="form-control" ng-model="search" placeholder="Search..."><i class="zmdi zmdi-search zmdi-hc-2x icon"></i></div>                    
                        </div>
                        <div class="evidence-controls btn-group-toolbar">
                            <div class="btn-group btn-group-xs" data-toggle="buttons">
                                <label class="btn btn-transparent" for="batchSelect"><input type="checkbox" name="batchSelect" id="batchSelect" value=""><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-select-all"></i></label>
                            </div>
                            <i class="divider"></i>
                            <div class="evidence-toggle-view">
                                <div class="btn-group btn-group-xs" data-toggle="buttons">
                                    <label class="btn btn-transparent active" for="gridView" ng-click="pageStats.evidenceView = 'card'">
                                        <input type="radio" name="galleryView" id="gridView" ng-model="pageStats.evidenceView" value="card" checked><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-view-module"></i>
                                    </label>
                                    <label class="btn btn-transparent" for="listView" ng-click="pageStats.evidenceView = 'list'">
                                        <input type="radio" name="galleryView" id="listView" ng-model="pageStats.evidenceView" value="list"><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-view-list"></i>
                                    </label>
                                </div>
                            </div>
                            <i class="divider"></i>
                            <div class="btn-group btn-group-xs" data-toggle="buttons">
                                <button type="button" class="btn btn-transparent"  data-toggle="modal" data-target="#evidenceFilter" data-backdrop="static" data-keyboard="false">
                                    <i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-filter-list"></i>
                                </button>
                            </div>
                            <i class="divider"></i>
                            <div class="panel-evidence-filters">
                                <div class="dropdown dropdown-evidence-filter">
                                    <button type="button" class="btn btn-transparent text-left" data-toggle="dropdown">
                                        <span class="evidence-controls-label">Sort by</span>
                                        <i class="zmdi zmdi-chevron-down zmdi-hc-lg zmdi-hc-lg zmdi-hc-fw"></i>
                                    </button>
                                    <div class="dropdown-menu pull-right">
                                        <div class="btn-group btn-group-vertical progress-summary" data-toggle="buttons">
                                            <label class="progress-summary-item btn btn-default" for="sortByDate">
                                                <span ng-click="sortBy('created')" id="sortByDate">By Date Uploaded</span>
                                            </label>
                                            <label class="progress-summary-item btn btn-default" for="sortByFileFormat">
                                                <span ng-click="sortBy('type')" id="sortByDate">File format</span>
                                            </label>
                                            <label class="progress-summary-item btn btn-default" for="sortByName">
                                                <input type="radio" ng-click="sortBy('name')" id="sortByName">Filename
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="container" ng-hide="IsLoadedEvidences"> Loading.... </div>
                            <ul class="thumbnail-group" ng-class="{'card-view': pageStats.evidenceView === 'card', 'list-view': pageStats.evidenceView === 'list', 'edit-mode' : pageStats.evidenceEdit}">
                                <li class="thumbnail-group-item" ng-repeat="evidence in allEvidences|orderBy:propertyName:reverse|filter:search"  data-file-type="{[{evidence.type}]}" data-has-icon="{[{evidence.type == 'image'?'false':'true'}]}">
                                    <div class="thumbnail-group-selection"><input type="checkbox" id="evidenceFiles-{[{evidence.id}]}" name="evidenceFiles" ng-model="pageStats.evidenceFiles[evidence.id]" class="custom-input"><label for="evidenceFiles-{[{evidence.id}]}"></label></div>
                                    <div class="thumbnail-holder">
                                        <div class="thumbnail-header" ng-if="evidence.type == 'image'" style="background-image: url('{[{evidence.s3Path}]}')" title="Evidence Name Here">
                                        </div>
                                        <div class="thumbnail-body" ng-if="evidence.type == 'image'">                                
                                                <span data-column-name="filename" data-filename="{[{evidence.s3Path}]}">{[{evidence.name}]}</span>
                                                <a class="btn" data-trigger="preview-file" ng-click="showEvidenceModal(evidence)">Preview</a>
                                            </div>
                                        <div class="thumbnail-header" title="{[{evidence.name}]}" ng-if="evidence.type != 'image'">
                                            <i class="zmdi thumbnail-icon" ng-class="{'zmdi-file-text': evidence.type == 'file' && evidence.fileType != 'pdf', 'zmdi-collection-pdf': evidence.type == 'file' && evidence.fileType == 'pdf' , 'zmdi-headset': evidence.type == 'audio', 'zmdi-headset': evidence.type == 'recording', 'zmdi-collection-video': evidence.type == 'video'}"></i>
                                            <div class="thumbnail-body">                                
                                                <span data-column-name="filename" data-filename="{[{evidence.s3Path}]}">{[{evidence.name}]}</span>
                                                <a ng-if="evidence.type != 'file'" class="btn" data-trigger="preview-file" ng-click="showEvidenceModal(evidence)">Preview</a>
                                                <a ng-if="evidence.type == 'file'" target= "_blank" class="btn" href="{[{evidence.s3Path}]}">Preview</a>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-transparent btn-xs btn-delete" ng-if="!isSubmitted()" ng-click="deleteEvidence(evidence)"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        <!-- Put content here -->
        </div>
    </main>
    <!-- File Preview -->
    <div class="modal fade modal-file-preview" tabindex="-1" role="dialog" id="filePreview">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-hc-lg zmdi-close"></i></button>
                    <h4 class="modal-title">Preview</h4>
                </div>
                <div class="modal-body clearfix" >
                     <gq-audio ng-if="evidenceView.type ==='audio'" datapath="{[{evidenceView.s3Path}]}"></gq-audio>
                    <gq-video ng-if="evidenceView.type ==='video'" datapath="{[{evidenceView.s3Path}]}" datatype="{[{evidenceview.mimeType}]}" ></gq-video>
                    <img ng-if="evidenceView.type === 'image'" src="{[{evidenceView.s3Path}]}" alt="{[{evidenceView.name}]}" class="img img-responsive">
                </div>
                <div class="modal-footer">
                    <strong class="center-block text-left">{[{evidenceView.name}]}</strong>
                </div>
            </div>
        </div>
    </div>
    <!-- File Preview -->
    <!-- Evidence Gallery Filter -->
    <div class="modal fade" id="evidenceFilter">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-hc-lg zmdi-close"></i></button>
                    <h3 class="modal-title">Filter Library</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <legend class="small text-muted text-uppercase">Files associated to</legend>
                        <span ng-repeat="courseDetails in userCourses"><input type="checkbox"  name="course{[{courseDetails.id}]}" value="{[{courseDetails.id}]}" id="file{[{courseDetails.id}]}" class="custom-input"><label for="file{[{courseDetails.id}]}"><span >{[{courseDetails.name}]}</span></label></span>
                    </div>
                    <div class="form-group">
                        <legend class="small text-muted text-uppercase">Files linked to</legend>
                        <input type="checkbox" name="coursesingleunit" value="1" id="coursesingleunit" class="custom-input"><label for="coursesingleunit"><span>Evidence linked to a single unit</span></label>
                        <input type="checkbox" name="coursemultiunit" value="2" id="coursemultiunit" class="custom-input"><label for="coursemultiunit"><span>Evidence linked to multiple units</span></label>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <legend class="small text-muted text-uppercase">Filter by file format</legend>
                        <ul class="list-unstyled">
                            <li>
                                <input type="checkbox" name="test" value="" id="video" class="custom-input">
                                <label for="video"><span>Video <br><small class="text-muted">mp4, avi, mov, mpeg &amp; other known video formats</small></span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="test" value="" id="audio" class="custom-input">
                                <label for="audio"><span>Audio <br><small class="text-muted">mp3, wav &amp; other known audio formats</small></span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="test" value="" id="documents" class="custom-input">
                                <label for="documents"><span>Documents <br><small class="text-muted">PDF, Word, Excel, Powerpoint files</small></span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="test" value="" id="images" class="custom-input">
                                <label for="images"><span>Images <br><small class="text-muted">JPEG, PNG, &amp; other image formats</small></span></label>
                            </li>
                            <li>
                                <input type="checkbox" name="test" value="" id="notes" class="custom-input">
                                <label for="notes"><span>Self-assessment Notes <br><small class="text-muted">What you've written for your Core &amp; Elective units</small></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="clearFilters()">Clear</button>
                    <button type="button" class="btn btn-primary">Apply filter</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Evidence Gallery Filter -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/qualification.js') }}"></script> 
    <script src = "{{ asset('public/js/underscore-min.js') }}"></script>
    
    <script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/moment.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/units.js') }}"></script>
    <script src="{{ asset('public/js/xepOnline.jqPlugin.js') }}"></script>
    
    <script src="{{ asset('public/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-animate.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-underscore.js') }}"></script>
    <script src="{{ asset('public/ui/js/ui-bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/s3Upload.js') }}"></script>
    <script src="{{ asset('public/js/angular/select.min.js') }}"></script>

    <script src="{{ asset('public/js/angular/app.js') }}"></script>
    <script src="{{ asset('public/js/angular/services/AjaxService.js') }}"></script>

    <script src="{{ asset('public/js/angular/controllers/userprofileCtrl.js') }}"></script>
    
{% endblock %}