{% extends 'revamp_base.html.twig' %}
{% block title %}Get Qualified Australia: Online RPL{% endblock %}


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/ui/css/vendor/bootstrap-tour.min.css') }}"/>
    {% endblock %}

    {% block body %}
    {% set userObj = app.security.getToken().getUser() %}
    {% set userImg = userObj.getUserImage()%}
    {% set userRole = userObj.getRoles() %}
    {% set userId = userObj.getId() %} 
    {% set userImage = amazon_link~'user-'~userId~'/'~userImage %}
    <main class="main-content-gqa">
        <div class="container container-left-sidebar-main">
            <section class="section-sidebar">
                <div class="panel panel-default m_overflow-mobile">
                    <div class="panel-qualification-heading">
                        <div class="avatar avatar-xs"><img src="{% if userImg  != '' %}{{amazon_link~'user-'~userId~'/'~userImg}}{%else%}public/ui/img/avatar-default.png{%endif%}" alt="You"></div>
                        <div class="heading">
                            <span id="greetingNote">Welcome,</span>
                            <span>{{ userFName }}!</span>
                        </div>
                    </div>
                    <div class="panel-body hidden-mobile">
                        <p>
                            This is your Online RPL homepage. You can see here the qualifications you are currently enroled in.
                         </p>
                         <p>
                            To start uploading evidence, follow the links at the bottom of each qualification. 
                        </p>
                    </div>
                </div>
            </section>
            <section class="section-main">
                
                {% for key, courses in userCourses %}     
                {% set flagCurrent = '1' %}
                {% set courseCode = courses.getCourseCode()%}
                {% set courseId = courses.getId() %} 
                {% set courseInfo = courses_service.getCourseInfo(courseCode)%} 
                {% set remaining = user_service.getDaysRemainingApplicant(userId, courseCode, userRole[0]) %}    
                {% set output = remaining|split('&&') %}
                {% set evidenceCompleteness = courses_service.getEvidenceByCourse(userId, courseCode) %}
                {% set unitSubmitted = courses_service.getUnitsSubmittedbyCourse(userId, courseCode) %}
                {% set courseStatus = user_service.getQualificationStatus()%}
                {% set courseApiInfo = courses_service.getUserCoursesInfo(courseCode)%} 
                {% set coreUnitsCnt = courseApiInfo.courseInfo.Units.Core.unit|default(0) %}
                {% set electiveUnitsCnt = courseApiInfo.courseInfo.Units.Elective.validation.requirement|default(0) %}
                {% set coreUnitsSubmittedPercent = (unitSubmitted['core']/coreUnitsCnt|length)*100 %}  
                {% if electiveUnitsCnt > 0%}
                    {% set electiveUnitsSubmittedPercent = (unitSubmitted['elective']/electiveUnitsCnt)*100 %}
                {% else %}
                    {% set electiveUnitsSubmittedPercent = 0 %}
                {% endif %}
                 <!-- ng-repeat-->
                 <article class="panel panel-default panel-qualification panel-overview" data-courseCode="{{ courseCode }}">
                     <div class="panel-qualification-meta">
                         <div class="panel-qualification-img" style="background-image: url({{ courseInfo.bannerImg|default('') }});">
                             <h3 class="h3 qual-title"><small>{{ courseCode }}</small><br> {{ courses.getCourseName() }}</h3>
                             <span class="hidden" aria-label="hidden" aria-value="Qualification-name">{{ courses.getCourseName() }}</span>
                         </div>
                         
                         <dl class="panel-qualification-desc">
                            <dd><label class="text-muted text-uppercase small">Status</label> <br>
                            <label class="label {{ courseStatus[courses.courseStatus]['labelClass'] }}">{{ courseStatus[courses.courseStatus]['ApplicantDisplayText'] }}</label></dd>

                            <dd><label class="text-muted text-uppercase small">Account Manager</label> <br><span>{{ courses.facilitator.firstName|default('') }} {{ courses.facilitator.lastName|default('') }}</span></dd>
                        </dl>
                     </div>
                     <div class="panel-qualification-body">
                         <div class="panel-body-group">
                             <h3 class="h3 qual-title"><small>{{ courseCode }}</small><br> {{ courses.getCourseName() }}</h3>
                             <div class="panel-qualification-gauges">

                                 <div class="qual-gauges">
                                     <div class="progress-tag progress-tag-{% if(output[0]<30) %}danger{% elseif(output[0]<90) %}warning{% else %}success{%endif%}">
                                         <progress role="progress" value="{{output[1]}}" max="100"><img class="fallback" width="30"></progress>
                                         <figcaption data-value="{{output[0]}}" data-unit="" class="progress-details"> DAYS LEFT</figcaption>
                                     </div>
                                 </div>

                                 <div class="qual-gauges">
                                     <div class="c100 p{{ evidenceCompleteness|trim('%') }} big {% if evidenceCompleteness|trim('%') == 100 %} green {% elseif evidenceCompleteness|trim('%') < 50 %} orange {% else %} gray {% endif %}">
                                         <span>
                                             <i>{{ evidenceCompleteness }}</i>
                                             <i class="progress-big-label">Total evidence completed</i>
                                         </span>
                                         <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                     </div>
                                 </div>
 
                                 <div class="qual-gauges">
                                     <div class="c100 p{{ coreUnitsSubmittedPercent|round }} small core-units {% if coreUnitsSubmittedPercent == 100 %} green {% elseif coreUnitsSubmittedPercent < 50 %} orange {% else %} gray {% endif %}">
                                         <span>{{ unitSubmitted['core']}}<small>/{{ coreUnitsCnt|length }}</small></span>
                                         <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                     </div>                                    
                                 </div>
 
                                 <div class="qual-gauges">
                                     <div class="c100 p{{ electiveUnitsSubmittedPercent|round }} small elective-units {% if electiveUnitsSubmittedPercent == 100 %} green {% elseif electiveUnitsSubmittedPercent < 50 %} orange {% else %} gray {% endif %}">
                                         <span>{{ unitSubmitted['elective']}}<small>/{{ electiveUnitsCnt }}</small></span>
                                         <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                     </div>
                                 </div>
 
                             </div>
                         </div>
                         <div class="panel-qualification-footer">
                            <a href="{{ app.request.baseUrl }}{% if(evidenceCompleteness|trim('%') == 0 or evidenceCompleteness|trim('%') != 100)%}/qualificationDetails/{{ courseCode }}/core{%else%}/qualificationDetails/{{ courseCode }}{%endif%}" class="btn btn-link btn-block">
                                {% if(evidenceCompleteness|trim('%') == 0)%} 
                                    <i class="zmdi zmdi-flag zmdi-hc-lg zmdi-hc-fw"></i> Get Started
                                    {% elseif(evidenceCompleteness|trim('%') == 100) %} <i class="zmdi zmdi-open-in-browser zmdi-hc-lg zmdi-hc-fw"></i> View this Qualification 
                                    {%else%} <i class="zmdi zmdi-upload zmdi-hc-lg zmdi-hc-fw"></i> Upload Evidence 
                                {%endif%}
                            </a>
                         </div>

                     </div>
                 </article>
                {% endfor %}
            </section>
        </div>
    </main>

    {% include 'GqAusUserBundle:Overview:_modal.html.twig' %}
{% endblock %}



{% block javascripts %}
    <script src="{{ asset('public/ui/js/plugins/bootstrap-tour.min.js') }}"></script>
   
    <script type="text/javascript">
        var FIRST_TIME_TOUR = {
            template: '<div class="popover tour"><div class="arrow"></div><h4 class="popover-title"></h4><div class="popover-content"></div><div class="popover-navigation"><button class="btn btn-success pull-right" data-role="next"><span id="buttonText"></span></button><button class="btn btn-transparent pull-right btn-end-tour" data-role="end">End Tour</button><button class="btn btn-success pull-right btn-last-tour" data-role="end">Alright</button></div></div>',
            header: $('#headerGQA'),
            counter: 0,
            getButtonText: function() {
                var btn_text = ['Got it!','Cool!','Noted!','Okay','Alright!'];
                return  $('#buttonText').html(btn_text[FIRST_TIME_TOUR.counter++]);
            },
            init: function() {

                var popup =     $('#congratulatoryPopup'), 
                    header =    $('#headerGQA'),
                    body =      $('body');
                    inboxlink = '';

                function setInboxLink() {
                    if (isMobile.phone === true) { inboxlink = '.t-item-3-1'; }
                    else { inboxlink = '.t-item-3-2'; }
                }

                setInboxLink();
                
                var tour = new Tour({
                    name: 'tour',
                    smartPlacement: true,
                    animation: false,
                    backdrop: true,
                    storage: false,
                    backdropPadding: 15,
                    template: FIRST_TIME_TOUR.template,
                    onStart: function() {
                        FIRST_TIME_TOUR.header.find('[data-toggle="dropdown"]').on('click', function(event) {
                            event.preventDefault();
                            event.stopPropagation();
                        });
                    },
                    onEnd: function(tour) {
                        FIRST_TIME_TOUR.header.find('[data-toggle="dropdown"]').unbind('click');

                        FIRST_TIME_TOUR.hide_backdrop();
                        body.removeClass('tour-enabled').removeClass('mobile-modify-header');

                        if (GQA_HEADER.is_menu_open === true) {
                            $('#btnNavicon').click();
                        }
                    },
                    onShown: function(tour) {
                        FIRST_TIME_TOUR.getButtonText();
                    },
                    onHidden: function(tour) {
                        if (tour.getCurrentStep() === 3 && isMobile.phone == true) {
                            $('#btnNavicon').click();
                            body.addClass('mobile-modify-header');
                            // FIRST_TIME_TOUR.show_backdrop();
                        }
                    },
                    steps: [
                        {
                            placement: 'bottom',
                            element: ".t-item-1",
                            title: "Jump to your qualification/s",
                            content: "Wherever you are on the platform, you can click here to view and manage your enrolled qualifications."
                        },
                        {
                            placement: 'bottom',
                            element: ".t-item-2",
                            title: "The evidence (library), your honor",
                            content: "Here’s where all your evidence files are stored so you can keep track of what you have and what more you need."
                        },
                        {
                            placement: 'bottom',
                            element: inboxlink,
                            title: "What’s this mail thing for, you ask?",
                            content: "Check here often for notes from your Account Manager and system-generated messages."
                        },
                        {
                            placement: 'bottom',
                            element: ".t-item-4",
                            title: "Need help with anything?",
                            content: "You can find frequently asked questions and things you need to know about RPL."
                        },
                        {
                            placement: 'bottom',
                            element: ".t-item-5",
                            title: "So, this is you",
                            content: "Or, at least your name and photo, plus a way to easily access your profile and change your details."
                        }
                    ]
                });

                // tour.init();

                popup.on('show.bs.modal', FIRST_TIME_TOUR.show_backdrop);

                popup.modal({ backdrop: false, show: true, });

                popup.on('hidden.bs.modal', function(event) {
                    body.addClass('tour-enabled');

                    if (isMobile.phone === true) {
                        $('#btnNavicon').click();
                        FIRST_TIME_TOUR.hide_backdrop();
                        var tmr;
                        tmr = setInterval(function(){
                            if (GQA_HEADER.is_menu_open === true) {
                                
                                tour.start();
                                clearInterval(tmr);
                            }
                        },50);
                    }
                    else {
                        tour.start();
                    }
                });
            },
            show_backdrop: function() {
                $('<div class="modal-backdrop in congratulatoryPopupBackdrop"/>').appendTo('body');
            },
            hide_backdrop: function() {
                $('.congratulatoryPopupBackdrop').velocity(
                    { opacity: 0 },
                    { display: 'none', duration: 300, 
                        complete: function() { $(this).remove(); }
                    });
            },
            build: function() {
                this.init();
            }
        }

        $(document).ready(function () {
 
            if ({{show_splash_screen}}) {
                FIRST_TIME_TOUR.build();
            }
            // $('.panel-qualification').on("click", function(event){

            //      var target = $( event.target );
            //      var obj = $(this);

            //      if(target.is('.elective-units') || target.parents('.elective-units').length > 0){
            //          location.href = '{{ app.request.baseUrl }}/qualificationDetails/'+$(this).data('coursecode')+'/elective';
            //      }
            //      else if(target.is('.core-units') || target.parents('.core-units').length > 0){
            //          location.href = '{{ app.request.baseUrl }}/qualificationDetails/'+$(this).data('coursecode')+'/core';
            //      }
            //      else {
            //          location.href = '{{ app.request.baseUrl }}/qualificationDetails/'+$(this).data('coursecode');
            //      }
            // });
        });
    </script>
{% endblock %}
