{% set unreadPortfolios = (unreadApplicantsCount > 0) ? unreadApplicantsCount : 0 %}
<div class="accordian_block">
    <a href="{{ app.request.baseUrl }}/applicants" title="View All Portfolios"><div class="title_bar clearfix"><span class="title">PORTFOLIOS <strong>({{ unreadPortfolios }})</strong></span></div></a>
    {% if ('ROLE_FACILITATOR' in roles) or ('ROLE_MANAGER' in roles) %}
        {% if pendingApplicantsCount > 0 %}
            <ul class="count_list clearfix">
                <li class="active">
                    <strong>{{ dateRangeRecords.thirtyDaysApplicantsCount }} {% if dateRangeRecords.thirtyDaysApplicantsCount == 0 %} <i class="material-icons">thumb_up</i> {% endif %}</strong>
                    <span class="average_count" style="height: {{ dateRangeRecords.thirtyDayApplicantsPercent }}px;"></span>
                </li>
                <li>
                    <strong>{{ dateRangeRecords.sixtyDaysApplicantsCount }} {% if dateRangeRecords.sixtyDaysApplicantsCount == 0 %} <i class="material-icons">thumb_up</i> {% endif %}</strong>
                    <span class="high_count" style="height: {{ dateRangeRecords.sixtyDaysApplicantsPercent }}px;"></span>
                </li>
                <li>
                    <strong>{{ dateRangeRecords.ninetyDaysApplicantsCount }} {% if dateRangeRecords.ninetyDaysApplicantsCount == 0 %} <i class="material-icons">thumb_up</i> {% endif %}</strong>
                    <span class="low_count" style="height: {{ dateRangeRecords.ninetyDaysApplicantsPercent }}px;"></span>
                </li>
                <li>
                    <strong>{{ dateRangeRecords.ninetyDaysPlusRecordsCount }} {% if dateRangeRecords.ninetyDaysPlusRecordsCount == 0 %} <i class="material-icons">thumb_up</i> {% endif %}</strong>
                    <span class="very_low_count" style="height: {{ dateRangeRecords.ninetyDaysPlusRecordsPercent }}px;"></span>
                </li>
            </ul>
            <ul class="range clearfix">
                <li>
                    <span>0 - 30</span>
                </li>
                <li>
                    <span>31 - 60</span>
                </li>
                <li>
                    <span>61 -90</span>
                </li>
                <li>
                    <span><strong>&gt;90</strong></span>
                </li>
            </ul>
        {% endif %}  
    {% endif %}
    <div class="panel-group" id="accordion3">
        {% if (('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR' in roles)  or ('ROLE_MANAGER' in roles)) %}
			{% if unreadApplicants|length > 0 %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<span>{{unreadApplicants|length}} new</span>
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#p_collapse1">
							  <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
							</a>
						</div>
					</div>
					<div id="p_collapse1" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								{% for key, list in unreadApplicants %}
									    {% if ('ROLE_MANAGER' in roles) %}
									    	{% set setUserId = list.manager %}
									    {% elseif ('ROLE_FACILITATOR' in roles and list.facilitator.id != null) %}
											{% set setUserId = list.facilitator.id %}
										{% elseif ('ROLE_ASSESSOR' in roles and list.assessor.id != null) %}
											{% set setUserId = list.assessor.id %}
										{% elseif ('ROLE_RTO' in roles and list.rto.id != null) %}
											{% set setUserId = list.rto.id %}
										{% endif %}
										
										{% set remStatus = user_service.checkReminderExists(setUserId, list.id, 'portfolio') %}
										<li class="clearfix {{ remStatus.playlistIconClass }}">
											<span class="content"><a target="_blank" href="{{ app.request.baseUrl }}/applicantDetails/{{ list.courseCode }}/{{ list.user.id }}" title="View Portfolio"><strong>{{list.user.firstName}} {{list.user.lastName}}</strong> - {{list.courseName}}</a></span>
											<div class="dropdown keep-open">
												<span class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">{{ remStatus.playlistIcon }}</i></span>
												<div class="dropdown-menu {{ remStatus.calendarClass }}">
													<div class="data_section">
														<textarea rows="3" placeholder="Notes" id="newApp_notes_{{list.id}}" onfocus="fousOnNote({{list.id}})"></textarea>
														<div class="date_section clearfix">
                                                                                                                        <input type="text" class="date_field form-control" id="newApp_remindDate_{{list.id}}" onfocus="fousOnDate({{list.id}})" readonly />
														</div>
													 </div>   
													<button type="button" class="btn_red setData" usercourseid="{{ list.id }}" prefix="newApp" listid="{{ list.id }}" remindertype="portfolio" remindertypeid="{{ list.id }}">Save</button>
												</div>
											</div>
										</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			{% endif %}
			{% if eightyDaysApplicantList|length > 0 %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{ eightyDaysApplicantList|length }} older than 80 days</span>
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#p_collapse3">
						  <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
						</a>
					</div>
				</div>
				{% if eightyDaysApplicantList|length > 0 %}
				<div id="p_collapse3" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							{% for dKey, dList in eightyDaysApplicantList %}
								{% if ('ROLE_FACILITATOR' in roles) or ('ROLE_MANAGER' in roles)  %}
									{% set setUserId = dList.facilitator.id %}
								{% elseif ('ROLE_ASSESSOR' in roles) %}
									{% set setUserId = dList.assessor.id %}
								{% else %}
									{% set setUserId = dList.rto.id %}
								{% endif %}							
							{% set remStatus = user_service.checkReminderExists(setUserId, dList.id, '') %}
								<li class="clearfix {{ remStatus.playlistIconClass }}">
									<span class="content"><a target="_blank" href="{{ app.request.baseUrl }}/applicantDetails/{{ dList.courseCode }}/{{ dList.user.id }}" title="View Portfolio"><strong>{{dList.user.firstName}} {{dList.user.lastName}}</strong> - {{dList.courseName}}</a></span>
									<div class="dropdown keep-open">
										<span class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">{{ remStatus.playlistIcon }}</i></span>
										<div class="dropdown-menu {{ remStatus.calendarClass }}">
											<div class="data_section">
												<textarea rows="3" placeholder="Notes" id="eighty_notes_{{dList.id}}" onfocus="fousOnNote({{dList.id}})"></textarea>
												<div class="date_section clearfix">
													<input type="text" class="date_field form-control" id="eighty_remindDate_{{dList.id}}" onfocus="fousOnDate({{dList.id}})" readonly />
												</div>
											</div>
											<button type="button" class="btn_red setData" usercourseid="{{ dList.id }}" prefix="eighty" listid="{{ dList.id }}" remindertype="portfolio" remindertypeid="{{ dList.id }}">Save</button>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
			</div>
			{% endif %}
			{% if eightyPercEvd|length > 0%}
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{ eightyPercEvd| length }} evidence over 80% complete</span>
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#p_collapse4">
						  <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
						</a>
					</div>
				</div>
				<div id="p_collapse4" class="panel-collapse collapse">
				   <div class="panel-body">
					   <ul>
						   {% for eKey, eList in eightyPercEvd %}
								{% if ('ROLE_FACILITATOR' in roles or 'ROLE_MANAGER' in roles) %}
									{% set setUserId = eList.facilitator.id %}
								{% elseif ('ROLE_ASSESSOR' in roles) %}
									{% set setUserId = eList.assessor.id %}
								{% else %}
									{% set setUserId = eList.rto.id %}
								{% endif %}							   
						   {% set remStatus = user_service.checkReminderExists(setUserId, eList.id, '') %}
							   <li class="clearfix {{ remStatus.playlistIconClass }}">
								   <span class="content"><a target="_blank" href="{{ app.request.baseUrl }}/applicantDetails/{{ eList.courseCode }}/{{ eList.user.id }}" title="View Portfolio"><strong>{{eList.user.firstName}} {{eList.user.lastName}}</strong> - {{eList.courseName}}</a></span>
								   <div class="dropdown keep-open">
									   <span class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">{{ remStatus.playlistIcon }}</i></span>
										<div class="dropdown-menu {{ remStatus.calendarClass }}">
										   <div class="data_section">
											   <textarea rows="3" placeholder="Notes" id="eightyPerc_notes_{{eList.id}}" onfocus="fousOnNote({{eList.id}})"></textarea>
											   <div class="date_section clearfix">
													   <input type="text" class="date_field form-control" id="eightyPerc_remindDate_{{eList.id}}" onfocus="fousOnDate({{eList.id}})" readonly />
											   </div>
										   </div>
										   <button type="button" class="btn_red setData" usercourseid="{{ eList.id }}" prefix="eightyPerc" listid="{{ eList.id }}" remindertype="portfolio" remindertypeid="{{ eList.id }}">Save</button>
									   </div>
								   </div>
							   </li>
						   {% endfor %}
					   </ul>
				   </div>
				</div>
			</div>
			{% endif %}
        {% endif %}
        {% if ('ROLE_FACILITATOR' in roles) %}
		{% if applicantsWithAssesor|length > 0%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <span>{{ applicantsWithAssesor|length }} with assessor for more than 5 days</span>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#p_collapse5">
                      <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
                    </a>
                </div>
            </div>
           
            <div id="p_collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        {% for assKey, assList in applicantsWithAssesor %}
                        {% if ('ROLE_FACILITATOR' in roles) %}
                                {% set setUserId = assList.facilitator.id %}
                        {% elseif ('ROLE_ASSESSOR' in roles) %}
                                {% set setUserId = assList.assessor.id %}
                        {% else %}
                                {% set setUserId = assList.rto.id %}
                        {% endif %}
                        {% set remStatus = user_service.checkReminderExists(setUserId, assList.id, '') %}
                            <li class="clearfix {{ remStatus.playlistIconClass }}">
                                <span class="content"><a target="_blank" href="{{ app.request.baseUrl }}/applicantDetails/{{ assList.courseCode }}/{{ assList.user.id }}" title="View Portfolio"><strong>{{assList.user.firstName}} {{assList.user.lastName}}</strong> - {{assList.courseName}}</a></span>
                                <div class="dropdown keep-open">
                                    <span class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">{{ remStatus.playlistIcon }}</i></span>
                                    <div class="dropdown-menu">
                                        <div class="data_section">
                                            <textarea rows="3" placeholder="Notes" id="appAss_notes_{{assList.id}}" onfocus="fousOnNote({{assList.id}})"></textarea>
                                            <div class="date_section clearfix">
                                                    <input type="text" class="date_field form-control" id="appAss_remindDate_{{assList.id}}" onfocus="fousOnDate({{assList.id}})" readonly />
                                            </div>
                                         </div>
                                         <button type="button" class="btn_red setData" usercourseid="{{ assList.id }}" listid="{{ assList.id }}" prefix="appAss" remindertype="portfolio" remindertypeid="{{ assList.id }}">Save</button>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
        </div>
		{% endif %}
        {% endif %}
        {% if (('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR' in roles)) %}
		{% if applicantsWithRto|length > 0%}
        <div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<span>{{ applicantsWithRto|length }} with RTO for more than 12 days</span>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#p_collapse6">
					  <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
					</a>
				</div>
			</div>
			<div id="p_collapse6" class="panel-collapse collapse">
				<div class="panel-body">
						<ul>
							{% for rtoKey, rtoList in applicantsWithRto %}
								{% if ('ROLE_FACILITATOR' in roles) %}
									{% set setUserId = rtoList.facilitator.id %}
								{% elseif ('ROLE_ASSESSOR' in roles) %}
									{% set setUserId = rtoList.assessor.id %}
								{% else %}
									{% set setUserId = rtoList.rto.id %}
								{% endif %}								
							{% set remStatus = user_service.checkReminderExists(setUserId, rtoList.id, '') %}
								<li class="clearfix {{ remStatus.playlistIconClass }}">
									<span class="content"><a target="_blank" href="{{ app.request.baseUrl }}/applicantDetails/{{ rtoList.courseCode }}/{{ rtoList.user.id }}" title="View Portfolio"><strong>{{rtoList.user.firstName}} {{rtoList.user.lastName}}</strong> - {{rtoList.courseName}}</a></span>
									<div class="dropdown keep-open">
										<span class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">{{ remStatus.playlistIcon }}</i></span>
										<div class="dropdown-menu {{ remStatus.calendarClass }}">
											<div class="data_section">
												<textarea rows="3" placeholder="Notes" id="appRto_notes_{{rtoList.id}}" onfocus="fousOnNote({{rtoList.id}})"></textarea>
												<div class="date_section clearfix">
													<input type="text" class="date_field form-control" id="appRto_remindDate_{{rtoList.id}}" onfocus="fousOnDate({{rtoList.id}})" readonly />
												</div>
											 </div>
											 <button type="button" class="btn_red setData" usercourseid="{{ rtoList.id }}" prefix="appRto" listid="{{ rtoList.id }}" remindertype="portfolio" remindertypeid="{{ rtoList.id }}">Save</button>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
				</div>
			</div>
        </div>
		{% endif %}
        {% endif %}
        {% if ('ROLE_RTO' in roles) %}
			{% if rtoApproval|length > 0 %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{rtoApproval|length}} new ready for your approval</span>
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#p_collapse1">
						  <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
						</a>
					</div>
				</div>
				
				<div id="p_collapse1" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							{% for key, rtoAprvList in rtoApproval %}
									<li class="clearfix">
										<span class="content"><a target="_blank" href="{{ app.request.baseUrl }}/applicantDetails/{{ rtoAprvList.courseCode }}/{{ rtoAprvList.user.id }}" title="View Portfolio"><strong>{{rtoAprvList.user.firstName}} {{rtoAprvList.user.lastName}}</strong> - {{rtoAprvList.courseName}}</a></span>
									</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
			{% if rtoFourDaysList|length > 0 %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{rtoFourDaysList|length}} less than 4 days left</span>
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#p_collapse2">
						  <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
						</a>
					</div>
				</div>
				
				<div id="p_collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							{% for key, rtoFourList in rtoFourDaysList %}
								<li class="clearfix">
									<span class="content"><a target="_blank" href="{{ app.request.baseUrl }}/applicantDetails/{{ rtoFourList.courseCode }}/{{ rtoFourList.user.id }}" title="View Portfolio"><strong>{{rtoFourList.user.firstName}} {{rtoFourList.user.lastName}}</strong> - {{rtoFourList.courseName}}</a></span>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
			{% if pendingApplicants|length > 0 %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{pendingApplicants|length}} assessment in progress</span>
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#p_collapse3">
						  <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
						</a>
					</div>
				</div>
				
				<div id="p_collapse3" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							{% for key, rtoProgressList in pendingApplicants %}
								<li class="clearfix">
									<span class="content"><a target="_blank" href="{{ app.request.baseUrl }}/applicantDetails/{{ rtoProgressList.courseCode }}/{{ rtoProgressList.user.id }}" title="View Portfolio"><strong>{{rtoProgressList.user.firstName}} {{rtoProgressList.user.lastName}}</strong> - {{rtoProgressList.courseName}}</a></span>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				
			</div>
			{% endif %}
        {% endif %}
    </div>
</div>