{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Dashboard{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/pages/all/common_dashboard.css') }}">
{% endblock %}
{% block body %}
{% set roles = app.security.getToken().getUser().getRoles() %}
{# {{ dump(roles) }} #}
    <div class="body_section dashboard">
        <div class="container">
                <div>
                    <div class="profile_section hidden-xs">
                        <div class="">
                            {% if app.security.getToken().getUser().getUserImage() %}
                                <img src="{{ asset('public/uploads/') }}{{ app.security.getToken().getUser().getUserImage() }}" alt="profile_pic" data-toggle="modal" data-target="#profile2" />
                            {% else %}
                                <img src="{{ asset('public/images/UPLOAD_PROFILE_PHOTO.png') }}" alt="profile_pic" alt="profile_pic" data-toggle="modal" data-target="#profile2" />
                            {% endif %}
                            <span>{{ app.security.getToken().getUser().getUserName() }}</span>                
                        </div>
                    </div>
                </div>
                <div id="err_msg"></div>
                <div class="row">
                        {% if ('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR' in roles) or ('ROLE_MANAGER' in roles) %}
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">                              
                                {% include 'GqAusHomeBundle:Default:todolist.html.twig' %}
                            </div>
                        {% endif %}                    
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                {% include 'GqAusHomeBundle:Default:dashboard-messages.html.twig' %}
                            {% if ('ROLE_RTO' in roles) %}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            {% endif %}                                
                                    {% include 'GqAusHomeBundle:Default:dashboard-portfolio.html.twig' %}
                                {% if ('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR' in roles) or ('ROLE_MANAGER' in roles) %}
                                    {% include 'GqAusHomeBundle:Default:dashboard-evidences.html.twig' %}
                                {% endif %}
                            </div>
                </div>
        </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/codex-fly.js') }}"></script>
{% endblock %}