{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Dashboard{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('public/css/pages/all/common_dashboard.css') }}">
{% endblock %}
{% block body %}
{% set roles = app.security.getToken().getUser().getRoles() %}
{# {{ dump(roles) }} #}
    <div class="profile_section hidden-xs">
        <div class="container">
                <img src="{{ asset('public/images/UPLOAD_PROFILE_PHOTO.png') }}" alt="profile_pic"/>
                <span>Rosa</span>
        </div>
    </div>
    <div class="body_section">
        <div class="container">
                <div class="row">
                        {% if ('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR' in roles) %}
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">                              
                                {% include 'GqAusHomeBundle:Default:todolist.html.twig' %}
                            </div>
                        {% endif %}                    
                            <div class="col-xs-12 colsm-6 col-md-6 col-lg-6">
                                {% include 'GqAusHomeBundle:Default:dashboard-messages.html.twig' %}
                            {% if ('ROLE_RTO' in roles) %}
                            </div>
                            <div class="col-xs-12 colsm-6 col-md-6 col-lg-6">
                            {% endif %}
                                {% include 'GqAusHomeBundle:Default:dashboard-portfolio.html.twig' %}
                                {% if ('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR' in roles) %}
                                    {% include 'GqAusHomeBundle:Default:dashboard-evidences.html.twig' %}
                                {% endif %}
                            </div>
                </div>
        </div>
        <div class="profile_section hidden-sm hidden-md hidden-lg">
            <div class="container">
                    <img src="{{ asset('public/images/UPLOAD_PROFILE_PHOTO.png') }}" alt="profile_pic"/>
                    <span>Rosa</span>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
	<link rel="stylesheet" href="{{ asset('public/js/custom-jquery.js') }}">
{% endblock %}