{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Dashboard{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('public/css/pie-chart.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="gq-dashboard-title">Dashboard</h1>
                <h6 class="gq-dashboard-title-desc">Welcome to GQ Australia Online RPL</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 colxs-12">
                <div class="gq-dashboard-box-1x gq-dashboard-bg-img4"> <!-- class "gq-dashboard-bg-img1" added for background image -->
                    <div class="gq-dashboard-box-title-wrap">
                        <h2 class="gq-dashboard-box-title">Pending Applicants</h2>
                    </div>
                    <div class="gq-dashboard-box-content-wrap">
                        <div class="col-xs-6 no-padding text-center">
                            <div class="gq-dashboard-running-txt">Currently you have</div>
                            <div class="gq-dashboard-points-in-number wid100p">
                                {% if pendingApplicantsCount > 0 %}
                                    <a href="{{ app.request.baseUrl }}/applicants">{{pendingApplicantsCount}}</a>
                                {% else %}
                                    <a href="javascript:void(0);">{{pendingApplicantsCount}}</a>
                                {% endif %}    
                            </div>
                        </div>
                        <div class="col-xs-6 hidden-xs"></div>
                    </div>
                    <span class="flip-icon"></span>
                </div>
                <div class="gq-dashboard-box-1x gq-dashboard-bg-img5"> <!-- class "gq-dashboard-bg-img3" added for background image -->
                    <div class="gq-dashboard-box-title-wrap">
                        <h2 class="gq-dashboard-box-title">Messages</h2>
                    </div>
                    <div class="gq-dashboard-box-content-wrap">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="gq-dashboard-running-txt text-center">Unread</div> 
                            <div class="gq-dashboard-points-in-percent wid100p text-center"><a href="{{ app.request.baseUrl }}/messages">{{unReadMessages}}</a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs"></div>
                    </div>
                    <span class="flip-icon"></span>
                </div>
            </div>
            
            {% set roles = app.security.getToken().getUser().getRoles() %}            
            {% if ('ROLE_RTO' in roles) %}
            <div class="col-lg-8 col-md-8 col-sm-12 colxs-12">
                <div class="tab-content">
                    <div id="current" class="tab-pane active" role="tabpanel">
                        <div class="table-responsive gq-applicant-list-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><span class="">Name</span></th>
                                        <th colspan="2"><span class="">Qualification Name</span></th>
                                    </tr>
                                </thead>
                                <tbody id="currentList" class="row">
                                    {% include 'GqAusUserBundle:Applicant:applicants.html.twig' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            {% endif %}
            
            
            {% if ('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR' in roles) %}
            <div class="col-lg-8 col-md-8 col-sm-12 colxs-12">
                <div class="gq-dashboard-box-2x gq-dashboard-bg-img3 gq-facilitator-dashboard"> <!-- class "gq-dashboard-bg-img3" added for background image -->
                    <div class="gq-dashboard-box-title-wrap">
                        <h2 class="gq-dashboard-box-title">Today Reminders</h2>
                    </div>
                    <div class="gq-dashboard-courses-detail-wrap">
                    <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <form>
                    <!-- accordion starts here -->
                        <div class="gq-acc-wrap">
                            {% if todaysReminders %}
                                {% for key, reminders in todaysReminders %}
                            <div>
                                <input id="acc-{{reminders.id}}" name="accordion-1" type="checkbox"/>
                                <div class="row no-margin">
                                    <div id="div_{{reminders.id}}" class="gq-acc-row-bg">
                                        <div class="col-xs-3">
                                            <span class="msg-checkmark-icon2">
                                                 <a class="todomodalClass checkmark-icon" data-toggle="modal" data-target="#myModal" data-flag="{{reminders.completed}}" id="{{reminders.id}}">
                                                        <span id="span_BSBADM101A" class="radio"></span>
                                                </a>
                                            </span>
                                            <div class="gq-acc-row-title">{% if reminders.course %}
                                                                            {{reminders.user.userName}} 
                                                                        {% else %}
                                                                            {{reminders.createdby.firstname}} {{reminders.createdby.lastname}} 
                                                                        {% endif %}</div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="gq-acc-row-title">{% if reminders.course %} {{reminders.course.courseCode}} {{reminders.course.courseName}} {% else %} Reminder {% endif %}</div>
                                        </div>
                                        <div class="col-xs-2">
                                            <label for="acc-{{reminders.id}}" class="col-xs-4 btn add-btn upDownArrow openIcon">VIEW</label>
                                            {#<label for="acc-{{reminders.id}}" class="col-xs-4 openIcon"></label>#}
                                        </div>
                                    </div>
                                </div>
                                <article class="acc-small">
                                    <p>{{reminders.message}}</p>
                                </article>
                            </div>
                                {% endfor %}
                            {% else %}
                                <div class="gq-tabs-no-content-text margin-top15">No Reminders found</div>
                            {% endif %}
                        </div>
                        <!-- accordion ends here -->
                    </form>
                    </div>
                    </div>
                    </div>
                    <span class="flip-icon"></span>
                </div>
            </div>
            
            {% endif %}
            
        </div>
    </div>
  </div>
  
  
  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog gq-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="todoclose" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="myModalLabel">Do yo want to change the status of Today Reminder ?</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-white updateTodo">Ok</a>
                <a class="btn btn-white" id="todo-cancel">Cancel</a>
                <span class="loading-icon todo_loader" style="display:none;"><img src="{{ asset('public/images/loading.gif') }}" /></span>
            </div>
        </div>
    </div>
</div>


  <script src="{{ asset('public/js/jquery-2.js') }}"></script>
  <script src="{{ asset('public/js/custom-jquery.js') }}"></script>
{% endblock %}