{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Dashboard{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('public/css/pie-chart.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="gq-dashboard-title">Dashboard</h1>
                <h6 class="gq-dashboard-title-desc">Welcome to GQ Australia Online RPL</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 colxs-12">
                <div class="gq-dashboard-box-1x gq-dashboard-bg-img1"> <!-- class "gq-dashboard-bg-img1" added for background image -->
                    <div class="gq-dashboard-box-title-wrap">
                        <h2 class="gq-dashboard-box-title">ID Points</h2>
                        <span class="gq-dashboard-points-icon"><img src="{{ asset('public/images/upload.png') }}"</span>
                    </div>
                    <div class="gq-dashboard-box-content-wrap">
                        <div class="gq-dashboard-running-txt">Currently you have</div>
                        <div class="gq-dashboard-points-in-number">{{currentIdPoints}}</div>
                    </div>
                    <span class="flip-icon"></span>
                </div>
                <div class="gq-dashboard-box-1x gq-dashboard-bg-img2"> <!-- class "gq-dashboard-bg-img3" added for background image -->
                    <div class="gq-dashboard-box-title-wrap">
                        <h2 class="gq-dashboard-box-title">Profile completeness</h2>
                        <a href = "userprofile"><span class="gq-dashboard-points-icon"><img src="{{ asset('public/images/edit.png') }}"</span></a>
                    </div>
                    <div class="gq-dashboard-box-content-wrap">
                        <!-- <div class="gq-dashboard-running-txt">Currently you have</div> -->
                        <div class="statChartHolder">
                            <div class="progress-pie-chart gt-50" data-percent="{{profileCompleteness}}"><!--Pie Chart -->
                                <div class="ppc-progress">
                                    <div style="transform: rotate(241.2deg);" class="ppc-progress-fill"></div>
                                </div>
                                <div class="ppc-percents">
                                    <div class="pcc-percents-wrapper">
                                        <img src="{{ asset('public/images/') ~ userImage }}" />
                                    </div>
                                </div>
                            </div>
                        </div><!--End Chart -->
                            
                        <div class="gq-dashboard-points-in-percent">{{profileCompleteness}}</div>
                    </div>
                    <span class="flip-icon"></span>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 colxs-12">
                <div class="gq-dashboard-box-2x gq-dashboard-bg-img3"> <!-- class "gq-dashboard-bg-img3" added for background image -->
                    <div class="gq-dashboard-box-title-wrap">
                        <h2 class="gq-dashboard-box-title">Qualifications</h2>
                    </div>
                    <div class="gq-dashboard-courses-detail-wrap">
                        <div class="gq-dashboard-tabs">
                            <!-- Tabs start here -->
                            <div class="gq-dashboard-tabs-header wid30p">
                                <ul class="nav nav-pills nav-justified" role="tablist" id="myTab">
                                    <li role="presentation" class="active"><a href="#current" aria-controls="current" role="tab" data-toggle="tab">Current</a></li>
                                    <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed</a></li>
                                </ul>
                            </div>
                            <!-- Tabs end start here -->
                            <!-- Content for respective tabs above will be in this section -->
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane active" id="current">
                              {% for key, courses in userCourses %}
                                {% if courses.getCourseStatus() == 1 %}
                                <div class="gq-dashboard-courses-detail">
                                    <div class="gq-dashboard-cap-icon"><img src="{{ asset('public/images/cap.png') }}" /></div>
                                    <div class="gq-dashboard-courses-detail-txt">
                                    {% if courseConditionStatus == 1 %}
                                        <a href="qualificationDetails/{{ courses.getCourseCode() }}" >{{ courses.getCourseName() }}</a>
                                    {% else %}
                                        <a href="#" id="{{ courses.getCourseCode() }}" class="modalClass" data-toggle="modal" data-target="#myModal">{{ courses.getCourseName() }}</a>
                                    {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                              </div>
                              <div role="tabpanel" class="tab-pane" id="completed">
                                {% for key, courses in userCourses %}
                                    {% if courses.getCourseStatus() == 0 %}
                                <div class="gq-dashboard-courses-detail">
                                    <div class="gq-dashboard-cap-icon"><img src="{{ asset('public/images/cap.png') }}" /></div>
                                    <div class="gq-dashboard-courses-detail-txt">
                                    {% if courseConditionStatus == 1 %}
                                        <a href="qualificationDetails/{{ courses.getCourseCode() }}" >{{ courses.getCourseName() }}</a>
                                    {% else %}
                                        <a href="#" id="{{ courses.getCourseCode() }}" class="modalClass" data-toggle="modal" data-target="#myModal">{{ courses.getCourseName() }}</a>
                                    {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                
                              </div>
                            </div>
                            <!-- script for enabling tabs functionality -->
                             <!-- <script>
                              $(function () {
                                $('#myTab a:last').tab('show')
                              })
                            </script>-->
                            <!--End of content for respective tabs above will be in this section -->
                        </div>
                    </div>
                    <span class="flip-icon"></span>
                </div>
            </div>
        </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog gq-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="qclose" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. 
      </div>
      <div class="modal-footer">
        <a class="btn btn-white" target="blank" href="download/terms-and-conditions.pdf"><span class="pdf-icon"></span>Download</a>
        <a class="btn btn-white" target="blank" id="view_terms" href="../template/terms-and-conditions.pdf"><span class="pdf-icon"></span>View</a>
      </div>
    </div>
  </div>
</div>

  <script src="{{ asset('public/js/jquery-2.js') }}"></script>
  <script src="{{ asset('public/js/custom-jquery.js') }}"></script>
{% endblock %}
