{% set roles = app.security.getToken().getUser().getRoles() %}
{% set formattedPercentage = percentage|number_format(0) %}
<div class="to_do_list">
    <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title clearfix">
                    <span>TO DO LIST</span>
                    <div class="to_do_right">
                            {% set thumbIconTxt = 'thumb_up' %}
                            {% if (formattedPercentage >= '90' and formattedPercentage < '100') %}
                                {% set viewContent =  'ALMOST DONE' %}    
                            {% elseif (formattedPercentage >= '100' ) %}
                                {% set viewContent =  'NICE WORK!' %}
                            {% else %}
                                {% set viewContent =  '' %}
                                {% set thumbIconTxt =  '' %}
                            {% endif %}
                            <span class="todo_status">
                                <span class="status-txt">{{ viewContent }}</span>
                                <i class="material-icons thumb-txt">{{ thumbIconTxt }}</i>
                            </span>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                              <i class="material-icons keyboard_arrow_down hidden-lg">keyboard_arrow_down</i>
                            </a>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="progres_bar_sec {% if todoReminders|length <= 0 and completedReminders|length <= 0 %}hide{% endif %}">
                        <p class="title">To Do Today - <span class="todo-percent"> {{ formattedPercentage }}</span>% Complete</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-citem="{{ completedRemindersCount }}" data-titem="{{ totalRemindersCount }}" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:{{formattedPercentage}}%">
                              <span class="sr-only">30% Complete</span>
                            </div>
                        </div>
                    </div>
                    <ul  class="todo-list">
                        {% if todoReminders|length > 0 %}
                                {% for key, todoList in todoReminders %}
                                {% set startDate = todoList.date|date('Y-m-d') %}
                                {% set difference = date( 'now' | date() ).diff(date(startDate)) %}
                                {% set daycount = difference.days %}
                                {% set counterClass = (daycount<=3)? 'disable_day': ((daycount<=5)? 'active_day': 'highlight_day') %}
                                {% set todoIcon = (todoList.reminderType == 'evidence') ? 'cloud_upload': ((todoList.reminderType=='portfolio')? 'account_circle': (todoList.reminderType=='message')? 'message': 'edit') %}
                                {#{{ dump(rTypeContent) }}#}
                                <li class="list_item clearfix">                                    
                                    {% if (todoList.reminderType == 'portfolio' or todoList.reminderType == 'message' or todoList.reminderType == 'evidence') %}
                                        {% set rTypeContent = user_service.getReminderTypeContent(todoList.reminderTypeId, todoList.reminderType, todoList.message) %}
                                        
                                        <a class="reminder-view tool_tip" target="_blank" data-reminderId="{{todoList.id}}" data-status="{{todoList.reminderViewStatus}}" href="{{ rTypeContent.link }}" title="{{ rTypeContent.fulltext }}">
                                            <span class="list_icon">
                                                    <i class="material-icons message">{{todoIcon}}</i>
                                            </span>
                                            <span class="content {% if(todoList.reminderViewStatus == '0' ) %} bold {% endif %}">
                                                {{ rTypeContent.text }}
                                            </span>
                                        </a>
                                    {% else %}
                                            <a class="clearfix tool_tip" target="_blank" title="{{ todoList.message }}">
                                                <span class="list_icon"><i class="material-icons message">{{todoIcon}}</i></span>
                                                <span class="content bold">{{ todoList.message }}</span>
                                            </a>
                                    {% endif %}
                                   {% if daycount > 2 %}
                                        <span class="days_count {{counterClass}}">{{daycount}}d{% if daycount > 6 %}!{% endif %}</span>
                                   {% endif %}
                                    <div class="checkbox_outer">
                                            <input data-todotype="{{ todoList.reminderType }}" data-todotypeid="{{ todoList.reminderTypeId }}" type="checkbox" id="{{ todoList.id }}" class="todomodalClass" data-status="0" data-toggle="modal" data-target="#confirm_popup"/><span></span>
                                    </div>
                                </li>
                                {% endfor %}
                        {% endif %}
                        <li class="emptyPendingTodo disable {% if todoReminders|length > 0 %} hide {% endif %}">
                            <div class="li_content">
                                <div class="left_side_data">
                                        <p class="title_data">{{todo_list_not_found}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <div>
                            <span class="day_title">Completed Today</span>
                    </div>
                    <ul class="completed-list">
                        {% if completedReminders|length > 0 %}
                            {% for  key, todoCompleteList in completedReminders %}
                                    {% set todoCompletedIcon = (todoCompleteList.reminderType == 'evidence') ? 'cloud_upload': ((todoCompleteList.reminderType=='portfolio')? 'account_circle': (todoCompleteList.reminderType=='message')? 'message': 'edit') %}
                                    <li class="list_item clearfix disable">
                                        
                                    {% if (todoCompleteList.reminderType == 'portfolio' or todoCompleteList.reminderType == 'message' or todoCompleteList.reminderType == 'evidence') %}
                                        {% set rTypeContent = user_service.getReminderTypeContent(todoCompleteList.reminderTypeId, todoCompleteList.reminderType, todoCompleteList.message) %}
                                        <a href="{{ rTypeContent.link }}" target="_blank" title="{{ rTypeContent.fulltext }}" class="tool_tip">
                                            <span class="list_icon">
                                                    <i class="material-icons message">{{todoCompletedIcon}}</i>
                                            </span>
                                            <span class="content">
                                                {{ rTypeContent.text }}
                                            </span>
                                        </a>
                                    {% else %}
									<a class="clearfix" target="_blank">
                                        <span class="list_icon">
                                                <i class="material-icons message">{{ todoCompletedIcon }}</i>
                                        </span>
                                        <span class="content" title="{{ todoCompleteList.message }}">{{ todoCompleteList.message }}</span>
									</a>
                                    {% endif %}
                                        <div class="checkbox_outer">
                                                <input type="checkbox" id="{{ todoCompleteList.id }}" checked disabled="disabled" /><span></span>
                                        </div>
                                    </li>
                            {% endfor %}
                        {% else %}
                            <li class="emptyCompletedTodo disable">
                                <div class="li_content">
                                    <div class="left_side_data">
                                        <p class="title_data">No Completed To Do List found</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </li>                                                                                    
                        {% endif %}
                    </ul>					
                    <ul class="navigation_link_section clearfix">
                        <li>
                            <strong class="hidden-xs">Add New</strong>
                        </li>
                        {% if ('ROLE_RTO' in roles)%}
                            <li>
                                <a href="{{ app.request.baseUrl }}/messages" title="Message" target="_blank" class="icon">
                                    <i class="material-icons message">message</i>
                                    <span>Message</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ app.request.baseUrl }}/applicants" title="Portfolio" target="_blank" class="icon">
                                    <i class="material-icons account_circle">account_circle</i>
                                    <span>Portfolio</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if ('ROLE_FACILITATOR' not in roles) %}
                            <li>
                                <a href="{{ app.request.baseUrl }}/evidences" title="Evidence" target="_blank" class="icon">
                                    <i class="material-icons cloud_upload">cloud_upload</i> 
                                    <span>Evidence</span>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <div class="icon note">
                                <div class="dropdown keep-open">
                                    <span class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons edit">edit</i><span class="hidden-xs" title="Add Reminder Note">Note</span></span>
                                    <div class="dropdown-menu">
                                        <div class="data_section">
                                            <textarea rows="3" placeholder="Notes" id="note_notes_note"></textarea>
                                            <div class="date_section clearfix">
                                                <input type="text" class="date_field form-control" id="note_remindDate_note"  readonly />
                                            </div>
                                        </div>
                                        <button type="button" class="btn_red setData noteSet" usercourseid="" prefix="note" listid="note" remindertype="note" remindertypeid="">Save</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade confirm_popup" id="confirm_popup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancelTodo closeModal" data-dismiss="modal">&times;</button>
                <div class="modal-title">{{ todo_status_change }}</div>
            </div>
            <div class="modal-footer">
            <div class="btn_section gqa-btn-group btn-file-save">
                <div class="row no-gutter">
                    <div class="col-md-6 col-lg-6">
                        <button type="button" class="btn btn-danger border-right updateTodo">OK</button>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <button type="button" class="btn btn-danger cancelTodo" data-dismiss="modal">CANCEL</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>