<div class="modal fade profile_popup" id="facProfile" role="dialog">
    <div class="modal-dialog"><!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <span class="close"><i class="material-icons clear_icon">clear</i></span>
                <div class="title_bar hidden-sm hidden-md hidden-lg">
                    <span><i class="material-icons arrow_back">arrow_back</i></span>Your Profile<span><i class="material-icons clear_icon">clear</i></span>
                </div>
                <div class="header_block clearfix">
                    <div class="profile_section">
                        <img class="profile_image" alt="profile_pic" src="{{ facilitatorImage }}">
                        <input type="file" class="hidden browse_btn">
                        <div class="content">
                                <h5 class="name"><strong>{{facilitatorName}}</strong></h5>
                                <span class="field"> Facilitator</span>
                        </div>
                    </div>
                    <div class="count">
                            <span class="number"><strong>{{facApplicantsCount}}</strong></span>
                            <span class="title">Active Portfolios</span>
                    </div>
                </div>
                <div class="form">
                        <div class="section name_group clearfix">
                                <div class="form-group"><label>First Name</label><input type="text" readonly="" value="{{facilitatorfirstName}}"></div>
                                <div class="form-group"><label>Last Name</label><input type="text" readonly="" value="{{facilitatorlastName}}"></div>
                        </div>
                        <div class="section">
                                <div class="form-group"><label>Email</label><input type="email" readonly="" value="{{facilitatorEmail}}"></div>
                        </div>
                        <div class="section number_group clearfix">
                                <div class="form-group"><label>Mobile</label><input type="text" readonly="" value="{{facilitatorPhone}}"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade profile_popup" id="assProfile" role="dialog">
    <div class="modal-dialog"><!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <span class="close"><i class="material-icons clear_icon">clear</i></span>
                <div class="title_bar hidden-sm hidden-md hidden-lg">
                    <span><i class="material-icons arrow_back">arrow_back</i></span>Your Profile<span><i class="material-icons clear_icon">clear</i></span>
                </div>
                <div class="header_block clearfix">
                    <div class="profile_section">
                        <img class="profile_image" alt="profile_pic" src="{{assessorImage}}">
                        <input type="file" class="hidden browse_btn">
                        <div class="content">
                                <h5 class="name"><strong>{{assessorName}}</strong></h5>
                                <span class="field">Assessor</span>
                        </div>
                    </div>
                    <div class="count">
                            <span class="number"><strong>{{assApplicantsCount}}</strong></span>
                            <span class="title">Active Portfolios</span>
                    </div>
                </div>
                <div class="form">
                    <div class="section name_group clearfix">
                            <div class="form-group"><label>First Name</label><input type="text" readonly="" value="{{assessorfirstName}}"></div>
                            <div class="form-group"><label>Last Name</label><input type="text" readonly="" value="{{assessorlastName}}"></div>
                    </div>
                    <div class="section">
                            <div class="form-group"><label>Email</label><input type="email" readonly="" value="{{assessorEmail}}"></div>
                    </div>
                    <div class="section number_group clearfix">
                            <div class="form-group"><label>Mobile</label><input type="text" readonly="" value="{{assessorPhone}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>