{% set userName = (userName is defined)? userName : user.firstName~' '~user.lastName %}
{% set courseCode = (courseInfo.id is defined) ? courseInfo.id : courseCode %}
{% set applicantId = (userId is defined) ? userId : userId %}
<header {% if app.request.attributes.get('_route') != 'applicantDetails' and app.request.attributes.get('_route') != 'courseunitDetails' %}class="header-border"{%endif%}>
    <section class="container">
        <div class="info-header">
            <div class="portfolio">
                <strong class="title">{{userName}}</strong>
                <a href="javascript:void(0);"><i id="closeDivTag" class="material-icons clear closeDivTag">clear</i></a>
            </div>
        </div>
        <nav>
            <ul class="nav">
                <li><a {% if app.request.attributes.get('_route') == 'applicantDetails' or app.request.attributes.get('_route') == 'courseunitDetails' %} class="active" {% endif %} {%if is_mobile()%} id="mobileQualification" href="javascript:void(0);" data-courseCode="{{courseCode}}" data-userId="{{applicantId}}" {%else%} href="{{ app.request.baseUrl }}/applicantDetails/{{courseCode}}/{{applicantId}}{%endif%}"><i class="material-icons">school</i><span>Qualification</span></a></li>
                <li><a {% if app.request.attributes.get('_route') == 'files' or app.request.attributes.get('_route') == 'mobileRoleWiseFiles'%}class="active"{% endif %}{%if is_mobile() and not is_tablet()%}href="{{ app.request.baseUrl }}/rolewiseFiles/{{courseCode}}/{{applicantId}}"{%else%}href="{{ app.request.baseUrl }}/files/{{courseCode}}/{{applicantId}}"{%endif%}><i class="material-icons">cloud_upload</i><span>Files</span></a></li>
                <li><a {% if app.request.attributes.get('_route') == 'candidateProfile'%} class="active" {% endif %} {%if is_mobile()%} id="mobileCanProfile" href="javascript:void(0);" data-courseCode="{{courseCode}}" data-userId="{{applicantId}}" {%else%} href="{{ app.request.baseUrl }}/candidateProfile/{{courseCode}}/{{applicantId}}" {%endif%}><i class="material-icons">account_circle</i><span>Profile</span></a>
            </li>
            {%if not is_mobile() %}
            <li class="profile">
                <a href="#"><img class="profile-img" src="{{ asset('public/images/PROFILE.png')}}" alt="profile" /><i class="material-icons">expand_more</i></a>
                <ul class="hide">
                    <li><a data-toggle="modal" data-target="#profile2" href="javascript:void(0)">PROFILE</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </li>
            {%endif%}
        </ul>          
        </nav>
    </section>
</header>