{% set userRole = app.security.getToken().getUser().getRoles() %}
<!-- accordion starts here -->

{% if applicantList %}
{% for key, list in applicantList %}
{% set id = list.id %}
{% set ccode = list.courseCode%}
{% set applicantLogged = user_service.getCourseUnitsByCourseCode(list.user.id,ccode)%}

<tr class="{% if('ROLE_FACILITATOR' in userRole and list.facilitatorread == 0)%} text-bold {% elseif('ROLE_ASSESSOR' in userRole and list.assessorread == 0) %}text-bold {% elseif('ROLE_RTO' in userRole and list.rtoread == 0) %} text-bold {% else %} {% endif %} %}">
      
        <td colspan="2" class="col-xs-12 col-sm-12">
           
            <span class="email hide">{{list.user.email}}</span>
        <span class="address hide">{{list.user.address.address}}</span>
        <span class="suburb hide">{{list.user.address.suburb}}</span>
        <span class="pincode hide">{{list.user.address.pincode}}</span>
        <span class="state hide">{{list.user.address.state}}</span>
        <span class="status hide">{{list.courseStatus}}</span>
        <span class="phone hide">{{list.user.phone}}</span>
            <div class="portfolio-data-row">                                                
                <div class="firstName name">
                    <a href="javascript:void(0);" {%if applicantLogged > 0%}class='userprofile' data-courseCode='{{list.courseCode}}' data-userId='{{list.user.id}}' {%endif%}>{{list.user.firstName}} {{list.user.lastName}}</a>
                </div>

    {% set currUser = app.security.getToken().getUser().getId() %}      
    {% set toDoApplicantCount = user_service.getCheckTodoApplicant( currUser , list.id ) %} 
    {% set userId = list.user.id %}
    {% set id = list.id %}
    {% set courseCode = list.courseCode %}
        {% set remaingDays = user_service.getDaysRemainingFromRole(userId, list.courseCode, userRole[0]) %}
        {% set output = remaingDays|split('&&') %}
        {% set remaingVal = 90 - output[0] %}
                 {% if (status == 0) %} 
                   <div class="progress-container ">                                                
                       <div class="progress">
                           <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{% if remaingVal >0 %}{{ remaingVal }}{%else%} 0 {% endif %}" aria-valuemin="0" aria-valuemax="90" style="width:{% if remaingVal >0 %}{{ remaingVal }}{%else%} 0 {% endif %}%"></div>
                       </div>                        
                       <div class="progress-copy daysleft">{% if output[0] > 0 %}{{output[0]}} d {% else %} 0d!{%endif%}</div>
                   </div>
                {% endif %}
                {% set courseStatus = qualificationStatus[list.courseStatus]['status'] %} 
                
                <div class="qualification-copy qualification"><span>{{list.courseCode}} {{list.courseName}}</span></div>
            </div>
            </td>
              
</tr> 

{% endfor %}
{% else %}
    <tr>
        <td colspan="6">
            {{no_applicants}}</td>
    </tr>
    
        {% endif %}
    {% if (status == 1) and (paginator.count > 1)%}
    <tr>
        <td colspan="6" class="gq-pagination-area">
            {# display navigation for pages - paginator_navigator #}        
          {{ include('GqAusUserBundle:Paginator:paginator_navigator.html.twig', {'paginator' : paginator}) }}
        </td>
    </tr>
    {% endif %}
    


