{% extends 'base.html.twig' %}
{% block title %}Recognition of Prior Learning{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css//bootstrap-datetimepicker.css')}}">
    <link rel="stylesheet" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('public/css/pages/all/qualification.css') }}">
{% endblock %}
{% block navmenu %}
<header>
    <section class="container">
        <div class="info-header">
            <div class="portfolio">
                <strong class="title">Unit info</strong>
                <a href="javascript:void(0);"><i id="closeDivTag" class="material-icons clear closeDivTag">clear</i></a>
            </div>
        </div>
    </section>
</header>
{% endblock %}    
{% block body %}
    {% set userRole = app.security.getToken().getUser().getRoles() %}
    {% set actUnitStatus = unitStatus.issubmitted %}
    {% set unitFacStatus = unitStatus.facilitatorstatus %}
    {% set unitAssStatus = unitStatus.assessorstatus %}
    {% set unitRtostatus = unitStatus.rtostatus %}
    <!-- Small Screens HTML -->
    <div class="hidden-md hidden-lg body_section">
        <div class="presentation-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-11">
                        <p><span>{% if courseDetails.courseName is defined %}{{courseDetails.courseName}}{% endif %}</span>
                           <span>{% if courseCode is defined %}{{courseCode}}{% endif %}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <p class="mobi-info"><i class="material-icons">info</i>Information about this unit</p>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="col-xs-12 col-sm-12">
                    <div class="panel-group">
                        <div class="panel clearfix">
                            <div class="panel-heading"><h4 class="panel-title"><span>Evidence</span><span class="pull-right"><strong>{{ evidenceCount }} Evidence Files Received</strong></span></h4></div>
                            <div class="edu-tag tag-offset">
                                {% set currUnitStatus = courses_service.getUnitStatus(userId, unitCode, courseCode)%}
                                {% set approvalText = user_service.getStausByStatus(currUnitStatus, userId, unitCode, courseCode, userRole[0]) %}
                                {% if approvalText|length > 0 and approvalText != '0' %} <p><span class="tag status in-progress"> {{approvalText}}</span></p>{%else%}{%if currUnitStatus.issubmitted is defined%}{%if currUnitStatus.issubmitted == '1'%}<p> <span class="tag status done">Submitted</span> </p>{%endif%}{%endif%}{% endif %}
                            </div>
                            <div class="panel-body">
                                <div class="panel-copy">
                                    {%set inc = 0 %}
                                    {% for evidence in evidences %}
                                        {%set inc = inc+1 %}
                                        {% if evidence.unit == unitCode %}
                                            {% set eviType = evidence_service.getEvidenceShowType(evidence.type) %}
                                            {% set output = eviType|split('&&') %}
                                                <div class="file-info">
                                                    <span data-evidenceid="{{ evidence.id }}" class="icon {% if 'ROLE_FACILITATOR' in userRole %}fac_view_evidence {% endif %}"><a {% if evidence.type != 'text' %} href="{% if evidence.type == 'recording' %}{{ amazon_link~tokbox_key }}/{{ evidence.path }}/archive.mp4{%else%}{{amazon_link~'user-'~userId~'/'~evidence.path}}{%endif%}" 
                                                    {% if output[1] is defined %}
                                                            {% if output[1] == 'fancybox' or output[1] == 'fancybox fancybox.iframe' %} class="{{output[1]}}" {% else %}target="_blank"{% endif %}
                                                    {%endif%}{%else%}href="#{{evidence.unit}}{{inc}}" class="fancybox" id="btnForm"{%endif%}>
                                                    <i class="material-icons">{% if output[0] is defined %}{{output[0]}}{%endif%}</i></a></span>
                                                    <span class="file-discription">
                                                            {% if evidence.type == 'recording' %}{% if evidence.path is defined %}{{evidence.path|slice(0, 20)}}{%endif%}{%else%}{% if evidence.name is defined %}{{evidence.name}}{%endif%}{% if evidence.content is defined %}{{evidence.content|slice(0,20)}}{%endif%}{%endif%}
                                                       <br/>{% if evidence.size is defined %}{{evidence.size}} {% if evidence.type != 'recording' and evidence.type != 'text'%} |{%endif%} {%endif%} {%if evidence.created is defined%}ADDED {{evidence.created|date("d/m/y")}}{%endif%}
                                                   </span>   
                                                </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
{#                        <div class="gqa-btn-group border-dark">
                            <div class="row no-margin">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="btn">
                                        <div class="dropdown keep-open">
                                            <span class="dropdown-toggle" data-toggle="dropdown"><a href="javascript:void(0)"><i class="material-icons">playlist_add</i>ToDo list</a></span>
                                            <div class="arrow" style="left: 50%;"></div>
                                            <div class="dropdown-menu">
                                                <div class="data_section">
                                                    <textarea rows="3" placeholder="Notes" id="todolist-msg" name="todolist-msg"></textarea>
                                                    <div class="date_section clearfix"><input type="text"  id="remindDate" autocomplete="off" class="date_field form-control"/></div>
                                                </div>
                                                <button type="button" class="btn_red setToDoList"  listid="{% if coursePrimaryId >0 %}{{coursePrimaryId}}{% endif %}" usercourseid="{% if coursePrimaryId >0 %}{{coursePrimaryId}}{% endif %}">SET</button>
                                            </div>
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </div>#}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="panel-group self-assessment">
                                <div class="panel">
                                    <div class="panel-heading"><h4 class="panel-title"><span>Self Assessment Notes</span></h4></div>
                                    <div class="panel-body"><span class="if-no-assessment">{% if selfAssessmentText|length > 0 %}{{selfAssessmentText.0.content}}{%else%}Not yet received for this Unit {% endif %}</span></div>
                                </div>   
                            </div>
                        </div>
                    </div>
{#                    <div class="gqa-btn-group">
                        <div class="row no-gutter">
                            <div class="col-xs-12 col-sm-12">
                                <div class="row no-gutter">
                                    {% if ('ROLE_FACILITATOR' in userRole or 'ROLE_MANAGER' in userRole) and actUnitStatus =='1' %}
                                        {% if unitFacStatus == '0' or unitFacStatus == '2' %}
                                            <div class="col-xs-6 col-sm-6"><button type="button" class="btn btn-danger border-right" data-toggle="modal" data-target="#satisfactory">Satisfactory</button></div>
                                            <div class="col-xs-6 col-sm-6"><button type="button" class="btn btn-danger border-right" data-toggle="modal" data-target="#not-satisfactory">Not yet Satisfactory</button></div>
                                        {% endif %}
                                    {% endif %}
                                    {% if ('ROLE_ASSESSOR' in userRole and actUnitStatus =='1') %}
                                        {% if (unitAssStatus == '0' or unitAssStatus == '2') and unitFacStatus == '1' %}
                                            <div class="col-xs-6 col-sm-6"><button type="button" class="btn btn-danger border-right" data-toggle="modal" data-target="#satisfactory">Competent</button></div>
                                            <div class="col-xs-6 col-sm-6"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#not-satisfactory">Not yet Competent</button></div>
                                        {% endif %}
                                    {% endif %}
                                    {% if ('ROLE_RTO' in userRole and actUnitStatus =='1') %}
                                        {% if (unitRtostatus == '0' or unitRtostatus == '2') and unitAssStatus == '1' %}
                                            <div class="col-xs-6 col-sm-6"><button type="button" class="btn btn-danger border-right" data-toggle="modal" data-target="#satisfactory">Competent</button></div>
                                            <div class="col-xs-6 col-sm-6"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#not-satisfactory">Not yet Competent</button></div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>                    
                    </div>#}
                </div>
            </div>
        </div>
    </div><!-- Small Screens HTML End -->
    <div class="modal-pop">
        <div role="dialog" id="satisfactory" class="modal fade" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content satisfactory-modal-content">
                    <div class="modal-body"><p><strong>Done!</strong><br>This unit is  {% if ('ROLE_FACILITATOR' in userRole) %}SATISFACTORY{% elseif('ROLE_ASSESSOR' in userRole)%}COMPETENT{% endif %}.<br/>Do you want to send {{userName}} a message about this?</p></div>
                    <div class="modal-footer">
                        <div class="form-group form-group-lg gqa-btn-group" id="applicantEStatus" userRole="{{userRole.0}}">
                            <div class="form">
                                <div class="row no-gutter">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button id="approveyes" data-target="#myModal" data-toggle="modal" class="btn btn-danger border-right" type="button">Yes</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button id="approveno" data-target="#myModal" data-toggle="modal" class="btn btn-danger" type="button">No</button>
                                    </div>
                                    <input type="hidden" id="course-name" name="course-name" value="{% if courseDetails.courseName is defined %}{{courseDetails.courseName}}{% endif %}">
                                    <input type="hidden" id="course-code" name="course-code" value="{{courseCode}}">
                                    <input type="hidden" id="userid" name="userid" value="{{userId}}">
                                    <input type="hidden" id="unit-name" name="unit-name" value="{{unitName}}">
                                    <input type="hidden" id="unit-code" name="unit-code" value="{{unitCode}}">
                                    <input type="hidden" id="unit-id" name="unit-id" value="{{unitStatus.id}}"> 
                                </div>
                            </div>
                        </div>          
                    </div>
                </div>
            </div>
        </div>
        <div role="dialog" id="not-satisfactory" class="modal fade" style="display: none;">
            <div class="modal-dialog"><!-- Modal content-->
               <div class="modal-content not-satisfactory-modal-content">
                    <div class="modal-body"><p><strong>Add a Message</strong><br>Please let {{userName}} know why this unit is <br>{% if ('ROLE_FACILITATOR' in userRole) %}NOT YET SATISFACTORY{% elseif('ROLE_ASSESSOR' in userRole)%}NOT YET COMPETENT{% endif %}</p>
                        <p><textarea name="msg-body" id="msg-body" cols="30" rows="4"></textarea></p>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group form-group-lg gqa-btn-group">
                            <form class="form" action="#">
                                <div class="row no-gutter">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button id="disapproveno" data-target="#myModal" data-toggle="modal" class="btn btn-danger border-right" type="button">Cancel</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button id="disapproveyes" data-target="#myModal" data-toggle="modal" class="btn btn-danger" type="button">Send</button>
                                    </div>
                                     <input type="hidden" id="course-name" name="course-name" value="{% if courseDetails.courseName is defined %}{{courseDetails.courseName}}{% endif %}">
                                    <input type="hidden" id="course-code" name="course-code" value="{{courseCode}}">
                                    <input type="hidden" id="userid" name="userid" value="{{userId}}">
                                    <input type="hidden" id="unit-name" name="unit-name" value="{{unitName}}">
                                    <input type="hidden" id="unit-code" name="unit-code" value="{{unitCode}}">
                                    <input type="hidden" id="unit-id" name="unit-id" value="{{unitStatus.id}}"> 
                                    <input type="hidden" id="fromuser-id" name="fromuser-id" value="{{facilitatorId}}">
                                </div>
                            </form>
                        </div>          
                   </div>
               </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('public/js/custom-jquery-ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fancybox').fancybox();
        });
    </script>
{% endblock %}
