{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css//bootstrap-datetimepicker.css')}}">
    <link rel="stylesheet" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('public/css/pages/all/qualification.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/pages/all/profile.css')}}">
{% endblock %}
{% block navmenu %}
    {% include 'GqAusUserBundle:Applicant/includes:navmenu.html.twig' %}
{% endblock %}  
{% block body %}
    {% set userRole = app.security.getToken().getUser().getRoles() %}
    {% set roles = app.security.getToken().getUser().getRoles() %}
    {% set firstName = app.security.getToken().getUser().getFirstName() | capitalize %}
    {% set lastName = app.security.getToken().getUser().getLastName() | capitalize %}
    {% set email = app.security.getToken().getUser().getEmail() %}
    {% set mobile = app.security.getToken().getUser().getPhone() %}
    {% set coreUnitCount = user_service.getCourseCountStatusByRoleWise(userId, userRole[0], courseInfo.id, 'core') %} 
    {% set electiveUnits = user_service.getCourseCountStatusByRoleWise(userId, userRole[0], courseInfo.id, 'elective') %} 
    {% set totalReqAllUnits = courses_service.getReqUnitsForCourseByCourseId(courseInfo.id)%}
    {% set totalReqUnits = totalReqAllUnits.core + totalReqAllUnits.elective %}
    {% set reqElectUnits = totalReqUnits-(coreUnitCount['noOfNotRvdrcrds'] + coreUnitCount['noOfRvdRcrds']) %}
    
    <!-- Facilitator Units count starts here -->
    {% set statusOfFacCoreUnitsCount = user_service.getTheStatusOfUnitsUnderCourse(userId, courseInfo.id, 'facilitatorstatus', 'core') %} 
    {% set statusOfFacElecUnitsCount = user_service.getTheStatusOfUnitsUnderCourse(userId, courseInfo.id, 'facilitatorstatus', 'elective') %} 
    {% if reqElectUnits <= statusOfFacElecUnitsCount %}{% set statusOfFacElecUnitsCount = reqElectUnits %} {%endif%}
    {% set statusOfFacUnitsCount = statusOfFacCoreUnitsCount + statusOfFacElecUnitsCount %} 
    <!-- Facilitator Units count ends here -->
    
    <!-- Assessor  Units count starts here -->
    {% set statusOfAssCoreUnitsCount = user_service.getTheStatusOfUnitsUnderCourse(userId, courseInfo.id, 'assessorstatus', 'core') %} 
    {% set statusOfAssElecUnitsCount = user_service.getTheStatusOfUnitsUnderCourse(userId, courseInfo.id, 'assessorstatus', 'elective') %} 
    {% if reqElectUnits <= statusOfAssElecUnitsCount %}{% set statusOfAssElecUnitsCount = reqElectUnits %} {%endif%}
    {% set statusOfAssUnitsCount =statusOfAssCoreUnitsCount + statusOfAssElecUnitsCount %} 
    <!-- Assessor  Units count ends here -->
    
    <!-- RTO  Units count starts here -->
    {% set statusOfRtoCoreUnitsCount = user_service.getTheStatusOfUnitsUnderCourse(userId, courseInfo.id, 'rtostatus', 'core') %} 
    {% set statusOfRtoElecUnitsCount = user_service.getTheStatusOfUnitsUnderCourse(userId, courseInfo.id, 'rtostatus', 'elective') %} 
    {% if reqElectUnits <= statusOfRtoElecUnitsCount %}{% set statusOfRtoElecUnitsCount = reqElectUnits %} {%endif%}
    {% set statusOfRtoUnitsCount = statusOfRtoCoreUnitsCount + statusOfRtoElecUnitsCount %} 
    <!-- RTO  Units count ends here -->
    
    {% set getIssubmitStatus = courses_service.getOneUnitStatus(userId, courseInfo.id)%}
    {% set readStatus = user_service.updateReadStatus(courseInfo.id, userId, userRole[0])%}
    {% set facProName = ('ROLE_FACILITATOR' in userRole) ? 'You ' : facilitatorName %}
    {% set facVocName = ('ROLE_FACILITATOR' in userRole) ? 'are' : 'is' %}
    {% set assProName = ('ROLE_ASSESSOR' in userRole) ? 'You ' : assessorName %}
    {% set assVocName = ('ROLE_ASSESSOR' in userRole) ? 'are' : 'is' %}
    {% set rtoProName = ('ROLE_FACILITATOR' in userRole) ? 'You ' : rtoName %}
    {% set rtoVocName = ('ROLE_FACILITATOR' in userRole) ? 'are' : 'is' %}
 <!-- Small Screens HTML -->
    <div class="body_section">
        <div class="presentation-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <p>
                            <span>{% if courseInfo.name %} {{courseInfo.name}} {% endif %}</span>
                            <span>{% if courseInfo.id %} {{courseInfo.id}} {% endif %}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="status-message" id="status-message" style="display:none;"></div>
        <div class="container">
            <div class="row no-gutter">
                {% if ('ROLE_ASSESSOR' in userRole) %}
                <div class="col-xs-12 col-sm-12">
                    <div class="gqa-btn-group">
                        <div class="btn btn-download border-dark">
                            <i class="material-icons">file_download</i>
                            <a download="" href="#">Download Assessment Kit for this qualification</a>
                        </div>                    
                    </div>
                </div>
                {% endif %}
                <div class="col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="progres_bar_section">
                                <div class="progres-content">
                                    <p class="title">Evidence submitted - {{evidenceCompleteness}} Complete</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{evidenceCompleteness}}" aria-valuemin="0" aria-valuemax="100" style="width:{{evidenceCompleteness}}">
                                          <span class="sr-only">{{evidenceCompleteness}} Complete</span>
                                        </div>
                                    </div>                        
                                </div>
                                {% set remaining = user_service.getDaysRemainingFromRole(userId,courseInfo.id, userRole[0]) %}
                                {% set output = remaining|split('&&') %}
                                <div class="progres-content">
                                    <p class="title">Days remaining - {% if output[0] >0 %} {{ output[0] }} {%else%} 0 {% endif %}d</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{%if (output[1] > 0) %}{{output[1]}}{%else%}0{%endif%}%">
                                          <span class="sr-only">{%if (output[1] > 0) %}{{output[1]}}{%else%}0{%endif%}% Complete</span>
                                        </div>
                                    </div>                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <input type="hidden" name="csCourseCode" id="csCourseCode" readonly="true" value="{{courseInfo.id}}" />
                            <input type="hidden" name="csUserId" id="csUserId" readonly="true" value="{{userId}}" />
                            <div class="accordion panel-group" id="accordion1">
                                <div class="panel panel-default">
                                    <div class="select-drop-box clearfix">
                                        <input id="currentCourseStatus" type="hidden" value="{{courseStatus}}" readonly="true" />
                                        <select name="courseStatus" id="courseStatus" class="selectpicker"> 
                                        {% if ('ROLE_ASSESSOR' in userRole and assessorstatus != 1) or ('ROLE_FACILITATOR' in userRole and courseStatus != 0) or ('ROLE_MANAGER' in userRole and courseStatus != 0)  %}
                                            {% set courseOrder = statusList[courseStatus].order %}
                                                <option value="">Select Status</option>
                                                    {% if (statusList is defined) %}
                                                       {% set roleAcess = 'Factive' %}
                                                       {% if ('ROLE_ASSESSOR' in userRole) %}
                                                           {% set roleAcess = 'Aactive' %}
                                                       {% endif %}
                                                       {% for statusId, statusData in statusList %}
                                                          {% if ('ROLE_FACILITATOR' in userRole or statusData[roleAcess] == 1) or ('ROLE_MANAGER' in userRole or statusData[roleAcess] == 1) %}
                                                <option value="{{statusId}}" 
                                                        {% if courseStatus == statusId %} {{ "selected" }} {% else %} {{ "" }} {% endif %} 
                                            {% if statusData[roleAcess] == 0 %} {{ "disabled" }} 
                                            {% elseif ((assessorstatus == 1) and (statusData['order'] < courseStatus) and ('ROLE_FACILITATOR' in userRole) ) %} {{ "disabled" }} 
                                            {% elseif ((rtostatus == 1) and (statusData['order'] < courseStatus) and ('ROLE_FACILITATOR' in userRole) ) %} 
                                            {{ "disabled" }} {% else %} {{ "" }} {% endif %}
                                            {% if (statusId == '5' or statusId == '6' or statusId == '7') and getIssubmitStatus == '0'  %}{{ "disabled" }}{%endif%}
                                            {% if (statusId == '10') and getIssubmitStatus == '0'  %}{{ "disabled" }}{%endif%}
                                            {% if (statusId == '12' and courseStatus != '11' and getIssubmitStatus == '0')  %}{{ "disabled" }}{%endif%}
                                            {% if (statusId == '9') and getIssubmitStatus < totalReqUnits  %}{{ "disabled" }}{%endif%}
                                            {% if (statusId == '2') and (currentIdPoints < '100' or statusOfFacUnitsCount < totalReqUnits)  %}{{"disabled"}}{%endif%}
                                            {% if (statusId == '15' or statusId == '3') and (statusOfAssUnitsCount < totalReqUnits)  %}{{"disabled"}}{%endif%}
                                            {% if (statusId == '11') and (courseStatus != '10')  %}{{"disabled"}}{%endif%}
                                            >{{statusData['status']}}</option>
                                                          {% endif %}
                                                       {% endfor %}
                                                    {% endif %}
                                        {% else %}
                                                 <option>{{ statusList[courseStatus]['status'] }}</option>
                                        {% endif %}
                                        </select>   
                                    </div>
                                </div>
                {% set i = 1 %}
                    {% if courseInfo %}
                        {% if courseInfo.Units %}
                            {% if courseInfo.Units.Unit %}
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        {% set coreUnitsRvd =  (coreUnitCount['noOfNotRvdrcrds'] > 0) ? coreUnitCount['noOfNotRvdrcrds']~' to be reviewed' : user_service.getRoleStatus(userRole[0]) %}
                                        <h4 class="panel-title">
                                            <span>{{coreUnitCount['noOfNotRvdrcrds']+coreUnitCount['noOfRvdRcrds']}} CORE UNITS {% if coreUnitsRvd is not empty%}-{%endif%} <strong>{{coreUnitsRvd}}</strong></span>
                                            <a class="btn-accordion collapsed" data-toggle="collapse" data-parent="#accordion" data-collapse="parent" href="#xs-collapseTwo">
                                                <i class="material-icons">expand_more</i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="xs-collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="accordion panel-group" id="nested">
                                                {% set flagCore = '0' %}
                                                {% set unitsData = courseInfo.Units.Unit %}
                                                {% if courseInfo.Units.Unit.id is defined %}
                                                    {% set unitsData = {0: courseInfo.Units.Unit} %}
                                                {% endif %}
                                                {% for key, units in unitsData %}
                                                    {% if units.type == 'core' %}
                                                {% set flagCore = '1' %}
                                                <div class="panel panel-default">
                                                    <div class="panel-heading no-background">
                                                        <div class="panel-title">
                                                            <div class="panle_body_content">
                                                                {% set currUnitStatus = courses_service.getUnitStatus(userId, units.id, courseInfo.id)%}
                                                                {% set approvalText = user_service.getStausByStatus(currUnitStatus, userId, units.id, courseInfo.id, userRole[0]) %}
                                                                {% if approvalText|length > 0 and approvalText != '0' %}<p> <span class="tag status in-progress">{{approvalText}} </span> </p>{%else%}{%if currUnitStatus.issubmitted is defined%}{%if currUnitStatus.issubmitted == '1'%}<p> <span class="tag status done">Submitted</span> </p>{%endif%}{% endif %}{% endif %}
                                                                <p> <span class="tag-id">{{units.id}}</span> </p>
                                                                <p><a href="javascript:void(0)" data-courseCode="{{ courseInfo.id  }}" data-unitCode="{{units.id}}" data-userId="{{userId}}" class="mobileUnitInfo">{{units.name}}</a></p>
                                                            </div>
                                                            <a href="javascript:void(0)" data-courseCode="{{ courseInfo.id  }}" data-unitCode="{{units.id}}" data-userId="{{userId}}" class="mobileUnitInfo"><i class="material-icons keyboard_arrow_right">keyboard_arrow_right</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% set i = i+1 %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if flagCore == '0' %}
                                                    <div class="gq-acc-row-title load-icon-tr">No Core Units found</div>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        {% set electiveUnitsRvd =  ((reqElectUnits-electiveUnits['noOfRvdRcrds']) > 0) ? (reqElectUnits-electiveUnits['noOfRvdRcrds'])~' to be reviewed' : user_service.getRoleStatus(userRole[0]) %}
                                        <h4 class="panel-title">
                                            <span>{{electiveUnits['noOfNotRvdrcrds'] + electiveUnits['noOfRvdRcrds']}} ELECTIVE UNITS {% if electiveUnitsRvd is not empty%}- <strong>{{electiveUnitsRvd}}{%endif%}</strong></span>
                                            <a class="btn-accordion collapsed" data-toggle="collapse" data-parent="#accordion" href="#xs-collapseThree">
                                                <i class="material-icons down">keyboard_arrow_down</i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="xs-collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="accordion panel-group" id="nested">
                                             {% if courseInfo.Units %}
                                                {% if courseInfo.Units.Unit %}
                                                    {% set flagElective = '0' %}
                                                    {% set unitsData = courseInfo.Units.Unit %}
                                                    {% if courseInfo.Units.Unit.id is defined %}
                                                        {% set unitsData = {0: courseInfo.Units.Unit} %}
                                                    {% endif %}
                                                    {% for key, units in unitsData %}
                                                        {% if units.type == 'elective' %}
                                                            {% set unitId = units.id %}
                                                            {% if unitId|trim in electiveUnits|keys %} 
                                                                {% set flagElective = '1' %}
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading no-background">
                                                                        <div class="panel-title">
                                                                            <div class="panle_body_content">
                                                                                {% set currUnitStatus = courses_service.getUnitStatus(userId, units.id, courseInfo.id)%}
                                                                                {% set approvalText = user_service.getStausByStatus(currUnitStatus, userId, units.id, courseInfo.id, userRole[0]) %}
                                                                                {% if approvalText|length > 0 and approvalText != '0' %}<p> <span class="tag status in-progress">{{approvalText}} </span> </p>{%else%}{%if currUnitStatus.issubmitted is defined%}{%if currUnitStatus.issubmitted == '1'%}<p> <span class="tag status done">Submitted</span> </p>{%endif%}{% endif %}{% endif %}
                                                                                <p> <span class="tag-id">{{units.id}}</span> </p>
                                                                                <p><a href="javascript:void(0)" data-courseCode="{{ courseInfo.id  }}" data-unitCode="{{units.id}}" data-userId="{{userId}}" class="mobileUnitInfo">{{units.name}}</a></p>
                                                                            </div>
                                                                            <a href="javascript:void(0)" data-courseCode="{{ courseInfo.id  }}" data-unitCode="{{units.id}}" data-userId="{{userId}}" class="mobileUnitInfo"><i class="material-icons keyboard_arrow_right">keyboard_arrow_right</i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% set i = i+1 %}
                                                            {% else %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if flagElective == '0' %}
                                                        <div class="gq-acc-row-title load-icon-tr">No Elective Units found</div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             {% endif %}
                        {% endif %}
                    {% endif %}
                    {% set colsLng = user_service.separateTabsBasedOnroleWise(userRole[0]) %}
                                <div class="gqa-btn-group border-dark no-margin">
                                    <div class="row no-gutter">
                                        <div class="col-xs-{{colsLng}} col-sm-{{colsLng}} col-md-{{colsLng}}">
                                            <div class="btn border-right">
                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#message_popup"><i class="material-icons">message</i>Message</a>
                                            </div>
                                        </div>
                                    {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) or ('ROLE_MANAGER' in userRole) %}
                                        <div class="col-xs-{{colsLng}} col-sm-{{colsLng}} col-md-{{colsLng}}">
                                            <div class="btn border-right">
                                                <div class="dropdown keep-open">
                                                    <span class="dropdown-toggle" data-toggle="dropdown"><a href="javascript:void(0)"><i class="material-icons">create</i>Note</a></span>
                                                    <div class="dropdown-menu">
                                                        <div class="data_section">
                                                            <textarea rows="3" placeholder="Notes" id="note-msg" name="note-msg"></textarea>
                                                            <input type="hidden" name="courseId" id="courseId" value="{% if coursePrimaryId >0 %}{{coursePrimaryId}}{% endif %}">
                                                            <input type="hidden" name="noteType" id="noteType" value="{% if ('ROLE_FACILITATOR' in userRole)%}f{%else%}a{%endif%}">
                                                            <div class="date_section clearfix note-msg-inner"></div>
                                                        </div>
                                                        <button type="button" class="btn_red" id="courseUnitNote" name="courseUnitNote">Send</button>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-xs-{{colsLng}} col-sm-{{colsLng}} col-md-{{colsLng}}">
                                            <div class="btn border-right">
                                                <div class="dropdown keep-open">
                                                    <span class="dropdown-toggle" data-toggle="dropdown"><a href="javascript:void(0)"><i class="material-icons">playlist_add</i>ToDo</a></span>
                                                    <div class="dropdown-menu">
                                                        <div class="data_section">
                                                            <textarea rows="3" placeholder="Notes" id="todolist-msg" name="todolist-msg"></textarea>
                                                            <div class="date_section clearfix"><input type="text"  id="remindDate"   autocomplete="off" class="date_field form-control"/></div>
                                                            <input type="hidden" name="courseId" id="courseId" value="{% if coursePrimaryId >0 %}{{coursePrimaryId}}{% endif %}">
                                                            <div class="date_section clearfix note-msg-inner"></div>
                                                        </div>
                                                        <button type="button" class="btn_red setToDoList" listid="{% if coursePrimaryId >0 %}{{coursePrimaryId}}{% endif %}" usercourseid="{% if coursePrimaryId >0 %}{{coursePrimaryId}}{% endif %}">Send</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if ('ROLE_ASSESSOR' in userRole) %}
                                        <div class="col-md-{{colsLng}} col-lg-{{colsLng}}">
                                           <div class="btn"><a {%if courseStatus != '10' %}href="javascript:void(0);" id="request-cc" data-courseStatus="10"{%else%} class='request-sent' {%endif%}><i class="material-icons">call</i>CC</a></div>
                                       </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-container">
                        {%if rtoId is not empty %}
                            <div class="review">
                                <div class="review_content"><p><strong class="text-uppercase">Rto</strong> - {{rtoName}}</p></div>
                                <div class="review_profile-pic"><span></span></div>
                            </div>
                        {%endif%}
                        {%if facilitatorId is not empty %}
                            <div class="review">
                                <div class="review_content"><p><strong class="text-uppercase">{{facProName}}</strong> {{facVocName}} {{userName}}'s CSR for this course</p></div>
                                <div class="review_profile-pic"><span><img class="profile-img" data-target="#facProfile" data-toggle="modal" src="{% if facilitatorImage %} {{ facilitatorImage }} {% endif %}" /></span></div>
                            </div>
                        {%endif%}
                        {%if assessorId is not empty %}
                            <div class="review">
                                <div class="review_content"><p><strong class="text-uppercase">{{assProName}}</strong> {{assVocName}} {{userName}}'s assessor for this cource</p></div>
                                <div class="review_profile-pic"><span><img class="profile-img" data-target="#assProfile" data-toggle="modal"  src="{% if assessorImage %}{{ assessorImage }}{% endif %}" /></span>
                                </div>
                            </div>
                        {%endif%}
                    </div>
                        
                    {% if ('ROLE_FACILITATOR' in userRole) or ('ROLE_ASSESSOR' in userRole) or ('ROLE_MANAGER' in userRole) %}
                        {% if notes|length > 0 or  notesFromCourse|length > 0 %}
                            <div class="comments">
                                <div class="panel-group">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Notes <span class="count">({{notes|length + notesFromCourse|length}})</span></h4>
                                    </div>
                                    {% for note in notes %} 
                                        {% set notecrted = (note.type =='f') ? facilitatorName : assessorName  %}
                                        {% set notecrtedImg = (note.type =='f') ? facilitatorImage : assessorImage%}
                                        <div class="panel-content">
                                            <img class="profile-img" src="{% if notecrtedImg %} {{ notecrtedImg }} {% endif %}" alt="profile pic" />
                                            <span><strong>{{notecrted}}</strong></span>
                                            <span class="date-time">
                                                <span class="date">{{ note.created|date('m/d/y')}}</span>
                                                <span class="date"> - </span>
                                                <span class="time">{{ note.created|date('H:i')}}</span>
                                            </span>
                                            <p>{{note.note}}</p>
                                        </div>
                                    {%endfor%}
                                    {% for note in notesFromCourse%}
                                        {% set notecrtd = (note.type =='f') ? facilitatorName : assessorName  %}
                                        {% set notecrtdImg = (note.type =='f') ? facilitatorImage : assessorImage%}
                                        <div class="panel-content">
                                            <img src="{% if notecrtdImg %} {{ notecrtdImg }} {% endif %}" class="profile-img">
                                            <span><strong>{{notecrtd}}</strong></span>
                                            <span class="date-time">
                                                <span class="date">{{ note.created|date('m/d/y')}}</span>
                                                <span class="date"> - </span>
                                                <span class="time">{{ note.created|date('H:i')}}</span>
                                            </span>
                                            <p>{% if note.note is defined %}{{note.note}}{%endif%}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {%endif%}
                    {%endif%}
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="gqa-btn-group">
                        <div class="row no-gutter">
                            {% if ('ROLE_ASSESSOR' in userRole and courseStatus =='11') %}
                                <div class="col-xs-12 col-sm-12">
                                    <form name="startConversation" method="post" action="{{ base_url }}startConversation">    
                                        <input type="hidden" value="{% if courseInfo.id %}{{courseInfo.id}}{% endif %}" name="courseCode">
                                        <input type="hidden" value="{% if userId is defined %}{{userId}}{% endif %}" name="applicantId">
                                        <div class="btn competency-call"><a href="javascript:document.startConversation.submit();"><i class="material-icons">call</i>Start Competency Call</a></div>                                    
                                    </form>
                                </div>
                            {% endif %}
                            {% if ('ROLE_RTO' in userRole) and (statusOfAssUnitsCount == totalReqUnits) and (courseStatus == '15') and (totalReqUnits > statusOfRtoUnitsCount) %}
                                <div class="col-xs-12 col-sm-12">
                                    <button type="submit" courseCode = "{{courseInfo.id}}" applicantId="{{userId}}" id="approve-all-units-from-rto" class="btn btn-danger approve-for-certification-btn">Approved</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Small Screens HTML End -->
<!-- Modal -->
<div class="modal fade message_popup" id="message_popup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="new_message_section">
                    <div class="title_bar">NEW MESSAGE<span><i class="material-icons close">close</i></span></div>
                    <div class="new_msg_section">
                        {% set toName = ('ROLE_ASSESSOR' in userRole or 'ROLE_RTO' in userRole) ? facilitatorName : userName %}
                        <form>
                            <div class="input_section">
                                <label class="to">To :</label>
                                {% if 'ROLE_FACILITATOR' in userRole  or 'ROLE_MANAGER' in userRole %}
                                    <input type="text" onkeyup="searchUsersFromCourse('#advanced-demo','{{facilitatorId}}','{{assessorId}}','{{rtoId}}','{{userId}}');" value="{{ toName }}" placeholder="" required="required"  name="advanced-demo"  id="advanced-demo" class="ui-autocomplete-input" autocomplete="off" >
                                {% else %}
                                    <input type="text" name="advanced-demo" id="advanced-demo" value="{{ toName }}">
                                {% endif %}
                            </div>
                            <div class="input_section">
                                    <label class="subject">Subject : </label>
                                    <input type="text" name="msgSubject" value="{%if courseInfo.id is defined %}{{courseInfo.id}} - {%endif%}{{courseInfo.name}}" id="msgSubject">
                            </div>
                            <textarea name="msgBody" id="msgBody"></textarea>
                            <input type="hidden" name="UserId" id="UserId" value="{%if('ROLE_ASSESSOR' in userRole or 'ROLE_RTO' in userRole)%}{{facilitatorId}}{% else %}{{userId}}{%endif%}" />
                        </form>
                    </div>
                    <div class="btn_section">
                            <button class="button btn_red msgForCourse" type="button">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'GqAusUserBundle:Applicant/includes:facAssProfilePopups.html.twig' %}
    <script type="text/javascript" src="{{ asset('public/js/custom-jquery-ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fancybox').fancybox();
        });
    </script>
{% endblock %}