 {% block stylesheets %}
<style>
    .gq-profile-page-img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #e7ecee;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 10px auto;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<link rel="stylesheet" href="{{ asset('public/css/pages/all/profile.css') }}">
<link href="{{ asset('public/css/form.css') }}" rel="stylesheet">
{#<script src="{{ asset('public/js/custom-form-elements.js') }}"></script>#}
{% endblock %}  
<!-- Modal -->
<div class="modal fade profile_popup" id="roleprofile2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="title_bar hidden-sm hidden-md hidden-lg">
                    <span><i class="material-icons arrow_back" data-dismiss="modal">arrow_back</i></span>Your Profile<span><i class="material-icons clear_icon" data-dismiss="modal">clear</i></span>
                </div>        
                {% set userdata = app.security.getToken().getUser() %}
                {% if (userRole=='ROLE_FACILITATOR') %}
                    {% set role = 'Account Manager' %}
                    {% set roleid = 2 %}
                {% elseif(userRole=='ROLE_RTO') %}
                    {% set role = 'RTO' %}
                    {% set roleid = 4 %}
                {% elseif(userRole=='ROLE_ASSESSOR') %}
                    {% set role = 'Assessor' %}
                    {% set roleid = 3 %}
                {% elseif(userRole=='ROLE_APPLICANT') %}
                    {% set role = '' %}
                {% elseif(userRole=='ROLE_MANAGER') %}
                    {% set role = 'Manager' %}
                    {% set roleid = 5 %}
                {% elseif(userRole=='ROLE_SUPERADMIN') %}
                    {% set role = 'SuperAdmin' %}
                {% endif %}  
                <!-- Profile Form -->
                <div class="header_block clearfix" id='user_profile_form_div'>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="gq-edit-photo-btn">
                                    <span class="loading-icon" id="ajax-loading-icon" style="display:none;"><img id="ajax-loading-icon-img" src="{{ asset('public/images/loading.gif') }}" /></span>
                                </div>
                                <div class="ajax-profile-error" id="ajax-profile-error"></div>
                            </div>
                        </div>
                        <div class="profile_section">
                            <div id='ajax-gq-profile-page-img'>
                                    <h5 class="name"><strong>Add User</strong></h5>
                                    <span class="field">{{role}}</span>
                                    {#<span class="title uploadTrigger"><input type="file" ></span>#}
                            </div>
                            <span class="close" data-dismiss="modal"><i class="material-icons clear_icon">clear</i></span>
                        </div>
                        <div class="row" id="profile_suc_msg2"></div>
                        <div class="gq-change-address-warning" id="change_address_error">
                            {% for flashMessage in app.session.flashbag.get('errornotice') %}
                            <div class="gq-id-address-error-text" style="dispaly:none">
                                <h2><img src="{{ asset('public/images/login-error-icon.png') }}">{{ flashMessage }}</h2>
                            </div>
                            {% endfor %}
                        </div>
                    <div class="ajax-profile-error" id="ajax-profile-error"></div>
                </div>
                <form class="form" id='user_profile_form_manager' action="{{ app.request.baseUrl }}/addUser/{{roleid}}" method="post">
                    <div class="form_fields">
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label>{% if ('ROLE_RTO' in userRole) %} College Name {% else %} First Name {% endif %} </label>                                                        
                                {{ form_widget(form.firstname,{ 'attr': {'maxlength': '30'} }) }}
                                <input type="hidden" value="0" id='hdn-userId_add' name='hdn-userId'/>
                                {#<input type="hidden" id="userprofile_crmId" name="userprofile[crmId]">#}
                                <input type='hidden' id='hdn-type' name='hdn-type' value="2"><!-- 0: edit profile, 1: edit user, 2: add user -->
                                <input type="hidden" id="hdn-img" name="hdn-img" value="">
                                 <input type='hidden' id='hdn-userrole' name='hdn-role' value="{% if ('ROLE_RTO' in userRole) %}rtouser{% elseif ('ROLE_FACILITATOR' in userRole) %}facilitatoruser{% elseif ('ROLE_ASSESSOR' in userRole) %}assessortoruser{% elseif ('ROLE_MANAGER' in userRole) %}manager{% elseif ('ROLE_SUPERADMIN' in userRole) %}superadmin{% else %}applicant{% endif %}">
                            </div>
                            <div class="form-group">
                                <label>{% if ('ROLE_RTO' in userRole) %} Provider Code {% else %} Last Name {% endif %}</label>
                                {{ form_widget(form.lastname,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>
                        <div class="section">
                            <div class="form-group">
                                <label>Email</label>
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                        {% if ('ROLE_APPLICANT' in userRole) %}
                        <div class="section">
                            <div class="form-group">
                                <label class="pull-left" for="gq-personal-pwd">Gender</label>
                                {{ form_widget(form.gender) }}
                            </div>
                        </div>
                        {% endif %}

                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Phone</label>
                                {{ form_widget(form.phone,{ 'attr': {'maxlength': '20'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">Password</label>
                                {{ form_widget(form.newpassword,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>

                       {% if ('ROLE_APPLICANT' in userRole) %}                       
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Date Of Birth</label>
                                {{ form_widget(form.dateOfBirth, { 'attr':{'readonly':'readonly'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">USI</label>
                                <a href="http://www.usi.gov.au/create-your-USI/Pages/default.aspx" target="_blank">Don’t have one?<br/>Click here to create one</a>
                                {{ form_widget(form.universalStudentIdentifier,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>
                        {% endif %} 

                       {% if ('ROLE_RTO' in userRole) %}
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Contact Person Name</label>
                                {{ form_widget(form.contactname,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">Contact Person Phone</label>
                                {{ form_widget(form.contactphone,{ 'attr': {'maxlength': '20'} }) }}
                            </div>
                        </div>
                        
                        
                        <div class="section">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Contact Person Email</label>
                                {{ form_widget(form.contactemail,{ 'attr': {'maxlength': '50'} }) }}
                            </div>
                        </div>
                        
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">CEO Name</label>
                                {{ form_widget(form.ceoname,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">CEO Phone</label>
                                {{ form_widget(form.ceophone,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>
                        
                        <div class="section">
                            <div class="form-group">
                                <label for="gq-personal-pwd">CEO Email</label>
                                {{ form_widget(form.ceoemail) }}
                            </div>
                         </div>
                        {% endif %}

                        <!-- Address info-->
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Street Number</label>
                                {{ form_widget(form.address.address,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">Street Name</label>
                                {{ form_widget(form.address.area,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>
                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Suburb</label>
                                {{ form_widget(form.address.suburb,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">City</label>
                                {{ form_widget(form.address.city,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>

                        <div class="section name_group clearfix">
                            <div class="form-group">
                                <label for="gq-personal-pwd">State</label>
                                {{ form_widget(form.address.state,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="gq-personal-pwd">Country</label>
                                {{ form_widget(form.address.country,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>

                        <div class="section">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Postcode</label>
                                {{ form_widget(form.address.pincode,{ 'attr': {'maxlength': '30'} }) }}
                            </div>
                        </div>
                        {#<div class="section">
                            <div class="form-group">
                                <label for="gq-personal-pwd">Profile Image</label>
                                {{ form_widget(form.userImage) }}
                            </div>
                        </div>#}
                        <!-- Address info-->
                    </div>
                   {# <button type="submit" id="userprofile_save" name="userprofile[save]" class="btn submit_btn" onclick="return validateAddress();">SAVE</button>
                    </form>#}
                    {{ form_end(form) }}
                    <div class="gq-change-pwd-warning" id="pwd_error">
                        {% for flashMessage in app.session.flashbag.get('errornotice') %}
                        <div class="gq-id-pwd-error-text" style="display:none">
                            <h2><img src="{{ asset('public/images/login-error-icon.png') }}">{{ flashMessage }}</h2>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
<script type="text/javascript"> var amazon_link = "{{ amazon_link }}";
var base_url = "{{ base_url }}";
</script>
<script src="{{ asset('public/js/custom-jquery.js') }}"></script>
<script src="{{ asset('public/js/script.js') }}"></script>
<script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
<script src="{{ asset('public/js/s3-upload/s3upload-profileimg.js') }}"></script>
 {% endblock %}