{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Manage Profiles{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/timepicker.css') }}" />
{% endblock %}
{% block body %}

{% set userRole = app.security.getToken().getUser().getRoles() %}
<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h1 class="gq-dashboard-title">Manage Profiles</h1>
            <h6 class="gq-dashboard-title-desc"></h6>
        </div>
    </div>
    
    <div class="pull-right">
        <!-- <div class="user-status-msg"><h6 class="gq-assessor-title-download text-right">af</h6></div> -->
        <div class="user-status-msg gq-addnewuser"><a href ="javascript:void(0)"> Add New User </a>
        <div class="user-status-select">
            <div class="btn-group">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="gq-add-icon"></span></a>
              <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="gq-down-icon"></span>
              </button> -->
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ app.request.baseUrl }}/addUser/2"><span><img src="{{ asset('public/images/header-edit-icon.png') }}" /></span>Facilitator</a></li>
                <li class="divider"></li>
                <li><a href="{{ app.request.baseUrl }}/addUser/3"><span><img src="{{ asset('public/images/header-edit-icon.png') }}" /></span>Assessor</a></li><li class="divider"></li>
                <li><a href="{{ app.request.baseUrl }}/addUser/4"><span><img src="{{ asset('public/images/header-edit-icon.png') }}" /></span>Rto</a></li>
                {% if ('ROLE_SUPERADMIN' in userRole) %}
                    <li class="divider"></li>
                    <li><a href="{{ app.request.baseUrl }}/addUser/5"><span><img src="{{ asset('public/images/header-edit-icon.png') }}" /></span>Manager</a></li>
                {% endif %}
              </ul>
            </div>
        </div>
        </div>
    </div>
    
    <div id="err_msg"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 colxs-12">
            <div class="col-xs-12"> <!-- class "gq-dashboard-bg-img3" added for background image -->
                <div class="gq-dashboard-courses-detail-wrap">
                    <div class="gq-dashboard-tabs margin-top15">
                            <div class="row">
                                <div class="col-lg-6 col-md-5 col-sm-5 col-xs-12 gq-app-aearch-grid">
                                    <div class="gq-applicant-filter-wrap text-right">
                                        <label>Filter by: </label>
                                        <input name="searchName" id="searchName" type="text" value="" placeholder="Name"/>
                                        <!--<span id="searchFilter" class="gq-search-icon"></span>-->
                                        <div class="gq-filter-clear wid100p visible-xs"></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-5 col-xs-12">
                                    <div class="gq-applicant-filter-wrap-select-remaining text-right">User Type</div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                                    <div class="gq-applicant-filter-wrap-select">
                                        <select name="userType" id="userType" class="styled">
                                            <option value="">All</option>
                                            <option value="2">Facilitator</option>
                                            {% if ('ROLE_SUPERADMIN' in userRole) %}
                                            <option value="3">Assessor</option>
                                            <option value="4">Rto</option>
                                                <option value="5">Manager</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12 no-padding">
                                    <button id="searchUserFilter" class="btn eye-btn gq-reports-filter-btn">Filter</button>
                                </div>
                            </div>
                        <div class="tab-content">
                            <div id="ajaxHtml" style="display:none" tdcolspan="4" tdrtocolspan="3" >
                                <img src="{{ asset('public/images')}}/loading.gif" />
                            </div>
                            <div role="tabpanel" >
                                <div class="table-responsive gq-applicant-list-table margin-top15">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="25%"><span class="">Name</span></th>
                                                <th width="25%"><span>Type</span></th>
                                                <th width="10%"><span>Notes/Reminders</span></th>
                                                <th width="40%"><span></span></th>
                                            </tr>
                                        </thead>
                                        <tbody class="row" id="currentList">
                                            {% include 'GqAusUserBundle:User:usersList.html.twig' %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="flip-icon"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog gq-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="uclose" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="myModalLabel">Do you want to delete selected profile ?</h4>
            </div>
            <div class="modal-footer">                
                <a class="btn btn-white" id="qclose-cancel">Cancel</a>
                <a class="btn btn-white deleteUser margin-left15">Ok</a>
                <span class="loading-icon deleteuser_loader" style="display:none;"><img src="{{ asset('public/images/loading.gif') }}" /></span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
 <script src="{{ asset('public/js/timepicker.js') }}"></script>    
<script type="text/javascript">
    $(document).ready(function() {
        var dateTime = new Date();
        var utc = dateTime.getTime() + (dateTime.getTimezoneOffset() * 60000);
        var timeZoneDT = new Date(utc + (3600000*+10));
        $(".datepic").datetimepicker({
         dateFormat: "dd/mm/yy",
         timeFormat: "hh:mm tt",
         minDate : timeZoneDT,
         minDateTime : timeZoneDT
        });
    });
</script>
{% endblock %}