  {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('public/css/pages/all/profile.css') }}">
    <link href="{{ asset('public/css/form.css') }}" rel="stylesheet">
<script src="{{ asset('public/js/custom-form-elements.js') }}"></script>   
{% endblock %}  
 {% set userRole = app.security.getToken().getUser().getRoles() %}
<!-- Modal -->
<div class="modal fade profile_popup {% if ('ROLE_MANAGER' in userRole) or ('ROLE_SUPERADMIN' in userRole) %} adminPopup {% endif %}" id="profile2" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
                                {% set userId = app.security.getToken().getUser().getId() %}
				<div class="title_bar hidden-sm hidden-md hidden-lg">
					<span><i class="material-icons arrow_back" data-dismiss="modal">arrow_back</i></span>Your Profile<span><i class="material-icons clear_icon" onclick="profileModal();">clear</i></span>
				</div>
                             {% set userdata = app.security.getToken().getUser() %}
                                    {% if (roles[0]=='ROLE_FACILITATOR') %}
                                        {% set role = 'Facilitator' %}
                                    {% elseif(roles[0]=='ROLE_RTO') %}
                                        {% set role = 'RTO -'~userdata.getLastname()~" "~userdata.getFirstName() %}
                                    {% elseif(roles[0]=='ROLE_ASSESSOR') %}
                                        {% set role = 'Assessor' %}
                                    {% elseif(roles[0]=='ROLE_APPLICANT') %}
                                        {% set role = '' %}
                                    {% elseif(roles[0]=='ROLE_MANAGER') %}
                                        {% set role = 'Manager' %}
                                    {% elseif(roles[0]=='ROLE_SUPERADMIN') %}
                                        {% set role = 'SuperAdmin' %}
                                    {% endif %}                            
                                <!-- Profile Form -->
                                <div class="header_block clearfix" id='user_profile_form_div'>
                                    	<div class="profile_section">
                                            <div id='ajax-gq-profile-page-img'><img src="{% if userdata.getUserImage() !="" %}{{ amazon_link~'user-'~userId~'/'~userdata.getUserImage()}} {% else %} {{ asset('public/images/userprofile.png')}} {% endif %}" alt="profile_pic" id='user_profile_image' class="profile_image"/><input type="file" id="userprofile_userImage" name="userprofile" class="hidden browse_btn"></div>
                                            <input type="hidden" name="userVal" id="userVal" value="{{userId}}">
                                                <div class="content">
							<h5 class="name"><strong>{% if ('ROLE_RTO' in roles) %}{{userdata.getContactName()}} {% else %} {{userdata.getFirstName()~' '~userdata.getLastName()}}  {% endif %} </strong></h5>
							<span class="field">
                                                            {{role}}
                                                        </span>
                                                        {#<span class="title uploadTrigger"><input type="file" ></span>#}
						</div>
                                        </div>
                                        
					<div class="count">
                                               {% if ('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR'  in roles) %}
                                            {% set pendingApplicantsCount = user_service.getPendingApplicantsCount(userId, userRole, '0') %}
						<span class="number"> {{pendingApplicantsCount}}</span>
						<span class="title">Active Portfolios</span>
                                                {% elseif ('ROLE_RTO' in roles) %}
                                                {% set noofQualifications = user_service.getNoofQualifications(userId)%}
                                                <span class="number">{{noofQualifications}}</span>
						<span class="title">Issued <br/> Qualifications</span>
                                                {% endif %}
					</div>
                                       <span class="close" data-dismiss="modal"><i class="material-icons clear_icon">clear</i></span>
				</div>
                                <div class="panel-group" id="fileListContainerPi">
                                    <div class="panel-copy fileListContainer" id="progress-barsPi">

                                    </div>
                                </div>
                                <div class="row" id="profile_suc_msg2" style="display:none"></div>
                                <div class="gq-change-address-warning" id="change_address_error">
                                    {% for flashMessage in app.session.flashbag.get('errornotice') %}
                                    <div class="gq-id-address-error-text" style="dispaly:none">
                                        <h2>{{ flashMessage }}</h2>
                                    </div>
                                   {% endfor %}
                                </div>
                                <div class="ajax-profile-error" id="ajax-profile-error"></div>
				<form class="form" id='user_profile_form'>
                                    <div class="form_fields">
				<div class="section name_group clearfix">
						<div class="form-group">
							<label>{% if ('ROLE_RTO' in roles) %} College Name {% else %} First Name {% endif %} </label>                                                        
							<input type="text" value="{{userdata.getFirstName()}}" id='userprofile_firstname' name='first_name' onkeyup="checkspace(this);" readonly>                                                        
                                                        <span><i class="material-icons">mode_edit</i></span>
                                                        <input type="hidden" value="{{userId}}" id='hdn-userId' name='hdn-userId'/>
                                                        <input type="hidden" value="0" id='hdn-type' name='hdn-type'/>
                                                        <input type='hidden' id='hdn-userrole' name='hdn-role' value="{% if ('ROLE_RTO' in userRole) %}rtouser{% elseif ('ROLE_FACILITATOR' in userRole) %}facilitatoruser{% elseif ('ROLE_ASSESSOR' in userRole) %}assessortoruser{% elseif ('ROLE_MANAGER' in userRole) %}manager{% elseif ('ROLE_SUPERADMIN' in userRole) %}superadmin{% else %}applicant{% endif %}">
						</div>
						<div class="form-group">
							<label>{% if ('ROLE_RTO' in roles) %} Provider Code {% else %} Last Name {% endif %}</label>
							<input type="text" value="{{userdata.getLastName()}}" id='userprofile_lastname' onkeyup="checkspace(this);" name='last_name' readonly>
							<span><i class="material-icons">mode_edit</i></span>
						</div>
					</div>
					<div class="section">
						<div class="form-group">
							<label>Email</label>
							<input type="email" id="userprofile_email" value="{{userdata.getEmail()}}" readonly >							
						</div>
					</div>
                                        {% if (('ROLE_FACILITATOR' in roles) or ('ROLE_ASSESSOR' in roles) or ('ROLE_SUPERADMIN' in roles) or ('ROLE_MANAGER' in roles)) %}
                                        <div class="section number_group clearfix">
						<div class="form-group">
							<label>Phone</label>
							<input type="number" value="{{userdata.getPhone()}}" id='userprofile_phone' onkeyup="checkspace(this);" name='phone' readonly>
							<span><i class="material-icons">mode_edit</i></span>
						</div>
                                               <div class="form-group">
							<label>Password</label>
							<input type="text" value="........" readonly >
							<span class="change_link" id="change_link"><i class="material-icons lock">lock</i></span>
						</div>
                                                
						
					</div> 
                                        {% endif %}
                                        {% if ('ROLE_RTO' in roles)  or ('ROLE_ASSESSOR' in roles) %}
					<div class="section number_group clearfix">
						<div class="form-group">
							<label>Contact Person Phone</label>

							<input type="number" value="{{userdata.getContactPhone()}}" id='userprofile_contactphone' onkeyup="checkspace(this);" name="contactphone" name='phone' readonly>

							<span><i class="material-icons">mode_edit</i></span>
						</div>
                                                <div class="form-group">
							<label>Contact Person Name</label>

							<input type="text" value="{{userdata.getContactName()}}" id="userprofile_contactname" onkeyup="checkspace(this);" name="contactname" readonly>

                                                        <span><i class="material-icons">mode_edit</i></span>
							
						</div>
						
					</div>  
                                        <div class="section">
						
                                            <div class="form-group">
							<label>Password</label>
							<input type="text" value="........" readonly >
							<span class="change_link" id="change_link"><i class="material-icons lock" >lock</i></span>
                                                         
						</div>
					</div>
                                        {% endif %}
                                         {% if ('ROLE_RTO' in roles) or ('ROLE_ASSESSOR' in roles) or ('ROLE_MANAGER' in roles) or ('ROLE_SUPERADMIN' in roles)%}
                                        <!-- Address -->
                                        <div class="section">
						<div class="form-group">
							<label>Street Name</label>
							<input type="text" value="{% if userdata.getAddress().getAddress() is defined  %}{{userdata.getAddress().getAddress()}} {% endif %}" id='userprofile_address_area' onkeyup="checkspace(this);" name='street_name' readonly>
							<span><i class="material-icons">mode_edit</i></span>
						</div>
						
					</div>
                                        <div class="section">
                                            <div class="form-group">
							<label>Street Number</label>
							<input type="text" value="{% if userdata.getAddress().getArea() is defined  %} {{userdata.getAddress().getArea()}} {% endif %}" id='userprofile_address_address' onkeyup="checkspace(this);" name="street_number" readonly>
							<span><i class="material-icons">mode_edit</i></span>
						</div>
                                        </div>
                                        
                                        <div class="section name_group clearfix">
						<div class="form-group">
							<label>Suburb</label>
							<input type="text" value="{% if userdata.getAddress().getSuburb() is defined  %}{{userdata.getAddress().getSuburb()}} {% endif %}" id='userprofile_address_suburb' onkeyup="checkspace(this);"  name='suburb' readonly>
							<span><i class="material-icons">mode_edit</i></span>
						</div>
                                            <div class="form-group">
							<label>PostCode</label>
							<input type="text" value="{% if userdata.getAddress().getPincode() is defined  %} {{userdata.getAddress().getPincode()}} {% endif %}" id='userprofile_address_pincode' onkeyup="checkspace(this);" name='postcode' readonly>
							<span><i class="material-icons">mode_edit</i></span>
						</div>
						
					</div>
                                        
                                        <div class="section name_group clearfix">
						<div class="form-group">
							<label>City</label>
							<input type="text" value="{% if userdata.getAddress().getCity() is defined  %} {{userdata.getAddress().getCity()}} {% endif %}" id="userprofile_address_city" onkeyup="checkspace(this);" name="city" readonly>
							<span><i class="material-icons">mode_edit</i></span>
						</div>
						<div class="form-group">
							<label>State</label>
							<input type="text" value="{% if userdata.getAddress().getState() is defined  %} {{userdata.getAddress().getState()}} {% endif %}" id="userprofile_address_state" onkeyup="checkspace(this);" name="state" readonly>
							<span><i class="material-icons">mode_edit</i></span>
						</div>
					</div>
                                        
                                        <div class="section">
						<div class="form-group">
							<label>Country</label>
							<input type="text" value="{% if userdata.getAddress().getCountry() is defined  %} {{userdata.getAddress().getCountry()}} {% endif %}" id="userprofile_address_country" onkeyup="checkspace(this);" name="country" readonly>
							<span><i class="material-icons">mode_edit</i></span>
						</div>
					</div>
                                        {% endif %}
                                 </div>   
			
				<button type="submit" class="submit_btn">SUBMIT</button>
                              </form>
                                {#MAtrix file Upload#}
                                {% if (roles[0]=='ROLE_ASSESSOR') %}
                               {% set matrixFiles = user_service.fetchOtherFiles(userId, 'matrix') %}
                               
                                <div  id="resume_msg"> </div>
                                 <div class="panel-group hide" id="fileListContainerTm">
                                    <div class="panel clearfix">
                                            <div class="panel-body">
                                    <div class="panel-copy fileListContainer" id="progress-barsTm"></div>
                                </div></div></div>
                                <div id="idfiletype_image"></div>
                                <div class="loading-icon" style="display: none;" id="matrix_load"><img src="{{ asset('public/images')}}/loading.gif" /></div>
                                <div id="matrixfileDiv">
				<div class="btn_section clearfix">
					<div class="add_trainer">
                                            
                                          
                                                <input type="file" onChange="assessorTrainerMatrixUpload()" id="matrix_browse" name="matrix[browse]">
                                                <input type="hidden" id="matrix" name="matrix" value="matrix">
                                                <a href="javascript:void(0)" id="uploadTrigger">
                                                        <span><i class="material-icons">add</i></span>
                                                        <span class="hidden-xs">Add Trainer Matrix Files</span>
                                                        <span class="hidden-sm hidden-md hidden-lg">Add Files</span>
                                                </a>
                                                
					</div>
                                        
					<a href="#"  id="download_matrix">
						<span><i class="material-icons" >file_download</i></span>Trainer Matrix.pdf

					</a>
				</div>
                                        <div class="" id="idfiles_msg"></div>
				<div>
					<div class="file_info_block" id="trainerMatrix_block">
                                            {% set matrixVal = 0 %}
                                            {% if matrixFiles %}
                                            {% for item in matrixFiles %}
                                            {% set filesize = evidence_service.fileSize(item.size) %}
                                            {% set eviType = evidence_service.getEvidenceShowType('image') %}
                                            {% set output = eviType|split('&&') %}                                            
						{% if item.isdeleted != 1 %}
                                                     {% set matrixVal = 1%}
						<div class="file_info">
							<span class="icon"><a href = "{{ amazon_link~item.path }}"  class="fancybox"> 
								<i class="material-icons">description</i> </a>
							</span>
							<span class="file-discription">
							{{ item.name}} <br>{{filesize}} | ADDED {{item.created|date("d/m/y") }}
							</span>
                                                        <span class="clear">
							<a href="javascript:void(0)" class="modalClass viewModalClass" data-toggle="modal" data-target="#deletefile" otherfiles="others" fileid="{{item.id}}" filetype="{{item.type}}">
								<i class="material-icons">clear</i>
							</a>
                                                        </span>
						</div> 
						{% endif %}
                                             {% endfor %}
                                                 {% if matrixVal == 0 or matrixFiles is not defined %}
                                                <center id="matrix_no_files">No Trainer Matrix found</center>    
                                                {% endif %}                        
                                                {% endif %}
					</div>
                                    
				</div>
                                    </div>
                                 {% endif%}
                                {#end#}                              
<div class="section change_pwd_section mobile_version hidden-xs currentpassword">
               <div class="heading_bar clearfix">
                <span>
                        Change Password
                        <a href="javascript:void(0)">
                                <i class="material-icons clear_pswd_div_others">clear</i>
                        </a>
                </span>
        </div>

        <div class="content">
            <p>Please enter your current password</p><div id="pwd_error"></div>
                <input type="password" placeholder="Password" id="current_password" onkeyup="checkspace(this);"/>
        </div>
        <button class="button btn" onclick="checkCurrentOthersPassword()">NEXT</button>
</div>
<!--SECTION -->
<!--SECTION -->
<div class="section change_pwd_section mobile_version hidden-xs chngpwddiv">
                <div class="heading_bar clearfix">
                <span>
                        Change Password
                        <a href="javascript:void(0)">
                                <i class="material-icons clear_pswd_div_others">clear</i>
                        </a>
                </span>
        </div>

     <form class="form-inline change_pwd_form" id='change_password_form'> 
        <div class="content">
                <p>Thanks now enter a new secure password that is 8 - 16 characters and contains both letters and numbers</p><div id="mbl_pwd_error"></div>
               
                 <input type="hidden" name="hdn_pwd_check" id="hdn_pwd_check" value="0">
                <input type="hidden" id='password_hdnoldpassword' name='password_hdnoldpassword' class="form-control" value="" maxlength="30"/>
                 
		<div class="pwd_field">
                <input type="password" id='password_newpassword' name='password_newpassword' class="" value="" onkeyup="checkspace(this);" maxlength="30"/>
                 
                <i class="material-icons">done</i>
		</div>
		<div class="pwd_field">
                 <input type="password" id="password_confirmnewpassword" name='password_confirmnewpassword' class="" value="" onkeyup="checkspace(this);"  maxlength="30"/>
                       
                <i class="material-icons">done</i>
		</div>
        </div>
            <div class="btn_section clearfix">
                    <input type="submit" class="button btn btn_red chngpwdvalOthers" value="SUBMIT" id='password_save_666' />
                    
            </div>
    </form>
</div>
<!--SECTION -->
             <!--SECTION -->
<div class="section change_pwd_section mobile_version hidden-xs pwdsucc">
                  <div class="heading_bar clearfix">
                <span>
                        Change Password
                        <a href="javascript:void(0)">
                                <i class="material-icons clear_pswd_div_others">clear</i>
                        </a>
                </span>
        </div>

        <div class="content">
                <span>
                        <img src="{{ asset('public/images/COMPLETE.png') }}" alt="complete"/>
                </span>
                <p>Your password has been successfully changed.</p>
        </div>
</div>
<!--SECTION -->                 
			</div>
		</div>
	</div>
</div>
<div class="modal fade confirm_popup" id="deletefile" role="dialog">
    <div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" id="fclose">&times;</button>
    <div class="modal-title" id="myModalLabel">Do you want to delete selected file?</div>
   </div>
   <div class="modal-footer">
    <div class="btn_section gqa-btn-group btn-file-save">
     <div class="row no-gutter">
      <div class="col-xs-6 col-md-6 col-lg-6">
       <button type="button" class="btn btn-danger border-right deleteIdFiles">OK</button>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6">
       <button type="button" class="btn btn-danger" data-dismiss="modal" id="fclose-cancel">CANCEL</button>       
      </div>
     </div>
        <span class="loading-icon" id="ajax-loading-delete-assessor-file" style="display:none;"><img src="{{ asset('public/images/loading.gif') }}" /></span>
    </div>
   </div>
  </div>
 </div>
   
</div>



{% block javascripts %}
<script type="text/javascript"> var amazon_link = "{{ amazon_link }}";
var base_url = "{{ base_url }}";
</script>
<script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
<script src="{{ asset('public/js/s3-upload/s3upload-profileimg.js') }}"></script>
<script src="{{ asset('public/js/s3-upload/s3upload-trainermatrix.js') }}"></script>

 {% endblock %}
