{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Edit Profile{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap-select.min.css') }}" />
<link href="{{ asset('public/css/form.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/pages/all/candidate_profile.css') }}" />
<script src="{{ asset('public/js/custom-form-elements.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
{% endblock %}
{% block body %}
<div class="body_section candidate_profile">
    <div class="">
        <div class="row">
          {# <div class="col-xs-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="row" id="profile_suc_msg">
                <div class="gq-id-files-upload-success-text">
                    <h2><img src="{{ asset('public/images/tick.png') }}">
                    {{ flashMessage }}</h2>
                </div>
            </div>
            {% endfor %}
            <div class="gq-change-address-warning" id="change_address_error">
                {% for flashMessage in app.session.flashbag.get('errornotice') %}
                <div class="gq-id-address-error-text" style="dispaly:none">
                    <h2>{{ flashMessage }}</h2>
                </div>
               {% endfor %}
            </div>
            <div class="row" id="profile_suc_msg2"></div>#}
        </div>
        {% set userRole = app.security.getToken().getUser().getRoles() %}
        {% set userId = app.security.getToken().getUser().getId() %}
        <!-- MOBILE VERSION -->
        {% include 'GqAusUserBundle:User/mobile:user.html.twig' %}
        
        <!-- MOBILE VERSION -->
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">

    $(document).ready(function(){ 
    if({{applicantStatus}} == '2')
    {
        $("#onboard2").removeClass("hidden");
        $('#onboard2').modal({backdrop: 'static', keyboard: false,show:true}); 
    }
  $(".form_block input[type='text'],.form_block input[type='number']").on('focusin', function(){
   $(this).data('val', $(this).val());
   $(this).prev().css("color","red");
   $(".update_btn").css("background","red").removeAttr('disabled');
  });
  
  $(".form_block input[type='text'],.form_block input[type='number']").blur(function(){
   
   var prev = $(this).data('val');
   var current = $(this).val();
   var color = $(".form_block label").attr('style');
   
   if( (prev != current)){
    
    $(this).prev().css("color","red");
    
    $(this).attr('isChanged',"1");
    
    $(".update_btn").css("background","red").removeAttr('disabled');
   }else{
    $(this).attr('isChanged',"0");
    $(this).prev().removeAttr('style');
    checkChangeStatus();
    //$(".update_btn").css("background","#eee");
    
   }
  });
 
  function checkChangeStatus(){
   var change=false;
   $('#userprofile').find('input').each(function(index){
     if($(this).attr('isChanged')=="1"){
      change=true;
      $(".update_btn").css("background","red").removeAttr('disabled');
      return false;
     }
    });
    if(!change){
     $(".update_btn").css("background","#eee").attr('disabled','disabled');
    }
  }
 
  var gender_val = $(".form_block input[type='radio']:checked").val();
 var genderId=null;
 var changeFired=false;
  $(".form_block input[type='radio']").on('change', function(){
  changeFired=true;
  //alert($(this).attr('id')); 
  genderId= '#'+$(this).attr('id');
  // $(this).next().css("color","red");
   $(".update_btn").css("background","red").removeAttr('disabled');
   current_val = $(this).val();
   if(gender_val != current_val){
    $(this).attr('isChanged',"1");
	$(this).next().css("color","red");
   }else{
   $("input[type='radio']").next().removeAttr('style');
 $(this).attr('isChanged',"0");
 $(this).next().css("color","red");
   }
  
  });
  
$("body").on("click",function(evt){
 
//	alert(evt.target);
	
	current_val = $(genderId).val();
	//alert($(evt.target).attr('type'));
	if(changeFired && $(evt.target).attr('type')!="radio" && gender_val == current_val){
	  $(genderId).attr('isChanged',"0");
    $('#userprofile_gender_0').attr('isChanged',"0");
    $('#userprofile_gender_1').attr('isChanged',"0");
    $("input[type='radio']").next().removeAttr('style');
	changeFired=false;
	if($(evt.target).attr('type')==undefined){
    checkChangeStatus();
	}
 }
 	
 });
 
 
  $(".form_block input[type='radio']").on('blur', function(){
   current_val = $(this).val();
   
   if(gender_val != current_val){
    $(this).attr('isChanged',"1");
    $(this).next().css("color","red");
    $(".update_btn").css("background","red").removeAttr('disabled');
   }else{
    $(this).attr('isChanged',"0");
    $('#userprofile_gender_0').attr('isChanged',"0");
    $('#userprofile_gender_1').attr('isChanged',"0");
    $("input[type='radio']").next().removeAttr('style');
    checkChangeStatus();
   }
   
  });

 
 
  $(".form_block .pwd input[type='text'],#userprofile_firstname,#userprofile_lastname,#userprofile_email,#userprofile_phone").focus(function(){       
   $(this).prev().css("color","#999");
   $(".update_btn").css("background","#eee").attr('disabled','disabled');
  });
  $(".form_block .pwd input[type='text'],#userprofile_firstname,#userprofile_lastname,#userprofile_email,#userprofile_phone").blur(function(){
   $(this).prev().css("color","#999");
   $(".update_btn").css("background","#eee").attr('disabled','disabled');
  });
    });
 

</script>
<script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
<script src="{{ asset('public/js/jquery.form.js') }}"></script>
<script src="{{ asset('public/js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox').fancybox();
		$("#userprofile input[type='text']").focus(function (e) {
			e.preventDefault();
			if(this.id=='userprofile_phone'){
				$('.body_section').scrollTop(400);
			}else{
				$('.body_section').scrollTop(600);
			}
		   /* $('html, body').animate({
				scrollTop: $("input[type='text']").offset().top
			}, 2000);*/
		});
    });
</script>
{% endblock %}
