{% if applicantList %}    

    {% for key, list in applicantList %}
        <tr>
            <td><span class="">{{list.firstName}} {{list.lastName}}</span></td>
            <td>{% if list.getRole() == '3' %} Assessor {% elseif list.getRole() == '2' %}  Account Manager {% elseif list.getRole() == '4' %}  Rto {% else %} Manager {% endif %}</td>
            <td>
                {% if (list.getRole() != '5') and (list.getRole() != '4') %}
                <div class="dropdown keep-open">
                    <span class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons edit">note_add</i></span>
                    <div class="dropdown-menu">
                        <div class="data_section">
                            <textarea rows="3" placeholder="Notes" id="notes_{{list.id}}"></textarea>
                            <div class="date_section clearfix">
                                <input type="text" class="date_field form-control" id="remindDate_{{list.id}}"/>
                            </div>
                        </div>
                        <button type="button" class="btn_red setData noteSet" userCourseId="" listId="{{list.id}}">Send</button>
                    </div>
                </div>
                {% endif %}
            </td>
            <td>
                <ul>
                    <li>
                        <a href="javascript:void(0);" onclick="editUserbyRole('{{list.id}}');">
                            <i class="material-icons">edit</i>
                        </a>
                    </li>
                   {# <li>
                        <a href="javascript:void(0);" class="modalClass delUser" data-toggle="modal" data-target="#confirm_popup" id="{{list.id}}" userRole = "{{list.getRole()}}">
                            <i class="material-icons">clear</i>
                        </a>
                    </li>#}
                    <li>
                        <a id="{{list.id}}" class="eye-btn gq-reports-filter-btn loginUser" href="javascript:void(0);"><i class="material-icons">account_circle</i></a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
		
{% else %}
        <tr>
            <td colspan="3" align="center">No Profiles Found</td>
        </tr>
{% endif %}

{% if applicantList %}    
        {% if applicantList|length > 0 and paginator.getTotalPages() > 1 %}
        <tr>
            <td class="gq-pagination-area" colspan="4">       
                {{ include('GqAusUserBundle:Paginator:ajax_paginator_navigator.html.twig', {'paginator' : paginator}) }}  
            </td>
        </tr>
    {% endif %}
    {% endif %}