{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Dashboard{% endblock %}
{% block stylesheets %}
<link href="{{ asset('public/css/form.css') }}" rel="stylesheet">
<script src="{{ asset('public/js/custom-form-elements.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />

{% endblock %}
{% block body %}
<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
    <!-- <div class="row">
        <div class="col-xs-12">
            <h1 class="gq-dashboard-title">Applicant ID Files</h1>
            <!-- <h6 class="gq-dashboard-title-desc">Some description can be given here</h6>  -->
        <!-- </div>
    </div>-->
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-5 col-xs-12">
                    <div class="gq-assessor-profile-page-img" style="background-image: url(&quot;{{ userImage }}&quot;);" ></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-5 col-xs-12">
                    <div class="gq-assessor-profile-page-desc-wrap">
                        <div class="gq-assessor-profile-page-desc-red">{{ user.userName }}</div>
                        <div class="gq-assessor-profile-page-desc">{{ user.email }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="gq-assessor-title-download text-right"><a href="{{ app.request.headers.get('referer') }}">Back to Previous Page<span class="gq-assessor-title-back-icon"></span></a></div>
                </div>
            </div>
        </div>    
        <div class="col-xs-12 margin-top15">
            <div class="gq-id-files">
                <div class="gq-id-files-header gq-id-files-header-applicant">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="gq-course-details-header-title">ID Files</div>
                        </div>
                    </div>
                </div>
                <div class="gq-id-files-content-wrap">
                    <div class="gq-dashboard-box-1x">
                        <div class="gq-dashboard-courses-detail-wrap margin-top15">
                            <div class="row">
                            {% if userIdFiles is not null and userIdFiles is not empty %}
                                {% for item in userIdFiles %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="idfiles_{{item.id}}">
                                    <div class="gq-dashboard-courses-detail">
                                        {% if item.type.id == 1 %}
                                        {% set doc_type = 'gq-id-files-content-img-icon' %}
                                        {#{% elseif item.type.id == 2 %}
                                            {% set doc_type = 'gq-id-files-content-pdf-icon' %}#}
                                        {% else %}
                                             {% set doc_type = 'gq-id-files-content-esc-icon' %}
                                        {% endif %}
                                        <a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"><div class="gq-id-files-content-icon-wrap {{doc_type}}"></div></a>                                                    
                                        <div class="gq-id-files-content-row-wrap">
                                            <div class="gq-id-files-content-row">
                                                <label>Title</label>
                                                <a href="{{ amazon_link~item.path }}" target="_blank">
                                                    <span>
                                                    {% if item.type.type|length > 17 %}
                                                        {{ item.type.type[:17] ~ '...' }}
                                                    {% else %}
                                                         {{ item.type.type }}   
                                                    {% endif %}
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="gq-id-files-content-row">
                                                <label>Added on</label><span>{{item.created|date("d/m/Y") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                            
                                {% endfor %}
                            {% else %}
                                <center>No ID files found</center>
                            {% endif %}
                            </div>
                        </div>
                        <span class="flip-icon"></span>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
</script>
{% endblock %}