<!-- MOBILE VERSION -->				
<div class="hidden-sm hidden-md hidden-lg full_width">
        <div class="mobile_version_block">
        {% set userRole = app.security.getToken().getUser().getRoles() %}
        {% set userId = app.security.getToken().getUser().getId() %}
<!--SECTION -->
<div class="section">
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="row" id="profile_suc_msg">
        <div class="gq-id-files-upload-success-text">
            <span>
            {{ flashMessage }}</span>
        </div>
    </div>
    {% endfor %}
    <div class="gq-change-address-warning" id="change_address_error">
        {% for flashMessage in app.session.flashbag.get('errornotice') %}
        <div class="gq-id-address-error-text" style="dispaly:none">
            <h2>{{ flashMessage }}</h2>
        </div>
       {% endfor %}
    </div>
    <div class="" id="idfiles_msg"></div>
     <div class="gq-change-file-warning" id="change_file_error">
        {% for flashMessage in app.session.flashbag.get('errornotice') %}
        <div class="gq-id-file-error-text" style="dispaly:none">
            <h2>{{ flashMessage }}</h2>
        </div>
       {% endfor %}
    </div>
    <div class="row" id="profile_suc_msg2"></div>
        <div class="info_block" id="idfiles">
                <div class="title_bar clearfix">
                        <span class="left">YOUR ID</span>
                         {% set requiredpoints = 100 - currentIdPoints %}
                        
                        <span class="right"><strong>{% if currentIdPoints < "100" %} {{requiredpoints}} POINTS REQUIRED <a href="{{ app.request.baseUrl }}/faq" target="_blank"><i class="material-icons">info</i></a>{% else %} {{currentIdPoints}} POINTS COMPLETED <i class="material-icons">done</i>{% endif %}</strong></span>
                </div>
            {% if currentIdPoints < "100" %}
             <form name = "Id_files" id="Id_files"  method = "POST" action="idfileupload" enctype="multipart/form-data"> 
                  <select class="selectpicker" id="userfiles_type" name="userfiles[type]">
                    <option value="">Select document type</option>
                    {% if documentTypes %}
                    {% for key, docs in documentTypes %}
                    <option  value="{{docs.id}}" data-content='<span class="content" doc-type="{{docs.type}}" id="doc-type">{{docs.type}}</span><span class="number" id="doc-type-{{docs.id}}">{{docs.points}}</span>'></option>
                     {% endfor %}
                    {% endif %}
            </select>
                <div class="add_section" role="tabpanel">
                        {{ form_widget(filesForm.browse, {'attr': {'class': 'hidden uploadFile1'}}) }}
                        <span class="button" id="idfileUpload-mobile"><i class="material-icons">add</i></span><strong>Add ID</strong>
                </div>
                 
                 <div class="panel-group hide" id="fileListContainer">
                    <div class="panel clearfix">
                        <div class="panel-body">
                            <div class="panel-copy fileListContainer" id="progress-bars"></div>
                        </div>
                    </div>
                 </div>
                 <div id="idfiletype_image"></div>
            </form>
        {% endif %}
            <div class="file_block">
       <ul class="Id_files">
	    {% set fileSts = 0%}
            {% if userIdFiles is defined %}
           
            {% for item in userIdFiles %}
            {% if item.type.id == 1 %}
            {% set doc_type = 'photo' %}
            {#{% elseif item.type.id == 2 %}
                {% set doc_type = 'gq-id-files-content-pdf-icon' %}#}
            {% else %}
                 {% set doc_type = 'photo' %}
            {% endif %}
            {% set filesize = evidence_service.fileSize(item.size) %}
            {% set fileStatus = item.status %}
          
            {% if fileStatus != 1 %}
            {% set fileSts = 1%}
            <li>
                    <div class="title_bar clearfix">
                            <span class="content">{{ item.type.type }}</span>
                            <span class="number">{{ item.type.points }}</span>
                    </div>
                    <div class="file_info">
                        <span class="icon"><a href = "{{ amazon_link~item.path }}" class="fancybox fancybox.iframe"> 
                                 <i class="material-icons">{{doc_type}}</i>
                         </a></span>
                         <span class="file-discription">
                                 {{item.name}} <br>{{filesize}} | ADDED {{item.created|date("d/m/y") }}
                         </span>
                         <a class="modalClass viewModalClass clear" data-toggle="modal" data-target="#myModal" fileid="{{item.id}}" filetype="{{item.type.type}}">
                                 <i class="material-icons">clear</i><span class="gq-del-evidence"></span></a>
                    </div>
            </li>
            {% else %}
             {% set fileSts = 0%}
			{% endif %}
            {% endfor %}
			
            {% if fileSts == 0 or userIdFiles is not defined %}
                <center id="idfiles_no_files">{{no_id_files}}</center>                        
            {% endif %}                        
            {% endif %}
         </ul>
            </div>
        </div>
        <div class="form_block profileinfo">
                <div class="title_bar clearfix">
                        <span class="left">YOUR DETAILS</span>
                        <span class="right"><strong>{{userProfilePercentage}} COMPLETED</strong>{% if userProfilePercentage == "100%" %}<i class="material-icons">done</i>{% endif %}</span>
               </div>
                <form name='userprofile' id='userprofile' method='POST' enctype="multipart/form-data"/>
                 <input type='hidden' id='hdn-userrole' name='hdn-role' value="{% if ('ROLE_RTO' in userRole) %}rtouser{% elseif ('ROLE_FACILITATOR' in userRole) %}facilitatoruser{% else %}other{% endif %}">
                 <input type='hidden' id='hdn-userId' name='hdn-userId' value="{{userId}}">
                 <input type='hidden' id='hdn-type' name='hdn-type' value="0">
                        <div class="section">
                                <div class="form-group clearfix">
                                        <label>First Name</label>
                                        {{ form_widget(form.firstname,{ 'attr': {'maxlength': '30','onkeyup':'checkspace(this)'} }) }}
                                </div>
                        </div>
                        <div class="section">
                                <div class="form-group clearfix">
                                        <label>Last Name</label>
                                        {{ form_widget(form.lastname,{ 'attr': {'maxlength': '30','onkeyup':'checkspace(this)'} }) }}
                                </div>
                        </div>
                        <div class="section">
                               <div class="form-group clearfix gender_section">
                                        <label >Gender</label>                                        
                                            {{ form_widget(form.gender) }}                                        
                                </div>
                        </div>
                        <div class="section">
                                <div class="form-group clearfix">
                                        <label>Email</label>
                                        {{ form_widget(form.email, { 'attr':{'readonly':'readonly'} }) }}
                                </div>
                        </div>
                        <div class="section">
                                <div class="form-group clearfix">
                                        <label>Mobile</label>
                                        {{ form_widget(form.phone,{ 'attr': {'maxlength': '20','onkeyup':'checkspace(this)'} }) }}
                                </div>
                        </div>
                        <div class="section">
                                <div class="form-group clearfix password_field pwd">
                                        <label>Password</label>
                                        <input type="text" value="........"/>
                                        <a href="javascript:void(0)" class="change_link">Change?<i class="material-icons">lock</i></a>
                                </div>
                        </div>
                        <div class="section">
                        <div class="form-group clearfix">
                                <label>USI</label>
                                {{ form_widget(form.universalStudentIdentifier,{ 'attr': {'maxlength': '30','onkeyup':'checkspace(this)'} }) }}
                        </div>
                        </div>
                        <div class="title_bar clearfix">
                                <span class="left">ADDRESS</span>
                        </div>
                        <div class="section">
                                <div class="form-group clearfix">
                                        <label>Street Number</label>
                                        {{ form_widget(form.address.address,{ 'attr': {'maxlength': '30','onkeyup':'checkspace(this)'} }) }}
                                </div>
                        </div>
                        <div class="section">
                                <div class="form-group clearfix">
                                        <label>Street Name</label>
                                        {{ form_widget(form.address.area,{ 'attr': {'maxlength': '30','onkeyup':'checkspace(this)'} }) }}
                                </div>
                        </div>
                        <div class="section">
                                <div class="form-group clearfix">
                                        <label>Suburb</label>
                                        {{ form_widget(form.address.suburb,{ 'attr': {'maxlength': '30','onkeyup':'checkspace(this)'} }) }}
                                </div>
                        </div>
                        <div class="section half clearfix">
                                <div class="form-group clearfix">
                                        <label>City</label>
                                        {{ form_widget(form.address.city,{ 'attr': {'maxlength': '30','onkeyup':'checkspace(this)'} }) }}
                                </div>
                                <div class="form-group">
                                        <label>Postcode</label>
                                        {{ form_widget(form.address.pincode,{ 'attr': {'maxlength': '8','onkeyup':'checkspace(this)'} }) }}
                                </div>
                        </div>
                        <div class="section half clearfix">
                                <div class="form-group">
                                        <label>State</label>
                                        {{ form_widget(form.address.state,{ 'attr': {'maxlength': '30','onkeyup':'checkspace(this)'} }) }}
                                </div>
                                <div class="form-group">
                                        <label>Country</label>
                                        {{ form_widget(form.address.country,{ 'attr': {'maxlength': '30','onkeyup':'checkspace(this)'} }) }}
                                </div>
                        </div>
                
       
        <div class="link_section clearfix profileinfo">
                <a href="{{ app.request.baseUrl }}/faq" target="_blank" class="faq_link">                    
                        <span><i class="material-icons">help</i></span>FAQs
                </a>
            {{ form_end(form) }}
               {# {{ form_widget(form.save, {'attr': {'class': 'btn update_btn disable'}}) }}#}
             {#<button type="submit" id="userprofile_save" name="userprofile[save]" class="btn update_btn disable" onclick="return validateAddress();">UPDATE</button>#}
                
        </div>
       
                  </div>
</div>
<!--SECTION -->			
<!--SECTION -->
<div class="section change_pwd_section mobile_version hidden-xs currentpassword">
        
        <div class="content">
            <p>Please enter your current password</p><div id="pwd_error"></div>
                <input type="password" placeholder="Password" id="current_password"/>
                <a href="javascript:void(0)">Forgot password?</a>
        </div>
        <button class="button btn" onclick="checkCurrentRolePassword()">NEXT</button>
</div>
<!--SECTION -->


<!--SECTION -->
<div class="section change_pwd_section mobile_version hidden-xs chngpwddiv">
        
     {{ form_start(changepwdForm, {'attr': {'class': 'form-inline'}}) }} 
        <div class="content">
                <p>Thanks now enter a new secure password that is 8 - 16 characters and contains both letters and numbers</p><div id="mbl_pwd_error"></div>
               
                 <input type="hidden" name="hdn_pwd_check" id="hdn_pwd_check" value="0">
                {{ form_widget(changepwdForm.oldpassword,{ 'attr': {'maxlength': '30','class': 'hidden'} }) }}
				<div class="pwd_field">
                {{ form_widget(changepwdForm.newpassword,{ 'attr': {'maxlength': '30','class': '','placeholder':'New Password','onkeyup':'checkspace(this)'} }) }}
                <i class="material-icons">done</i>
				</div>
				<div class="pwd_field">
                {{ form_widget(changepwdForm.confirmnewpassword,{ 'attr': {'maxlength': '30','class': '','placeholder':'Confirm Password','onkeyup':'checkspace(this)'} }) }}
                <i class="material-icons">done</i>
				</div>
        </div>
    {{ form_widget(changepwdForm.save,{ 'label': 'Submit' , 'attr': {'class': 'button btn btn_red chngpwdval'}}) }}
        {{ form_end(changepwdForm) }}
    
</div>
<!--SECTION -->

<!--SECTION -->
<div class="section change_pwd_section mobile_version hidden-xs pwdsucc">
         
        <div class="content">
                <span>
                        <img src="{{ asset('public/images/COMPLETE.png') }}" alt="complete"/>
                </span>
                <p>Your password has been successfully changed.</p>
        </div>
</div>
<!--SECTION -->
<div class="modal fade confirm_popup" id="myModal" role="dialog">
   
        <div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"  id="fclose">&times;</button>
    <div class="modal-title" id="myModalLabel">Do you want to delete selected file?</div>
   </div>
   <div class="modal-footer">
    <div class="btn_section gqa-btn-group btn-file-save">
     <div class="row no-gutter">
      <div class="col-xs-6 col-sm-6">
       <button type="button" class="btn btn-danger border-right deleteIdFiles">OK</button>
      </div>
      <div class="col-xs-6 col-sm-6">
       <button type="button" class="btn btn-danger" data-dismiss="modal" id="fclose-cancel">CANCEL</button>       
      </div>
     </div>
        <span class="loading-icon" id="ajax-loading-delete-assessor-file" style="display:none;"><img src="{{ asset('public/images/loading.gif') }}" /></span>
    </div>
   </div>
  </div>
 </div>
  
</div>

						
</div>
</div>

<!-- MOBILE VERSION -->
{% block javascripts %}
<script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
<script src="{{ asset('public/js/s3-upload/s3upload-profileid.js') }}"></script>
 {% endblock %}