{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/jquery.mCustomScrollbar.min.css') }}">
{% endblock %}
{% set videoCount = 0 %}
{% set audioCount = 0 %}
{% set imageCount = 0 %}
{% set fileCount = 0 %}
{% set textCount = 0 %}
{% for eKey, evd in evidences %}
    {% if (evd.type == 'video') %}
        {% set videoCount = videoCount + 1 %}
    {% elseif (evd.type == 'audio') %}
        {% set audioCount = audioCount + 1 %}
    {% elseif (evd.type == 'image') %}
        {% set imageCount = imageCount + 1 %}
    {% elseif (evd.type == 'file') %}
        {% set fileCount = fileCount + 1 %}
    {% elseif (evd.type == 'text') %}
        {% set textCount = textCount + 1 %}
    {% endif %}
{% endfor %}
{% if evidences|length > 0 %}
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="evidence_block">
                <div class="check_box_section">
                    <div class="section check_box_section" id="evidence-filter">
                        <div class="title_bar clearfix">
                            <span class="title">File Type</span>
                        </div>
                        <ul class="clearfix">
                            <li>
                                <span>Video ({{videoCount}})</span>
                                <span class="checkbox_outer">
                                    <input type="checkbox" value="video" class="existing-evidence-filter" checked><span></span>
                                </span>
                            </li>
                            <li>
                                <span>Audio ({{audioCount}})</span>
                                <span class="checkbox_outer">
                                    <input type="checkbox" value="audio" class="existing-evidence-filter" checked><span></span>
                                </span>
                            </li>
                            <li>
                                <span>Image ({{imageCount}})</span>
                                <span class="checkbox_outer">
                                    <input type="checkbox" value="image" class="existing-evidence-filter" checked><span></span>
                                </span>
                            </li>
                                <li>
                                    <span>Document ({{fileCount}})</span>
                                    <span class="checkbox_outer">
                                        <input type="checkbox" value="file" class="existing-evidence-filter" checked><span></span>
                                    </span>
                                </li>
                                <li>
                                    <span>Text ({{textCount}})</span>
                                    {#<span>text(<span class="evd-count text-count"></span>)</span>#}
                                    <span class="checkbox_outer">
                                        <input type="checkbox" value="text" class="existing-evidence-filter" checked><span></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                </div>
                <div class="row">
                    <div id="gq-dashboard-tabs-success" style="width: 100%;"></div>
                    <div id="gq-dashboard-tabs-error" style="width: 100%;"></div>
                </div>
                <div class="file_info_block">
                    <form method="post" id="frmSelectEvidence" action="/saveExistingEvidence" name="frmSelectEvidence" enctype="multipart/form-data" onsubmit="return validateExisting();">
                        <div class="scroll-content mCustomScrollbar _mCS_1">
                            <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside">
                                <div id="mCSB_1_container" class="mCSB_container">
                                    <input type="hidden" name="select_hid_course" id="select_hid_course" value="">
                                    <input type="hidden" name="select_hid_unit" id="select_hid_unit" value="">
                                    {% if evidences|length > 0%}
                                            {% for eKey, evd in evidences %}
                                                    {% if evd.type !='text' %}
                                                                    {% set iconType = (evd.type == 'image') ? 'photo' : ((evd.type == 'audio') ? 'mic' : (evd.type == 'video') ? 'video' : '') %}
                                                            {% if evd.name %}
                                                                    <div class="block type-{{ evd.type}}" style="margin-bottom: 10px;">
                                                                         <div class="file_info hidden-xs">
                                                                                <span class="icon"><i class="material-icons">{{ iconType }}</i></span>
                                                                                <span class="file_name">
                                                                                    {{ evd.name }}
                                                                                </span>
                                                                                <span class="file_size">
                                                                                    {{ evd.size }}
                                                                                </span>
                                                                                <span class="clear">
                                                                                    ADDED {{ evd.created|date("d/m/y") }}
                                                                                </span>
                                                                                <span class="checkbox_outer">
                                                                                    <input class="check_evidence" type="checkbox" value="{{ evd.id }}" name="evidence-file[{{evd.type}}][]"><span></span>
                                                                                </span>
                                                                            </div>
                                                                            <div class="files_mobile_version hidden-sm hidden-md hidden-lg">
                                                                                <div class="file_info">
                                                                                    <span class="icon">
                                                                                        <i class="material-icons">description</i>
                                                                                    </span>
                                                                                    <span class="file-discription">
                                                                                        {{ evd.name }} <br> {{ evd.size }} | Added {{ evd.created|date("d/m/y") }}
                                                                                    </span>
                                                                                    <span class="checkbox_outer">
                                                                                        <input class="check_evidence" type="checkbox" value="{{ evd.id }}" name="evidence-file[{{evd.type}}][]"><span></span>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                    </div>
                                                            {% endif %}
                                                    {% else %}
                                                        {% if evd.content %} 
                                                            <div class="block type-{{ evd.type}}" style="margin-bottom: 10px;">
                                                                <div class="file_info hidden-xs">
                                                                        <span class="icon">
                                                                                <i class="material-icons">description</i>
                                                                        </span>
                                                                        <span class="file_name">
                                                                                {{ evd.content }}
                                                                        </span>
                                                                        <span class="file_size"></span>
                                                                        <span class="clear">
                                                                                ADDED {{ evd.created|date("d/m/y")|slice(0, 40) }}{% if(evd.content|length > 40) %}...{% endif %}
                                                                        </span>
                                                                        <span class="checkbox_outer">
                                                                                <input class="check_evidence" type="checkbox" value="{{ evd.id }}" name="evidence-file[{{evd.type}}][]"><span></span>
                                                                        </span>                                                                                                                    
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                            {% endfor %}
                                    {% endif %}
                                    {# <input type="submit" class="btn btn-red pull-right" value="Save">    #}
                                </div>
                            </div>
                        </div>                                                                                                
                        <div class="gqa-btn-group btn-file-save">
                            <div class="row no-gutter">
                                <div class="col-xs-12 col-sm-12">
                                    <input type="submit" class="btn save-exstevd-btn btn-danger" value="Save" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                                            
            </div>
        </div>
    </div>
</div>
{% endif %}
{% block javascripts %}
    <script src="{{ asset('public/js/jquery.mCustomScrollbar.js') }}"></script>
    <script>
        (function($){
                $(window).on("load",function(){

                        $("a[rel='load-content']").click(function(e){
                                e.preventDefault();
                                var url=$(this).attr("href");
                                $.get(url,function(data){
                                        $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                                        //scroll-to appended content 
                                        $(".content").mCustomScrollbar("scrollTo","h2:last");
                                });
                        });

                        $(".content").delegate("a[href='top']","click",function(e){
                                e.preventDefault();
                                $(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
                        });

                });
        })(jQuery);
    </script>  
 {% endblock %}