{% extends 'revamp_base.html.twig' %}
{% block ngApp %} ng-app="gqAus" {% endblock%}
{% block ngController %} ng-controller="enrollmentCtlr"  id="enrollmentCtlr" {% endblock%}
{% block title %}  Enrolment - Your Profile {% endblock %}
{% block ngtitle %}pageTitle{% endblock%}
{% block body %}
    <main class="main-content-gqa">
        <div class="container">
            <!-- Put content here -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- widget div-->
                    <span ng-if="IsLoaded === false"> Loading .. </span>
                    <form id="formWizard" novalidate="novalidate" ng-show="IsLoaded">
                        <div id="formWizardCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="wizard-steps clearfix" id="wizardSteps">
                                <div class="form-bootstrap-wizard">
                                    <ul class="bootstrapWizard form-wizard carousel-indicators">
                                        <li ng-click="formSlideTo(0)" ng-class="{ 'active': (activeForm == '0'), 'done' : completedForms[0]}">
                                            <a href="javascript:void(0)"> <span class="step">1</span> <span class="title">Your Profile</span> </a>
                                        </li>
                                        <li ng-click="formSlideTo(1)" ng-class="{ 'active': (activeForm == 1), 'done' : completedForms[1]}">
                                            <a href="javascript:void(0)"> <span class="step">2</span> <span class="title">Language and <br>Diversity</span> </a>
                                        </li>
                                        <li ng-click="formSlideTo(2)" ng-class="{ 'active': (activeForm == 2), 'done' : completedForms[2]}">
                                            <a href="javascript:void(0)"> <span class="step">3</span> <span class="title">Schooling and <br>Achievements</span> </a>
                                        </li>
                                        <li ng-click="formSlideTo(3)" ng-class="{ 'active': (activeForm == 3), 'done' : completedForms[3]}">
                                            <a href="javascript:void(0)"> <span class="step">4</span> <span class="title">Employment <br> and USI</span> </a>
                                        </li>
                                        <li ng-click="formSlideTo(4)" ng-class="{ 'active': (activeForm == 4), 'done' : completedForms[4]}">
                                            <a href="javascript:void(0)"> <span class="step">5</span> <span class="title">Upload ID files</span> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="carousel-inner">

                                <!-- 1st Page Starts Here -->
                                <div class="item active" ng-form name="profileForm">
                                    {#                                    <div ng-bind="profileForm.$error"></div>
                                                                        <ul>
                                                                            <li ng-repeat="(key, errors) in profileForm.$error track by $index"> <strong>{[{ key }]}</strong> errors
                                                                                <ul>
                                                                                    <li ng-repeat="e in errors">{[{ e.$name }]} has an error: <strong>{[{ key }]}</strong>.</li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>#}
                                    <!-- Personal Details Section STARTS here-->
                                    <fieldset>
                                        <h2 class="page-header">Your Personal Details</h2>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group" ng-class="{ 'has-error' : profileForm.firstName.$invalid}">
                                                    <label for="firstName" class="control-label">First name</label>
                                                    <input type="text" id="firstName" name="firstName" ng-model="enrollment.profile.firstName" ng-required="true" class="form-control form-control-danger">
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.firstName.$invalid " data-toggle="tooltip" data-placement="top" title="First Name is required"></i>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group" ng-class="{ 'has-error' : profileForm.lastName.$invalid}">
                                                    <label for="lastName" class="control-label">Last name</label>
                                                    <input type="text" id="lastName" name="lastName" ng-model="enrollment.profile.lastName" ng-required="true" class="form-control">
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.lastName.$invalid " data-toggle="tooltip" data-placement="top" title="Last Name is required"></i>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group" ng-class="{ 'has-error' : profileForm.birthday.$invalid}">
                                                    <label for="birthday" class="control-label">Date of birth</label>
                                                    <input type="text" id="birthday" name="birthday" data-init="datepicker" date-validator ng-model="enrollment.profile.birthday" ng-required="true" date-picker="enrollment.profile.birthday" placeholder="DD/MM/YYYY" class="form-control date">
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.birthday.$invalid " data-toggle="tooltip" data-placement="top" title="Birthday is required"></i>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group" ng-class="{ 'has-error' : enrollment.profile.gender === '' || enrollment.profile.gender === undefined}">
                                                    <label class="control-label">Gender</label> <br>
                                                    <div class="btn-group  btn-group-sm" data-toggle="buttons">
                                                        <label class="btn btn-default" for="gender" ng-model="enrollment.profile.gender" ng-required="true" uib-btn-radio="'male'">
                                                            <input type="radio" name="gender" > <span>Male</span> </label>
                                                        <label class="btn btn-default" for="gender" ng-model="enrollment.profile.gender" ng-required="true" uib-btn-radio="'female'">
                                                            <input type="radio" name="gender"> <span>Female</span> </label>
                                                        <label class="btn btn-default" for="gender" ng-model="enrollment.profile.gender" ng-required="true" uib-btn-radio="'others'">
                                                            <input type="radio" name="gender"> <span>Others</span> </label>
                                                    </div>
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="enrollment.profile.gender == '' || enrollment.profile.gender === undefined" data-toggle="tooltip" data-placement="top" title="Gender is required"></i>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group" ng-class="{ 'has-error' : profileForm.homeTelNumber.$invalid}">
                                                    <label for="homeTelNumber" class="control-label">Home Telephone Number</label>
                                                    <input type="text" id="homeTelNumber" ng-pattern="/^(\+([ 0-9-\(\)\[\]])*)$/i" name="homeTelNumber" ng-model="enrollment.profile.homeTelNumber" ng-required="true" phoneformat class="form-control" ng-intl-tel-input initial-country="au" placeholder="">
                                                <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.homeTelNumber.$invalid " data-toggle="tooltip" data-placement="top" title="Invalid telephone number"></i>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group" ng-class="{ 'has-error' : profileForm.workTelNumber.$invalid}">
                                                    <label for="workTelNumber" class="control-label">Work telephone number</label>
                                                    <input type="text" id="workTelNumber" name="workTelNumber" ng-pattern="/^(\+([ 0-9-\(\)\[\]])*)$/i" ng-model="enrollment.profile.workTelNumber" ng-required="true" phoneformat class="form-control" ng-intl-tel-input initialCountry="au">
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.workTelNumber.$invalid " data-toggle="tooltip" data-placement="top" title="Invalid telephone number"></i>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group" ng-class="{ 'has-error' : profileForm.mobileNumber.$invalid}">
                                                    <label for="mobileNumber" class="control-label">Mobile number</label>
                                                    <input type="text" id="mobileNumber" name="mobileNumber" ng-pattern="/^(\+([ 0-9-\(\)\[\]])*)$/i" ng-model="enrollment.profile.mobileNumber" ng-required="true" phoneformat class="form-control" ng-intl-tel-input initialCountry="au">
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.mobileNumber.$invalid " data-toggle="tooltip" data-placement="top" title="Invalid telephone number"></i>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group" ng-class="{ 'has-error' : profileForm.email.$invalid}">
                                                    <label for="email" class="control-label">Email Address</label>
                                                    <input type="email" id="email" name="email" ng-model="enrollment.profile.email" ng-required="true" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' class="form-control">
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.email.$invalid " data-toggle="tooltip" data-placement="top" title="Enter valid email address"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- Personal Details Section END's Here -->

                                    <!-- Address Section STARTS Hear-->
                                    <fieldset>

                                        <div id="mainAddress">
                                            <h2 class="page-header">Your Address</h2>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <p class="text-center">Type and search for your address and we'll automatically fill the details below.</p>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                                                            <input id="autocomplete" placeholder="Search city, state, suburb or postcode" class="form-control input-md" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="divider col-md-12 col-xs-12">
                                                    <p>OR</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.propertyName.$invalid}">
                                                        <label for="propertyName" class="control-label">Building / Property name</label>
                                                        <input type="text" id="propertyName" name="propertyName" ng-model="enrollment.profile.address.propertyName" ng-required="true" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.propertyName.$invalid " data-toggle="tooltip" data-placement="top" title="Property Name is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.unitDetails.$invalid}">
                                                        <label for="unitDetails" class="control-label">Flat / Unit details</label>
                                                        <input type="text" id="unitDetails" name="unitDetails" ng-model="enrollment.profile.address.unitDetails" ng-required="true" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.unitDetails.$invalid " data-toggle="tooltip" data-placement="top" title="Flat / Unit details is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.street_number.$invalid}">
                                                        <label for="street_number" class="control-label">Street or lot number</label>
                                                        <input type="text" id="street_number" name="street_number" ng-model="enrollment.profile.address.street_number" ng-required="true" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.street_number.$invalid " data-toggle="tooltip" data-placement="top" title="Street or lot number is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.route.$invalid}">
                                                        <label for="streetName" class="control-label">Street name</label>
                                                        <input type="text" id="route" name="route" ng-model="enrollment.profile.address.route" ng-required="true" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.route.$invalid " data-toggle="tooltip" data-placement="top" title="Street name is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.locality.$invalid}">
                                                        <label for="suburb" class="control-label">Suburb, locality or town</label>
                                                        <input type="text" id="locality" name="locality" ng-model="enrollment.profile.address.locality" ng-required="true" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.locality.$invalid " data-toggle="tooltip" data-placement="top" title="Suburb, locality or town is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.state.$invalid}">
                                                        <label for="state" class="control-label">State / territory</label>

                                                        <select class="form-control" id ="state" name ="state" ng-model="enrollment.profile.address.state" ng-required="true" ng-options="i as i for i in selectState(enrollment.profile.address.country)">
                                                            <option value="">Select State</option>
                                                        </select>
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.state.$invalid " data-toggle="tooltip" data-placement="top" title="State is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.postal_code.$invalid}">
                                                        <label for="postcode" class="control-label">Postcode</label>
                                                        <input type="text" id="postal_code" name="postal_code" ng-model="enrollment.profile.address.postal_code" ng-required="true" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.postal_code.$invalid " data-toggle="tooltip" data-placement="top" title="Postcode is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.country.$invalid}">
                                                        <label for="country" class="control-label">Country</label>
                                                        <select class="form-control" id="country" name ="country" ng-model="enrollment.profile.address.country" ng-required="true" ng-options="i as i for i in countries">
                                                            <option value="">Select Country</option>
                                                        </select>
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.country.$invalid " data-toggle="tooltip" data-placement="top" title="Country is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <input type="checkbox" checked value="1" id="postalAddress" ng-true-value="1" ng-false-value="0" name="postalAddress" ng-model="enrollment.profile.postalAddress" class="custom-input"><label for="postalAddress"> My Postal Address is same as above</label>
                                                    </div>                                                
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                    <!-- Address Section END'S Hear-->
                                    <fieldset>
                                        <div id="postalAddressForm" ng-show="enrollment.profile.postalAddress == '0'">
                                            <h2 class="page-header">Your Postal Address</h2>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <p class="text-center">Type and search for your address and we'll automatically fill the details below.</p>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                                                            <input id="autocomplete_postal" placeholder="Search city, state, suburb or postcode" class="form-control input-md" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="divider col-md-12 col-xs-12">
                                                    <p>OR</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.propertyName_postal.$invalid}">
                                                        <label for="propertyName" class="control-label">Building / Property name</label>
                                                        <input type="text" id="propertyName_postal" name="propertyName_postal" ng-model="enrollment.profile.postal.propertyName" ng-required="!enrollment.profile.postalAddress" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.propertyName_postal.$invalid " data-toggle="tooltip" data-placement="top" title="Building / Property name is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.unitDetails_postal.$invalid}">
                                                        <label for="unitDetails" class="control-label">Flat / Unit details</label>
                                                        <input type="text" id="unitDetails_postal" name="unitDetails_postal" ng-model="enrollment.profile.postal.unitDetails" ng-required="!enrollment.profile.postalAddress" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.unitDetails_postal.$invalid " data-toggle="tooltip" data-placement="top" title="Flat / Unit details is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.street_number_postal.$invalid}">
                                                        <label for="street_number" class="control-label">Street or lot number</label>
                                                        <input type="text" id="street_number_postal" name="street_number_postal" ng-model="enrollment.profile.postal.street_number" ng-required="!enrollment.profile.postalAddress" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.street_number_postal.$invalid " data-toggle="tooltip" data-placement="top" title="Street or lot number is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.route_postal.$invalid}">
                                                        <label for="streetName" class="control-label">Street name</label>
                                                        <input type="text" id="route_postal" name="route_postal" ng-model="enrollment.profile.postal.route" ng-required="!enrollment.profile.postalAddress" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.route_postal.$invalid " data-toggle="tooltip" data-placement="top" title="Street name is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.locality_postal.$invalid}">
                                                        <label for="suburb" class="control-label">Suburb, locality or town</label>
                                                        <input type="text" id="locality_postal" name="locality_postal" ng-model="enrollment.profile.postal.locality" ng-required="!enrollment.profile.postalAddress" class="form-control">
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.locality_postal.$invalid " data-toggle="tooltip" data-placement="top" title="Suburb, locality or town is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.state_postal.$invalid}">
                                                        <label for="state" class="control-label">State / territory</label>
                                                        <input type="hidden" class="form-control" id ="administrative_area_level_1_postal"></select>
                                                        <select class="form-control" id ="state_postal"  name="state_postal" ng-model="enrollment.profile.postal.state" ng-required="!enrollment.profile.postalAddress" ng-options="i as i for i in selectState(enrollment.profile.address.country)">
                                                            <option value="">Select State</option>
                                                        </select>
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.state_postal.$invalid " data-toggle="tooltip" data-placement="top" title="State / territory is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.postal_code_postal.$invalid}">
                                                        <label for="postcode" class="control-label">postcode</label>
                                                        <input type="text" id="postal_code_postal" name="postal_code_postal" ng-model="enrollment.profile.postal.postal_code" ng-required="!enrollment.profile.postalAddress" class="form-control">
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.postal_code_postal.$invalid " data-toggle="tooltip" data-placement="top" title="postcode is required"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : profileForm.country_postal.$invalid}">
                                                        <label for="country" class="control-label">Country</label>
                                                        <select class="form-control" id="country_postal" name="country_postal" ng-model="enrollment.profile.postal.country" ng-required="!enrollment.profile.postalAddress" ng-options="i as i for i in countries">
                                                            <option value="">Select Country</option>
                                                        </select>
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="profileForm.country_postal.$invalid " data-toggle="tooltip" data-placement="top" title="Country is required"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- Previous and Next Btn's Starts here-->

                                    <div class="btn-auto-group">
                                        <button type="button" class="btn btn-primary pull-right"  ng-disabled="profileForm.$invalid" ng-click="profileForm.$valid && proceedNext(0)">Next: Language and Diversity <i class="zmdi zmdi-chevron-right zmdi-hc-lg"></i></button>
                                    </div>
                                    <!-- Previous and Next Btn's Ends here-->
                                </div>
                                <!-- 1st Page Ends Here -->

                                <!-- 2nd Page Starts Here -->
                                <div class="item" ng-form name="languageForm">
                                    <!-- Language and cultural diversity Section STARTS here-->
                                    <fieldset>
                                        <h2 class="page-header">Language and cultural diversity</h2>
                                        {#      <div ng-bind="languageForm.$error"></div>
                                              <ul>
                                                  <li ng-repeat="(key, errors) in languageForm.$error track by $index"> <strong>{[{ key }]}</strong> errors
                                                      <ul>
                                                          <li ng-repeat="e in errors">{[{ e.$name }]} has an error: <strong>{[{ key }]}</strong>.</li>
                                                      </ul>
                                                  </li>
                                              </ul>#}
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <div class="form-group" ng-class="{ 'has-error' : languageForm.country2.$invalid}">
                                                    <p><label for="country">In which country were you born?</label></p>
                                                    <select class="form-control" id="country2" name ="country2" ng-model="enrollment.language.country" ng-required="true" ng-options="i as i for i in countries">
                                                        <option value="">Select Country</option>
                                                    </select>
                                                     <i class="zmdi zmdi-alert-triangle" ng-show="languageForm.country2.$invalid " data-toggle="tooltip" data-placement="top" title="Country is required"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group" ng-class="{ 'has-error' : enrollment.language.speakOther === '' || enrollment.language.speakOther === undefined}">
                                                    <p><label>Do you speak a language other than English at home?</label></p>
                                                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                                                        
                                                        <label class="btn btn-default" for="langauge" data-collapse="hide" data-target="#LanguageSpoken" ng-model="enrollment.language.speakOther" ng-required="true" uib-btn-radio="0">
                                                            <input type="radio" name="langauge">
                                                            <span>No, English only</span>
                                                        </label>
                                                        <label class="btn btn-default" for="langauge" ng-model="enrollment.language.speakOther" ng-required="true" uib-btn-radio="1">
                                                            <input type="radio" name="langauge">
                                                            <span>Yes, Please specify</span>
                                                        </label>
                                                       
                                                    </div>
                                                     <i class="zmdi zmdi-alert-triangle" ng-show="enrollment.language.speakOther === '' || enrollment.language.speakOther === undefined " data-toggle="tooltip" data-placement="top" title="Do you speak a language other than English at home is required"></i>
                                                        <div id="LanguageSpoken" ng-show="enrollment.language.speakOther == 1" ng-class="{ 'form-group has-error' : languageForm.speakLanguage.$invalid}">
                                                            <input name="speakLanguage" id="speakLanguage" type="text" class="form-control" ng-model="enrollment.language.speakLanguage" ng-required="enrollment.language.speakOther == 1">
                                                            <i class="zmdi zmdi-alert-triangle" ng-show="languageForm.speakLanguage.$invalid " data-toggle="tooltip" data-placement="top" title="Please specify language is required"></i>
                                                        </div>
                                                     
                                                </div>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : enrollment.language.speakEnglish === '' || enrollment.language.speakEnglish === undefined}">
                                                        <p><label class="clear">How well do you speak English?</label></p>
                                                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                                                            
                                                            <label class="btn btn-default" for="speakEnglish" ng-model="enrollment.language.speakEnglish" ng-required="true" uib-btn-radio="'Very Well'">
                                                                <input type="radio" name="speakEnglish"> <span>Very well</span>
                                                            </label>
                                                            <label class="btn btn-default" for="speakEnglish" ng-model="enrollment.language.speakEnglish" ng-required="true" uib-btn-radio="'Well'">
                                                                <input type="radio" name="speakEnglish"> <span>Well</span>
                                                            </label>
                                                            <label class="btn btn-default" for="speakEnglish" ng-model="enrollment.language.speakEnglish" ng-required="true" uib-btn-radio="'Not well'">
                                                                <input type="radio" name="speakEnglish"> <span>Not well</span>
                                                            </label>
                                                            <label class="btn btn-default" for="speakEnglish" ng-model="enrollment.language.speakEnglish" ng-required="true" uib-btn-radio="'Not at all'">
                                                                <input type="radio" name="speakEnglish"> <span>Not at all</span>
                                                            </label>
                                                        </div>
                                                         <i class="zmdi zmdi-alert-triangle" ng-show="enrollment.language.speakEnglish === '' || enrollment.language.speakEnglish === undefined" data-toggle="tooltip" data-placement="top" title="How well do you speak English is required"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : enrollment.language.aboriginal === '' || enrollment.language.aboriginal === undefined}">
                                                        <p><label class="clear">Are you of Aboriginal or Torres Strait Islander origin?</label></p>
                                                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                                                            
                                                            <label class="btn btn-default" for="aboriginal" ng-model="enrollment.language.aboriginal" ng-required="true" uib-btn-radio="'No'">
                                                                <input type="radio" name="aboriginal"> <span>No</span>
                                                            </label>
                                                            <label class="btn btn-default" for="aboriginal" ng-model="enrollment.language.aboriginal" ng-required="true" uib-btn-radio="'Yes, Aboriginal'">
                                                                <input type="radio" name="aboriginal"> <span>Yes, Aboriginal</span>
                                                            </label>
                                                            <label class="btn btn-default" for="aboriginal" ng-model="enrollment.language.aboriginal" ng-required="true" uib-btn-radio="'Yes, Torres Strait Islander'">
                                                                <input type="radio" name="aboriginal"> <span>Yes, Torres Strait Islander</span>
                                                            </label>
                                                        </div>
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="enrollment.language.aboriginal === '' || enrollment.language.aboriginal === undefined " data-toggle="tooltip" data-placement="top" title="Are you of Aboriginal or Torres Strait Islander origin is required"></i>
                                                    </div>
                                                </div>
                                            </div>
                                    </fieldset>
                                    <!-- Langugage and cultural diversity END's Here -->

                                    <!-- Disability Section STARTS Here-->
                                    <fieldset>
                                        <h2 class="page-header">Disability</h2>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group" ng-class="{ 'has-error' : enrollment.language.disability === '' || enrollment.language.disability === undefined}">
                                                    <p><label class="clear">Do you consider yourself to have a disability, impairment or long-term condition?</label></p>
                                                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                                                        
                                                        <label class="btn btn-default" for="disability" data-target="#DisabilityCollapse" ng-model="enrollment.language.disability" ng-required="true" uib-btn-radio="1">
                                                            <input type="radio" name="disability"> <span>Yes</span>
                                                        </label>
                                                        <label class="btn btn-default" for="disability" data-parent="#accordion" data-target="#DisabilityCollapse" ng-click="selectDisability()" ng-model="enrollment.language.disability" ng-required="true" uib-btn-radio="0">
                                                            <input type="radio" name="diabilisty"> <span>No</span>
                                                        </label>
                                                    </div>
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="enrollment.language.disability === '' || enrollment.language.disability === undefined" data-toggle="tooltip" data-placement="top" title="Do you consider yourself to have a disability, impairment or long-term condition is required"></i>
                                                </div>
                                            </div>
                                            <!-- Disability Options STARTS Here-->
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div id="DisabilityCollapse" class="" ng-show="enrollment.language.disability == 1 ">
                                                    <div class="disability-options">
                                                        <p>Please select from the list below the area(s) of disability, impairment or long-term condition (select as many as applicable):</p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                            <div class="form-group" ng-class="{ 'has-error' : (enrollment.language.disability == 1) && (disabilityAreasNumber < 1)}">
                                                                <span  ng-repeat="(key, value) in disabilityElement">
                                                                    <input type="checkbox" class="custom-input" name="disability_{[{value.id}]}" id="disability_{[{key}]}" ng-model="enrollment.language.disabilityAreas[value.id]" ng-true-value="true" ng-false-value="false" ng-required="(enrollment.language.disability == 1) && (disabilityAreasNumber < 1)" >
                                                                    <label for="disability_{[{key}]}"> {[{value.type}]}</label>
                                                                </span>
                                                                <i class="zmdi zmdi-alert-triangle" ng-show="(enrollment.language.disability == 1) && (disabilityAreasNumber < 1) " data-toggle="tooltip" data-placement="top" title="Please select minimum one from disability, impairment or long-term condition"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Disability Options STARTS Here-->
                                        </div>
                                    </fieldset>
                                    <!-- Disability Section END'S Here-->

                                    <!-- Previous and Next Btn's Starts here-->
                                    <div class="btn-auto-group">
                                        <button type="button" class="btn btn-default" ng-click="formSlideTo(0)"><i class="zmdi zmdi-chevron-left zmdi-hc-lg"></i> Back to: Personal Details </button>

                                        <button type="button" class="btn btn-primary" ng-disabled="languageForm.$invalid" ng-click="languageForm.$valid && proceedNext(1)">Next: Schooling and Achievements <i class="zmdi zmdi-chevron-right zmdi-hc-lg"></i> </button>
                                    </div>
                                    <!-- Previous and Next Btn's Ends here-->
                                </div>
                                <!-- 2nd Page Ends Here -->

                                <!-- 3rd Page Starts Here -->
                                <div class="item schooling-achievements" ng-form name="schoolingForm">
                
                                    {#<ul>
                                        <li ng-repeat="(key, errors) in schoolingForm.$error track by $index"> <strong>{[{ key }]}</strong> errors
                                            <ul>
                                                <li ng-repeat="e in errors">{[{ e.$name }]} has an error: <strong>{[{ key }]}</strong>.</li>
                                            </ul>
                                        </li>
                                    </ul>#}
                                    <!-- Schooling Section STARTS here-->
                                    <h2 class="page-header">Schooling</h2>
                                    <div class="row">
                                        <!--<div class="col-xs-12"><span>What is your highest COMPLETED school level. Choose only one:</span></div>-->
                                        <div class="col-xs-12 col-md-7">
                                            <div class="form-group" ng-class="{ 'has-error' : schoolingForm.highest.$invalid}">
                                                <p><label for="schooling">What is your highest COMPLETED school level. Choose only one:</label></p>
                                                <select class="form-control" id="schooling" name="highest" ng-model="enrollment.schooling.highest" >
                                                    <option value="">Select highest COMPLETED school level</option>
                                                    <option value="Year 12 or equivalent">Year 12 or equivalent</option>
                                                    <option value="Year 11 or equivalent">Year 11 or equivalent</option>
                                                    <option value="Year 10 or equivalent">Year 10 or equivalent</option>
                                                    <option value="Year 9 or equivalent">Year 9 or equivalent</option>
                                                    <option value="Year 8 or equivalent">Year 8 or below</option>
                                                    <option value="Never attended school">Never attended school</option>
                                                </select>
                                                <i class="zmdi zmdi-alert-triangle" ng-show="schoolingForm.highest.$invalid" data-toggle="tooltip" data-placement="top" title="highest COMPLETED school level is required"></i>
                                            </div>
                                        </div>
                                        <div class="selectYear" ng-hide="enrollment.schooling.highest=='Never attended school' || enrollment.schooling.highest==''">
                                            <div class="col-xs-12 col-md-7">
                                                <div class="form-group" ng-class="{ 'has-error' : schoolingForm.selectYear.$invalid}">
                                                    <p><label for="selectYear">In which YEAR did you complete that school level?</label></p>
                                                    <select class="form-control" id="selectYear" name="selectYear" ng-model="enrollment.schooling.selectYear"  ng-options="n for n in [] | rangefromyear:1950"  ng-required="enrollment.schooling.highest != 'Never attended school'">
                                                        <option value="">Select Year</option>

                                                    </select>
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="schoolingForm.selectYear.$invalid" data-toggle="tooltip" data-placement="top" title="In which YEAR did you complete that school level is required"></i>
                                                </div>
                                                <div class="form-group" ng-class="{ 'has-error' : enrollment.schooling.highest != 'Never attended school' && (enrollment.schooling.stillseconday === '' || enrollment.schooling.stillseconday === undefined)}">
                                                    <p><label class="clear">Are you still attending secondary school?</label></p>
                                                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                                                        
                                                        <label class="btn btn-default" for="stillseconday" ng-model="enrollment.schooling.stillseconday" uib-btn-radio="'Yes'"  ng-required="enrollment.schooling.highest != 'Never attended school'">
                                                            <input type="radio" name="stillseconday"> <span>Yes</span>
                                                        </label>
                                                        <label class="btn btn-default" for="stillseconday" ng-model="enrollment.schooling.stillseconday" uib-btn-radio="'No'"  ng-required="enrollment.schooling.highest != 'Never attended school'">
                                                            <input type="radio" name="stillseconday"> <span>No</span>
                                                        </label>
                                                    </div>
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="enrollment.schooling.highest != 'Never attended school' && (enrollment.schooling.stillseconday === '' || enrollment.schooling.stillseconday === undefined)" data-toggle="tooltip" data-placement="top" title="Are you still attending secondary school is required"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Schooling Section Ends here-->

                                    <!-- Previous qualifications achieved Section STARTS here-->
                                    <fieldset>
                                        <h2 class="page-header">Previous qualifications achieved</h2>


                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <p><label for="bachelor">Have you SUCCESSFULLY completed any of the following qualifications? If yes, select as many as applicable.</label></p>
                                                    <span  ng-repeat="(key, value) in previousQualification">
                                                                    <input type="checkbox" class="custom-input" name="achievement_{[{value.id}]}" id="achievement_{[{key}]}" ng-model="enrollment.schooling.qualifications[value.id]" ng-true-value="true" ng-false-value="false" ng-change="qualificationChanged(value)" >
                                                                    <label for="achievement_{[{key}]}"> {[{value.name}]}</label>
                                                    </span>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- Previous qualifications achieved Section Ends here-->

                                    <!-- Previous and Next Btn's Starts here-->
                                    <div class="btn-auto-group">                                        
                                        <button type="button" class="btn btn-default"  ng-click="formSlideTo(1)"><i class="zmdi zmdi-chevron-left zmdi-hc-lg"></i> Back to: Language and cultural diversity</button>

                                        <button type="button" class="btn btn-primary" ng-disabled="schoolingForm.$invalid" ng-click="schoolingForm.$valid && proceedNext(2)">Next: Employment and USI <i class="zmdi zmdi-chevron-right zmdi-hc-lg"></i></button>
                                    </div>
                                    <!-- Previous and Next Btn's Ends here-->
                                </div>
                                <!-- 3rd Page Ends Here -->

                                <!-- 4th Page Starts Here -->
                                <div class="item employment-usi" ng-form name="employmentForm">
                                    <!-- Employment Section STARTS here-->
                                    <fieldset>
                                        <h2 class="page-header">Employment</h2>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-7">
                                                <div class="form-group" ng-class="{ 'has-error' : employmentForm.categories.$invalid}">
                                                    <label for="employment">Of the following categories, which BEST describes your current employment status?  (Choose one)</label>
                                                    <select class="form-control" id="employment" name="categories" ng-model="enrollment.employment.category" ng-required='true'>
                                                        <option value="Full-time employee">Full-time employee</option>
                                                        <option value="Part-time employee">Part-time employee</option>
                                                        <option value="Self-employed - not employing others">Self-employed - not employing others</option>
                                                        <option value="Employer">Employer</option>
                                                        <option value="Employed - unpaid worker in a family business">Employed - unpaid worker in a family business</option>
                                                        <option value="Unemployed - seeking full-time work">Unemployed - seeking full-time work</option>
                                                        <option value="Unemployed - seeking part-time work">Unemployed - seeking part-time work</option>
                                                        <option value="Not employed - not seeking employment">Not employed - not seeking employment</option>
                                                    </select>
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="employmentForm.categories.$invalid" data-toggle="tooltip" data-placement="top" title="Category is required"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- Employment Section Ends here-->

                                    <!-- Study reason Section STARTS here-->
                                    <fieldset>
                                        <h2 class="page-header">Study reason</h2>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-7">
                                                <div class="form-group" ng-class="{ 'has-error' : employmentForm.studyreason.$invalid}">
                                                    <label for="studyReason">Of the following categories, which BEST describes your main reason for undertaking this course/traineeship/apprenticeship?  (Choose one)</label>
                                                    <select class="form-control" id="studyReason" name="studyreason" ng-model="enrollment.employment.studyreason" ng-required='true'>
                                                        <option value="To get a job">To get a job</option>
                                                        <option value="To develop my existing business">To develop my existing business</option>
                                                        <option value="To start my own business">To start my own business</option>
                                                        <option value="To try for a different career">To try for a different career</option>
                                                        <option value="To get a better job promotion">To get a better job promotion</option>
                                                        <option value="It was a requirement for my job">It was a requirement for my job</option>
                                                        <option value="I wanted extra skills for my job">I wanted extra skills for my job</option>
                                                        <option value="To get into another course of study">To get into another course of study</option>
                                                        <option value="For personal interest or self-development">For personal interest or self-development</option>
                                                        <option value="Other reasons">Other reasons</option>
                                                    </select>
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="employmentForm.studyreason.$invalid" data-toggle="tooltip" data-placement="top" title="Reason is required"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- Study reason Section Ends here-->

                                    <!-- USI STARTS here-->
                                    <fieldset>

                                        <h2 class="page-header">Unique Student Identifier (USI)</h2>

                                        <blockquote>
                                            <p>From 1 January 2015, Get Qualified Australias partner RTOs can be prevented from issuing nationally recognised VET qualifications or statements of attainment to students if they do not have a <strong>Unique Student Identifier (USI).</strong></p>

                                            <p><a href="https://www.usi.gov.au/students/create-your-usi" target="_blank"><strong>Reference</strong>: https://www.usi.gov.au/students/create-your-usi&nbsp;&nbsp;<i class="zmdi zmdi-open-in-new zmdi-hc-lg"></i> </a></p>

                                            <p>To determine if you are required to have a USI, please answer the question below.</p>
                                        </blockquote>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <p><label class="clear">Are you currently based in Australia?</label></p>
                                                <div class="form-group" ng-class="{ 'has-error' : enrollment.employment.basedinaustralia === '' || enrollment.employment.basedinaustralia === undefined}">
                                                    
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-default" for="basedinaustralia" ng-model="enrollment.employment.basedinaustralia" ng-required="true" uib-btn-radio="1">
                                                            <input type="radio" name="basedinaustralia"> <span>Yes</span>
                                                        </label>
                                                        <label class="btn btn-default" for="basedinaustralia" ng-model="enrollment.employment.basedinaustralia" ng-required="true" uib-btn-radio="0" ng-click="resetEnrollDepends('basedinaustralia')">
                                                            <input type="radio" name="basedinaustralia"> <span>No</span>
                                                        </label>
                                                    </div>
                                                    <i class="zmdi zmdi-alert-triangle" ng-show="enrollment.employment.basedinaustralia === '' || enrollment.employment.basedinaustralia === undefined" data-toggle="tooltip" data-placement="top" title="Are you currently based in Australia is required"></i>
                                                </div>
                                                <div id="australiaBaseYes" ng-show="enrollment.employment.basedinaustralia == 1">
                                                    <div class="form-group" ng-class="{ 'has-error' : enrollment.employment.internationalstudent === '' || enrollment.employment.internationalstudent === undefined}">
                                                        <p><label class="clear">Are you an international student undertaking your entire VET course outside Australia (otherwise known as offshore training)?</label></p>
                                                        <div class="btn-group" data-toggle="buttons">
                                                            
                                                            <label class="btn btn-default" for="internationalstudent" ng-model="enrollment.employment.internationalstudent" ng-required="enrollment.employment.basedinaustralia == 1" uib-btn-radio="1" ng-click="resetEnrollDepends('internationalstudent')">
                                                                <input type="radio" name="internationalstudent"> <span>Yes</span>
                                                            </label>
                                                            <label class="btn btn-default" for="internationalstudent" ng-model="enrollment.employment.internationalstudent" ng-required="enrollment.employment.basedinaustralia == 1" uib-btn-radio="0">
                                                                <input type="radio" name="internationalstudent"> <span>No</span>
                                                            </label>
                                                        </div> 
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="enrollment.employment.internationalstudent === '' || enrollment.employment.internationalstudent === undefined" data-toggle="tooltip" data-placement="top" title="Field is required"></i>
                                                    </div>
                                                </div>

                                                <div id="nextStep" ng-show="enrollment.employment.internationalstudent == 1 || enrollment.employment.basedinaustralia == '0'">
                                                    <div class="alert alert-success col-xs-9" role="alert">
                                                        You are <strong>NOT REQUIRED</strong> to get a USI.  You can proceed to the next step
                                                    </div>
                                                </div>

                                                <div id="StudentIdentifiersRegistrar"  ng-show="enrollment.employment.internationalstudent == '0' && enrollment.employment.basedinaustralia == 1">
                                                    <div class="form-group" ng-class="{ 'has-error' : enrollment.employment.haveusi === '' || enrollment.employment.haveusi === undefined}">
                                                        <p><label class="clear">Have you applied for and obtained an individual exemption from the Student Identifiers Registrar in being assigned a USI?</label></p>
                                                        <div class="btn-group" data-toggle="buttons">
                                                            
                                                            <label class="btn btn-default" for="haveusi" ng-model="enrollment.employment.haveusi" ng-required="enrollment.employment.internationalstudent == '0'" uib-btn-radio="1">
                                                                <input type="radio" name="haveusi"> <span>Yes</span>
                                                            </label>
                                                            <label class="btn btn-default" for="haveusi" ng-model="enrollment.employment.haveusi" ng-required="enrollment.employment.internationalstudent == '0'" uib-btn-radio="0" ng-click="resetEnrollDepends('haveusi')">
                                                                <input type="radio" name="haveusi"> <span>No</span>
                                                            </label>
                                                        </div>
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="enrollment.employment.haveusi === '' || enrollment.employment.haveusi === undefined" data-toggle="tooltip" data-placement="top" title="Field is required"></i>
                                                    </div>
                                                </div>
                                                <div id="UsiNextStep" ng-show="enrollment.employment.haveusi == 1">
                                                    <div class="alert alert-success col-xs-9" role="alert">
                                                        You are <strong>NOT REQUIRED</strong> to get a USI.  You can proceed to the next step
                                                    </div>
                                                </div>
                                                <div id="UsiCollapseNoRequired" ng-show="enrollment.employment.haveusi == '0' && enrollment.employment.internationalstudent == '0' && enrollment.employment.basedinaustralia == 1">
                                                    <div class="form-group" ng-class="{ 'has-error' : enrollment.employment.applyusi === '' || enrollment.employment.applyusi === undefined}">
                                                        <div class="alert alert-warning">
                                                            <p>You are <strong>REQUIRED</strong> to get a USI.  You can create one from
                                                                <a href="https://www.usi.gov.au/students/create-your-usi" target="_blank">http://www.usi.gov.au/create-your-USI/</a>
                                                            </p>
                                                        </div>
                                                        <p>
                                                            <strong>Alternatively, our partner RTO can apply for a USI on your behalf.</strong> To do this, you must authorise Get Qualified Australia to do this and declare that you have read the privacy information at <a href="http://www.usi.gov.au/Training-Organisations/Pages/Privacy-Notice.aspx." target="_blank">http://www.usi.gov.au/Training-Organisations/Pages/Privacy-Notice.aspx.</a>  Additionally, you need to download and submit to us a form that requires your signature. 
                                                        </p>
                                                        <p><label class="clear">Would you like for us to apply for your USI on your behalf?</label></p>
                                                        <div class="btn-group" data-toggle="buttons">
                                                            
                                                            <label class="btn btn-default" for="applyusi" ng-model="enrollment.employment.applyusi" ng-required="enrollment.employment.haveusi == '0'" uib-btn-radio="1" ng-click="resetEnrollDepends('applyusi')">
                                                                <input type="radio" name="applyusi"> <span>Yes</span>
                                                            </label>
                                                            <label class="btn btn-default" for="applyusi" ng-model="enrollment.employment.applyusi" ng-required="enrollment.employment.haveusi == '0'" uib-btn-radio="0">
                                                                <input type="radio" name="applyusi"> <span>No</span>
                                                            </label>
                                                        </div>
                                                        <i class="zmdi zmdi-alert-triangle" ng-show="enrollment.employment.applyusi === '' || enrollment.employment.applyusi === undefined" data-toggle="tooltip" data-placement="top" title="Field is required"></i>
                                                    </div>
                                                </div>
                                                <div id="UsiDownloadPDF" ng-show="enrollment.employment.applyusi == 1">
                                                    <div class="row">  
                                                        <div class="col-xs-9">
                                                            <p>Please download this PDF, answer the questions, sign it, and save it. </p>
                                                            <a href="{{ asset('public/ui/img/download-pdf.png') }}" target="_blank"><img src="{{ asset('public/ui/img/download-pdf.png') }}" alt="downloadPDF" title="downloadPDF" width="120px"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="UsiEnter" ng-show="enrollment.employment.applyusi == '0' && enrollment.employment.haveusi == '0' && enrollment.employment.internationalstudent == '0' && enrollment.employment.basedinaustralia == 1">  
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                                                            <p>Enter your 10-digit Unique Student identifier (if you already have one)</p>
                                                            <div class="form-group" ng-class="{ 'has-error' : employmentForm.usiField.$invalid}">
                                                                <label for="firstName" class="control-label">Unique Student Identifier (USI)</label>
                                                                <div class="usi-input">
                                                                    <input type="text" class="hidden" id="usiField" name="usiField" ng-model="enrollment.employment.usi" ng-minlength="10" ng-maxlength="10" usi-input ng-required="enrollment.employment.applyusi == '0'"  readonly/>

                                                                    <!-- USI UI -->
                                                                    <div class="usi-input-body" id="usiInputBody" ng-class="{'has-error':employmentForm.usiField.$invalid}">
                                                                        <i class="pseudo-input"><input type="text" maxlength="1" ng-model="enrollment.employment.usiPart[0]" ></i>
                                                                        <i class="pseudo-input"><input type="text" maxlength="1" ng-model="enrollment.employment.usiPart[1]" ></i>
                                                                        <i class="pseudo-input"><input type="text" maxlength="1" ng-model="enrollment.employment.usiPart[2]" ></i>
                                                                        <i class="pseudo-input"><input type="text" maxlength="1" ng-model="enrollment.employment.usiPart[3]" ></i>
                                                                        <i class="pseudo-input"><input type="text" maxlength="1" ng-model="enrollment.employment.usiPart[4]" ></i>
                                                                        <i class="pseudo-input"><input type="text" maxlength="1" ng-model="enrollment.employment.usiPart[5]" ></i>
                                                                        <i class="pseudo-input"><input type="text" maxlength="1" ng-model="enrollment.employment.usiPart[6]" ></i>
                                                                        <i class="pseudo-input"><input type="text" maxlength="1" ng-model="enrollment.employment.usiPart[7]" ></i>
                                                                        <i class="pseudo-input"><input type="text" maxlength="1" ng-model="enrollment.employment.usiPart[8]" ></i>
                                                                        <i class="pseudo-input"><input type="text" maxlength="1" ng-model="enrollment.employment.usiPart[9]" ></i>
                                                                    </div>
                                                                    <!-- USI UI -->
                                                                </div>
                                                                <i class="zmdi zmdi-alert-triangle" ng-show="employmentForm.usiField.$invalid" data-toggle="tooltip" data-placement="top" title="USI is required"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- USI Options Ends Here-->
                                        </div>
                                    </fieldset>
                                    <!-- USI Ends here-->

                                    <!-- Previous and Next Btn's Starts here-->
                                    <div class="btn-auto-group">
                                        <button type="button" class="btn btn-default" ng-click="formSlideTo(2)"><i class="zmdi zmdi-chevron-left zmdi-hc-lg"></i> Back to: Schooling and Achievements</button>

                                        <button type="button" class="btn btn-primary"  ng-disabled="employmentForm.$invalid" ng-click="employmentForm.$valid && proceedNext(3)">Last Step: Upload ID Files <i class="zmdi-zmdi-chevron-left zmdi-hc-lg"></i> </button>
                                    </div>
                                    <!-- Previous and Next Btn's Ends here-->

                                </div>
                                <!-- 4th Page Ends Here -->

                                <!-- 5th Page Starts Here -->
                                <div class="item upload-id">
                                    <fieldset>
                                        <h2 class="page-header">Upload ID Files</h2>    
                                        <div class="form-group">
                                            <section class="upload-control" data-toggle="modal" data-target="#uploadIdFiles" ng-hide="enrollment.upload.uploadId.length > 0">
                                                <div class="upload-control-content">
                                                    <img src="{{ asset('public/ui/img/id.svg') }}" alt="ID" class="upload-icon">
                                                    <p class="upload-text">100 Points of Identification is needed so we're<br/> sure we're recognising the right person</p>
                                                    <button type="button" class="btn btn-link btn-lg">
                                                        <i class="zmdi zmdi-plus-square"></i> Upload your first ID now
                                                    </button>
                                                    <!-- <input class="upload-control-input" type="file" id="uploadID"> -->
                                                </div>
                                            </section>

                                            <section class="consolidated-id-files" ng-show="enrollment.upload.uploadId.length > 0">
                                                <div class="progress-header">
                                                    <div class="progress-tag progress-tag-danger pull-left">
                                                        <progress role="progress" value="{[{getTotalCompleted()}]}" max="100"><img class="fallback" width="30"></progress>
                                                        <figcaption data-value="{[{getTotalCompleted()}]}" data-unit="/100" class="progress-details"> ID POINTS</figcaption>
                                                    </div>

                                                    <button type="button" class="btn btn-link btn-lg pull-right" data-toggle="modal" data-target="#uploadIdFiles"><i class="zmdi zmdi-upload zmdi-hc-lg zmdi-hc-fw"></i> Upload an ID</button>
                                                </div>
                                                <table class="table table-crud">
                                                    <thead>
                                                        <tr>
                                                            <th>ID Points</th>
                                                            <th colspan="2">ID Submitted</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="id-files-body">
                                                        <tr ng-repeat="(key, uploadId) in enrollment.upload.uploadId">
                                                            <td><span class="points">{[{uploadId.type.point}]}</span></td>
                                                            <td>
                                                                <div class="progress-tag progress-tag-success" ng-if="uploadId.status != 'completed'">
                                                                    <progress role="progress" value="{[{uploadId.percentageCompleted}]}" max="100"><img class="fallback" width="30"></progress>
                                                                    <figcaption data-value="{[{uploadId.percentageCompleted}]}" data-unit="%" class="progress-details"></figcaption>
                                                                </div>
                                                                <label>{[{uploadId.file.name}]}</label>
                                                                <small class="text-uppercase text-muted">{[{uploadId.type.type}]}</small>
                                                            </td>
                                                            <td class="table-controls">
                                                                <!-- Display this if item is being uploaded -->
                                                                <button type="button" class="btn btn-default btn-xs" ng-if="uploadId.status != 'completed'" ng-click="cancelUpload(key)">
                                                                    <i class="zmdi zmdi-close zmdi-hc-lg"></i> Cancel Upload
                                                                </button>
                                                                <!-- Display this if item is being uploaded -->

                                                                <!-- Only display this if file's already in the server -->
                                                                <button type="button" class="btn btn-link" ng-if="uploadId.status == 'completed'" ng-click="removeUpload(key)"><i class="zmdi zmdi-delete zmdi-hc-lg"></i> Remove</button>
                                                                <!-- Only display this if file's already in the server -->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </section>

                                        </div>
                                    </fieldset>


                                    <!-- Previous and Next Btn's Starts here-->
                                    <div class="btn-auto-group">
                                        <button type="button" class="btn btn-default" ng-click="formSlideTo(3)"><i class="zmdi zmdi-chevron-left zmdi-hc-lg"></i> Back to: Employment &amp; USI</button>

                                        <button type="button" class="btn btn-primary" ng-click="submitEnrolment()" ng-disabled="getTotalCompleted() < 100 || isUploadInProgress()">Submit Enrolment Form</button>
                                    </div>
                                    <!-- Previous and Next Btn's Ends here-->

                                </div>
                                <!-- 5th Page Ends Here -->
                            </div>
                        </div>
                    </form>
                    <!-- end widget div -->
                </div>
            </div>
            <!-- Put content here -->

        </div>
               
    </main>
                                                        
                                                        
                                                            <!-- Upload ID Files Modal Popup Start -->

                                                            <div id="uploadIdFiles" class="modal fade" role="dialog">
                                                                <div class="modal-dialog">
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" ng-click="closeUploadModal();"><i class="zmdi zmdi-close zmdi-hc-lg zmdi-hc-fw"></i></button>
                                                                            <h3 class="modal-title">Add an Identification File</h3>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="dropdown form-group dropdown-dynamic btn-block" style="width: 100%;">
                                                                               {# <button type="button" class="btn btn-default btn-lg btn-block text-left" data-toggle="dropdown">
                                                                                    <span class="dropdown-picker-selected" id="dropdownSelected" ng-model="uploaddropDown">What ID are you uploading?</span>
                                                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-lg"></i>
                                                                                </button>
                                                                                <ul class="dropdown-menu" data-toggle="dropdown-picker">
                                                                                    <li ng-repeat="documentType in documentTypes"><a href>{[{documentType.type}]}</a></li>
                                                                                </ul>#}
                                                                               <ui-select ng-model="enrollment.upload.type" theme="" title="What ID are you uploading?" style="width: 100%;">
                                                                                   <ui-select-match placeholder="What ID are you uploading?">{[{$select.selected.type}]}</ui-select-match>
                                                                                   <ui-select-choices group-by="'pointDisplay'" repeat="documentType in documentTypes | propsFilter: {type: $select.search, point: $select.search}">
                                                                                       <div ng-bind-html="documentType.type | highlight: $select.search"></div>
                                                                                   </ui-select-choices>
                                                                               </ui-select>
                                                                            </div>
                                                                            {#<select ng-options="documentType.type group by documentType.pointDisplay for documentType in documentTypes" ng-model="enrollment.upload.type">
                                                                                <option value=""> Select Document type </option>
                                                                            </select>#}

                                                                            <span></span>
                                                                            <section class="upload-control">
                                                                                <button type="button" class="btn btn-link btn-lg">
                                                                                    <i class="zmdi zmdi-upload zmdi-hc-2x center-block"></i>
                                                                                    <span class="center-block">Click to browse your files</span>
                                                                                </button>
                                                                                <input class="upload-control-input" type="file" id="uploadID" s3-upload 
                                                                                       control="uploadControl" 
                                                                                       progressbar = "progressbar(uploadingSize, uploadedSize, totalSize, fileNum)" 
                                                                                       uploadcomplete="uploadcomplete(data,obj)" 
                                                                                       uploadstarted="uploadstarted(file,fileNum,dataObj)"
                                                                                       uploadfailed="uploadfailed(msg)" 
                                                                                       validRegex ="/(\.jpg|\.jpeg|\.bmp|\.gif|\.png|\.rtf|\.pdf|\.csv|\.txt|\.zip|\.rar|\.arj|\.tar.gz|\.tgz|\.docx|\.xlsx|\.one|\.pub|\.pptx|\.doc|\.docx|\.vsdx|\.accdb|\.mdb|\.rpmsg|\.mso|\.xlsb|\.xls|\.xlsx|\.oft|\.asd|\.mpp|\.thmx|\.xlsm|\.snp|\.obi|\.pst|\.ost|\.olm|\.xsn|\.vsd|\.laccdb|\.dotx|\.docm|\.ppt|\.dot|\.accdr|\.xlam|\.mde|\.wbk|\.onepkg|\.pptm|\.xltx|\.xla|\.pip|\.accde|\.ppsm|\.ppsx|\.vss|\.slk|\.crtx|\.xlt|\.svd|\.xlb|\.xlm|\.xlw|\.grv|\.potx|\.xar|\.iaf|\.mpd|\.pa|\.pps|\.ops|\.dotm|\.pot|\.oab|\.acl|\.mdt|\.mpt|\.xltm|\.xl|\.ade|\.vst|\.ppam|\.xsf|\.accdt|\.mda|\.accdc|\.mdw|\.xll|\.mat|\.vdx|\.sldx|\.mar|\.ppa|\.accda|\.maf|\.puz|\.vsx|\.mam|\.prf|\.potm|\.wll|\.xlc|\.vtx|\.accdp|\.sldm|\.accdu|\.maq|\.xslb|\.h1q|\.cnv|\.maw)$/i"
                                                                                       >
                                                                            </section>

                                                                        </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-default" ng-click="closeUploadModal();" >Discard</button>
                                                                                <button type="button" class="btn btn-primary" ng-click="uploadIds()">Add ID</button>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Upload ID Files Modal Popup End -->

{% endblock %}
{% block stylesheets %}
<link href="{{ asset('public/css/select.min.css') }}" rel="stylesheet" /> 
{% endblock %} 
{% block javascripts %}    
    <!-- App -->
    <!-- Online Enrolment only -->
    <script src="{{ asset('public/ui/js/plugins/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/rpl-online-enrolment.js') }}"></script>
    <!--Phone Number Flag Plugin-->

    <!--Country select with States Plugin-->
    
    <script src = "{{ asset('public/js/underscore-min.js') }}"></script>
    <script src = "{{ asset('public/ui/js/plugins/countries.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/intlTelInput.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/utils.js') }}"></script>
    <script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
    <!-- Bootstrap Datepicker -->
    <script src="{{ asset('public/ui/js/plugins/moment.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/bootstrap-datetimepicker.js') }}"></script>

    <!-- places library for maps api -->

    <script src="{{ asset('public/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-animate.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-underscore.js') }}"></script>
    <script src="{{ asset('public/ui/js/ui-bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/s3Upload.js') }}"></script>
    <script src="{{ asset('public/js/angular/select.min.js') }}"></script>

    <script src="{{ asset('public/js/angular/app.js') }}"></script>
    <script src="{{ asset('public/js/angular/services/AjaxService.js') }}"></script>
    <script src="{{ asset('public/js/angular/directives/enrollDirectives.js') }}"></script>
    <script src="{{ asset('public/js/angular/filters/enrollFilters.js') }}"></script>
    <script src="{{ asset('public/js/angular/controllers/enrollmentCtlr.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhCdWqxWHuIpbRQ5o8MPlVNx1Bck_kgBI&libraries=places&callback=enrollmentAutocomplete" async defer></script>
{% endblock %}