{% extends 'revamp_base.html.twig' %}
{% block ngApp %} ng-app="gqAus" {% endblock%}
{% block ngController %} ng-controller="amQualificationCtlr"  id="amQualificationCtlr" {% endblock%}
{% block title %}GQ - RPL Qualification{% endblock %}
{% block ngtitle %}pageTitle{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/pages/all/modal.css') }}">
<link rel="stylesheet" href="{{ asset('public/css/pages/all/profile.css')}}">
<link href="{{ asset('public/css/select.min.css') }}" rel="stylesheet" /> 
<link href="{{ asset('public/css/package_rules.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %}
    {% set userId = courseDetails.user.getId() %} 
    {% set userObj = app.security.getToken().getUser() %}
    {% set userRole = userObj.getRoles() %}
    {% set courseCode = courseDetails.courseCode %}
    {% set courseInfo = courses_service.getCourseInfo(courseDetails.courseCode)%}
    {% set remaining = user_service.getDaysRemainingApplicant(userId, courseCode, userRole[0]) %}    
    {% set output = remaining|split('&&') %} 
    {% set courseStatus = user_service.getQualificationStatus()%}
    {% set courseApiInfo = courses_service.getUserCoursesInfo(courseCode)%} 
    {% set coreUnitsCnt = courseApiInfo.courseInfo.Units.Core.unit|default(0) %}
    {% set unitSubmitted = courses_service.getUnitsSubmittedbyCourse(userId, courseCode) %}
    {% set electiveUnitsCnt = courseApiInfo.courseInfo.Units.Elective.validation.requirement|default(0) %}
    {% set coreUnitsSubmittedPercent = (unitSubmitted['core']/coreUnitsCnt|length)*100 %}  
    {% set applicantId = courseDetails.user.id %}
    {% if electiveUnitsCnt > 0%}
        {% set electiveUnitsSubmittedPercent = (unitSubmitted['elective']/electiveUnitsCnt)*100 %}
    {% else %}
        {% set electiveUnitsSubmittedPercent = 0 %}
    {% endif %} 
    {% set totalElectiveUnitsCnt = courseApiInfo.courseInfo.Units.Elective.groups.group.unit|default(0) %}
    {% set loggedInUserRole = ('ROLE_FACILITATOR' in userRole) ? 'facilitator' : 'candidate' %}

    <main class="main-content-gqa" ng-init="qualificationPage = '{{qualificationPage}}';courseCode = '{{ courseCode }}';applicantId = '{{ applicantId }}';role = '{{ loggedInUserRole }}';">
        <div class="container">
            <div class="panel panel-default panel-qual-heading panel-avatar-tab">
                <div class="panel-heading-img">
                  {% set userImage = (courseDetails.user.userImage != '') ? amazon_link~'user-'~applicantId~'/'~courseDetails.user.userImage : 'public/ui/img/avatar-default.svg' %}
                    <div class="avatar"><img src="{{ userImage }}" alt="You"></div>
                </div>
                <div class="panel-heading">
                    <h3 class="h3 qual-title">{{ courseDetails.user.firstName }} {{ courseDetails.user.lastName }}<br>
                    <small class="small" style="font-size: 50%;">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-title="Message {{ courseDetails.user.firstName }}" data-placement="bottom" style="margin-top: -3px;">
                            <i class="zmdi zmdi-email zmdi-hc-lg zmdi-hc-fw"></i>
                        </button>&nbsp; |&nbsp;
                        GQA Profile since {{ courseDetails.user.created|date("d/m/y") }}
                    </small>
                    </h3>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="dropdown active">
                        <a href="#pagelink" class="dropdown-toggle" aria-controls="home" role="tab" data-toggle="dropdown">Qualifications <i class="caret"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">
                                <h4>Overview <br><small>Summary of enroled qualifications</small></h4>
                                </a>
                            </li>
                            {% for appCourseObj in applicantCourses %}
                                <li class="divider clearfix btn-block"></li>
                                <li class="dropdown-static-header" onClick='location.href="/applicantIndQual{{applicantId}}/{{appCourseObj.getCoursecode()}}"'><h4>{{appCourseObj.getCourseName()}}</h4></li>
                                <li><a href="/applicantunitlist/{{appCourseObj.getCoursecode()}}/{{applicantId}}/core">Core Units</a></li>
                                <li><a href="/applicantunitlist/{{appCourseObj.getCoursecode()}}/{{applicantId}}/elective">Elective Units</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li role="presentation">
                        <a href="/applicantProfile/{{applicantId}}" aria-controls="tab" role="tab">Profile</a>
                    </li>
                    <li role="presentation">
                        <a href="/enrollmentinfo/{{applicantId}}" aria-controls="tab" role="tab">Enrolment Info</a>
                    </li>
                </ul>
            </div>            
        </div>

        {% include 'GqAusHomeBundle:Courses:amElectiveUpload.html.twig' %}
        {% include 'GqAusHomeBundle:Courses:amCoreUpload.html.twig' %}
  
        <div class="container" ng-hide="IsLoaded">
            <div class="panel panel-default">
                <div class="panel-body" data-loader="true">
                    <section class="loader loading">
                        <i class="msk1"></i>
                        <i class="msk2"></i>
                        <i class="msk3"></i>
                    </section>
                </div>
            </div>
        </div>

    </main>

    <div class="modal fade modal-contact" id="contactProfile">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                    <h4 class="modal-title">Malou Wang</h4>
                </div> -->
                 
                <div class="modal-body clearfix">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                    <div class="avatar avatar-sm">
                        <img class="profile-img" src="#">
                    </div>
                    <div class="avatar-name">
                        <label class="h3"><span class="profile-name">Malou Wang</span></label>
                        <p class="profile-type">Account Manager</p>
                        <div class="avatar-info">
                            <ul class="list-unstyled">
                                <li><i class="zmdi zmdi-email"></i> <span class="profile-email"></span></li>
                                <li><i class="zmdi zmdi-smartphone-iphone"></i> <a href="tel:"><span class="profile-phone"></span></a></li>
                            </ul>
                        </div>

                        <span class="profile-message"><a href="{{ app.request.baseUrl }}/messages/compose" class="btn btn-success">Send Message&nbsp;&nbsp;<i class="zmdi zmdi-mail-send"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Elements and performance criteria -->
    <div class="modal fade" id="elementsPerformanceCriteria">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-hc-lg zmdi-close"></i></button>
                    <h4 class="modal-title">{[{details.title}]}</h4>
                </div>
                <div class="modal-body">
                    <div class="btn-auto-group btn-group">
                        <button type="button" class="btn btn-default" ng-if="operatingSys !== 'iOS'" ng-click="printElective(details)"><i class="zmdi zmdi-print zmdi-hc-lg zmdi-hc-fw"></i> Print</button>
                        <button type="button" class="btn btn-default" ng-click="downloadElective(details)"><i class="zmdi zmdi-download zmdi-hc-lg zmdi-hc-fw"></i> Download PDF</button>
                    </div>
                    <div id="detailsElective" class="table-from-api table-striped content-from-api clearfix" ng-bind-html="unitDetails[selectedUnit][details.detailsType]"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Elements and performance criteria -->


    <!-- File Preview -->
    <div class="modal fade modal-file-preview" tabindex="-1" role="dialog" id="filePreview">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-hc-lg zmdi-close"></i></button>
                    <h4 class="modal-title">Preview</h4>
                </div>
                <div class="modal-body clearfix" >
                     <gq-audio ng-if="evidenceView.type ==='audio'" datapath="{[{evidenceView.s3Path}]}"></gq-audio>
                    <gq-video ng-if="evidenceView.type ==='video'" datapath="{[{evidenceView.s3Path}]}" datatype="{[{evidenceview.mimeType}]}" ></gq-video>
                    <img ng-if="evidenceView.type === 'image'" src="{[{evidenceView.s3Path}]}" alt="{[{evidenceView.name}]}" class="img img-responsive">
                </div>
                <div class="modal-footer">
                    <strong class="center-block text-left">{[{evidenceView.name}]}</strong>
                </div>
            </div>
        </div>
    </div>
    <!-- File Preview -->

    <!-- Upload Evidences Files Modal Popup Start -->
    <div class="modal fade modal-upload-evidence" id="uploadEvidence" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close zmdi-hc-lg zmdi-hc-fw"></i></button>
                    <h3 class="modal-title">Upload Evidence</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="progress-tag progress-tag-default">
                                <progress role="progress" value="{[{(uploadDetails.totalUploadedSize/uploadDetails.maxUploadedSize)*100}]}" max="100"><img class="fallback" width="{[{(uploadDetails.totalUploadedSize/uploadDetails.maxUploadedSize)*100}]}"></progress>
                                <figcaption data-value="{[{(uploadDetails.maxUploadedSize-uploadDetails.totalUploadedSize) | bytesToSize:'size'}]}" data-unit=" {[{(uploadDetails.maxUploadedSize-uploadDetails.totalUploadedSize) | bytesToSize:'measure'}]}" class="progress-details">file space left</figcaption>
                            </div> 
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-link btn-transparent btn-help" data-toggle="collapse" data-target="#collapseEvidenceHelp" aria-expanded="false" aria-controls="collapseEvidenceHelp">
                                <i class="zmdi zmdi-help zmdi-hc-2x center-block"></i> HELP
                            </button>

                            <div id="collapseEvidenceHelp" class="panel-collapse evidence-help collapse">

                                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseEvidenceHelp" aria-expanded="false" aria-controls="collapseEvidenceHelp"><i class="zmdi zmdi-hc-lg zmdi-arrow-left"></i> Back</button>

                                <h4 class="page-header">What types of evidences can I upload?</h4>
                                <ul>
                                    <li>Resume, references &amp; job descriptions</li>
                                    <li>Word samples, memos, letters, reports</li>
                                    <li>Photographic and video evidence</li>
                                    <li>Education, training and qualifications</li>
                                </ul>
                                <hr>
                                <h4 class="page-header">List of files types accepted</h4>
                                <p>
                                    You are allowed to upload specific file types with an allotted 30GB per Applicant.
                                </p>
                                <ul>
                                    <li>pdf, html</li>
                                    <li>doc, docx, xls, xlsx, csv</li>
                                    <li>txt, rtf, zip</li>
                                    <li>mp3, wma, mpg, flv, avi</li>
                                    <li>jpg, jpeg, png, gif</li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                       <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#browseDirectory" aria-controls="browseDirectory" role="tab" data-toggle="tab" ng-click="pageStats.isLibrary = false; ">Browse your files</a>
                            </li>
                            <li role="presentation">
                                <a href="#browseEvidenceLibrary" aria-controls="tab" role="tab" data-toggle="tab" ng-click="pageStats.isLibrary = true;">Browse your Evidence Library</a>
                            </li>
                        </ul>
                    
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="browseDirectory">
                                <section class="upload-control">
                                    <button type="button" class="btn btn-link btn-lg">
                                        <i class="zmdi zmdi-upload zmdi-hc-2x center-block"></i>
                                        <span class="center-block">Click to browse your files</span>
                                    </button>
                                    <input class="upload-control-input" type="file" id="uploadID" s3-upload 
                                           multiple="multiple" 
                                           control="uploadControl" 
                                           progressbar = "progressbar(uploadingSize, uploadedSize, totalSize, fileNum)" 
                                           uploadcomplete="uploadcomplete(data,obj)" 
                                           uploadstarted="uploadstarted(file,fileNum,dataObj)"
                                           uploadfailed="uploadfailed(msg)" 
                                           validRegex ="/(\.jpg|\.jpeg|\.bmp|\.gif|\.png|\.rtf|\.pdf|\.csv|\.txt|\.zip|\.rar|\.arj|\.tar.gz|\.tgz|\.docx|\.xlsx|\.one|\.pub|\.pptx|\.doc|\.docx|\.vsdx|\.accdb|\.mdb|\.rpmsg|\.mso|\.xlsb|\.xls|\.xlsx|\.oft|\.asd|\.mpp|\.thmx|\.xlsm|\.snp|\.obi|\.pst|\.ost|\.olm|\.xsn|\.vsd|\.laccdb|\.dotx|\.docm|\.ppt|\.dot|\.accdr|\.xlam|\.mde|\.wbk|\.onepkg|\.pptm|\.xltx|\.xla|\.pip|\.accde|\.ppsm|\.ppsx|\.vss|\.slk|\.crtx|\.xlt|\.svd|\.xlb|\.xlm|\.xlw|\.grv|\.potx|\.xar|\.iaf|\.mpd|\.pa|\.pps|\.ops|\.dotm|\.pot|\.oab|\.acl|\.mdt|\.mpt|\.xltm|\.xl|\.ade|\.vst|\.ppam|\.xsf|\.accdt|\.mda|\.accdc|\.mdw|\.xll|\.mat|\.vdx|\.sldx|\.mar|\.ppa|\.accda|\.maf|\.puz|\.vsx|\.mam|\.prf|\.potm|\.wll|\.xlc|\.vtx|\.accdp|\.sldm|\.accdu|\.maq|\.xslb|\.h1q|\.cnv|\.maw)$/i"
                                           >
                                </section>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="browseEvidenceLibrary">
                                <div class="evidence-controls">
                                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                                        <label class="btn btn-transparent active" for="gridView" ng-click="pageStats.libraryView = 'card'">
                                            <input type="radio" name="galleryView" id="gridView" value="grid-view" checked><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-view-module"></i>
                                        </label>
                                        <label class="btn btn-transparent" for="listView" ng-click="pageStats.libraryView = 'card'">
                                            <input type="radio" name="galleryView" id="listView" value="list-view"><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-view-list"></i>
                                        </label>
                                    </div>
                                </div>
                                <ul class="thumbnail-group card-view thumbnail-group-scroll edit-mode" ng-class="{'card-view': pageStats.libraryView === 'card', 'list-view': pageStats.libraryView === 'list'}">
                                    <li class="thumbnail-group-item" ng-repeat="evidence in allEvidences" data-file-type="{[{evidence.type}]}" data-has-icon="{[{evidence.type == 'image'?'false':'true'}]}">
                                        <div class="thumbnail-group-selection"><input type="checkbox" name="libraryFiles" value="{[{evidence.id}]}" id="libraryFiles-{[{evidence.id}]}" ng-model="uploadInProgress.libraryFiles[evidence.id]" class="custom-input"><label for="libraryFiles-{[{evidence.id}]}"></label></div>
                                        <div class="thumbnail-holder">
                                                    <div class="thumbnail-header" ng-if="evidence.type == 'image'" style="background-image: url('{[{evidence.s3Path}]}')" title="Evidence Name Here">
                                                    </div>
                                                    <div class="thumbnail-body" ng-if="evidence.type == 'image'">                                
                                                            <span data-column-name="filename" data-filename="{[{evidence.s3Path}]}">{[{evidence.name}]}</span>
                                                        </div>
                                                    <div class="thumbnail-header" title="{[{evidence.name}]}" ng-if="evidence.type != 'image'">
                                                        <i class="zmdi thumbnail-icon" ng-class="{'zmdi-file-text': evidence.type == 'file' && evidence.fileType != 'pdf', 'zmdi-collection-pdf': evidence.type == 'file' && evidence.fileType == 'pdf' , 'zmdi-headset': evidence.type == 'audio', 'zmdi-headset': evidence.type == 'recording', 'zmdi-collection-video': evidence.type == 'video'}"></i>
                                                        <div class="thumbnail-body">                                
                                                            <span data-column-name="filename" data-filename="{[{evidence.s3Path}]}">{[{evidence.name}]}</span>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="dropup form-group dropdown-dynamic btn-block">
                        <ui-select ng-model="uploadInProgress.category" theme="" title="Evidence Category" style="width: 100%;">
                            <ui-select-match placeholder="What types of evidence are you uploading?">{[{$select.selected.name}]}</ui-select-match>
                            <ui-select-choices repeat="evidenceCategory in uploadDetails.evidenceCategories | propsFilter: {id: $select.search, name: $select.search}">
                                <div ng-bind-html="evidenceCategory.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        {#<button type="button" class="btn btn-default btn-block text-left" data-toggle="dropdown">
                            <span class="dropdown-picker-selected" id="dropdownSelected">Evidence Category</span>
                            <i class="zmdi zmdi-chevron-down zmdi-hc-lg"></i>
                        </button>
                        <ul class="dropdown-menu" data-toggle="dropdown-picker" style="width: 100%">
                            <li><a href="#">Resume, references &amp; job descriptions</a></li>
                            <li><a href="#">Word samples, memos, letters, reports</a></li>
                            <li><a href="#">Photographic and video evidence</a></li>
                            <li><a href="#">Education, training and qualifications</a></li>
                            <li><a href="#">Other evidences</a></li>                            
                        </ul>#}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeUploadModal();">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="uploadIds()">Submit File</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Upload ID Evdences Modal Popup End -->

      <!-- Unit Submission Approval -->
    <div class="modal modal-confirmation fade" id="submitUnitConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <i class="zmdi zmdi-hc-4x zmdi-hc-fw zmdi-info-outline"></i>
                        <h3>Are you sure?</h3>
                        <p class="h4">Once submitted, you won't be able to upload or modify your evidence files.</p>
                    </div>
                    <hr>
                    <div class="btn-auto-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Wait, I'll review again</button>
                        <button type="button" class="btn btn-primary" ng-click="submitUnit()">Yes, I'm sure</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Unit Submission Approval -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/qualification.js') }}"></script> 
    <script src = "{{ asset('public/js/underscore-min.js') }}"></script>
    
    <script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/moment.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/units.js') }}"></script>
    <script src="{{ asset('public/js/xepOnline.jqPlugin.js') }}"></script>
    
    <script src="{{ asset('public/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-animate.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-underscore.js') }}"></script>
    <script src="{{ asset('public/js/angular/dirPagination.js') }}"></script>
    <script src="{{ asset('public/ui/js/ui-bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/s3Upload.js') }}"></script>
    <script src="{{ asset('public/js/angular/select.min.js') }}"></script>

    <script src="{{ asset('public/js/angular/app.js') }}"></script>
    <script src="{{ asset('public/js/angular/services/AjaxService.js') }}"></script>

    <script src="{{ asset('public/js/angular/controllers/amQualificationCtlr.js') }}"></script>
    <script src="{{ asset('public/js/angular/filters/uploadElectiveFilter.js') }}"></script>
    <script src="{{ asset('public/js/angular/directives/qualificationDirective.js') }}"></script>
    <script src="{{ asset('public/js/angular/filters/enrollFilters.js') }}"></script>
{% endblock %}
