{% extends 'revamp_base.html.twig' %}
{% block title %}GQ - RPL Qualification{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/pages/all/modal.css') }}">
<link rel="stylesheet" href="{{ asset('public/css/pages/all/profile.css')}}">

<link href="{{ asset('public/css/package_rules.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %}
    
    {% set userObj = app.security.getToken().getUser() %}
    {% set userRole = userObj.getRoles() %}
    {% set userId = userObj.getId() %} 
    {% set courseCode = courseDetails.courseCode %}
    {% set courseInfo = courses_service.getCourseInfo(courseDetails.courseCode)%}
    {% set remaining = user_service.getDaysRemainingApplicant(userId, courseCode, userRole[0]) %}    
    {% set output = remaining|split('&&') %} 
    {%set courseStatus = user_service.getQualificationStatus()%}
    {% set courseApiInfo = courses_service.getUserCoursesInfo(courseCode)%} 

    <main class="main-content-gqa">
        <div class="container">
            <div class="panel panel-default panel-qual-heading">
                <div class="panel-heading-img" style="background-image: url({{ courseInfo.bannerImg }})">
                    <span class="hidden" aria-readonly>Certificate in Commercial Cookery IV</span>
                </div>
                <div class="panel-heading">
                    <h3 class="h3 qual-title"><small>{{ courseDetails.courseCode }}</small><br>{{ courseDetails.courseName }}</h3>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#pagelink" aria-controls="home" role="tab"><span class="hidden-xs">Qualification</span> Info</a>
                    </li>
                    <li role="presentation">
                        <a href="#pagelink" aria-controls="tab" role="tab">Core <span class="hidden-xs">Units</span></a>
                    </li>
                    <li role="presentation">
                        <a href="#pagelink" aria-controls="tab" role="tab">Elective <span class="hidden-xs">Units</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container container-right-sidebar-main">
            <section class="section-sidebar section-sidebar-compressed">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Qualification Status</h4>
                        <span class="label label-primary">{{ courseStatus[courseDetails.courseStatus]['status'] }}</span>
                        <hr>
                        <div class="qual-gauges-group">
                            <div class="qual-gauges qual-spacing">
                                <div class="c100 p50 small core-units">
                                    <span>50/70</span>
                                    <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                </div>                                    
                            </div>

                            <div class="qual-gauges qual-spacing">
                                <div class="c100 p50 small elective-units">
                                    <span>20/40</span>
                                    <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="qual-gauges">
                            <div class="progress-tag progress-tag-danger">
                                <progress role="progress" value="{{output[1]}}" max="100"><img class="fallback" width="30"></progress>
                                <figcaption data-value="{{output[0]}}" data-unit="" class="progress-details"> DAYS LEFT</figcaption>
                            </div>
                        </div>
                        <hr>
                        <p class="text-muted">Jump into your unit pages and start uploading your evidences.</p>
                        <p>
                            <a href="#" class="btn-link btn-block">Manage Core Units</a>
                            <a href="#" class="btn-link btn-block">Manage Eleective Units</a>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Qualification Contacts <!--<br><small>More description about this section</small>--></h4>
                        <div class="list-group list-group-contacts">
                            <span class="list-group-item">
                                <div class="avatar avatar-xxs" data-toggle="modal" data-target="#contactProfile"><img src="{{ amazon_link~'user-'~courseDetails.facilitator.id~'/'~courseDetails.facilitator.userImage }}" alt="You"></div>
                                <div class="avatar-name" data-toggle="modal" data-target="#contactProfile">
                                    <label class="h5"><strong>{{ courseDetails.facilitator.firstName }} {{ courseDetails.facilitator.lastName }}</strong> <br><small>Account Manager</small></label>
                                </div>
                                <a href="{{ app.request.baseUrl }}/messages"><button type="button" class="btn btn-sm btn-default list-group-button"><i class="zmdi zmdi-email zmdi-hc-lg"></i></button></a>
                            </span>
                            <span class="list-group-item">
                                <div class="avatar avatar-xxs" data-toggle="modal" data-target="#contactProfile"><img src="{{ amazon_link~'user-'~courseDetails.assessor.id~'/'~courseDetails.assessor.userImage }}" alt="You"></div>
                                <div class="avatar-name" data-toggle="modal" data-target="#contactProfile">
                                    <label class="h5"><strong>{{ courseDetails.assessor.firstName }} {{ courseDetails.assessor.lastName }}</strong> <br><small>Assessor</small></label>
                                </div>
                            </span>
                            <span class="list-group-item">
                                <div class="avatar avatar-xxs" data-toggle="modal" data-target="#contactProfile"><img src="{{ amazon_link~'user-'~courseDetails.rto.id~'/'~courseDetails.rto.userImage }}" alt="You"></div>
                                <div class="avatar-name" data-toggle="modal" data-target="#contactProfile">
                                    <label class="h5"><strong>{{ courseDetails.rto.firstName }} {{ courseDetails.rto.lastName }}</strong> <br><small>RTO</small></label>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-main">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Qualification Description</h4>
                        <p>{{ courseApiInfo.courseInfo.details|raw }}</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Qualification Structure and Complete List of Requirements</h4>
                        <div class="package-rules">{{ packagerulesInfo|raw }}</div>
                        <hr>
                        <div role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#core" aria-controls="core" role="tab" data-toggle="tab"><span>{{ courseApiInfo.courseInfo.Units.Core.unit|length }}</span>&nbsp;Core Units</a>
                                </li>
                                <li role="presentation">
                                    <a href="#elective" aria-controls="elective" role="tab" data-toggle="tab"><span>{{ courseApiInfo.courseInfo.Units.Elective.groups.group.unit|length }}</span>&nbsp;Elective Units</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="core">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr><th style="width: 150px;">Unit Code</th><th>Unit Name</th></tr>
                                        </thead>
                                        <tbody>
                                            {% for unitInfo in courseApiInfo.courseInfo.Units.Core.unit %}
                                                <tr><td>{{ unitInfo.id }}</td><td>{{ unitInfo.name }}</td></tr>
                                            {% endfor %}
                                            <!--<tr class="table-subheader"><td colspan="2"><strong class="text-uppercase">Accounting</strong></td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>
                                            <tr class="table-subheader"><td colspan="2"><strong class="text-uppercase">Banking 101</strong></td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>-->
                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="elective">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr><th style="width: 150px;">Unit Code</th><th>Unit Name</th></tr>
                                        </thead>
                                        <tbody>
                                            {% for unitInfo in courseApiInfo.courseInfo.Units.Elective.groups.group.unit %}
                                                <tr><td>{{ unitInfo.id }}</td><td>{{ unitInfo.name }}</td></tr>
                                            {% endfor %}
                                            <!--<tr><td>BSBFIM601A</td><td>Manage finances</td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

<div class="modal fade" id="contactProfile">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                <h4 class="modal-title">Malou Wang</h4>
            </div> -->
             
            <div class="modal-body clearfix">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                <div class="avatar avatar-sm">
                    <img src="ui/img/avatar-default.png" alt="You">
                     <button type="button" class="btn btn-sm btn-default ml-1"><i class="zmdi zmdi-email zmdi-hc-lg"></i>&nbsp;&nbsp;Send Message</button>
                </div>
                <div class="avatar-name">
                    <label class="h3"> 
                        Malou Wang <br />
                        <small><strong>Account Manager</strong></small> <br />
                       
                    </label>
                    <div class="avatar-info">
                    <ul class="list-unstyled">
                        <li><i class="zmdi zmdi-email"></i> mlsenica@gmail.com</li>
                        <li><i class="zmdi zmdi-smartphone-iphone"></i> 0123456789</li>
                    </ul>
                </div>
                </div>
                

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/isMobile.min.js') }}"></script> <!-- Sniff if browser is loaded on mobile -->
{% endblock %}