{% extends 'revamp_base.html.twig' %}
{% block ngApp %} ng-app="gqAus" {% endblock%}
{% block ngController %} ng-controller="qualificationCtlr"  id="qualificationCtlr" {% endblock%}
{% block title %}{[{pageTitle || 'GQ - RPL Qualification'}]}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/pages/all/modal.css') }}">
<link rel="stylesheet" href="{{ asset('public/css/pages/all/profile.css')}}">
<link href="{{ asset('public/css/select.min.css') }}" rel="stylesheet" /> 
<link href="{{ asset('public/css/package_rules.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %}
    
    {% set userObj = app.security.getToken().getUser() %}
    {% set userRole = userObj.getRoles() %}
    {% set userId = userObj.getId() %} 
    {% set courseCode = courseDetails.courseCode %}
    {% set courseInfo = courses_service.getCourseInfo(courseDetails.courseCode)%}
    {% set remaining = user_service.getDaysRemainingApplicant(userId, courseCode, userRole[0]) %}    
    {% set output = remaining|split('&&') %} 
    {% set courseStatus = user_service.getQualificationStatus()%}
    {% set courseApiInfo = courses_service.getUserCoursesInfo(courseCode)%} 
    {% set unitSubmitted = courses_service.getUnitsSubmittedbyCourse(userId, courseCode) %}
    {% set coreUnitsSubmittedPercent = (unitSubmitted['core']/courseApiInfo.courseInfo.Units.Core.unit|length)*100 %}
    {% set electiveUnitsSubmittedPercent = (unitSubmitted['elective']/courseApiInfo.courseInfo.Units.Elective.validation.requirement)*100 %}
    
    <main class="main-content-gqa">
        <div class="container">
            <div class="panel panel-default panel-qual-heading">
                <div class="panel-heading-img" style="background-image: url({{ courseInfo.bannerImg }})">
                    <span class="hidden" aria-readonly>Certificate in Commercial Cookery IV</span>
                </div>
                <div class="panel-heading">
                    <h3 class="h3 qual-title"><small>{{ courseDetails.courseCode }}</small><br>{{ courseDetails.courseName }}</h3>
                </div>
                <ul class="nav nav-tabs" role="tablist" ng-init="qualificationPage = '{{qualificationPage}}'">
                    <li role="presentation" ng-class="{'active':qualificationPage == 'qualification'}">
                        <a href="javascript:void()" ng-click="qualificationPage = 'qualification'"><span class="hidden-xs">Qualification</span> Info</a>
                    </li>
                    <li role="presentation" ng-class="{'active':qualificationPage == 'core'}">
                        <a href="javascript:void()" ng-click="qualificationPage = 'core'">Core <span class="hidden-xs">Units</span></a>
                    </li>
                    <li role="presentation" ng-class="{'active':qualificationPage == 'elective'}">
                        <a href="javascript:void()" ng-click="qualificationPage = 'elective'">Elective <span class="hidden-xs">Units</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container container-right-sidebar-main" ng-show="qualificationPage == 'qualification'">
            <section class="section-sidebar section-sidebar-compressed">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Qualification Status</h4>
                        <span class="label label-primary">{{ courseStatus[courseDetails.courseStatus]['status'] }}</span>
                        <hr>
                        <div class="qual-gauges-group">
                            <div class="qual-gauges qual-spacing">
                                <div class="c100 p{{ coreUnitsSubmittedPercent }} small core-units">
                                    <span>{{ unitSubmitted['core']}} /{{ courseApiInfo.courseInfo.Units.Core.unit|length }}</span>
                                    <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                </div>                                    
                            </div>

                            <div class="qual-gauges qual-spacing">
                                <div class="c100 p{{ electiveUnitsSubmittedPercent }} small elective-units">
                                    <span>{{ unitSubmitted['elective']}} /{{ courseApiInfo.courseInfo.Units.Elective.validation.requirement }}</span>
                                    <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="qual-gauges">
                            <div class="progress-tag progress-tag-{% if(output[0]<30) %}danger{% elseif(output[0]<90) %}warning{% else %}success{%endif%}">
                                <progress role="progress" value="{{output[1]}}" max="100"><img class="fallback" width="30"></progress>
                                <figcaption data-value="{{output[0]}}" data-unit="" class="progress-details"> DAYS LEFT</figcaption>
                            </div>
                        </div>
                        <hr>
                        <p class="text-muted">Jump into your unit pages and start uploading your evidences.</p>
                        <p>
                            <a href="javascript:void()" ng-click="qualificationPage = 'core'" class="btn-link btn-block">Manage Core Units</a>
                            <a href="javascript:void()" ng-click="qualificationPage = 'elective'" class="btn-link btn-block">Manage Eleective Units</a>
                        </p>
                    </div>
                </div>
                {% if(courseDetails.facilitator|length > 0 or courseDetails.assessor|length > 0 or courseDetails.rto|length > 0) %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Qualification Contacts <!--<br><small>More description about this section</small>--></h4>
                        <div class="list-group list-group-contacts">
                        {% if(courseDetails.facilitator|length > 0) %}
                            <span class="list-group-item">
                                <div class="avatar avatar-xxs profile-popup" data-toggle="modal" data-target="#contactProfile" data-name="{{ courseDetails.facilitator.firstName|default('') }} {{ courseDetails.facilitator.lastName|default('') }}" data-email="{{ courseDetails.facilitator.email|default('') }}" data-imgsrc="{{ amazon_link~'user-'~courseDetails.facilitator.id|default('')~'/'~courseDetails.facilitator.userImage|default('') }}" data-phone="{{ courseDetails.facilitator.phone|default('') }}" data-acctype="Account Manager">
                                    <img src="{{ amazon_link~'user-'~courseDetails.facilitator.id~'/'~courseDetails.facilitator.userImage }}" alt="You">
                                </div>
                                <div class="avatar-name profile-popup" data-toggle="modal" data-target="#contactProfile" data-name="{{ courseDetails.facilitator.firstName|default('') }} {{ courseDetails.facilitator.lastName|default('') }}" data-email="{{ courseDetails.facilitator.email|default('') }}" data-imgsrc="{{ amazon_link~'user-'~courseDetails.facilitator.id|default('')~'/'~courseDetails.facilitator.userImage|default('') }}" data-phone="{{ courseDetails.facilitator.phone|default('') }}" data-acctype="Account Manager">
                                    <label class="h5"><strong>{{ courseDetails.facilitator.firstName|default('') }} {{ courseDetails.facilitator.lastName|default('') }}</strong> <br><small>Account Manager</small></label>
                                </div>
                                <a href="{{ app.request.baseUrl }}/messages"><button type="button" class="btn btn-sm btn-default list-group-button"><i class="zmdi zmdi-email zmdi-hc-lg"></i></button></a>
                            </span>
                             {% endif %}
                            {% if (courseDetails.assessor|length > 0) %}
                            <span class="list-group-item">
                                <div class="avatar avatar-xxs profile-popup" data-toggle="modal" data-target="#contactProfile" data-name="{{ courseDetails.assessor.firstName|default('') }} {{ courseDetails.assessor.lastName|default('') }}" data-email="{{ courseDetails.assessor.email|default('') }}" data-imgsrc="{{ amazon_link~'user-'~courseDetails.assessor.id|default('')~'/'~courseDetails.assessor.userImage|default('') }}" data-phone="{{ courseDetails.assessor.phone|default('') }}" data-acctype="Assessor">
                                    <img src="{{ amazon_link~'user-'~courseDetails.assessor.id|default('')~'/'~courseDetails.assessor.userImage|default('') }}" alt="You">
                                </div>
                                <div class="avatar-name profile-popup" data-toggle="modal" data-target="#contactProfile" data-name="{{ courseDetails.assessor.firstName|default('') }} {{ courseDetails.assessor.lastName|default('') }}" data-email="{{ courseDetails.assessor.email|default('') }}" data-imgsrc="{{ amazon_link~'user-'~courseDetails.assessor.id|default('')~'/'~courseDetails.assessor.userImage|default('') }}" data-phone="{{ courseDetails.assessor.phone|default('') }}" data-acctype="Assessor">
                                    <label class="h5"><strong>{{ courseDetails.assessor.firstName|default('') }} {{ courseDetails.assessor.lastName|default('') }}</strong> <br><small>Assessor</small></label>
                                </div>
                            </span>
                             {% endif %}
                            {% if (courseDetails.rto|length > 0) %}
                            <span class="list-group-item">
                                <div class="avatar avatar-xxs profile-popup" data-toggle="modal" data-target="#contactProfile" data-name="{{ courseDetails.rto.firstName|default('') }} {{ courseDetails.rto.lastName|default('') }}" data-email="{{ courseDetails.rto.email|default('') }}" data-imgsrc="{{ amazon_link~'user-'~courseDetails.rto.id|default('')~'/'~courseDetails.rto.userImage|default('') }}" data-phone="{{ courseDetails.rto.phone|default('') }}" data-acctype="RTO">
                                    <img src="{{ amazon_link~'user-'~courseDetails.rto.id|default('')~'/'~courseDetails.rto.userImage|default('') }}" alt="You">
                                </div>
                                <div class="avatar-name profile-popup" data-toggle="modal" data-target="#contactProfile" data-name="{{ courseDetails.rto.firstName|default('') }} {{ courseDetails.rto.lastName|default('') }}" data-email="{{ courseDetails.rto.email|default('') }}" data-imgsrc="{{ amazon_link~'user-'~courseDetails.rto.id|default('')~'/'~courseDetails.rto.userImage|default('') }}" data-phone="{{ courseDetails.rto.phone|default('') }}" data-acctype="RTO">
                                    <label class="h5"><strong>{{ courseDetails.rto.firstName|default('') }} {{ courseDetails.rto.lastName|default('') }}</strong> <br><small>RTO</small></label>
                                </div>
                            </span>
                             {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </section>
            <section class="section-main">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Qualification Description</h4>
                        <p>{{ courseApiInfo.courseInfo.details|raw }}</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Qualification Structure and Complete List of Requirements</h4>
                        <div class="package-rules">{{ packagerulesInfo|raw }}</div>
                        <hr>
                        <div role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#core" aria-controls="core" role="tab" data-toggle="tab"><span>{{ courseApiInfo.courseInfo.Units.Core.unit|length }}</span>&nbsp;Core Units</a>
                                </li>
                                <li role="presentation">
                                    <a href="#elective" aria-controls="elective" role="tab" data-toggle="tab"><span>{{ courseApiInfo.courseInfo.Units.Elective.groups.group.unit|length }}</span>&nbsp;Elective Units</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="core">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr><th style="width: 150px;">Unit Code</th><th>Unit Name</th></tr>
                                        </thead>
                                        <tbody>
                                            {% for unitInfo in courseApiInfo.courseInfo.Units.Core.unit %}
                                                <tr><td>{{ unitInfo.id }}</td><td>{{ unitInfo.name }}</td></tr>
                                            {% endfor %}
                                            <!--<tr class="table-subheader"><td colspan="2"><strong class="text-uppercase">Accounting</strong></td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>
                                            <tr class="table-subheader"><td colspan="2"><strong class="text-uppercase">Banking 101</strong></td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>-->
                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="elective">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr><th style="width: 150px;">Unit Code</th><th>Unit Name</th></tr>
                                        </thead>
                                        <tbody>
                                            {% for unitInfo in courseApiInfo.courseInfo.Units.Elective.groups.group.unit %}
                                                <tr><td>{{ unitInfo.id }}</td><td>{{ unitInfo.name }}</td></tr>
                                            {% endfor %}
                                            <!--<tr><td>BSBFIM601A</td><td>Manage finances</td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>
                                            <tr><td>BSBFIM601A</td><td>Manage finances</td></tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% include 'GqAusHomeBundle:Courses:electiveunits.html.twig' %} 
<div class="container" ng-hide="IsLoaded"> Loading.... </div>
  
    </main>

<div class="modal fade" id="contactProfile">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                <h4 class="modal-title">Malou Wang</h4>
            </div> -->
             
            <div class="modal-body clearfix">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                <div class="avatar avatar-sm">
                    <img class="profile-img" src="#">
                    <span class="profile-message"><a href="{{ app.request.baseUrl }}/messages"><button type="button" class="btn btn-sm btn-default ml-1"><i class="zmdi zmdi-email zmdi-hc-lg"></i>&nbsp;&nbsp;Send Message</button></a></span>
                </div>
                <div class="avatar-name">
                    <label class="h3"> 
                        <span class="profile-name">Malou Wang</span> <br />
                        <small><strong><span class="profile-type">Account Manager</span></strong></small> <br />
                       
                    </label>
                    <div class="avatar-info">
                    <ul class="list-unstyled">
                        <li><i class="zmdi zmdi-email"></i> <span class="profile-email"></span></li>
                        <li><i class="zmdi zmdi-smartphone-iphone"></i> <span class="profile-phone"></span></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/qualification.js') }}"></script> 
    <script src = "{{ asset('public/js/underscore-min.js') }}"></script>
    <script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
    <script src="{{ asset('public/ui/js/plugins/moment.min.js') }}"></script>
    <script src="{{ asset('public/ui/js/units.js') }}"></script>

    <script src="{{ asset('public/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-animate.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/angular-underscore.js') }}"></script>
    <script src="{{ asset('public/ui/js/ui-bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/angular/s3Upload.js') }}"></script>
    <script src="{{ asset('public/js/angular/select.min.js') }}"></script>

    <script src="{{ asset('public/js/angular/app.js') }}"></script>
    <script src="{{ asset('public/js/angular/services/AjaxService.js') }}"></script>

    <script src="{{ asset('public/js/angular/controllers/qualificationCtlr.js') }}"></script>
{% endblock %}