{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Qualification{% endblock %}
{% block stylesheets %}
<link href="{{ asset('public/css/accordion.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('public/css/pages/all/qualififation.css') }}">
<link rel="stylesheet" href="{{ asset('public/css/pages/candidate/round-progress.css') }}">
<link rel="stylesheet" href="{{ asset('public/css/pages/candidate/roundslider.css') }}"> 
{% endblock %}
{% block body %}
<!-- Larg Screens HTML --> 
{% if userCourses is empty%}
    <div>No Courses Available</div>
{% else %}
{% set counter = '' %}
{% set counterArr = 0 %}
{% for key, courses in userCourses %} 
    {% set userRole = app.security.getToken().getUser().getRoles() %}
    {% set userId = app.security.getToken().getUser().getId() %} 
    
    {% set flagCurrent = '1' %}
{% if courses.courseStatus !=0 %}

    {% set courseCode = courses.getCourseCode()%}
    {% set courseInfo = courses_service.getCoursesInfo(courseCode)%}
{% if courseInfo.courseInfo == "No records found" %}
{% else %}    
{% if courseInfo.courseInfo.Units %}
{% if courseInfo.courseInfo.Units.Unit %}
{% set evidenceCompleteness = user_service.getEvidenceCompletenessCount(userId, courseCode) %}
{% set counter = counter~evidenceCompleteness~',' %}
<div class="hidden-xs body_section">
<div class="presentation-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-11">
                <p>
                    <span> {{ courses.getCourseName() }}</span>
                    <span data-toggle="collapse" data-target="#collapse-{{courseCode}}">{{ courses.getCourseCode() }}
                        <a href="#">
                                <i class="material-icons">expand_less</i>
                        </a></span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container candidate collapse in"  id="collapse-{{courseCode}}">
<div class="row">                
    {% set remaining = user_service.getDaysRemainingApplicant(userId, courseCode, userRole[0]) %}
    {% set output = remaining|split('&&') %}
   <div class="col-md-5 col-lg-4">
    <div class="info-box">
    <div class="progres_bar_section">
        <p class="text-center">
            <strong>
                Welcome to your new qualification,<br/>
                let's go
            </strong>
        </p>
        <div class="progres-content">
            <div class="activ-middle">
                <div id="slider{{counterArr}}" class="round-progress rslider"></div>
                <div class="evidence-status">Evidence Submitted</div>
            </div>
            <p class="day-progress clearfix">
                <span class="start-day">0<br/>days</span>
                <span class="end-day">90<br/>days</span>
            </p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="90" style="width:{%if (output[1] > 0) %}{{output[1]}}{%else%}0{%endif%}%">

                  <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <p class="text-center">Today is {{output[1]}}{%if (output[1] == 1) %}st{% elseif (output[1] == 2) %} nd {% elseif (output[1] == 3) %} rd {% else %}th{% endif %} day</p>
        </div>
    </div>
    </div>
    <div class="hidden-xs review">
        <div class="review_content">
                <p>{{courses.facilitator.firstName}} is your <span class="text-uppercase"> CSR </span>for this qualification</p>
        </div>
        <div class="review_profile-pic">
                <img class="profile-img" data-target="#facProfile" data-toggle="modal" src="{% if courses.Facilitator.userImage %}{{ base_url}}{{'public/uploads/'}}{{courses.Facilitator.userImage}}{% endif %}">                               
        </div>
    </div>
    <div class="hidden-xs faq_link">
            <a href="{{ app.request.baseUrl }}/faq" target="MyNewWindow">
                    <i class="material-icons help">help</i>
                    <span>FAQs</span>
            </a>
    </div>
    </div>                
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7"> 
    <div class="accordion panel-group">
    {% set i = 1 %}           
    {% set   coreUnitsCount = courses_service.getCoreElectiveUnitsCount(userId,courseCode,'core') %}                       
    <div class="panel panel-default">
       <div class="panel-heading clearfix">
           <h4 class="panel-title">
           <span>{{coreUnitsCount}} CORE UNITS</span>
           <a class="btn-accordion collapsed" data-toggle="collapse" data-parent="#accordion" data-collapse="parent" href="#collapseTwo-{{courseCode}}">
                   <i class="material-icons">expand_more</i>
           </a>
           </h4>
       </div>
       <div id="collapseTwo-{{courseCode}}" class="panel-collapse collapse">
           <div class="panel-body">
               <div class="accordion panel-group" id="nested">
                   {% set flagCore = '0' %}
                   {% set unitsData = courseInfo.courseInfo.Units.Unit %}
                   {% if courseInfo.courseInfo.Units.Unit.id is defined %}
                   {% set unitsData = {0: courseInfo.courseInfo.Units.Unit} %}
                   {% endif %}
                   {% for key, units in unitsData %}                                   
                   {% if units.type == 'core' %}
                       {% set flagCore = '1' %}
                   <div class="panel panel-default">
                       <div class="panel-heading">
                               <div class="panel-title">
                                       <div class="panle_body_content">
                                               <p> <span class="tag-id">{{units.id}}</span> </p>
                                               <p><a href="{{ app.request.baseUrl }}/courseunitDetails/{{ courseInfo.courseInfo.id  }}/{{ units.id }}/{{userId}}">{{units.name}}</a></p>
                                       </div>
                                       <a href="{{ app.request.baseUrl }}/courseunitDetails/{{ courseInfo.courseInfo.id  }}/{{ units.id }}/{{userId}}">
                                               <i class="material-icons">chevron_right</i>
                                       </a>
                               </div>
                       </div>
                       <div id="nested-collapseSeven" class="panel-collapse collapse">
                               <div class="panel-body">
                                       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                               </div>
                       </div>
                   </div>
                   {% set i = i+1 %}
                   {% endif %}
                   {% endfor %} 
                   {% if flagCore == '0' %}
                           <div class="gq-acc-row-title load-icon-tr">No Core Units found</div>
                   {% endif %}
               </div>
           </div>
       </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
    <h4 class="panel-title">
      {% set   electiveUnitsCount = courses_service.getCoreElectiveUnitsCount(userId,courseCode,'elective') %}

        <span>{{electiveUnitsCount}} ELECTIVE UNITS - Choose 5</span>
        <a aria-expanded="false" data-toggle="collapse" data-parent="#nested" href="#nested-collapseSTR-{{courseCode}}"><i class="material-icons edit">edit</i></a>
        <a aria-expanded="false" class="btn-accordion collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseSTR-{{courseCode}}">
            <i class="material-icons down">keyboard_arrow_down</i>
        </a>                                
    </h4>
    </div>
    <div aria-expanded="false" style="height: 0px;" id="nested-collapseSTR-{{courseCode}}" class="panel-collapse collapse">
    <div class="panel-body">
    <p class="panel-copy">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </p>
    {% if courseInfo.courseInfo.Units %}
    {% if courseInfo.courseInfo.Units.Unit %}
    {% set flagElective = '0' %}
    {% set unitsData = courseInfo.courseInfo.Units.Unit %}
    {% if courseInfo.courseInfo.Units.Unit.id is defined %}
    {% set unitsData = {0: courseInfo.courseInfo.Units.Unit} %}
    {% endif %}
    {% for key, units in unitsData %}
        {% if units.type == 'elective' %}
        {% set unitId = units.id %}
        {% set flagElective = '1' %}
    {% set electiveUnits = courses_service.getQualificationElectiveUnits(userId, courseCode) %}                   
    <div class="select">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span>Common Foundation Skills</span>
            </h4>
        </div>
        <div class="panle_body_content unit-selection clearfix">
            <i class="material-icons info">info</i>
            <div class="tag-copy">
                <p> <span class="tag-id">{{units.id}}</span> </p>
                <p><a href="{{ app.request.baseUrl }}/courseunitDetails/{{ courseInfo.courseInfo.id  }}/{{ units.id }}/{{userId}}">{{units.name}}</a></p>                                        
            </div>
            <div class="checkbox_outer modalClass checkmark-icon"  data-toggle="modal" data-target="#myModal" unit_id="{{units.id}}" user_id="{{ userId }}" id="{{units.id}}" course_code="{{courseInfo.courseInfo.id}}">                        
                    <input  id="span_{{units.id}}" type="checkbox" {% if units.id  in electiveUnits.courseUnits %}checked{% else %}unchecked{% endif %}><span></span>                      
            </div>
        </div>
    </div>
       {% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
</div>
    </div>
  {% include 'GqAusHomeBundle:Courses:facProfilePopups.html.twig' %}                  
{% endif %}
{% endif %}
 {% set counterArr = counterArr+1 %}
{% endif %}
{% endif %}
{% endfor %}
    <input type="hidden" id="courseCount" name="courseCount" value="{{counter}}">
{% endif %}

  
    <!-- Larg Screens HTML End -->
<!-- Modal -->
<div class="modal fade confirm_popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <!-- Modal content-->
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" id="qeclose" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
     <div class="modal-title">Do you want to change the status of elective unit ?</div>
    </div>
    <div class="modal-body">
     <div class="btn_section">
      <button class="btn btn_red changeUnitStatus">OK</button>
      <button class="btn" data-dismiss="modal" id="qeclose-cancel">CANCEL</button>
       <span class="loading-icon qual_status_loader" style="display:none;"><img src="{{ asset('public/images/loading.gif') }}" /></span>
     </div>
    </div>
   </div>
  </div>
 </div>

{% endblock %}
    
{% block javascripts %}
<script type="text/javascript" src="{{ asset('public/js/roundslider.js') }}"></script>
<script>
        $(function () {           
           function getTheSliderValues(){
               var valuesStr=$('#courseCount').val();
               var perValuesArr=valuesStr.split(",");
               perValuesArr.pop();
               for(var i=0;i<perValuesArr.length;i++){
                   var obj=new Object();
                    obj.sliderType= "min-range";
                    obj.value=perValuesArr[i];
                    obj.min=0;
                    obj.max=100;
                    obj.startAngle= 90;
                    obj.circleShape="half-top";
                    obj.radius=80;
                    obj.handleSize=0;
                    obj.width=20;
                    obj.editableTooltip=false;
                    $("#slider"+i).roundSlider(obj);
               }
                
           }
           getTheSliderValues();         
        });
    </script>
   
{% endblock %}