{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Qualification{% endblock %}
{% block stylesheets %}
<link href="{{ asset('public/css/accordion.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
<link rel="stylesheet" href="{{ asset('public/css/pages/all/qualification.css') }}">
<link rel="stylesheet" href="{{ asset('public/css/pages/all/candidate.css') }}">
{#<link rel="stylesheet" href="{{ asset('public/css/jquery.mCustomScrollbar.min.css') }}">#}
{% endblock %}
{% block body %}
    {% set userRole = app.security.getToken().getUser().getRoles() %}
{#    {% set unitFacStatus = unitStatus.facilitatorstatus %}
    {% set unitAssStatus = unitStatus.assessorstatus %}
    {% set unitRtostatus = unitStatus.rtostatus %}#}
    
    <!-- Large Screens HTML -->
    <div class="hidden-xs body_section">
        <div class="presentation-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-11">
                        <p>
                            
                            <span>{% if courseInfo.name %} {{courseInfo.name}} {% endif %}</span>
                            <span>{% if courseInfo.id %} {{courseInfo.id}} {% endif %}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="status-message" id="status-message" style="display:none;"></div>
        <div class="container">    
            <div class="row">
                <div class="col-lg-12">
                    <div class="edu-tag">
                        {% set inloop = 0 %}
                        {% set approvalStatus = user_service.getUnitStatusByRoleWise( userId, userRole[0], unitCode, courseInfo.id ) %}
                        {% if ('ROLE_ASSESSOR' in userRole and approvalStatus =='0') %} 
                            {% set approvalStatus = user_service.getUnitStatusByRoleWise( userId, 'ROLE_FACILITATOR', unitCode, courseInfo.id ) %}
                            {% set inloop = 1 %}
                        {% endif %}   
                        {% set approvalText = user_service.getStausByStatus(approvalStatus,inloop,userRole[0]) %}
                        {% if approvalText|length > 0 %}<p> <span class="tag">{{approvalText}} </span> </p>{% endif %}
                        <p>
                            <span class="tag-edu"><a href="/qualifications">Qualification</a></span>
                            <span class="tag-id">Unit {{ unitCode }}</span>
                            <span class="tag-copy">{{unitName|raw}}</span>                        
                        </p>
                    </div>
                </div>
            </div>
              <div class="qualification-success-msg" id="gq-dashboard-tabs-success-assess"></div>
              <div class="qualification-er-msg" id="gq-dashboard-tabs-error-assess"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="panel-group">
                        <div class="panel clearfix">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span>Evidence</span>
                                    <span class="pull-right evdcount" data-evdcount="{{evidenceCount}}"><strong> {{ evidenceCount }} Evidence Files Linked</strong></span>
                                </h4>
                            </div>
                            <div class="panel-body" style="border-bottom:1px solid #d8d8d8">
                                <div class="gqa-btn-group">
                                    <div class="row no-gutter">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="btn-add btn" data-toggle="modal" data-target="#add-evidence">
                                                <i class="material-icons add-evidence-btn">add</i>
                                                <a href="#">Add Evidence</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="panel-copy" id="linkedEvidences">
								{%set inc = 0 %}
                                    {% for evidence in evidences %}
									{%set inc = inc+1 %}
                                        {% if evidence.unit == unitCode %}

                                                {% set eviType = evidence_service.getEvidenceShowType(evidence.type) %}
                                                {% set output = eviType|split('&&') %}
                                                <div class="file-info">
                                                    <span class="icon">
                                                        {% if(evidence.type != 'text') %}
                                                        <a href="{% if evidence.type != 'recording' %}{{ amazon_link }}{{  evidence.path }}{%else%}{{ amazon_link~tokbox_key }}/{{ evidence.path }}/archive.mp4{%endif%}" 
                                                            {% if output[1] is defined %}
                                                            {% if output[1] == 'fancybox' or output[1] == 'fancybox fancybox.iframe' %} class="{{output[1]}}" {% else %}target="_blank"{% endif %}
                                                            {%endif%}><i class="material-icons">{% if output[0] is defined %}{{output[0]}}{%endif%}</i>
                                                        </a>
                                                        {% else %}
                                                            <a href="#{{evidence.unit}}{{inc}}" class="fancybox" id="btnForm"> <i class="material-icons">{% if output[0] is defined %}{{output[0]}}{%endif%}</i></a>
                                                        {% endif %}
                                                    </span>
                                                    <span class="file-discription">
                                                        {% if(evidence.type != 'text') %}                                                        
                                                        {% if evidence.type == 'recording' %}{% if evidence.path is defined %}{{evidence.path|slice(0, 20)}}{%endif%}{%else%}{% if evidence.name is defined %}{{evidence.name}}{%endif%}{%endif%}
                                                    <br/>{% if evidence.size is defined %}{{evidence.size}} {% if evidence.type != 'recording' %} |{%endif%} {%endif%} {%if evidence.created is defined%}ADDED {{evidence.created|date("d/m/y")}}{%endif%}
                                                        {% else %}
                                                            {{ evidence.content|slice(0,20) }}<br/>ADDED {{evidence.created|date("d/m/y")}}
                                                        {% endif %}
                                                    </span>
                                                    <span class="clear"><a href="#"><i class="material-icons">clear</i></a></span>
                                                </div>
                                        {% endif %}
										<div id="{{evidence.unit}}{{inc}}" style="display:none;width:400px;height:auto;overflow:auto;">{% if evidence.content is defined %}{{evidence.content}}{%endif%}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="panel-group self-assessment">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <span>Self Assessment Notes (Min. 50 Words)</span>
                                        </h4>
                                    </div>
                                        <div class="panel-body">
                                        {% set evdText = courses_service.getsubmitUnitForReview(userId,courseInfo.id,unitCode) %}  
                                            {% set electiveUnits = courses_service.getQualificationElectiveStatus(userId, courseInfo.id,unitCode) %}
                                        {% set selfAsseNote = '' %} 
                                        {% for key , test  in evdText %}
                                        {% if test.content  is defined %}
                                       {% set selfAsseNote = test.content %} 
                                         {% endif %}
                                        {% endfor%}
                                            
                                            <textarea id="selfassnote" name="selfassnote" >{{selfAsseNote}}</textarea>                                            
                                        </div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <div class="gqa-btn-group">
                        <div class="row no-gutter">
                            <div class="col-md-12 col-lg-12">
                                <div class="row no-gutter">
                                    <div class="col-md-12 col-lg-12">
                                       {% set unitType = courses_service.getUnitStatus(userId, unitCode,courseInfo.id) %}

                                        {% if unitType.type == "core" %}
                                                <button type="button" id="btn-submit" class="btn btn-danger border-right" onclick="return checkEvidenceToUnitSubmit({{userId}},'{{courseInfo.id}}','{{unitCode}}');">Submit this unit for review</button>
                                       {% endif %} 
                                        {% if electiveUnits[0] is defined and selfAsseNote  == "" and electiveUnits[0].electiveStatus!=0 and unitType.type=='elective' %}                                        
                                            <button type="button" id="btn-submit" class="btn btn-danger border-right" onclick="return checkEvidenceToUnitSubmit({{userId}},'{{courseInfo.id}}','{{unitCode}}');">Submit this unit for review</button>

                                        {% endif %}
                                         {% endif %}
                    

                                    </div>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
                    <div class="accordion panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title"><span>About this unit</span></h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="accordion panel-group" id="nested">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="panle_body_content">
                                                        <p><strong>Elements & Performanace Criteria</strong></p>
                                                    </div>
    <a href="#nested-collapseSeven" data-status="true"  data-collapse="child" data-parent="#nested,#nested-collapseEight,#nested-collapseNine" data-toggle="collapse" aria-expanded="false" class="collapsed">
                                                        <i class="material-icons">expand_less</i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse in" id="nested-collapseSeven" style="" aria-expanded="true">
                                                <div class="panel-body">
                                                    <div class="panel-copy">
                                                        <div class="file-info">{%if unitDetails|length > 0%}{{unitDetails|raw}}{% endif %}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="panle_body_content">
                                                        <p><strong>Required Skills &amp; Knowledge</strong></p>
                                                    </div>
                                                    <a href="#nested-collapseEight" data-collapse="child" data-parent="#nested,#nested-collapseEight,#nested-collapseNine" data-toggle="collapse">
                                                        <i class="material-icons">expand_more</i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse" id="nested-collapseEight">
                                                <div class="panel-body">
                                                    <div class="panel-copy">
                                                        <div class="file-info">{%if unitDetails|length > 0%}{{unitDetails|raw}}{% endif %}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="panle_body_content">
                                                        <p><strong>Evidence Guide &amp; Range Statement</strong></p>
                                                    </div>
                                                    <a href="#nested-collapseNine" data-collapse="child" data-parent="#nested,#nested-collapseEight,#nested-collapseNine" data-toggle="collapse">
                                                        <i class="material-icons">expand_more</i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse" id="nested-collapseNine">
                                                <div class="panel-body">
                                                    <div class="panel-copy">
                                                        <div class="file-info">{%if unitDetails|length > 0%}{{unitDetails|raw}}{% endif %}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-pop">
        <div role="dialog" id="satisfactory" class="modal fade" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content satisfactory-modal-content">
                    <div class="modal-body"><p><strong>Done!</strong><br>This unit is  {% if ('ROLE_FACILITATOR' in userRole) %}SATISFACTORY{% elseif('ROLE_ASSESSOR' in userRole)%}COMPETENT{% endif %}.<br/>Do you want to send {{userName}} a message about this?</p></div>
                    <div class="modal-footer">
                        <div class="form-group form-group-lg gqa-btn-group" id="applicantEStatus" userRole="{{userRole.0}}">
                            <div class="form">
                                <div class="row no-gutter">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button id="approveyes" data-target="#myModal" data-toggle="modal" class="btn btn-danger border-right" type="button">Yes</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button id="approveno" data-target="#myModal" data-toggle="modal" class="btn btn-danger" type="button">No</button>
                                    </div>
                                    <input type="hidden" id="course-name" name="course-name" value="{{courseInfo.name}}">
                                    <input type="hidden" id="course-code" name="course-code" value="{{courseInfo.id}}">
                                    <input type="hidden" id="userid" name="userid" value="{{userId}}">
                                    <input type="hidden" id="unit-name" name="unit-name" value="{{unitName}}">
                                    <input type="hidden" id="unit-code" name="unit-code" value="{{unitCode}}">
                                </div>
                            </div>
                        </div>          
                    </div>
                </div>
            </div>
        </div>
        <div role="dialog" id="not-satisfactory" class="modal fade" style="display: none;">
            <div class="modal-dialog"><!-- Modal content-->
               <div class="modal-content not-satisfactory-modal-content">
                    <div class="modal-body"><p><strong>Add a Message</strong><br>Please let {{userName}} know why this unit is <br>{% if ('ROLE_FACILITATOR' in userRole) %}NOT YET SATISFACTORY{% elseif('ROLE_ASSESSOR' in userRole)%}NOT YET COMPETENT{% endif %}</p>
                        <p><textarea name="msg-body" id="msg-body" cols="30" rows="4"></textarea></p>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group form-group-lg gqa-btn-group">
                            <form class="form" action="#">
                                <div class="row no-gutter">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button id="disapproveno" data-target="#myModal" data-toggle="modal" class="btn btn-danger border-right" type="button">Cancel</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button id="disapproveyes" data-target="#myModal" data-toggle="modal" class="btn btn-danger" type="button">Send</button>
                                    </div>
                                     <input type="hidden" id="course-name" name="course-name" value="{{courseInfo.name}}">
                                    <input type="hidden" id="course-code" name="course-code" value="{{courseInfo.id}}">
                                    <input type="hidden" id="userid" name="userid" value="{{userId}}">
                                    <input type="hidden" id="unit-name" name="unit-name" value="{{unitName}}">
                                    <input type="hidden" id="unit-code" name="unit-code" value="{{unitCode}}">
                                    <input type="hidden" id="fromuser-id" name="fromuser-id" value="{{facilitatorId}}">
                                </div>
                            </form>
                        </div>          
                   </div>
               </div>
            </div>
        </div>
        <div class="modal fade" id="review-submit" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <p>
                        <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
                            <strong>Not ready to submit!</strong>
                            <br/>
                            You must add evidence files and self-assessment notes to this unit to be able to submit it for review
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div class="gqa-btn-group btn-file-save">
                                <div class="row no-gutter">
                                    <div class="col-md-12 col-lg-12">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="min-words-count" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <p>
                        <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
                            Self Assessment Notes should be more than 50 words
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div class="gqa-btn-group btn-file-save">
                                <div class="row no-gutter">
                                    <div class="col-md-12 col-lg-12">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="suceess-msg" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <p>
                        <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
                            Submitted Successfully
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div class="gqa-btn-group btn-file-save">
                                <div class="row no-gutter">
                                    <div class="col-md-12 col-lg-12">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="javascript:location.reload()">OK</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Larg Screens HTML -->
{% include 'GqAusHomeBundle:Courses:addevidencestounitmodal.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/s3-upload/upload.js') }}"></script>
    <script src="{{ asset('public/js/s3-upload/s3upload.js') }}"></script>
    <script src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fancybox').fancybox();
        });
    </script>    
 {% endblock %}