{% extends 'base.html.twig' %}
{% block title %}GQ - RPL Dashboard{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />

{% endblock %}
{% block body %}
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="gq-dashboard-title">Evidence Files</h1>
            <!-- <h6 class="gq-dashboard-title-desc">Some description can be given here</h6>  -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="gq-evidence">
                <!-- Tabs start here -->
                <ul class="nav nav-pills margin-top15 gq-evidence-tabs" role="tablist" id="myTab">
                    <li role="presentation" class="active" ><a href="#images" aria-controls="images" role="tab" data-toggle="tab">Images</a></li>
                    <li role="presentation"><a href="#audios" aria-controls="address" role="tab" data-toggle="tab">Audios</a></li>
                    <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a></li>
                   <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
                    <li role="presentation"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Files</a></li>
                </ul>
                <!-- Tabs end start here -->

                <!-- Content for respective tabs above will be in this section -->
                <div class="tab-content  margin-top15">
                    <div role="tabpanel" class="tab-pane" id="audios">
					<div class="">
                            <div class="row">
                                {% for evidence in evidences %}
				{% if evidence.type == 'audio' %}
                                    {% set types = ['mp3', 'wma'] %}
                                    {% set result = evidence.name|split('.') %}
                                    {% if result.1 | lower in types %}
                                        {% set audio = amazon_link~evidence.path %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    <div class="gq-dashboard-courses-detail">
                                        <a href = "{{ amazon_link }}{{  evidence.path }}" target="_blank"><div class="video-thumb-icon">{{audio}}</div></a>
                                        <div class="gq-id-files-content-row-wrap">
                                            <div class="gq-id-files-content-row">
                                                <label>Title</label><span>{{evidence.name}}</span>
                                            </div>
                                            <div class="gq-id-files-content-row">
                                                <label>Added on</label><span>{{evidence.created|date("F jS") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								{% endif %}
								{% endif %}
                                {% endfor %}
                            </div>														
                        </div>	
					</div>
					<div role="tabpanel" class="tab-pane" id="videos">
					<div class="">
                            <div class="row">
                                {% for evidence in evidences %}
				{% if evidence.type == 'video' %}
                                    {% set types = ['mp3', 'wma'] %}
                                    {% set result = evidence.name|split('.') %}
                                    {% if result.1 | lower in types %}
                                        {% set videofile = amazon_link~evidence.path %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    <div class="gq-dashboard-courses-detail">
                                        <a href = "{{ amazon_link }}{{  evidence.path }}" target="_blank"><div class="video-thumb-icon">{{videofile}}</div></a>
                                        <div class="gq-id-files-content-row-wrap">
                                            <div class="gq-id-files-content-row">
                                                <label>Title</label><span>{{evidence.name}}</span>
                                            </div>
                                            <div class="gq-id-files-content-row">
                                                <label>Added on</label><span>{{evidence.created|date("F jS") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								{% endif %}
								{% endif %}
                                {% endfor %}
                            </div>														
                        </div>	
					</div>
                    <div role="tabpanel" class="tab-pane active" id="images">
                        <div class="">
                            <div class="row">
                                {% for evidence in evidences %}
				{% if evidence.type == 'image' %}
                                    {% set types = ['jpg', 'jpeg', 'png', 'gif'] %}
                                    {% set result = evidence.name|split('.') %}
                                    {% if result.1 | lower in types %}
                                        {% set image = amazon_link~evidence.path %}
                                    {% else %}
                                         {% set image = asset('public/images/file_icon.png') %}
                                    {% endif %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    <div class="gq-dashboard-courses-detail">
                                        <a href = "{{ amazon_link }}{{  evidence.path }}" data-fancybox-group="gallery"  class="fancybox" target="_blank"><div class="gq-id-files-content-icon-wrap gq-id-files-content-img-icon"></div></a>
                                        <div class="gq-id-files-content-row-wrap">
                                            <div class="gq-id-files-content-row">
                                                <label>Title</label><span>{{evidence.name}}</span>
                                            </div>
                                            <div class="gq-id-files-content-row">
                                                <label>Added on</label><span>{{evidence.created|date("F jS") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								{% endif %}
                                {% endfor %}
                            </div>														
                        </div>										  

                    </div>
                    <div role="tabpanel" class="tab-pane" id="notes">Notes</div>
                    <div role="tabpanel" class="tab-pane" id="files">
					<div class="">
                            <div class="row">
                                {% for evidence in evidences %}
									{% if evidence.type == 'file' %}
                                    {% set types = ['txt', 'doc', 'xls', 'docx'] %}
                                    {% set result = evidence.name|split('.') %}
                                    {% if result.1 | lower in types %}
                                        {% set file = amazon_link~evidence.path %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    <div class="gq-dashboard-courses-detail">
                                        <a href = "{{ amazon_link }}{{  evidence.path }}" class="fancybox fancybox.iframe">										
					<div class="video-thumb-icon">{{file}}</div></a>
                                        <div class="gq-id-files-content-row-wrap">
                                            <div class="gq-id-files-content-row">
                                                <label>Title</label><span>{{evidence.name}}</span>
                                            </div>
                                            <div class="gq-id-files-content-row">
                                                <label>Added on</label><span>{{evidence.created|date("F jS") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								{% endif %}
								{% endif %}
                                {% endfor %}
                            </div>														
                        </div>	
					</div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
            /*
             *  Simple image gallery. Uses default settings
             */
            $('.fancybox').fancybox();
    });
</script>
{% endblock %}