{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
{% endblock %}
{% block body %}
<div class="col-lg-11 col-md-10 col-sm-10 col-xs-12 gq-dashboard-right">
    <div class="row">
        <div class="col-xs-12">
            <div class="gq-evidence-new">       
                {% set msDocStatus = evidence_service.getFileExtensionType(path) %}
                {% set eviType = evidence_service.getEvidenceShowType(fileType) %}
                {% set output = eviType|split('&&') %}
                <a href="{% if fileType != 'recording' %}{{ amazon_link }}user-{{userId.id}}/{{  path }}{%else%}{{ amazon_link~tokbox_key }}/{{ path }}/archive.mp4{%endif%}" 
                    {% if (not msDocStatus) %}
                        {% if output[1] is defined %}
                            {% if output[1] == 'fancybox' or output[1] == 'fancybox fancybox.iframe' %} class="{{output[1]}}" {% else %} target="_blank"{% endif %}
                        {%endif%}
                    {%else%}
                            id="yourLink"
                    {% endif %}><div class="gq-id-files-content-icon-wrap gq-id-files-content-img-icon"></div></a>              
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
 <script src="{{ asset('public/js/jquery.min.js') }}"></script>       
 <script type="text/javascript" src="{{ asset('public/js/jquery.fancybox.js?v=2.1.5') }}"></script>
 <script type="text/javascript">
    var amazon_link = "{{ amazon_link }}";
    $(document).ready(function() {
        $('.fancybox').fancybox({
            afterClose : function () {
               window.close();
            }    
        }).trigger("click");
        var hrefval = $('#yourLink').attr('href');
        if (typeof hrefval !== 'undefined') {
          window.location.href = hrefval;  
        }
    });
</script>
{% endblock %}