{% set userId = 0%}
{% set userVal = app.security.getToken().getUser() %} 
{% set userId = (userVal is defined and userVal.id is defined)? app.security.getToken().getUser().getId(): 0 %}
{% extends userId == 0 ? 'anonymous_base.html.twig' : 'revamp_base.html.twig' %}

{% block title %}GQ - RPL FAQ{% endblock %}
{% block stylesheets %}
    
{% endblock %}
{% block body %}
     <main class="main-content-gqa">
        <div class="container">
             <div class="panel panel-entry">
                <h1>FAQ</h1>
                
                <div id="accordion" class="panel-accordion" role="tablist" aria-multiselectable="false">
                    {% if  faq %}
                        {% for key, list in faq %}
                            <div class="panel-entry">
                                <div class="panel-heading">
                                    <h4 data-toggle="collapse" href="#collapse{{list.id}}" aria-expanded="false" aria-controls="collapse{{list.id}}">
                                        {{list.question}}
                                        <i class="zmdi zmdi-chevron-down"></i>
                                    </h4>
                                </div>
                                <div id="collapse{{list.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{list.answer}}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        
    </main>
{% endblock %}