{% set userId = 0%}
{% set userVal = app.security.getToken().getUser() %} 
{% set userId = (userVal is defined and userVal.id is defined)? app.security.getToken().getUser().getId(): 0 %}
{% extends userId == 0 ? 'anonymous_base.html.twig' : 'revamp_base.html.twig' %}

{% block title %}GQ - RPL FAQ{% endblock %}
{% block stylesheets %}
    
{% endblock %}
{% block body %}
     <!--main class="main-content-gqa">
        <div class="container">
             <div class="panel panel-entry">
                <h1>FAQ</h1>
                
                <div id="accordion" class="panel-accordion" role="tablist" aria-multiselectable="false">
                    {% if  faq %}
                        {% for key, list in faq %}
                            <div class="panel-entry">
                                <div class="panel-heading">
                                    <h4 data-toggle="collapse" href="#collapse{{list.id}}" aria-expanded="false" aria-controls="collapse{{list.id}}">
                                        {{list.question}}
                                        <i class="zmdi zmdi-chevron-down"></i>
                                    </h4>
                                </div>
                                <div id="collapse{{list.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{list.answer}}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        
    </main-->
<main class="main-content-gqa">
        <div class="container">
        <!-- Put content here -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Online RPL FAQs</h2>
                    <p class="h4 text-muted" style="margin-bottom: 30px;">Click on the items below to see the answers to our most frequently asked questions. If you can’t find what you’re looking for, don’t hesitate to get in touch.</p>
                    
                    <!-- Tabs -->
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
                            </li>
                            <li role="presentation">
                                <a href="#qualifications" aria-controls="qualifications" role="tab" data-toggle="tab">Qualifications</a>
                            </li>
                            <li role="presentation">
                                <a href="#competency" aria-controls="competency" role="tab" data-toggle="tab">Units of Competency</a>
                            </li>
                            <li role="presentation">
                                <a href="#evidence" aria-controls="evidence" role="tab" data-toggle="tab">Evidence</a>
                            </li>
                        </ul>
                    
                        <!-- Tab panes -->
                        <div class="tab-content" style="padding: 0;">
                            <!-- General -->
                            <div role="tabpanel" class="tab-pane active" id="general">
                                <div id="accordionA" class="panel-accordion accordion-general-info" role="tablist" aria-multiselectable="false">
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseA1" aria-expanded="false" aria-controls="collapseA1">
                                                Who is my Account Manager? How do I contact him/her?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseA1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Your Account Manager will work with you to gather your supporting evidence. Going through all your work experience and determining suitable evidence can be hard. We strive to make it easier through your account manager.</p>

                                                <p>He/she will be in contact with you directly through the Online RPL’s messaging platform.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseA2" aria-expanded="false" aria-controls="collapseA2">
                                                How do I pay for my enrolment?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseA2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>To push forward with your Application, you must pay the agreed sum for your upfront.</p>
                                                <p>You can also subscribe to a payment plan but this should be discussed with you in detail and agreed by both parties in writing. A Direct Debit Confirmation will be sent via email.</p>
                                                <p>In case of a payment default, please note that GQA will deduct the instalment payment every three days until this covers the full payment. We also reserve the right to claim the full of the invoice if the instalment plan extends to 21 or more days in arrears. There will be a $20 default charge for each defaulted instalment.</p>
                                                <p>We expect you to fully understand and accept the <a href="https://www.gqaustralia.edu.au/terms-conditions/" target="_blank">Terms and Conditions</a>that apply once you make any payment to or transaction with GQA.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Qualifications -->
                            <div role="tabpanel" class="tab-pane" id="qualifications">
                                
                                <div id="accordionB" class="panel-accordion accordion-general-info" role="tablist" aria-multiselectable="false">
                                    <div class="panel-entry"><h4>GQA offers services for over 500 qualifications across 30+ industries through 50+ partnered RTOs.</h4></div>
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseB1" aria-expanded="false" aria-controls="collapseB1">
                                                How do I progress with my qualification?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseB1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>After you’ve enrolled and settled your payment. You will be asked to choose elective units based on the track that you want to be qualified in. After this is done, you will be all set to start uploading your evidence.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseB2" aria-expanded="false" aria-controls="collapseB2">
                                                How long does it take to complete a qualification?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseB2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>The time frame for completion of the RPL Application process is 180 days from the date of payment. Requests for extensions will be considered on an “individual case basis.”</p>
                                                <p>Applicants have 180 days to provide full documentation to verify their competency, as well as allow time for the RPL Application to be completed by the RPL Assessor and be submitted to the RTO for final review and processing.</p>
                                                <p>Once you have successfully provided your evidence in a timely manner and the RPL Assessment has been completed, your application will be lodged with the RTO for processing. The time period for having the qualification issued by the RTO – provided that no further evidence is needed to meet requirements – is generally 2 to 4 weeks. Please note that the overall completion time is affected by the length of time it takes you to compile your evidence.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseB3" aria-expanded="false" aria-controls="collapseB3">
                                                What is gap training? Do I need to do it?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseB3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>When Applicants are unable to provide valid, sufficient, current and authentic evidence to support the full number of Units of Competency for the Qualification, then they may need to complete some form of Gap Training. This is usually conducted by completing reports, assignments or question &amp; answer assessments.</p>
                                                <p>Additional charges apply for conducting Gap Training and will be quoted on a case-by-case basis.</p>
                                                <p>These additional assessments will be supplied to the Applicant by the RPL Assessor and can be completed “on the job” as a self-paced process before being returned. The tools and resources used for Gap Training will relate directly to the Units of Competency that need to be achieved so that there is no ambiguity or confusion for the Applicant.</p>
                                                <p>Once the Gap Training has been completed, they are sent back to the RPL Assessor for review before further Competency Conversations are undertaken with the Applicant to verify competency.</p>
                                                <p>If Applicants are unable to successfully complete Gap Training to support all Units of Competency, then a Statement of Attainment will be issued that provides a full listing of the Units that have been successfully completed.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Competency -->
                            <div role="tabpanel" class="tab-pane" id="competency">
                                <div id="accordionC" class="panel-accordion accordion-general-info" role="tablist" aria-multiselectable="false">
                                    <div class="panel-entry">
                                        <h4>The number of core and elective units of competency vary depending on the qualification you’re applying for.</h4>
                                    </div>
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseC1" aria-expanded="false" aria-controls="collapseC1">
                                                Where can I find my units?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseC1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>You can view and manage your units in ‘My Qualifications.’ From here, you will see the status of each unit and the notes of your Account Manager.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseC2" aria-expanded="false" aria-controls="collapseC2">
                                                How are my units assessed?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseC2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Competency verifies that an applicant has and is able to consistently apply the level of skill, knowledge and understanding required to meet industry benchmark standards. This means that they are able to adequately perform and meet the daily responsibilities of a specific role in the workplace.</p>
                                                <p>These benchmarks are defined and outlined in the Units of Competency found within the Training Package for each Nationally Recognised Qualification.</p>
                                                <p>Your units are assessed based on the evidence you provide.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Evidence -->
                            <div role="tabpanel" class="tab-pane" id="evidence">
                                <div id="accordionD" class="panel-accordion accordion-general-info" role="tablist" aria-multiselectable="false">
                                    <div class="panel-entry">
                                        <h4>Your Account Manager will help you to determine the best evidence you can use for the RPL process. This evidence can be from current employers, or those from the past.</h4>
                                    </div>
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseD1" aria-expanded="false" aria-controls="collapseD1">
                                                What types of evidence can I upload?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseD1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>While your Account Manager will determine the best evidence for your portfolio, evidence generally takes the form of:</p>
                                                <ul class="list-custom-bullet">
                                                    <li>Resume/CV</li>
                                                    <li>References</li>
                                                    <li>Performance Appraisals</li>
                                                    <li>Portfolio/work samples</li>
                                                    <li>Photographic and video evidence</li>
                                                    <li>Education, training and qualifications</li>
                                                    <li>Job Description</li>
                                                    <li>Policies and Procedures</li>
                                                    <li>Workplace communication</li>
                                                    <li>Bookkeeping and financial records</li>
                                                </ul>
                                                <p>Click here to learn more about the types of <a href="https://www.gqaustralia.edu.au/recognition-of-prior-learning-rpl/" target="_blank">evidence</a> you can provide.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseD2" aria-expanded="false" aria-controls="collapseD2">
                                                How much evidence can I upload?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseD2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Rather than focusing on quantity, assessment decisions for RPL will be based on the quality of evidence that can be used to determine that an applicant has achieved the required level of Competency.</p>
                                                <p>RPL requires collection of appropriate evidence to ensure that all aspects of Competency have been satisfied and that it is demonstrated repeatedly over an extended time period. Supplementary sources of evidence may be necessary.</p>
                                                <p>The Training Package for each Qualification will provide specific evidence requirements for each Unit of Competency and advice on the sufficiency of evidence to be provided. Although there are examples where specific evidence requirements are noted, generally there are no rules for the quantity.</p>
                                                <p>You can upload up to <strong>10GB</strong> of data onto the evidence gallery.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseD3" aria-expanded="false" aria-controls="collapseD3">
                                                What happens if I can’t upload sufficient evidence within the 180-day period?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseD3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>By special request, applicants may be granted an additional, complimentary 2-week extension on the initial 180-day RPL Application time frame, if extra time is needed to submit the necessary documentation to prove competency.</p>
                                                <p>All requests seeking the complimentary 2-week extension must be requested in writing 7 days prior to the end of the initial 90 day RPL Assessment period without any additional cost.</p>
                                                <p>If you are still unable to complete the RPL Application Process within the complimentary 2-week period, then an additional 14 days may be granted, and must be requested in writing 7 days prior to the end of the 2-week complimentary period. Please note that this will, however, incur an additional fee of $100 per week for the final additional 2-week extension.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-entry">
                                        <div class="panel-heading">
                                            <h4 data-toggle="collapse" href="#collapseD4" aria-expanded="false" aria-controls="collapseD4">
                                                How do I find out if the evidence I submit is insufficient?
                                                <i class="zmdi zmdi-chevron-down"></i>
                                            </h4>
                                        </div>
                                        <div id="collapseD4" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Your Account Manager will review your evidence as you upload them. They will let you know if it’s insufficient and give you recommendations based on your case.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab panes -->
                    </div>
                    <!-- Tabs -->

                    <h3>Get In Touch</h3>
                    <p>You may contact us through the following:</p>
                    <address>
                        Phone: <a href="tel:133 775">133 775</a> (Inside Australia) | <a href="tel:</a>">+61 2 9261 1333</a> (Outside Australia)<br>
                        Fax: <a href="tel:+61 2 9266 0672">+61 2 9266 0672</a><br>
                        ABN: <a href="tel:82 144 813 543">82 144 813 543</a><br>
                        Email: <a href="mailto:info@gqaustralia.edu.au">info@gqaustralia.edu.au</a>
                    </address>
                </div>
            </div>
        <!-- Put content here -->
        </div>
    </main>
{% endblock %}