<div class="wid90p">
    <div class="row">
        <div id="evidence_msg"></div>
        <div class="col-xs-12">
        <div class="gq-evidence-new">
            <!-- Tabs start here -->
                <ul class="nav nav-pills margin-top15 gq-evidence-new-tabs" role="tablist" id="myTab">
                    <li role="presentation" class="active" ><a href="#unit-images" aria-controls="unit-images" role="tab" data-toggle="tab">Images</a></li>
                    <li role="presentation" ><a href="#unit-audios" aria-controls="unit-audios" role="tab" data-toggle="tab">Audios</a></li>
                    <li role="presentation"><a href="#unit-videos" aria-controls="unit-videos" role="tab" data-toggle="tab">Videos</a></li>
                    <li role="presentation"><a href="#unit-notes" aria-controls="unit-notes" role="tab" data-toggle="tab">Notes</a></li>
                    <li role="presentation"><a href="#unit-files" aria-controls="unit-files" role="tab" data-toggle="tab">Documents</a></li>
                </ul>
            <!-- Tabs end start here -->
            {% set currentUserRole = app.security.getToken().getUser().getRoles() %}
            <!-- Content for respective tabs above will be in this section -->
        <div class="tab-content">
        <div aria-labelledby="existing-evidence-tab" id="unit-images" class="tab-pane fade active in" role="tabpanel">
            <div class="gq-dashboard-courses-detail-wrap gq-dashboard-qualification-scroll">
                <div class="row">
                    {% set flag_image = 0 %}
                    {% if unitevidences %}
                    {% for evidence in unitevidences %}
                    {% if evidence.unit == unitCode %}
                    {% if evidence.type == 'image' %}
                    {% set flag_image = 1 %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="evd_{{evidence.id}}">
                    <div class="gq-dashboard-courses-detail  margin-top15" >
                        {% if ('ROLE_APPLICANT' in currentUserRole) and (delStatus == '0') %}
                        <span class="gq-dashboard-points-icon">
                            <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModalDel" fileid="{{evidence.id}}" filetype="{{evidence.type}}"><div class="gq-del-evidence"></div></a>
                            <div class="tooltip-home top">
                                <div class="tooltip-arrow"></div>
                                <span>Delete Image</span>
                            </div>
                        </span>
                        {% endif %}
                        <a href = "{{ amazon_link }}{{  evidence.path }}" class="fancybox">        
                            <div class="gq-id-files-content-icon-wrap gq-id-files-content-img-icon"></div>
                        </a>
                        <div class="gq-id-files-content-row-wrap">
                            <div class="gq-id-files-content-row">
                                <label>Title</label><span title="{{evidence.title}}">{{evidence.title|slice(0, 20)}}</span>
                            </div>
                            <div class="gq-id-files-content-row">
                                <label>Size</label><span>{{evidence.size}}</span>
                            </div>
                            <div class="gq-id-files-content-row">
                                <label>Added on</label><span>{{evidence.created|date("d/m/Y") }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
             {% endfor %}
             {% endif %}
             {% if flag_image == 0 %}
                <div class="gq-tabs-no-content-text" >Images not found</div>
            {% endif %}
                </div>
            </div>
        </div>
                              
<div role="tabpanel" class="tab-pane" id="unit-audios">
<div class="gq-dashboard-courses-detail-wrap gq-dashboard-qualification-scroll">
    <div class="row">
        {% set flag_audio = 0 %}
        {% if unitevidences %}
       {% for evidence in unitevidences %}
            {% if evidence.unit == unitCode %}
            {% if evidence.type == 'audio' %}
            {% set flag_audio = 1 %}
            {% set types = ['mp3','wma'] %}
            {% set result = evidence.name|split('.') %}
            {# % if result.1 | lower in types % #}
                {% set audio = amazon_link~evidence.path %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="evd_{{evidence.id}}">
            <div class="gq-dashboard-courses-detail  margin-top15">
                {% if ('ROLE_APPLICANT' in currentUserRole) and (delStatus == '0') %}
                <span class="gq-dashboard-points-icon">
                    <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModalDel" fileid="{{evidence.id}}" filetype="{{evidence.type}}"><div class="gq-del-evidence"></div></a>
                    <div class="tooltip-home top">
                        <div class="tooltip-arrow"></div>
                        <span class="">Delete Audio</span>
                    </div>
                </span>
                {% endif %}
                
                <a href = "{{ amazon_link }}{{  evidence.path }}" target="_blank">
                    <div class="gq-id-files-content-icon-wrap gq-id-files-content-audio-icon"></div>
                </a>
                <div class="gq-id-files-content-row-wrap">
                    <div class="gq-id-files-content-row">
                        <label>Title</label><span title="{{evidence.title}}">{{evidence.title|slice(0, 20)}}</span>
                    </div>
                    <div class="gq-id-files-content-row">
                        <label>Size</label><span>{{evidence.size}}</span>
                    </div>
                    <div class="gq-id-files-content-row">
                        <label>Added on</label><span>{{evidence.created|date("d/m/Y") }}</span>
                    </div>
                </div>
            </div>
        </div>
            {# % endif % #}
        {% endif %}
        {% endif %}
     {% endfor %}
     {% endif %}
     {% if flag_audio == 0 %}
        <div class="gq-tabs-no-content-text">Audios not found</div>
    {% endif %}
    </div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="unit-videos">
<div class="gq-dashboard-courses-detail-wrap gq-dashboard-qualification-scroll">
    <div class="row">
        {% set flag_video = 0 %}
        {% if unitevidences %}
       {% for evidence in unitevidences %}
            {% if evidence.unit == unitCode %}
            {% if evidence.type == 'video' %}
            {% set flag_video = 1 %}
            {% set types = ['mp4', 'mov'] %}
            {% set result = evidence.name|split('.') %}
            {# % if result.1 | lower in types % #}
                {% set videofile = amazon_link~evidence.path %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="evd_{{evidence.id}}">
            <div class="gq-dashboard-courses-detail  margin-top15" >
                {% if ('ROLE_APPLICANT' in currentUserRole) and (delStatus == '0') %}
                <span class="gq-dashboard-points-icon">
                    <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModalDel" fileid="{{evidence.id}}" filetype="{{evidence.type}}"><div class="gq-del-evidence"></div></a>
                    <div class="tooltip-home top">
                        <div class="tooltip-arrow"></div>
                        <span class="">Delete Video</span>
                    </div>
                 </span>
                {% endif %}    
                        
                <a href = "{{ amazon_link }}{{  evidence.path }}" target="_blank">
                    <div class="gq-id-files-content-icon-wrap gq-id-files-content-video-icon"></div>
                </a>
                <div class="gq-id-files-content-row-wrap">
                    <div class="gq-id-files-content-row">
                        <label>Title</label><span title="{{evidence.title}}">{{evidence.title|slice(0, 20)}}</span>
                    </div>
                    <div class="gq-id-files-content-row">
                        <label>Size</label><span>{{evidence.size}}</span>
                    </div>
                    <div class="gq-id-files-content-row">
                        <label>Added on</label><span>{{evidence.created|date("d/m/Y") }}</span>
                    </div>
                </div>
            </div>
        </div>
        {# % endif % #}
        {% endif %}
        {% endif %}
     {% endfor %}
     {% endif %}
     
     {% if flag_video == 0 %}
        <div class="gq-tabs-no-content-text" >Videos not found</div>
    {% endif %}
    </div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="unit-notes">
<div class="gq-dashboard-courses-detail-wrap gq-dashboard-qualification-scroll">
    <div class="row">
        {% set flag_text = 0 %}
        {% if unitevidences %}
       {% for evidence in unitevidences %}
            {% if evidence.unit == unitCode %}
            {% if evidence.type == 'text' %}
            {% set flag_text = 1 %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="evd_{{evidence.id}}">
            <div class="gq-dashboard-courses-detail  margin-top15">
                {% if ('ROLE_APPLICANT' in currentUserRole) and (delStatus == '0') %}
                <span class="gq-dashboard-points-icon">
                    <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModalDel" fileid="{{evidence.id}}" filetype="{{evidence.type}}"><div class="gq-del-evidence"></div></a>
                    <div class="tooltip-home top">
                        <div class="tooltip-arrow"></div>
                        <span class="">Delete Note</span>
                    </div>
                 </span>
                 {% endif %}
                 
                <div class="gq-id-files-content-row-wrap">
                    <div class="gq-id-files-content-row">
                        <label>Content</label><span title="{{evidence.content}}">{{evidence.content|slice(0, 20)}}</span>
                    </div>
                    <div class="gq-id-files-content-row">
                        <label>Added on</label><span>{{evidence.created|date("d/m/Y") }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
     {% endfor %}
     {% endif %}
    {% if flag_text == 0 %}
        <div class="gq-tabs-no-content-text">Notes not found</div>
    {% endif %}
    </div>
</div>
</div>
                              
  <div role="tabpanel" class="tab-pane" id="unit-files">
        <div class="gq-dashboard-courses-detail-wrap gq-dashboard-qualification-scroll">
    <div class="row">
        {% set flag_files = 0 %}
        {% if unitevidences %}
       {% for evidence in unitevidences %}
            {% if evidence.unit == unitCode %}
            {% if evidence.type == 'file' %}
            {% set flag_files = 1 %}
            {% set types = ['txt', 'doc', 'xls', 'docx'] %}
            {% set result = evidence.name|split('.') %}
            {# % if result.1 | lower in types % #}
                {% set file = amazon_link~evidence.path %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="evd_{{evidence.id}}">
            <div class="gq-dashboard-courses-detail  margin-top15">
                {% if ('ROLE_APPLICANT' in currentUserRole) and (delStatus == '0') %}
                <span class="gq-dashboard-points-icon">
                    <a class="modalClass viewModalClass" data-toggle="modal" data-target="#myModalDel" fileid="{{evidence.id}}" filetype="{{evidence.type}}"><div class="gq-del-evidence"></div></a>
                    <div class="tooltip-home top">
                        <div class="tooltip-arrow"></div>
                        <span class="">Delete Document</span>
                    </div>
                 </span>
                 {% endif %}
                <a href = "{{ amazon_link }}{{  evidence.path }}" {% if (result.1 == 'xls') or (result.1 == 'docx') or (result.1 == 'doc') %} {% else %} class="fancybox fancybox.iframe" {% endif %} >
                    <div class="gq-id-files-content-icon-wrap gq-id-files-content-doc-icon"></div>
                </a>
                <div class="gq-id-files-content-row-wrap">
                    <div class="gq-id-files-content-row">
                        <label>Title</label><span title="{{evidence.title}}">{{evidence.title|slice(0, 20)}}</span>
                    </div>
                    <div class="gq-id-files-content-row">
                        <label>Size</label><span>{{evidence.size}}</span>
                    </div>
                    <div class="gq-id-files-content-row">
                        <label>Added on</label><span>{{evidence.created|date("d/m/Y") }}</span>
                    </div>
                </div>
            </div>
        </div>
        {# % endif % #}
        {% endif %}
        {% endif %}
     {% endfor %}
     {% endif %}
    {% if flag_files == 0 %}
        <div class="gq-tabs-no-content-text" >Documents not found</div>
    {% endif %}
    </div>
</div>
</div>
  </div>
    </div>
            </div>
        </div>
    </div>
    {% if ('ROLE_ASSESSOR' in currentUserRole) or ('ROLE_FACILITATOR' in currentUserRole) or ('ROLE_RTO' in currentUserRole) %}
    <div class="text-center gq-id-files-button-content-wrap" id="applicantEStatus" userRole="{{currentUserRole.0}}">
        
        <form action="{{ base_url }}compose" method="post" name="composeevform">
        {% if ('ROLE_ASSESSOR' in currentUserRole) %}
            {% if unitStatus.facilitatorstatus == '1' %}
                <div>Evidence Approved by facilitator!</div>
            {% endif %}
        {% endif %}
        {% if ('ROLE_FACILITATOR' in currentUserRole) %}
            {% if unitStatus.assessorstatus == '1' %}
                <div>Evidence Approved by assessor!</div>
            {% endif %}
        {% endif %}

        <div class="gq-id-files-upload-success-text" style="display: none;"></div>
        <span id="gq-msg-success" class="btn-wrap100p">
        {% if ((unitStatus.facilitatorstatus == '1') and ('ROLE_FACILITATOR' in currentUserRole)) or ((unitStatus.assessorstatus == '1') and ('ROLE_ASSESSOR' in currentUserRole)) or ((unitStatus.assessorstatus == '1') and (unitStatus.rtostatus == '1') and ('ROLE_RTO' in currentUserRole)) %}
            <div>You have Approved this Evidence!</div>
        {% else %}
            {% if unitStatus.rtostatus == '0' %}
                {% if (('ROLE_RTO' in currentUserRole) and (unitStatus.assessorstatus == '1')) or ('ROLE_FACILITATOR' in currentUserRole) or ('ROLE_ASSESSOR' in currentUserRole) %}
                    {% if flag_image == 1 or flag_audio == 1 or flag_video == 1 or flag_text == 1 or flag_files == 1 %}
                         <button type="button" id="approve" class="btn btn-green">Approve</button>
                         <button type="button" id="disapprove" class="btn btn-red">Disapprove</button>
                    {% else %}
                        <button type="button" id="approve" disabled class="btn btn-green">Approve</button>
                        <button type="button" id="disapprove" disabled class="btn btn-red">Disapprove</button>
                    {% endif %}
                     <input type="hidden" name="hid-course-name" id="hid-course-name" value="{{course_name}}">
                     <input type="hidden" name="hid-unit-name" id="hid-unit-name" value="{{unittitle}}">
                {% endif %}
            {% endif %}
        {% endif %}
        {% if ('ROLE_ASSESSOR' in currentUserRole) or ('ROLE_FACILITATOR' in currentUserRole) %}
                <input type="hidden" name="course-name" value="{{course_name}}">
                <input type="hidden" name="course-code" value="{{course_code}}">
                <input type="hidden" name="userid" value="{{userId}}">
                <input type="hidden" name="unit-name" value="{{unittitle}}">
                <input type="hidden" name="unit-code" value="{{unitCode}}">
                <button type="submit" id="send_message" class="btn btn-grey">Send a Message</button>
        {% endif %}
        {% if 'ROLE_ASSESSOR' in currentUserRole %}
            <button type="button" id="start_conversation" class="btn btn-grey">Start Conversation</button>
        {% endif %}
        </span>
        <span class="loading-icon" style="display:none;"><img src="{{ asset('public/images/loading.gif') }}" /></span>
      </form>
    </div>
    {% endif %}
    
<!--<div class="modal fade" id="myModalDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog gq-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="cclose" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">Do yo want to delete selected file ?</h4>
      </div>
      <div class="modal-footer">
        <a class="btn btn-white deleteEvidence">Ok</a>
        <a class="btn btn-white" id="cclose-cancel">Cancel</a>
      </div>
    </div>
  </div>
</div>-->
<script src="{{ asset('public/js/custom-jquery-ajax.js') }}"></script>